In [ ]:
import requests
import random
import pandas as pd
import time
import math
from copy import deepcopy
from statistics import mean

In [ ]:
def request() -> list:   
    res = requests.get('http://localhost:3000/api/ep1')
    return res.json()

In [ ]:
def data_treatment(json:list):
    for i in range(len(json)):
        for key in json[i]:
            if ('prod' in key):
                if (type(json[i][key])!=dict):
                    qnt = json[i][key]
                    if (type(qnt)==str):
                        qnt = float(qnt)                  
                    if (qnt<0):
                        qnt = 0
                    if (key in [product for product in json[i] if ('prod' in product and (int(product[5]) < 9 and len(product) < 7))]):
                        json[i][key] = {'qnt':[round(qnt)], 'price':None}
                    else:
                        json[i][key] = {'qnt':[qnt], 'price':None}
        try:
            json[i]['date'] = time.ctime(json[i]['date'])
        except:
            continue
    return json

In [ ]:
def generate_random_price(n_min=1.0, n_max=100.0) -> float:
    return round(random.uniform(n_min, n_max), 2)

In [ ]:
def logistic_function(v: float) -> float:
    return 0.5 + (1 / (1 + math.e ** -v))

In [ ]:
def calc_qnt_variation(last_week: list, current_week: list) -> float:
    return mean(current_week) - mean(last_week) / mean(last_week) if (mean(last_week) != 0) else 0

In [ ]:
def calc_new_price(product_db: dict, sales_week: dict) -> dict:
    for product in product_db:
        if (product_db[product]['qnt'] != None):
            if (product not in sales_week.keys()):
                sales_week[product] = [0]
            product_db[product]['next_week_price'] = logistic_function(calc_qnt_variation(product_db[product]['qnt'], sales_week[product])) * product_db[product]['price']
        product_db[product]['qnt'] = sales_week[product]               
    return product_db

In [ ]:
def product_pricing(json: list, product_db: dict) -> tuple:
    sales_week = {}

    for transaction in json:
        for key in transaction:
            if ('prod' in key):
                if (key not in product_db.keys()):
                    transaction[key]['price'] = generate_random_price()
                    sales_week[key] = deepcopy(transaction[key]['qnt'])
                    product_db[key] = deepcopy(transaction[key])
                    product_db[key]['qnt'] = None
                    product_db[key]['next_week_price'] = product_db[key]['price']              
                else:
                    transaction[key]['price'] = deepcopy(product_db[key]['next_week_price'])
                    product_db[key]['price'] = product_db[key]['next_week_price']
                    if (key not in sales_week.keys()):
                        sales_week[key] = deepcopy(transaction[key]['qnt'])
                    else:
                        sales_week[key] += deepcopy(transaction[key]['qnt'])

    product_db = calc_new_price(product_db, sales_week)

    return json, product_db

In [40]:

product_database = {}
weeks = 3
resumo = pd.DataFrame(columns = ['produto', 'soma', 'preo','receita','week'])


for week in range(weeks):
    json = data_treatment(request())
    json, product_database = product_pricing(json, product_database)

    json_db = pd.DataFrame(json)
    product_database_db = pd.DataFrame(product_database)

    print(f'\nSemana {week + 1}:\n')
    print('Json:')
    display(json_db)
    print('\nproduct_database:')
    display(product_database_db)
    semana = 'week' + str(week + 1)
    result_semanal =  resume(product_database_db, semana)
    resumo = resumo.merge(result_semanal, how = 'outer')

Semana 1:

Json:

,id,date,prod_1,prod_2,prod_5,prod_6,prod_8,prod_10,prod_15,prod_0,prod_3,prod_7,prod_4,prod_9,prod_11
0,laiulwr3wwhehaoxq0m,Wed Apr 1 23:12:52 2020,"{'qnt': [49], 'price': 16.03}","{'qnt': [40], 'price': 72.7}","{'qnt': [45], 'price': 33.32}","{'qnt': [36], 'price': 45.91}","{'qnt': [386], 'price': 85.46}","{'qnt': [0], 'price': 98.83}","{'qnt': [364.83534621744195], 'price': 75.45}",NaN,NaN,NaN,NaN,NaN,NaN
1,laiulwr31yyp72wh5ub,Wed Apr 1 21:06:05 2020,"{'qnt': [40], 'price': 16.03}","{'qnt': [22], 'price': 72.7}",NaN,"{'qnt': [18], 'price': 45.91}","{'qnt': [182], 'price': 85.46}",NaN,"{'qnt': [279.63321360895725], 'price': 75.45}","{'qnt': [8], 'price': 62.16}","{'qnt': [42], 'price': 54.9}","{'qnt': [24], 'price': 89.05}",NaN,NaN,NaN
2,laiulwr3ss5a1daadr,Thu Apr 2 07:57:21 2020,"{'qnt': [45], 'price': 16.03}",NaN,"{'qnt': [48], 'price': 33.32}",NaN,NaN,"{'qnt': [0], 'price': 98.83}","{'qnt': [444.2824972442067], 'price': 75.45}",NaN,"{'qnt': [44], 'price': 54.9}",NaN,"{'qnt': [42], 'price': 33.22}","{'qnt': [173.66930221094935], 'price': 11.36}",NaN
3,laiulwr31oga0zeeyvp,Thu Apr 2 01:22:38 2020,NaN,NaN,"{'qnt': [30], 'price': 33.32}",NaN,"{'qnt': [25], 'price': 85.46}",NaN,"{'qnt': [76.07728160553589], 'price': 75.45}","{'qnt': [1], 'price': 62.16}",NaN,NaN,"{'qnt': [7], 'price': 33.22}","{'qnt': [286.41857599079543], 'price': 11.36}",NaN
4,laiulwr4k5ayb5elh9q,Wed Apr 1 18:24:19 2020,NaN,NaN,NaN,NaN,"{'qnt': [257], 'price': 85.46}",NaN,"{'qnt': [0], 'price': 75.45}",NaN,NaN,NaN,"{'qnt': [22], 'price': 33.22}",NaN,NaN
5,laiulwr41ezetvt1vai,Thu Apr 2 06:05:11 2020,NaN,NaN,NaN,"{'qnt': [11], 'price': 45.91}","{'qnt': [319], 'price': 85.46}",NaN,"{'qnt': [290.2367947103429], 'price': 75.45}",NaN,NaN,"{'qnt': [15], 'price': 89.05}","{'qnt': [16], 'price': 33.22}","{'qnt': [0], 'price': 11.36}",NaN
6,laiulwr45cgfregm1wj,Wed Apr 1 18:02:22 2020,"{'qnt': [8], 'price': 16.03}","{'qnt': [31], 'price': 72.7}",NaN,NaN,"{'qnt': [11], 'price': 85.46}",NaN,"{'qnt': [332.7817535839848], 'price': 75.45}",NaN,"{'qnt': [13], 'price': 54.9}","{'qnt': [10], 'price': 89.05}","{'qnt': [14], 'price': 33.22}",NaN,"{'qnt': [417.65434141907133], 'price': 87.53}"
7,laiulwr449n3jvh7bfe,Thu Apr 2 01:08:48 2020,NaN,NaN,"{'qnt': [4], 'price': 33.32}","{'qnt': [30], 'price': 45.91}","{'qnt': [0], 'price': 85.46}","{'qnt': [0], 'price': 98.83}","{'qnt': [550.8472997484594], 'price': 75.45}","{'qnt': [12], 'price': 62.16}","{'qnt': [3], 'price': 54.9}",NaN,"{'qnt': [20], 'price': 33.22}","{'qnt': [2.1478965555901937], 'price': 11.36}",NaN
8,laiulwr4iejn4eafo8r,Thu Apr 2 00:20:44 2020,NaN,NaN,NaN,NaN,"{'qnt': [373], 'price': 85.46}","{'qnt': [274.31108577806344], 'price': 98.83}","{'qnt': [0], 'price': 75.45}",NaN,NaN,NaN,NaN,"{'qnt': [213.72857658410032], 'price': 11.36}","{'qnt': [30.779821266537795], 'price': 87.53}"
9,laiulwr498a7zy0si3,Wed Apr 1 18:58:46 2020,"{'qnt': [19], 'price': 16.03}","{'qnt': [14], 'price': 72.7}",NaN,NaN,"{'qnt': [318], 'price': 85.46}","{'qnt': [0], 'price': 98.83}","{'qnt': [199.74884972569615], 'price': 75.45}","{'qnt': [45], 'price': 62.16}","{'qnt': [44], 'price': 54.9}",NaN,"{'qnt': [4], 'price': 33.22}","{'qnt': [3.7647321930539306], 'price': 11.36}",NaN
10,laiulwr47qe9n1djq8m,Thu Apr 2 03:38:30 2020,NaN,"{'qnt': [30], 'price': 72.7}","{'qnt': [45], 'price': 33.32}",NaN,NaN,NaN,"{'qnt': [209.20052979779874], 'price': 75.45}","{'qnt': [34], 'price': 62.16}",NaN,NaN,"{'qnt': [27], 'price': 33.22}","{'qnt': [4.956834753787764], 'price': 11.36}",NaN
11,laiulwr4wpw09lwhbvf,Wed Apr 1 20:43:42 2020,NaN,"{'qnt': [39], 'price': 72.7}","{'qnt': [46], 'price': 33.32}",NaN,"{'qnt': [0], 'price': 85.46}",NaN,"{'qnt': [502.0062967717556], 'price': 75.45}",NaN,"{'qnt': [35], 'price': 54.9}","{'qnt': [37], 'price': 89.05}","{'qnt': [47], 'price': 33.22}","{'qnt': [0], 'price': 11.36}","{'qnt': [192.36427103926263], 'price': 87.53}"
12,laiulwr4phnglyye5e,Wed Apr 1 21:34:48 2020,NaN,NaN,NaN,NaN,"{'qnt': [0], 'price': 85.46}",NaN,"{'qnt': [143.34025764296803], 'price': 75.45}","{'qnt': [14], 'price': 62.16}","{'qnt': [31], 'price': 54.9}","{'qnt': [27], 'price': 89.05}",NaN,"{'qnt': [20.34020031044802], 'price': 11.36}","{'qnt': [339.34056805026853], 'price': 87.53}"
13,laiulwr4ge8sy11wp2e,Thu Apr 2 02:42:59 2020,"{'qnt': [4], 'price': 16.03}",NaN,"{'qnt': [31], 'price': 33.32}","{'qnt': [12], 'price': 45.91}","{'qnt': [18], 'price': 85.46}","{'qnt': [157.97079837190495], 'price': 98.83}","{'qnt': [171.85842365443443], 'price': 75.45}","{'qnt': [29], 'price': 62.16}","{'qnt': [49], 'price': 54.9}","{'qnt': [45], 'price': 89.05}",NaN,"{'qnt': [84.88604190715591], 'price': 11.36}","{'qnt': [0], 'price': 87.53}"
14,laiulwr4j5l7hwv3rsl,Thu Apr 2 01:16:18 2020,NaN,"{'qnt': [24], 'price': 72.7}",NaN,"{'qnt': [7], 'price': 45.91}","{'qnt': [38], 'price': 85.46}","{'qnt': [0], 'price': 98.83}","{'qnt': [0], 'price': 75.45}",NaN,"{'qnt': [48], 'price': 54.9}","{'qnt': [4], 'price': 89.05}","{'qnt': [40], 'price': 33.22}","{'qnt': [458.10595082764337], 'price': 11.36}",NaN
15,laiulwr4pzx6g23lbth,Thu Apr 2 04:15:26 2020,NaN,"{'qnt': [38], 'price': 72.7}",NaN,"{'qnt': [11], 'price': 45.91}","{'qnt': [468], 'price': 85.46}","{'qnt': [0], 'price': 98.83}","{'qnt': [238.52311174177598], 'price': 75.45}","{'qnt': [16], 'price': 62.16}","{'qnt': [21], 'price': 54.9}","{'qnt': [27], 'price': 89.05}",NaN,"{'qnt': [295.5765136554402], 'price': 11.36}","{'qnt': [0], 'price': 87.53}"
16,laiulwr4u1kdjwxi6od,Wed Apr 1 19:05:48 2020,"{'qnt': [42], 'price': 16.03}","{'qnt': [28], 'price': 72.7}",NaN,"{'qnt': [8], 'price': 45.91}",NaN,"{'qnt': [395.8998746966439], 'price': 98.83}","{'qnt': [196.76371048126134], 'price': 75.45}","{'qnt': [27], 'price': 62.16}","{'qnt': [2], 'price': 54.9}",NaN,NaN,NaN,"{'qnt': [175.2588485690947], 'price': 87.53}"
17,laiulwr4u5m7fq6kuza,Wed Apr 1 21:25:22 2020,"{'qnt': [11], 'price': 16.03}","{'qnt': [30], 'price': 72.7}","{'qnt': [32], 'price': 33.32}","{'qnt': [22], 'price': 45.91}",NaN,"{'qnt': [0], 'price': 98.83}","{'qnt': [0], 'price': 75.45}","{'qnt': [33], 'price': 62.16}","{'qnt': [2], 'price': 54.9}",NaN,"{'qnt': [0], 'price': 33.22}","{'qnt': [0], 'price': 11.36}","{'qnt': [120.13259334361578], 'price': 87.53}"
18,laiulwr4bkcmqths4wb,Thu Apr 2 02:54:14 2020,NaN,NaN,"{'qnt': [9], 'price': 33.32}",NaN,"{'qnt': [220], 'price': 85.46}","{'qnt': [182.79552946221537], 'price': 98.83}","{'qnt': [0], 'price': 75.45}",NaN,"{'qnt': [30], 'price': 54.9}","{'qnt': [41], 'price': 89.05}","{'qnt': [40], 'price': 33.22}","{'qnt': [155.0379939906298], 'price': 11.36}",NaN
19,laiulwr5zvrfvul1ya,Wed Apr 1 20:05:45 2020,"{'qnt': [1], 'price': 16.03}","{'qnt': [11], 'price': 72.7}","{'qnt': [45], 'price': 33.32}",NaN,"{'qnt': [221], 'price': 85.46}","{'qnt': [0], 'price': 98.83}","{'qnt': [65.88960545255648], 'price': 75.45}",NaN,"{'qnt': [36], 'price': 54.9}",NaN,"{'qnt': [32], 'price': 33.22}","{'qnt': [0], 'price': 11.36}",NaN
20,laiulwr59h9u2xfchea,Wed Apr 1 19:59:52 2020,NaN,NaN,"{'qnt': [44], 'price': 33.32}","{'qnt': [13], 'price': 45.91}","{'qnt': [342], 'price': 85.46}","{'qnt': [0], 'price': 98.83}","{'qnt': [140.39633324153516], 'price': 75.45}","{'qnt': [49], 'price': 62.16}",NaN,"{'qnt': [30], 'price': 89.05}","{'qnt': [8], 'price': 33.22}","{'qnt': [386.5669305616446], 'price': 11.36}","{'qnt': [0], 'price': 87.53}"
21,laiulwr5tuwc9ietvgl,Wed Apr 1 20:25:57 2020,"{'qnt': [43], 'price': 16.03}",NaN,"{'qnt': [44], 'price': 33.32}",NaN,"{'qnt': [26], 'price': 85.46}","{'qnt': [0], 'price': 98.83}","{'qnt': [0], 'price': 75.45}",NaN,"{'qnt': [27], 'price': 54.9}","{'qnt': [37], 'price': 89.05}","{'qnt': [44], 'price': 33.22}",NaN,NaN
22,laiulwr59s7blmosue,Thu Apr 2 02:52:28 2020,"{'qnt': [39], 'price': 16.03}",NaN,"{'qnt': [47], 'price': 33.32}",NaN,"{'qnt': [0], 'price': 85.46}","{'qnt': [43.994147430355326], 'price': 98.83}","{'qnt': [0], 'price': 75.45}",NaN,NaN,"{'qnt': [49], 'price': 89.05}",NaN,"{'qnt': [30.057191448195365], 'price': 11.36}","{'qnt': [368.01604658435116], 'price': 87.53}"
23,laiulwr539j63k3m5ks,Wed Apr 1 18:02:01 2020,"{'qnt': [22], 'price': 16.03}",NaN,"{'qnt': [24], 'price': 33.32}","{'qnt': [20], 'price': 45.91}","{'qnt': [134], 'price': 85.46}",NaN,"{'qnt': [451.45554126764983], 'price': 75.45}","{'qnt': [1], 'price': 62.16}",NaN,"{'qnt': [29], 'price': 89.05}","{'qnt': [50], 'price': 33.22}",NaN,NaN

product_database:

,prod_1,prod_2,prod_5,prod_6,prod_8,prod_10,prod_15,prod_0,prod_3,prod_7,prod_4,prod_9,prod_11
qnt,"[49, 40, 45, 8, 19, 4, 42, 11, 1, 43, 39, 22]","[40, 22, 31, 14, 30, 39, 24, 38, 28, 30, 11]","[45, 48, 30, 4, 45, 46, 31, 32, 9, 45, 44, 44,...","[36, 18, 11, 30, 12, 7, 11, 8, 22, 13, 20]","[386, 182, 25, 257, 319, 11, 0, 373, 318, 0, 0...","[0, 0, 0, 274.31108577806344, 0, 157.970798371...","[364.83534621744195, 279.63321360895725, 444.2...","[8, 1, 12, 45, 34, 14, 29, 16, 27, 33, 49, 1]","[42, 44, 13, 3, 44, 35, 31, 49, 48, 21, 2, 2, ...","[24, 15, 10, 37, 27, 45, 4, 27, 41, 30, 37, 49...","[42, 7, 22, 16, 14, 20, 4, 27, 47, 40, 0, 40, ...","[173.66930221094935, 286.41857599079543, 0, 2....","[417.65434141907133, 30.779821266537795, 192.3..."
price,16.03,72.7,33.32,45.91,85.46,98.83,75.45,62.16,54.9,89.05,33.22,11.36,87.53
next_week_price,16.03,72.7,33.32,45.91,85.46,98.83,75.45,62.16,54.9,89.05,33.22,11.36,87.53

Semana 2:

Json:

,id,date,prod_0,prod_3,prod_4,prod_6,prod_8,prod_9,prod_10,prod_11,prod_15,prod_1,prod_5,prod_2,prod_7
0,laiulwz45odl0dwhzdh,Wed Apr 8 19:24:42 2020,"{'qnt': [34], 'price': 62.16}","{'qnt': [12], 'price': 54.9}","{'qnt': [33], 'price': 33.22}","{'qnt': [24], 'price': 45.91}","{'qnt': [785], 'price': 85.46}","{'qnt': [17.302134080774213], 'price': 11.36}","{'qnt': [369.6703954749935], 'price': 98.83}","{'qnt': [2.610835188235291], 'price': 87.53}","{'qnt': [328.6967098517389], 'price': 75.45}",NaN,NaN,NaN,NaN
1,laiulwz4os2jih6ic8e,Thu Apr 9 01:03:42 2020,NaN,"{'qnt': [37], 'price': 54.9}","{'qnt': [44], 'price': 33.22}",NaN,NaN,"{'qnt': [562.5242769107597], 'price': 11.36}","{'qnt': [18.828233190169378], 'price': 98.83}","{'qnt': [150.24581870732527], 'price': 87.53}","{'qnt': [346.0486122440646], 'price': 75.45}",NaN,NaN,NaN,NaN
2,laiulwz4p5s2jbjtwx8,Thu Apr 9 00:05:37 2020,"{'qnt': [46], 'price': 62.16}",NaN,"{'qnt': [32], 'price': 33.22}","{'qnt': [24], 'price': 45.91}",NaN,"{'qnt': [37.41522556517629], 'price': 11.36}","{'qnt': [687.3497246098843], 'price': 98.83}","{'qnt': [45.14861980738969], 'price': 87.53}","{'qnt': [205.57481964028898], 'price': 75.45}","{'qnt': [34], 'price': 16.03}","{'qnt': [24], 'price': 33.32}",NaN,NaN
3,laiulwz4xo98tawux9,Thu Apr 9 00:31:14 2020,NaN,NaN,"{'qnt': [7], 'price': 33.22}","{'qnt': [7], 'price': 45.91}","{'qnt': [660], 'price': 85.46}","{'qnt': [214.53913651024027], 'price': 11.36}","{'qnt': [235.84470367388514], 'price': 98.83}","{'qnt': [34.86748865904918], 'price': 87.53}","{'qnt': [350.1515324159055], 'price': 75.45}",NaN,NaN,"{'qnt': [50], 'price': 72.7}","{'qnt': [16], 'price': 89.05}"
4,laiulwz49j3flf3obig,Wed Apr 8 19:06:24 2020,"{'qnt': [35], 'price': 62.16}","{'qnt': [10], 'price': 54.9}",NaN,NaN,NaN,"{'qnt': [701.8361591428219], 'price': 11.36}","{'qnt': [268.86367263813094], 'price': 98.83}",NaN,"{'qnt': [288.8910027800438], 'price': 75.45}",NaN,"{'qnt': [22], 'price': 33.32}",NaN,"{'qnt': [29], 'price': 89.05}"
5,laiulwz4efeksfqovc,Thu Apr 9 01:30:48 2020,NaN,"{'qnt': [7], 'price': 54.9}",NaN,NaN,"{'qnt': [477], 'price': 85.46}","{'qnt': [22.764124002034965], 'price': 11.36}","{'qnt': [535.4022265072698], 'price': 98.83}","{'qnt': [796.3337214353486], 'price': 87.53}","{'qnt': [191.50209838857876], 'price': 75.45}","{'qnt': [2], 'price': 16.03}","{'qnt': [40], 'price': 33.32}","{'qnt': [30], 'price': 72.7}","{'qnt': [31], 'price': 89.05}"
6,laiulwz4mvl65k5i28q,Thu Apr 9 06:47:45 2020,NaN,NaN,NaN,"{'qnt': [26], 'price': 45.91}",NaN,NaN,"{'qnt': [723.6144719117319], 'price': 98.83}",NaN,"{'qnt': [271.37138951680174], 'price': 75.45}","{'qnt': [2], 'price': 16.03}","{'qnt': [23], 'price': 33.32}",NaN,NaN
7,laiulwz4zfu8chmma9k,Wed Apr 8 16:35:35 2020,NaN,"{'qnt': [43], 'price': 54.9}","{'qnt': [50], 'price': 33.22}","{'qnt': [46], 'price': 45.91}","{'qnt': [189], 'price': 85.46}","{'qnt': [389.51552047089007], 'price': 11.36}","{'qnt': [730.827762943444], 'price': 98.83}","{'qnt': [603.5610073825923], 'price': 87.53}","{'qnt': [546.8097661919919], 'price': 75.45}","{'qnt': [35], 'price': 16.03}","{'qnt': [47], 'price': 33.32}","{'qnt': [24], 'price': 72.7}",NaN
8,laiulwz4fsm9k1zunpj,Thu Apr 9 04:47:01 2020,"{'qnt': [29], 'price': 62.16}",NaN,"{'qnt': [45], 'price': 33.22}",NaN,NaN,"{'qnt': [64.92243721733185], 'price': 11.36}","{'qnt': [55.11824671997768], 'price': 98.83}",NaN,"{'qnt': [793.3634698291411], 'price': 75.45}","{'qnt': [16], 'price': 16.03}",NaN,NaN,NaN
9,laiulwz4wl96mzsuunh,Wed Apr 8 23:39:54 2020,"{'qnt': [32], 'price': 62.16}","{'qnt': [31], 'price': 54.9}","{'qnt': [17], 'price': 33.22}",NaN,"{'qnt': [293], 'price': 85.46}","{'qnt': [7.390081581987484], 'price': 11.36}",NaN,"{'qnt': [346.3943687947176], 'price': 87.53}","{'qnt': [143.39211209368014], 'price': 75.45}","{'qnt': [17], 'price': 16.03}","{'qnt': [19], 'price': 33.32}","{'qnt': [41], 'price': 72.7}",NaN
10,laiulwz4a542mzdi2ah,Thu Apr 9 02:44:10 2020,"{'qnt': [31], 'price': 62.16}","{'qnt': [13], 'price': 54.9}","{'qnt': [19], 'price': 33.22}",NaN,"{'qnt': [52], 'price': 85.46}","{'qnt': [650.466624200966], 'price': 11.36}",NaN,"{'qnt': [610.0420507012245], 'price': 87.53}","{'qnt': [183.8206426920318], 'price': 75.45}","{'qnt': [49], 'price': 16.03}",NaN,NaN,"{'qnt': [42], 'price': 89.05}"
11,laiulwz40f3ztlemrqwc,Wed Apr 8 18:12:10 2020,NaN,NaN,"{'qnt': [8], 'price': 33.22}","{'qnt': [23], 'price': 45.91}","{'qnt': [192], 'price': 85.46}",NaN,"{'qnt': [757.912385900537], 'price': 98.83}","{'qnt': [95.37620607077453], 'price': 87.53}","{'qnt': [115.03721863856056], 'price': 75.45}",NaN,NaN,NaN,"{'qnt': [24], 'price': 89.05}"

product_database:

,prod_1,prod_2,prod_5,prod_6,prod_8,prod_10,prod_15,prod_0,prod_3,prod_7,prod_4,prod_9,prod_11
qnt,"[34, 2, 2, 35, 16, 17, 49]","[50, 30, 24, 41]","[24, 22, 40, 23, 47, 19]","[24, 24, 7, 26, 46, 23]","[785, 660, 477, 189, 293, 52, 192]","[369.6703954749935, 18.828233190169378, 687.34...","[328.6967098517389, 346.0486122440646, 205.574...","[34, 46, 35, 29, 32, 31]","[12, 37, 10, 7, 43, 31, 13]","[16, 29, 31, 42, 24]","[33, 44, 32, 7, 50, 45, 17, 19, 8]","[17.302134080774213, 562.5242769107597, 37.415...","[2.610835188235291, 150.24581870732527, 45.148..."
price,16.03,72.7,33.32,45.91,85.46,98.83,75.45,62.16,54.9,89.05,33.22,11.36,87.53
next_week_price,24.045,109.05,49.98,68.865,128.19,148.245,113.175,93.24,82.35,133.575,49.83,17.04,131.295

Semana 3:

Json:

,id,date,prod_1,prod_4,prod_5,prod_10,prod_15,prod_0,prod_2,prod_3,prod_8,prod_9,prod_6,prod_7,prod_11
0,laiulxb3z5z99heo3i,Thu Apr 16 05:20:14 2020,"{'qnt': [16], 'price': 24.044999989463236}","{'qnt': [1], 'price': 49.82999999995526}","{'qnt': [49], 'price': 49.9799999999805}","{'qnt': [1083.2943630635514], 'price': 148.245}","{'qnt': [982.1902244908545], 'price': 113.1750...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,laiulxb368484m3c5r9,Wed Apr 15 17:38:24 2020,"{'qnt': [2], 'price': 24.044999989463236}","{'qnt': [19], 'price': 49.82999999995526}",NaN,NaN,"{'qnt': [1117.3534129381223], 'price': 113.175...","{'qnt': [2], 'price': 93.23999999999981}","{'qnt': [13], 'price': 109.04999999999997}","{'qnt': [37], 'price': 82.3499999519791}","{'qnt': [708], 'price': 128.19}","{'qnt': [903.006780912428], 'price': 17.04}",NaN,NaN,NaN
2,laiulxb3on02wx10d9c,Wed Apr 15 20:20:30 2020,"{'qnt': [30], 'price': 24.044999989463236}",NaN,NaN,NaN,"{'qnt': [796.4884029272649], 'price': 113.1750...","{'qnt': [4], 'price': 93.23999999999981}","{'qnt': [21], 'price': 109.04999999999997}",NaN,"{'qnt': [26], 'price': 128.19}","{'qnt': [340.24612142476957], 'price': 17.04}","{'qnt': [32], 'price': 68.86499999826682}","{'qnt': [47], 'price': 133.5749999998878}",NaN
3,laiulxb3xbziqlin9xj,Thu Apr 16 03:14:58 2020,NaN,"{'qnt': [7], 'price': 49.82999999995526}","{'qnt': [34], 'price': 49.9799999999805}","{'qnt': [941.6180636463099], 'price': 148.245}","{'qnt': [459.12332565870327], 'price': 113.175...",NaN,NaN,"{'qnt': [32], 'price': 82.3499999519791}",NaN,"{'qnt': [24.150106735722645], 'price': 17.04}",NaN,"{'qnt': [37], 'price': 133.5749999998878}",NaN
4,laiulxb3mlx2iix3q4,Thu Apr 16 03:39:19 2020,NaN,NaN,NaN,"{'qnt': [863.1037473062052], 'price': 148.245}","{'qnt': [622.3897401574397], 'price': 113.1750...",NaN,NaN,"{'qnt': [17], 'price': 82.3499999519791}","{'qnt': [3], 'price': 128.19}","{'qnt': [370.3384041667053], 'price': 17.04}","{'qnt': [12], 'price': 68.86499999826682}",NaN,"{'qnt': [344.65521153672626], 'price': 131.295..."
5,laiulxb323ewmd4b1gc,Wed Apr 15 17:38:28 2020,"{'qnt': [20], 'price': 24.044999989463236}","{'qnt': [34], 'price': 49.82999999995526}","{'qnt': [9], 'price': 49.9799999999805}",NaN,"{'qnt': [1171.9342138731624], 'price': 113.175...","{'qnt': [44], 'price': 93.23999999999981}",NaN,NaN,NaN,NaN,"{'qnt': [44], 'price': 68.86499999826682}",NaN,NaN
6,laiulxb3wqwnc2zdwy,Thu Apr 16 08:33:10 2020,NaN,"{'qnt': [15], 'price': 49.82999999995526}",NaN,"{'qnt': [976.6939602373515], 'price': 148.245}","{'qnt': [895.4381651325161], 'price': 113.1750...",NaN,NaN,NaN,"{'qnt': [882], 'price': 128.19}",NaN,NaN,NaN,NaN
7,laiulxb3z7cs5oqh31,Thu Apr 16 01:46:46 2020,NaN,NaN,"{'qnt': [12], 'price': 49.9799999999805}",NaN,"{'qnt': [1078.1996548794255], 'price': 113.175...","{'qnt': [18], 'price': 93.23999999999981}",NaN,NaN,"{'qnt': [40], 'price': 128.19}","{'qnt': [7.391701901282255], 'price': 17.04}","{'qnt': [10], 'price': 68.86499999826682}",NaN,"{'qnt': [971.1355449824566], 'price': 131.2950..."
8,laiulxb37m3hvdblbn,Wed Apr 15 21:31:26 2020,NaN,NaN,"{'qnt': [45], 'price': 49.9799999999805}","{'qnt': [487.6158113611716], 'price': 148.245}","{'qnt': [527.1256883718837], 'price': 113.1750...","{'qnt': [46], 'price': 93.23999999999981}",NaN,NaN,"{'qnt': [657], 'price': 128.19}","{'qnt': [656.7430751830033], 'price': 17.04}","{'qnt': [30], 'price': 68.86499999826682}","{'qnt': [3], 'price': 133.5749999998878}","{'qnt': [687.9107948691383], 'price': 131.2950..."
9,laiulxb3ncjpvce2z7,Wed Apr 15 21:44:56 2020,"{'qnt': [44], 'price': 24.044999989463236}","{'qnt': [42], 'price': 49.82999999995526}",NaN,NaN,"{'qnt': [1017.7705169492648], 'price': 113.175...","{'qnt': [36], 'price': 93.23999999999981}",NaN,"{'qnt': [12], 'price': 82.3499999519791}","{'qnt': [394], 'price': 128.19}","{'qnt': [393.55433670480056], 'price': 17.04}",NaN,"{'qnt': [4], 'price': 133.5749999998878}","{'qnt': [885.2878834495539], 'price': 131.2950..."
10,laiulxb3o6btev9o5j,Wed Apr 15 17:19:03 2020,NaN,NaN,"{'qnt': [33], 'price': 49.9799999999805}",NaN,"{'qnt': [798.8476084687036], 'price': 113.1750...",NaN,NaN,NaN,"{'qnt': [658], 'price': 128.19}","{'qnt': [760.2034978252263], 'price': 17.04}",NaN,"{'qnt': [8], 'price': 133.5749999998878}","{'qnt': [878.6088663857963], 'price': 131.2950..."
11,laiulxb32ani4bcp7g7,Thu Apr 16 08:15:30 2020,NaN,NaN,NaN,NaN,"{'qnt': [835.4183563446229], 'price': 113.1750...","{'qnt': [43], 'price': 93.23999999999981}",NaN,NaN,"{'qnt': [803], 'price': 128.19}","{'qnt': [11.721069071379109], 'price': 17.04}","{'qnt': [33], 'price': 68.86499999826682}",NaN,NaN
12,laiulxb3r01uk346poa,Wed Apr 15 19:29:25 2020,"{'qnt': [24], 'price': 24.044999989463236}","{'qnt': [14], 'price': 49.82999999995526}","{'qnt': [4], 'price': 49.9799999999805}","{'qnt': [1089.1194126172186], 'price': 148.245}","{'qnt': [923.5894531008964], 'price': 113.1750...",NaN,NaN,"{'qnt': [38], 'price': 82.3499999519791}","{'qnt': [539], 'price': 128.19}","{'qnt': [1037.6444220072397], 'price': 17.04}","{'qnt': [45], 'price': 68.86499999826682}","{'qnt': [26], 'price': 133.5749999998878}","{'qnt': [546.3559468300514], 'price': 131.2950..."
13,laiulxb33lmgvx2j5qa,Thu Apr 16 01:21:01 2020,NaN,"{'qnt': [41], 'price': 49.82999999995526}",NaN,"{'qnt': [667.6818876305083], 'price': 148.245}","{'qnt': [568.2071065216546], 'price': 113.1750...",NaN,NaN,NaN,NaN,"{'qnt': [977.2527761668064], 'price': 17.04}",NaN,NaN,NaN
14,laiulxb36n0mpd1i6dq,Thu Apr 16 05:22:01 2020,"{'qnt': [6], 'price': 24.044999989463236}","{'qnt': [2], 'price': 49.82999999995526}","{'qnt': [46], 'price': 49.9799999999805}","{'qnt': [560.1454156538546], 'price': 148.245}","{'qnt': [394.51727714433025], 'price': 113.175...",NaN,"{'qnt': [11], 'price': 109.04999999999997}","{'qnt': [33], 'price': 82.3499999519791}","{'qnt': [24], 'price': 128.19}","{'qnt': [781.1779193851228], 'price': 17.04}",NaN,"{'qnt': [18], 'price': 133.5749999998878}","{'qnt': [1035.389502599568], 'price': 131.2950..."
15,laiulxb3wkfwhbjmo6d,Wed Apr 15 18:40:48 2020,NaN,NaN,"{'qnt': [13], 'price': 49.9799999999805}",NaN,"{'qnt': [534.7984452005811], 'price': 113.1750...",NaN,"{'qnt': [42], 'price': 109.04999999999997}",NaN,"{'qnt': [671], 'price': 128.19}",NaN,NaN,NaN,NaN
16,laiulxb3hd6x61r6vm,Thu Apr 16 08:27:39 2020,"{'qnt': [10], 'price': 24.044999989463236}",NaN,NaN,"{'qnt': [997.4126114039009], 'price': 148.245}","{'qnt': [1002.701306232143], 'price': 113.1750...",NaN,"{'qnt': [19], 'price': 109.04999999999997}","{'qnt': [13], 'price': 82.3499999519791}","{'qnt': [1004], 'price': 128.19}","{'qnt': [853.4942808440235], 'price': 17.04}",NaN,"{'qnt': [2], 'price': 133.5749999998878}","{'qnt': [676.1489530410697], 'price': 131.2950..."

product_database:

,prod_1,prod_2,prod_5,prod_6,prod_8,prod_10,prod_15,prod_0,prod_3,prod_7,prod_4,prod_9,prod_11
qnt,"[16, 2, 30, 20, 44, 24, 6, 10]","[13, 21, 11, 42, 19]","[49, 34, 9, 12, 45, 33, 4, 46, 13]","[32, 12, 44, 10, 30, 33, 45]","[708, 26, 3, 882, 40, 657, 394, 658, 803, 539,...","[1083.2943630635514, 941.6180636463099, 863.10...","[982.1902244908545, 1117.3534129381223, 796.48...","[2, 4, 44, 18, 46, 36, 43]","[37, 32, 17, 12, 38, 33, 13]","[47, 37, 3, 4, 8, 26, 18, 2]","[1, 19, 7, 34, 15, 42, 14, 41, 2]","[903.006780912428, 340.24612142476957, 24.1501...","[344.65521153672626, 971.1355449824566, 687.91..."
price,24.045,109.05,49.98,68.865,128.19,148.245,113.175,93.24,82.35,133.575,49.83,17.04,131.295
next_week_price,36.0675,163.575,74.97,103.2975,192.285,222.3675,169.7625,139.86,123.525,200.362495,74.745,25.56,196.9425

In [30]:

def resume (produtos, semana):

   df = produtos.copy()
   somas = []
   prices = []
   colunas = list(df.columns)

   for i in range(df.shape[1]):
      somas.append(sum(df.iloc[0,i]))
      prices.append(df.iloc[1,i])
      
   lista_de_tuplas = list(zip(colunas, somas, prices))
   new_df = pd.DataFrame(lista_de_tuplas, columns = ['produto', 'soma', 'preo'])
   new_df['receita'] = new_df['soma'] * new_df['preo']
   
   new_df['week'] = semana
   
   return new_df
# este cdigo j me d a receita por semana, mas no por venda

In [41]:
resumo

    produto          soma    preo       receita   week
0    prod_1    323.000000   16.030  5.177690e+03  week1
1    prod_2    307.000000   72.700  2.231890e+04  week1
2    prod_5    494.000000   33.320  1.646008e+04  week1
3    prod_6    188.000000   45.910  8.631080e+03  week1
4    prod_8   3338.000000   85.460  2.852655e+05  week1
5   prod_10   1054.971436   98.830  1.042628e+05  week1
6   prod_15   4657.876846   75.450  3.514368e+05  week1
7    prod_0    269.000000   62.160  1.672104e+04  week1
8    prod_3    427.000000   54.900  2.344230e+04  week1
9    prod_7    375.000000   89.050  3.339375e+04  week1
10   prod_4    413.000000   33.220  1.371986e+04  week1
11   prod_9   2115.256741   11.360  2.402932e+04  week1
12  prod_11   1643.546490   87.530  1.438596e+05  week1
13   prod_1    155.000000   16.030  2.484650e+03  week2
14   prod_2    145.000000   72.700  1.054150e+04  week2
15   prod_5    175.000000   33.320  5.831000e+03  week2
16   prod_6    150.000000   45.910  6.886500e+03  week2
17   prod_8   2648.000000   85.460  2.262981e+05  week2
18  prod_10   4383.431824   98.830  4.332146e+05  week2
19  prod_15   3764.659374   75.450  2.840435e+05  week2
20   prod_0    207.000000   62.160  1.286712e+04  week2
21   prod_3    153.000000   54.900  8.399700e+03  week2
22   prod_7    142.000000   89.050  1.264510e+04  week2
23   prod_4    255.000000   33.220  8.471100e+03  week2
24   prod_9   2668.675720   11.360  3.031616e+04  week2
25  prod_11   2684.580117   87.530  2.349813e+05  week2
26   prod_1    152.000000   24.045  3.654840e+03  week3
27   prod_2    106.000000  109.050  1.155930e+04  week3
28   prod_5    245.000000   49.980  1.224510e+04  week3
29   prod_6    206.000000   68.865  1.418619e+04  week3
30   prod_8   6409.000000  128.190  8.215697e+05  week3
31  prod_10   7666.685273  148.245  1.136548e+06  week3
32  prod_15  13726.092898  113.175  1.553451e+06  week3
33   prod_0    193.000000   93.240  1.799532e+04  week3
34   prod_3    182.000000   82.350  1.498770e+04  week3
35   prod_7    145.000000  133.575  1.936837e+04  week3
36   prod_4    175.000000   49.830  8.720250e+03  week3
37   prod_9   7116.924492   17.040  1.212724e+05  week3
38  prod_11   6025.492704  131.295  7.911171e+05  week3