## Library

In [2]:
import requests
import random
import pandas as pd
import time
import math
from copy import deepcopy
from statistics import mean

## Notebook

#### Requisição

In [3]:
def request() -> list:   
    res = requests.get('http://localhost:3000/api/ep1')
    return res.json()

#### Tratamento de Dados

In [4]:
def data_treatment(json:list):
    for i in range(len(json)):
        for key in json[i]:
            if ('prod' in key):
                if (type(json[i][key])!=dict):
                    qnt = json[i][key]
                    if (type(qnt)==str):
                        qnt = float(qnt)                  
                    if (qnt<0):
                        qnt = 0
                    if (key in [product for product in json[i] if ('prod' in product and (int(product[5]) < 9 and len(product) < 7))]):
                        json[i][key] = {'qnt':[round(qnt)], 'price':None}
                    else:
                        json[i][key] = {'qnt':[qnt], 'price':None}
        try:
            json[i]['date'] = time.ctime(json[i]['date'])
        except:
            continue
    return json

#### Gerar valores aleatórios

In [5]:
def generate_random_price(n_min=1.0, n_max=100.0) -> float:
    return round(random.uniform(n_min, n_max), 2)

#### Precificação

##### Função logistica -> A mesma postada no doc pelo professor

In [28]:
def logistic_function(v: float) -> float:
    return 0.5 + (1 / (1 + math.e ** -v))

##### Função para calcular a variação -> A mesma postada no doc pelo professor

In [27]:
def calc_qnt_variation(last_week: list, current_week: list) -> float:
    return mean(current_week) - mean(last_week) / mean(last_week) if (mean(last_week) != 0) else 0

##### Função que calcula o preço que será utilizado na semana seguinte

In [14]:
def calc_new_price(product_db: dict, sales_week: dict) -> dict:
    for product in product_db:
        if (product_db[product]['qnt'] != None):
            if (product not in sales_week.keys()):
                sales_week[product] = [0]
            product_db[product]['next_week_price'] = logistic_function(calc_qnt_variation(product_db[product]['qnt'], sales_week[product])) * product_db[product]['price']
        product_db[product]['qnt'] = sales_week[product]               
    return product_db

##### Função que atualiza o banco de dados (onde consta a quantidade de vendas da última semana e o preço dos produtos) e aplica o preço nos produtos do JSON

In [15]:
def product_pricing(json: list, product_db: dict) -> tuple:
    sales_week = {}

    for transaction in json:
        for key in transaction:
            if ('prod' in key):
                if (key not in product_db.keys()):
                    transaction[key]['price'] = generate_random_price()
                    sales_week[key] = deepcopy(transaction[key]['qnt'])
                    product_db[key] = deepcopy(transaction[key])
                    product_db[key]['qnt'] = None
                    product_db[key]['next_week_price'] = product_db[key]['price']              
                else:
                    transaction[key]['price'] = deepcopy(product_db[key]['next_week_price'])
                    product_db[key]['price'] = product_db[key]['next_week_price']
                    if (key not in sales_week.keys()):
                        sales_week[key] = deepcopy(transaction[key]['qnt'])
                    else:
                        sales_week[key] += deepcopy(transaction[key]['qnt'])

    product_db = calc_new_price(product_db, sales_week)

    return json, product_db

#### Main

In [30]:
product_database = {}
weeks = 25

for week in range(weeks):
    json = data_treatment(request())
    json, product_database = product_pricing(json, product_database)

    json_db = pd.DataFrame(json)
    product_database_db = pd.DataFrame(product_database)

    print(f'\nSemana {week + 1}:\n')
    print('Json:')
    display(json_db)
    print('\nproduct_database:')
    display(product_database_db)

Semana 1:

Json:

,id,date,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
0,labp6aw8rr4o8gjaq2o,Thu Oct 24 08:49:40 2024,"{'qnt': [9], 'price': 47.77}","{'qnt': [25], 'price': 48.35}","{'qnt': [16], 'price': 5.71}","{'qnt': [43], 'price': 73.05}","{'qnt': [1], 'price': 38.61}","{'qnt': [17], 'price': 60.61}","{'qnt': [430], 'price': 57.28}","{'qnt': [809.6457464313798], 'price': 39.7}","{'qnt': [466.3152960854334], 'price': 15.03}","{'qnt': [1850.186334798945], 'price': 41.48}",NaN,NaN,NaN
1,labp6aw889pawmuo00r,Wed Oct 23 17:43:38 2024,"{'qnt': [22], 'price': 47.77}",NaN,NaN,"{'qnt': [42], 'price': 73.05}","{'qnt': [45], 'price': 38.61}",NaN,"{'qnt': [402], 'price': 57.28}",NaN,"{'qnt': [893.6069315590282], 'price': 15.03}","{'qnt': [2426.738429691921], 'price': 41.48}","{'qnt': [11], 'price': 97.67}","{'qnt': [28], 'price': 99.45}","{'qnt': [907.3229546861892], 'price': 68.67}"
2,labp6aw8nrpt0lh1m7,Thu Oct 24 07:48:38 2024,NaN,NaN,NaN,"{'qnt': [42], 'price': 73.05}","{'qnt': [5], 'price': 38.61}",NaN,"{'qnt': [764], 'price': 57.28}","{'qnt': [28.57175341014382], 'price': 39.7}","{'qnt': [1081.347077254213], 'price': 15.03}","{'qnt': [2032.113666362543], 'price': 41.48}",NaN,"{'qnt': [26], 'price': 99.45}","{'qnt': [398.184360157671], 'price': 68.67}"
3,labp6aw88fvz2h3ul5d,Wed Oct 23 20:57:57 2024,"{'qnt': [48], 'price': 47.77}","{'qnt': [45], 'price': 48.35}","{'qnt': [44], 'price': 5.71}",NaN,"{'qnt': [37], 'price': 38.61}",NaN,"{'qnt': [880], 'price': 57.28}","{'qnt': [1081.1713104023], 'price': 39.7}",NaN,"{'qnt': [2458.1541685178045], 'price': 41.48}","{'qnt': [6], 'price': 97.67}","{'qnt': [4], 'price': 99.45}",NaN
4,labp6aw8kbz51wlrqa,Wed Oct 23 16:23:50 2024,NaN,NaN,NaN,"{'qnt': [7], 'price': 73.05}",NaN,"{'qnt': [46], 'price': 60.61}","{'qnt': [912], 'price': 57.28}","{'qnt': [507.87881065098145], 'price': 39.7}",NaN,"{'qnt': [2359.8538526811826], 'price': 41.48}","{'qnt': [15], 'price': 97.67}","{'qnt': [21], 'price': 99.45}","{'qnt': [444.15808982867486], 'price': 68.67}"
5,labp6aw8a5nnljanx3a,Wed Oct 23 22:06:03 2024,NaN,NaN,"{'qnt': [47], 'price': 5.71}","{'qnt': [40], 'price': 73.05}",NaN,NaN,"{'qnt': [11], 'price': 57.28}","{'qnt': [381.6529489935842], 'price': 39.7}","{'qnt': [1041.8968539622365], 'price': 15.03}","{'qnt': [2451.9684677637815], 'price': 41.48}","{'qnt': [1], 'price': 97.67}","{'qnt': [41], 'price': 99.45}",NaN
6,labp6aw837fsnzxgrd,Thu Oct 24 06:12:30 2024,"{'qnt': [33], 'price': 47.77}",NaN,"{'qnt': [32], 'price': 5.71}",NaN,NaN,NaN,"{'qnt': [625], 'price': 57.28}",NaN,"{'qnt': [600.2660933330224], 'price': 15.03}","{'qnt': [2174.6056069761953], 'price': 41.48}",NaN,NaN,"{'qnt': [429.78931768312174], 'price': 68.67}"
7,labp6aw80fyhiiipp51k,Thu Oct 24 02:55:33 2024,NaN,"{'qnt': [44], 'price': 48.35}","{'qnt': [34], 'price': 5.71}",NaN,NaN,"{'qnt': [12], 'price': 60.61}","{'qnt': [1056], 'price': 57.28}","{'qnt': [581.680609496261], 'price': 39.7}","{'qnt': [565.178563064884], 'price': 15.03}","{'qnt': [2207.5799004842866], 'price': 41.48}","{'qnt': [45], 'price': 97.67}","{'qnt': [25], 'price': 99.45}",NaN
8,labp6aw8pdpplarlhk7,Wed Oct 23 18:36:26 2024,NaN,"{'qnt': [7], 'price': 48.35}","{'qnt': [15], 'price': 5.71}",NaN,NaN,NaN,"{'qnt': [376], 'price': 57.28}","{'qnt': [962.9374971142064], 'price': 39.7}",NaN,"{'qnt': [2238.2638039102867], 'price': 41.48}","{'qnt': [11], 'price': 97.67}",NaN,NaN
9,labp6aw8t30qsei626,Wed Oct 23 21:38:40 2024,NaN,"{'qnt': [48], 'price': 48.35}","{'qnt': [27], 'price': 5.71}","{'qnt': [45], 'price': 73.05}",NaN,"{'qnt': [28], 'price': 60.61}","{'qnt': [610], 'price': 57.28}","{'qnt': [371.1562390052918], 'price': 39.7}",NaN,"{'qnt': [2291.9956971677916], 'price': 41.48}","{'qnt': [5], 'price': 97.67}","{'qnt': [32], 'price': 99.45}","{'qnt': [302.60742372446083], 'price': 68.67}"
10,labp6aw8wfer8zmdji,Wed Oct 23 17:39:39 2024,"{'qnt': [36], 'price': 47.77}","{'qnt': [37], 'price': 48.35}","{'qnt': [20], 'price': 5.71}","{'qnt': [26], 'price': 73.05}",NaN,"{'qnt': [47], 'price': 60.61}","{'qnt': [846], 'price': 57.28}",NaN,NaN,"{'qnt': [2319.10534312351], 'price': 41.48}",NaN,NaN,NaN
11,labp6aw8nkzhjsumtl,Wed Oct 23 20:02:05 2024,"{'qnt': [1], 'price': 47.77}",NaN,"{'qnt': [36], 'price': 5.71}",NaN,NaN,"{'qnt': [11], 'price': 60.61}","{'qnt': [684], 'price': 57.28}","{'qnt': [1021.2990183514524], 'price': 39.7}","{'qnt': [993.5237780904121], 'price': 15.03}","{'qnt': [2405.115093489754], 'price': 41.48}","{'qnt': [16], 'price': 97.67}",NaN,"{'qnt': [692.2224450917099], 'price': 68.67}"
12,labp6aw832fw1s707qr,Wed Oct 23 20:27:45 2024,"{'qnt': [12], 'price': 47.77}","{'qnt': [25], 'price': 48.35}","{'qnt': [16], 'price': 5.71}","{'qnt': [42], 'price': 73.05}","{'qnt': [8], 'price': 38.61}",NaN,"{'qnt': [6], 'price': 57.28}","{'qnt': [41.54086052086138], 'price': 39.7}","{'qnt': [801.1502033490858], 'price': 15.03}","{'qnt': [1891.6213944001952], 'price': 41.48}","{'qnt': [42], 'price': 97.67}",NaN,"{'qnt': [875.1937501559389], 'price': 68.67}"
13,labp6aw8m5si0i17san,Thu Oct 24 02:23:03 2024,"{'qnt': [13], 'price': 47.77}",NaN,NaN,"{'qnt': [48], 'price': 73.05}",NaN,NaN,"{'qnt': [1019], 'price': 57.28}","{'qnt': [860.3333367850787], 'price': 39.7}",NaN,"{'qnt': [2437.988100792356], 'price': 41.48}","{'qnt': [31], 'price': 97.67}",NaN,"{'qnt': [481.71772631103], 'price': 68.67}"
14,labp6aw8hgys8vjomul,Wed Oct 23 23:19:18 2024,"{'qnt': [5], 'price': 47.77}",NaN,NaN,NaN,NaN,"{'qnt': [40], 'price': 60.61}","{'qnt': [47], 'price': 57.28}","{'qnt': [1043.3909436554604], 'price': 39.7}",NaN,"{'qnt': [2044.7819320340036], 'price': 41.48}","{'qnt': [11], 'price': 97.67}",NaN,NaN
15,labp6aw8qtgqo0ijifa,Thu Oct 24 01:04:29 2024,NaN,"{'qnt': [6], 'price': 48.35}","{'qnt': [2], 'price': 5.71}",NaN,"{'qnt': [41], 'price': 38.61}","{'qnt': [6], 'price': 60.61}",NaN,"{'qnt': [35.82807455200122], 'price': 39.7}",NaN,"{'qnt': [1960.110744545325], 'price': 41.48}",NaN,NaN,NaN
16,labp6aw80ylrw5cot5t,Wed Oct 23 20:51:30 2024,NaN,"{'qnt': [7], 'price': 48.35}","{'qnt': [37], 'price': 5.71}",NaN,"{'qnt': [22], 'price': 38.61}",NaN,NaN,"{'qnt': [343.98117291251975], 'price': 39.7}","{'qnt': [785.0348639994613], 'price': 15.03}","{'qnt': [2021.9770236137074], 'price': 41.48}","{'qnt': [5], 'price': 97.67}",NaN,"{'qnt': [355.4166846755426], 'price': 68.67}"
17,labp6aw8ld5h1cmc4tf,Wed Oct 23 23:39:09 2024,"{'qnt': [44], 'price': 47.77}",NaN,"{'qnt': [3], 'price': 5.71}","{'qnt': [9], 'price': 73.05}",NaN,"{'qnt': [47], 'price': 60.61}","{'qnt': [50], 'price': 57.28}","{'qnt': [40.15996653840094], 'price': 39.7}",NaN,"{'qnt': [2558.6993855697783], 'price': 41.48}","{'qnt': [23], 'price': 97.67}",NaN,NaN
18,labp6aw8ok94qy4xci8,Wed Oct 23 16:47:01 2024,"{'qnt': [28], 'price': 47.77}",NaN,"{'qnt': [47], 'price': 5.71}","{'qnt': [36], 'price': 73.05}",NaN,NaN,"{'qnt': [1020], 'price': 57.28}","{'qnt': [24.419244476132405], 'price': 39.7}",NaN,"{'qnt': [2260.2732968627943], 'price': 41.48}","{'qnt': [3], 'price': 97.67}",NaN,NaN
19,labp6aw8p3cicg3ab3b,Thu Oct 24 07:03:45 2024,"{'qnt': [14], 'price': 47.77}",NaN,NaN,"{'qnt': [15], 'price': 73.05}","{'qnt': [18], 'price': 38.61}",NaN,"{'qnt': [702], 'price': 57.28}","{'qnt': [331.8871431589659], 'price': 39.7}","{'qnt': [440.78151892394794], 'price': 15.03}","{'qnt': [2254.2267185237347], 'price': 41.48}",NaN,"{'qnt': [19], 'price': 99.45}",NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[9, 22, 48, 33, 36, 1, 12, 13, 5, 44, 28, 14]","[25, 45, 44, 7, 48, 37, 25, 6, 7]","[16, 44, 47, 32, 34, 15, 27, 20, 36, 16, 2, 37...","[43, 42, 42, 7, 40, 45, 26, 42, 48, 9, 36, 15]","[1, 45, 5, 37, 8, 41, 22, 18]","[17, 46, 12, 28, 47, 11, 40, 6, 47]","[430, 402, 764, 880, 912, 11, 625, 1056, 376, ...","[809.6457464313798, 28.57175341014382, 1081.17...","[466.3152960854334, 893.6069315590282, 1081.34...","[1850.186334798945, 2426.738429691921, 2032.11...","[11, 6, 15, 1, 45, 11, 5, 16, 42, 31, 11, 5, 2...","[28, 26, 4, 21, 41, 25, 32, 19]","[907.3229546861892, 398.184360157671, 444.1580..."
price,47.77,48.35,5.71,73.05,38.61,60.61,57.28,39.7,15.03,41.48,97.67,99.45,68.67
next_week_price,47.77,48.35,5.71,73.05,38.61,60.61,57.28,39.7,15.03,41.48,97.67,99.45,68.67

Semana 2:

Json:

,id,date,prod_0,prod_1,prod_2,prod_9,prod_8,prod_10,prod_15,prod_3,prod_4,prod_5,prod_6,prod_11
0,labp6azssro2ku4flnm,Thu Oct 31 03:09:11 2024,"{'qnt': [12], 'price': 47.77}","{'qnt': [47], 'price': 97.67}","{'qnt': [13], 'price': 48.35}","{'qnt': [312.22645877915414], 'price': 39.7}","{'qnt': [35], 'price': 57.28}","{'qnt': [773.5940935667707], 'price': 15.03}","{'qnt': [1774.5519128429312], 'price': 41.48}",NaN,NaN,NaN,NaN,NaN
1,labp6azsvyrz5zypw6j,Wed Oct 30 16:56:22 2024,NaN,NaN,"{'qnt': [18], 'price': 48.35}",NaN,"{'qnt': [38], 'price': 57.28}","{'qnt': [452.07187074186515], 'price': 15.03}","{'qnt': [2040.7293396626255], 'price': 41.48}","{'qnt': [29], 'price': 5.71}","{'qnt': [34], 'price': 73.05}","{'qnt': [4], 'price': 38.61}","{'qnt': [1], 'price': 60.61}",NaN
2,labp6azs16z6tll13oz,Wed Oct 30 17:48:11 2024,NaN,"{'qnt': [9], 'price': 97.67}",NaN,NaN,"{'qnt': [518], 'price': 57.28}","{'qnt': [443.4031997069569], 'price': 15.03}","{'qnt': [2060.0239882673186], 'price': 41.48}",NaN,"{'qnt': [41], 'price': 73.05}",NaN,"{'qnt': [39], 'price': 60.61}","{'qnt': [151.0481820556775], 'price': 68.67}"

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,[12],"[13, 18]",[29],"[34, 41]",[4],"[1, 39]","[35, 38, 518]",[312.22645877915414],"[773.5940935667707, 452.07187074186515, 443.40...","[1774.5519128429312, 2040.7293396626255, 2060....","[47, 9]",[0],[151.0481820556775]
price,47.77,48.35,5.71,73.05,38.61,60.61,57.28,39.7,15.03,41.48,97.67,99.45,68.67
next_week_price,71.654202,72.524976,8.565,109.575,56.083887,90.915,85.92,59.55,22.545,62.22,146.505,76.471224,103.005

Semana 3:

Json:

,id,date,prod_6,prod_7,prod_8,prod_9,prod_15,prod_0,prod_1,prod_2,prod_4,prod_11,prod_5,prod_10
0,labp6b11kj8u7zqe6nk,Wed Nov 6 23:47:56 2024,"{'qnt': [22], 'price': 90.91499966041451}","{'qnt': [41], 'price': 76.47122435524602}","{'qnt': [0], 'price': 85.92}","{'qnt': [196.31354546110128], 'price': 59.5500...","{'qnt': [2186.1804867258816], 'price': 62.22}",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labp6b11jp1zkwn88lk,Thu Nov 7 05:54:37 2024,"{'qnt': [15], 'price': 90.91499966041451}","{'qnt': [27], 'price': 76.47122435524602}",NaN,NaN,"{'qnt': [2304.9326865854846], 'price': 62.22}","{'qnt': [42], 'price': 71.65420217307833}","{'qnt': [6], 'price': 146.50499999981642}","{'qnt': [18], 'price': 72.52497561480281}","{'qnt': [15], 'price': 109.57499999999997}","{'qnt': [0], 'price': 103.005}",NaN,NaN
2,labp6b11rz32w4gncj,Thu Nov 7 03:34:44 2024,NaN,"{'qnt': [23], 'price': 76.47122435524602}","{'qnt': [343], 'price': 85.92}",NaN,"{'qnt': [2185.7300579924886], 'price': 62.22}","{'qnt': [22], 'price': 71.65420217307833}","{'qnt': [17], 'price': 146.50499999981642}",NaN,NaN,NaN,"{'qnt': [33], 'price': 56.08388703661415}","{'qnt': [395.9454638892028], 'price': 22.54499..."

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[42, 22]",[18],[0],[15],[33],"[22, 15]","[0, 343]",[196.31354546110128],[395.9454638892028],"[2186.1804867258816, 2304.9326865854846, 2185....","[6, 17]","[41, 27, 23]",[0]
price,71.654202,72.524976,5.71,109.575,56.083887,90.915,85.92,59.55,22.545,62.22,146.505,76.471224,103.005
next_week_price,107.481303,108.78746,4.390656,164.362409,84.125831,136.372497,128.88,89.325,33.8175,93.33,219.753466,76.471224,79.204811

Semana 4:

Json:

,id,date,prod_1,prod_2,prod_3,prod_4,prod_5,prod_8,prod_10,prod_15,prod_9,prod_11,prod_0,prod_7,prod_6
0,labp6b2cl8w71dcxnr,Thu Nov 14 00:38:14 2024,"{'qnt': [11], 'price': 219.75346588329785}","{'qnt': [42], 'price': 108.78746041971552}","{'qnt': [38], 'price': 4.390655516022672}","{'qnt': [26], 'price': 164.3624088853163}","{'qnt': [33], 'price': 84.12583055492051}","{'qnt': [779], 'price': 128.88}","{'qnt': [90.87814382220107], 'price': 33.81749...","{'qnt': [1848.945575236304], 'price': 93.33}",NaN,NaN,NaN,NaN,NaN
1,labp6b2cx88jljv8ng,Thu Nov 14 04:30:32 2024,"{'qnt': [48], 'price': 219.75346588329785}","{'qnt': [45], 'price': 108.78746041971552}","{'qnt': [3], 'price': 4.390655516022672}","{'qnt': [12], 'price': 164.3624088853163}","{'qnt': [29], 'price': 84.12583055492051}","{'qnt': [212], 'price': 128.88}",NaN,"{'qnt': [1918.7677623104757], 'price': 93.33}","{'qnt': [12.91989486427314], 'price': 89.325}","{'qnt': [108.7867429273077], 'price': 79.20481...",NaN,NaN,NaN
2,labp6b2cmtm6aqt3urm,Thu Nov 14 03:36:07 2024,"{'qnt': [43], 'price': 219.75346588329785}","{'qnt': [43], 'price': 108.78746041971552}",NaN,NaN,"{'qnt': [28], 'price': 84.12583055492051}","{'qnt': [33], 'price': 128.88}",NaN,"{'qnt': [1467.5862962941778], 'price': 93.33}","{'qnt': [46.4915525969969], 'price': 89.325}","{'qnt': [531.1244911185007], 'price': 79.20481...","{'qnt': [44], 'price': 107.48130325961503}",NaN,NaN
3,labp6b2c2sxr0eeatg1,Thu Nov 14 03:19:40 2024,"{'qnt': [37], 'price': 219.75346588329785}","{'qnt': [40], 'price': 108.78746041971552}","{'qnt': [40], 'price': 4.390655516022672}","{'qnt': [17], 'price': 164.3624088853163}","{'qnt': [40], 'price': 84.12583055492051}","{'qnt': [189], 'price': 128.88}",NaN,"{'qnt': [1850.2905940900398], 'price': 93.33}",NaN,NaN,"{'qnt': [36], 'price': 107.48130325961503}","{'qnt': [22], 'price': 76.47122435524602}",NaN
4,labp6b2celgwcjjuzm,Thu Nov 14 07:14:33 2024,"{'qnt': [14], 'price': 219.75346588329785}",NaN,"{'qnt': [40], 'price': 4.390655516022672}","{'qnt': [37], 'price': 164.3624088853163}",NaN,"{'qnt': [36], 'price': 128.88}","{'qnt': [766.4862422241598], 'price': 33.81749...","{'qnt': [1731.7691041411217], 'price': 93.33}","{'qnt': [595.0502917127106], 'price': 89.325}","{'qnt': [758.3988922534334], 'price': 79.20481...","{'qnt': [2], 'price': 107.48130325961503}",NaN,"{'qnt': [41], 'price': 136.37249720774693}"
5,labp6b2c88y9rkgpn7,Thu Nov 14 02:16:47 2024,"{'qnt': [34], 'price': 219.75346588329785}","{'qnt': [20], 'price': 108.78746041971552}","{'qnt': [5], 'price': 4.390655516022672}",NaN,NaN,NaN,"{'qnt': [194.8273927131136], 'price': 33.81749...","{'qnt': [1554.4332189544812], 'price': 93.33}","{'qnt': [36.93552141012635], 'price': 89.325}",NaN,"{'qnt': [14], 'price': 107.48130325961503}","{'qnt': [49], 'price': 76.47122435524602}","{'qnt': [39], 'price': 136.37249720774693}"
6,labp6b2csab5bgalnff,Wed Nov 13 17:01:50 2024,NaN,NaN,NaN,"{'qnt': [22], 'price': 164.3624088853163}",NaN,"{'qnt': [659], 'price': 128.88}","{'qnt': [528.6171313324769], 'price': 33.81749...","{'qnt': [1809.2528986692787], 'price': 93.33}",NaN,NaN,NaN,"{'qnt': [18], 'price': 76.47122435524602}",NaN
7,labp6b2cqgzvps8uo3f,Wed Nov 13 18:45:03 2024,"{'qnt': [29], 'price': 219.75346588329785}","{'qnt': [31], 'price': 108.78746041971552}","{'qnt': [9], 'price': 4.390655516022672}",NaN,NaN,"{'qnt': [33], 'price': 128.88}",NaN,"{'qnt': [1843.4192761642962], 'price': 93.33}","{'qnt': [6.9402927426585155], 'price': 89.325}","{'qnt': [499.10486461352946], 'price': 79.2048...",NaN,"{'qnt': [12], 'price': 76.47122435524602}",NaN
8,labp6b2c0g7vyjbkq767,Wed Nov 13 20:42:33 2024,NaN,"{'qnt': [25], 'price': 108.78746041971552}",NaN,"{'qnt': [27], 'price': 164.3624088853163}",NaN,"{'qnt': [205], 'price': 128.88}",NaN,"{'qnt': [1692.2487954563126], 'price': 93.33}",NaN,"{'qnt': [764.1635206873556], 'price': 79.20481...","{'qnt': [18], 'price': 107.48130325961503}","{'qnt': [32], 'price': 76.47122435524602}","{'qnt': [45], 'price': 136.37249720774693}"
9,labp6b2cmh81u3ya46,Wed Nov 13 20:04:19 2024,"{'qnt': [20], 'price': 219.75346588329785}",NaN,"{'qnt': [8], 'price': 4.390655516022672}","{'qnt': [21], 'price': 164.3624088853163}",NaN,NaN,"{'qnt': [684.7207165077539], 'price': 33.81749...","{'qnt': [1599.4380405731622], 'price': 93.33}",NaN,NaN,NaN,"{'qnt': [13], 'price': 76.47122435524602}",NaN
10,labp6b2coow4ve0gbp9,Thu Nov 14 05:32:31 2024,NaN,NaN,NaN,"{'qnt': [19], 'price': 164.3624088853163}",NaN,"{'qnt': [40], 'price': 128.88}",NaN,"{'qnt': [1474.187346904849], 'price': 93.33}","{'qnt': [60.137996476505435], 'price': 89.325}",NaN,"{'qnt': [32], 'price': 107.48130325961503}",NaN,"{'qnt': [4], 'price': 136.37249720774693}"
11,labp6b2cjmv3do70is9,Wed Nov 13 17:07:03 2024,"{'qnt': [46], 'price': 219.75346588329785}","{'qnt': [3], 'price': 108.78746041971552}","{'qnt': [35], 'price': 4.390655516022672}",NaN,NaN,NaN,"{'qnt': [295.7976187306913], 'price': 33.81749...","{'qnt': [1913.516780341167], 'price': 93.33}","{'qnt': [111.25348865646933], 'price': 89.325}",NaN,NaN,NaN,NaN
12,labp6b2cjqmvbgy1ino,Wed Nov 13 17:44:04 2024,NaN,"{'qnt': [3], 'price': 108.78746041971552}","{'qnt': [46], 'price': 4.390655516022672}",NaN,"{'qnt': [48], 'price': 84.12583055492051}",NaN,"{'qnt': [698.8498143571693], 'price': 33.81749...","{'qnt': [1666.2945732847347], 'price': 93.33}","{'qnt': [551.9854690517111], 'price': 89.325}",NaN,"{'qnt': [44], 'price': 107.48130325961503}",NaN,"{'qnt': [48], 'price': 136.37249720774693}"
13,labp6b2cpt3vp982gqd,Thu Nov 14 08:09:58 2024,NaN,"{'qnt': [45], 'price': 108.78746041971552}",NaN,"{'qnt': [31], 'price': 164.3624088853163}","{'qnt': [35], 'price': 84.12583055492051}","{'qnt': [708], 'price': 128.88}",NaN,"{'qnt': [1762.5712001566012], 'price': 93.33}","{'qnt': [752.7954710001475], 'price': 89.325}",NaN,"{'qnt': [29], 'price': 107.48130325961503}","{'qnt': [31], 'price': 76.47122435524602}","{'qnt': [7], 'price': 136.37249720774693}"
14,labp6b2c8gulktdqi38,Wed Nov 13 19:54:48 2024,"{'qnt': [26], 'price': 219.75346588329785}",NaN,"{'qnt': [16], 'price': 4.390655516022672}",NaN,"{'qnt': [26], 'price': 84.12583055492051}",NaN,"{'qnt': [147.7912855130275], 'price': 33.81749...","{'qnt': [1515.1943005996884], 'price': 93.33}",NaN,"{'qnt': [364.3690851342222], 'price': 79.20481...","{'qnt': [1], 'price': 107.48130325961503}",NaN,"{'qnt': [19], 'price': 136.37249720774693}"
15,labp6b2cuwfbya1kqf8,Thu Nov 14 03:40:13 2024,NaN,"{'qnt': [0], 'price': 108.78746041971552}",NaN,NaN,NaN,"{'qnt': [518], 'price': 128.88}","{'qnt': [490.15706182522837], 'price': 33.8174...","{'qnt': [2065.2741860495607], 'price': 93.33}","{'qnt': [720.3878814033891], 'price': 89.325}","{'qnt': [283.2120551193692], 'price': 79.20481...","{'qnt': [49], 'price': 107.48130325961503}",NaN,NaN
16,labp6b2cge5wkq4i37,Wed Nov 13 23:54:42 2024,"{'qnt': [4], 'price': 219.75346588329785}","{'qnt': [32], 'price': 108.78746041971552}",NaN,NaN,"{'qnt': [37], 'price': 84.12583055492051}","{'qnt': [3], 'price': 128.88}",NaN,"{'qnt': [1826.8616321445547], 'price': 93.33}","{'qnt': [9.910997876450962], 'price': 89.325}","{'qnt': [178.11485037652676], 'price': 79.2048...","{'qnt': [4], 'price': 107.48130325961503}","{'qnt': [20], 'price': 76.47122435524602}","{'qnt': [10], 'price': 136.37249720774693}"
17,labp6b2c1djnutc7zem,Thu Nov 14 01:22:19 2024,NaN,NaN,"{'qnt': [8], 'price': 4.390655516022672}","{'qnt': [40], 'price': 164.3624088853163}","{'qnt': [34], 'price': 84.12583055492051}","{'qnt': [773], 'price': 128.88}","{'qnt': [337.1822528141694], 'price': 33.81749...","{'qnt': [1492.3533673899042], 'price': 93.33}","{'qnt': [309.07792445946995], 'price': 89.325}",NaN,"{'qnt': [27], 'price': 107.48130325961503}","{'qnt': [32], 'price': 76.47122435524602}","{'qnt': [13], 'price': 136.37249720774693}"
18,labp6b2cvy8kvjli84,Thu Nov 14 02:32:31 2024,NaN,NaN,NaN,"{'qnt': [47], 'price': 164.3624088853163}",NaN,"{'qnt': [372], 'price': 128.88}","{'qnt': [116.67611102325137], 'price': 33.8174...","{'qnt': [2016.1604169823804], 'price': 93.33}",NaN,NaN,"{'qnt': [40], 'price': 107.48130325961503}",NaN,NaN
19,labp6b2co0knbsck8m,Wed Nov 13 18:03:09 2024,"{'qnt': [16], 'price': 219.75346588329785}","{'qnt': [31], 'price': 108.78746041971552}",NaN,"{'qnt': [13], 'price': 164.3624088853163}",NaN,"{'qnt': [753], 'price': 128.88}","{'qnt': [711.6956137094469], 'price': 33.81749...","{'qnt': [1849.9133673014776], 'price': 93.33}","{'qnt': [244.3645697955435], 'price': 89.325}",NaN,NaN,"{'qnt': [48], 'price': 76.47122435524602}",NaN
20,labp6b2cchyl6bdksgm,Thu Nov 14 07:07:42 2024,NaN,NaN,"{'qnt': [2], 'price': 4.390655516022672}",NaN,NaN,"{'qnt': [791], 'price': 128.88}","{'qnt': [137.52087208622166], 'price': 33.8174...","{'qnt': [1739.4024180502197], 'price': 93.33}","{'qnt': [146.7872984343138], 'price': 89.325}",NaN,"{'qnt': [12], 'price': 107.48130325961503}","{'qnt': [22], 'price': 76.47122435524602}","{'qnt': [46], 'price': 136.37249720774693}"
21,labp6b2ccuu87fv2m47,Thu Nov 14 05:33:28 2024,NaN,"{'qnt': [10], 'price': 108.78746041971552}",NaN,"{'qnt': [50], 'price': 164.3624088853163}",NaN,"{'qnt': [628], 'price': 128.88}","{'qnt': [651.0381434277692], 'price': 33.81749...","{'qnt': [1566.7431216557495], 'price': 93.33}","{'qnt': [36.386706234561416], 'price': 89.325}","{'qnt': [95.06838959734307], 'price': 79.20481...",NaN,NaN,NaN
22,labp6b2cfd3ztoi5ye,Thu Nov 14 06:29:46 2024,"{'qnt': [47], 'price': 219.75346588329785}",NaN,NaN,"{'qnt': [16], 'price': 164.3624088853163}","{'qnt': [40], 'price': 84.12583055492051}","{'qnt': [21], 'price': 128.88}","{'qnt': [790.1245804728862], 'price': 33.81749...","{'qnt': [1482.2805928180455], 'price': 93.33}","{'qnt': [701.595385988629], 'price': 89.325}",NaN,NaN,"{'qnt': [40], 'price': 76.47122435524602}",NaN
23,labp6b2cdqnbvd5ytn,Thu Nov 14 06:02:42 2024,"{'qnt': [18], 'price': 219.75346588329785}",NaN,"{'qnt': [4], 'price': 4.390655516022672}",NaN,NaN,"{'qnt': [6], 'price': 128.88}",NaN,"{'qnt': [1812.8102851442923], 'price': 93.33}","{'qnt': [10.346734824506642], 'price': 89.325}",NaN,"{'qnt': [4], 'price': 107.48130325961503}",NaN,"{'qnt': [38], 'price': 136.37249720774693}"
24,labp6b2cppr3bpxpp4,Wed Nov 13 20:55:05 2024,"{'qnt': [25], 'price': 219.75346588329785}",NaN,"{'qnt': [43], 'price': 4.390655516022672}",NaN,"{'qnt': [17], 'price': 84.12583055492051}",NaN,"{'qnt': [564.404373998419], 'price': 33.817499...","{'qnt': [2008.0745108806482], 'price': 93.33}",NaN,NaN,NaN,"{'qnt': [17], 'price': 76.47122435524602}","{'qnt': [17], 'price': 136.37249720774693}"
25,labp6b2cik2tur1qvpg,Thu Nov 14 00:01:11 2024,"{'qnt': [18], 'price': 219.75346588329785}","{'qnt': [46], 'price': 108.78746041971552}","{'qnt': [38], 'price': 4.390655516022672}",NaN,NaN,"{'qnt': [21], 'price': 128.88}","{'qnt': [684.9045953683925], 'price': 33.81749...","{'qnt': [2081.370813221511], 'price': 93.33}",NaN,"{'qnt': [644.889755456977], 'price': 79.204811...",NaN,"{'qnt': [29], 'price': 76.47122435524602}","{'qnt': [24], 'price': 136.37249720774693}"
26,labp6b2c008zwr7cxh5uh,Thu Nov 14 01:29:55 2024,"{'qnt': [21], 'price': 219.75346588329785}","{'qnt': [49], 'price': 108.78746041971552}","{'qnt': [49], 'price': 4.390655516022672}","{'qnt': [5], 'price': 164.3624088853163}","{'qnt': [44], 'price': 84.12583055492051}",NaN,NaN,"{'qnt': [1862.9991674857363], 'price': 93.33}",NaN,"{'qnt': [447.3775901782389], 'price': 79.20481...",NaN,NaN,"{'qnt': [28], 'price': 136.37249720774693}"
27,labp6b2cgfpv8159qr9,Wed Nov 13 21:36:53 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'qnt': [1660.3698866338586], 'price': 93.33}","{'qnt': [317.68165908641], 'price': 89.325}",NaN,NaN,NaN,NaN
28,labp6b2c37ukpqtedhw,Wed Nov 13 20:11:15 2024,NaN,NaN,NaN,NaN,NaN,"{'qnt': [397], 'price': 128.88}","{'qnt': [408.7709399437019], 'price': 33.81749...","{'qnt': [2173.137528808569], 'price': 93.33}","{'qnt': [27.97038824460675], 'price': 89.325}",NaN,NaN,"{'qnt': [28], 'price': 76.47122435524602}","{'qnt': [31], 'price': 136.37249720774693}"
29,labp6b2cgbagulza4tp,Thu Nov 14 04:06:15 2024,NaN,NaN,NaN,NaN,NaN,NaN,"{'qnt': [201.65626696177503], 'price': 33.8174...","{'qnt': [1409.638765278213], 'price': 93.33}","{'qnt': [44.61649733187903], 'price': 89.325}",NaN,NaN,"{'qnt': [2], 'price': 76.47122435524602}","{'qnt': [4], 'price': 136.37249720774693}"
30,labp6b2czer7wk0g3q,Thu Nov 14 02:49:30 2024,NaN,"{'qnt': [44], 'price': 108.78746041971552}","{'qnt': [3], 'price': 4.390655516022672}","{'qnt': [41], 'price': 164.3624088853163}","{'qnt': [1], 'price': 84.12583055492051}","{'qnt': [10], 'price': 128.88}","{'qnt': [92.6423149569905], 'price': 33.817499...","{'qnt': [1526.701508354443], 'price': 93.33}",NaN,"{'qnt': [468.1532133923154], 'price': 79.20481...","{'qnt': [24], 'price': 107.48130325961503}",NaN,"{'qnt': [9], 'price': 136.37249720774693}"
31,labp6b2cjpv5oh2hne8,Wed Nov 13 23:32:15 2024,NaN,"{'qnt': [38], 'price': 108.78746041971552}",NaN,NaN,"{'qnt': [36], 'price': 84.12583055492051}",NaN,NaN,"{'qnt': [2140.2195590494507], 'price': 93.33}","{'qnt': [39.79904862991837], 'price': 89.325}","{'qnt': [438.65584768091566], 'price': 79.2048...","{'qnt': [29], 'price': 107.48130325961503}",NaN,NaN
32,labp6b2cqt4981lgyl,Thu Nov 14 03:51:00 2024,"{'qnt': [30], 'price': 219.75346588329785}","{'qnt': [45], 'price': 108.78746041971552}","{'qnt': [47], 'price': 4.390655516022672}","{'qnt': [8], 'price': 164.3624088853163}",NaN,"{'qnt': [13], 'price': 128.88}",NaN,"{'qnt': [1747.2113859344183], 'price': 93.33}",NaN,"{'qnt': [221.54480824479998], 'price': 79.2048...","{'qnt': [23], 'price': 107.48130325961503}",NaN,NaN
33,labp6b2chvpfp0f66ak,Thu Nov 14 05:25:35 2024,NaN,"{'qnt': [42], 'price': 108.78746041971552}",NaN,"{'qnt': [25], 'price': 164.3624088853163}",NaN,"{'qnt': [486], 'price': 128.88}","{'qnt': [710.3128910908096], 'price': 33.81749...","{'qnt': [1993.9161044239752], 'price': 93.33}","{'qnt': [36.92563956050138], 'price': 89.325}","{'qnt': [787.6330537219563], 'price': 79.20481...","{'qnt': [16], 'price': 107.48130325961503}","{'qnt': [29], 'price': 76.47122435524602}",NaN
34,labp6b2clx57um0rd7k,Wed Nov 13 16:55:58 2024,NaN,"{'qnt': [10], 'price': 108.78746041971552}",NaN,NaN,"{'qnt': [30], 'price': 84.12583055492051}",NaN,"{'qnt': [631.1662155554534], 'price': 33.81749...","{'qnt': [1567.3816755086812], 'price': 93.33}","{'qnt': [27.71170803402615], 'price': 89.325}","{'qnt': [271.63368743535], 'price': 79.2048111...",NaN,"{'qnt': [24], 'price': 76.47122435524602}",NaN
35,labp6b2cnrvs4wmewr,Wed Nov 13 17:33:40 2024,"{'qnt': [12], 'price': 219.75346588329785}","{'qnt': [3], 'price': 108.78746041971552}",NaN,"{'qnt': [47], 'price': 164.3624088853163}",NaN,"{'qnt': [39], 'price': 128.88}","{'qnt': [115.09889562707525], 'price': 33.8174...","{'qnt': [1948.7205061993386], 'price': 93.33}","{'qnt': [20.35515167020696], 'price': 89.325}","{'qnt': [546.6198542277649], 'price': 79.20481...",NaN,"{'qnt': [28], 'price': 76.47122435524602}","{'qnt': [8], 'price': 136.37249720774693}"
36,labp6b2cow8xeppung,Wed Nov 13 19:51:54 2024,NaN,NaN,"{'qnt': [20], 'price': 4.390655516022672}",NaN,NaN,"{'qnt': [31], 'price': 128.88}",NaN,"{'qnt': [1662.7687741031523], 'price': 93.33}","{'qnt': [74.54388102351926], 'price': 89.325}",NaN,"{'qnt': [37], 'price': 107.48130325961503}",NaN,"{'qnt': [33], 'price': 136.37249720774693}"

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[44, 36, 2, 14, 18, 32, 44, 29, 1, 49, 4, 27, ...","[42, 45, 43, 40, 20, 31, 25, 3, 3, 45, 0, 32, ...","[38, 3, 40, 40, 5, 9, 8, 35, 46, 16, 8, 2, 4, ...","[26, 12, 17, 37, 22, 27, 21, 19, 31, 40, 47, 1...","[33, 29, 28, 40, 48, 35, 26, 37, 34, 40, 17, 4...","[41, 39, 45, 4, 48, 7, 19, 10, 13, 46, 38, 17,...","[779, 212, 33, 189, 36, 659, 33, 205, 40, 708,...","[12.91989486427314, 46.4915525969969, 595.0502...","[90.87814382220107, 766.4862422241598, 194.827...","[1848.945575236304, 1918.7677623104757, 1467.5...","[11, 48, 43, 37, 14, 34, 29, 20, 46, 26, 4, 16...","[22, 49, 18, 12, 32, 13, 31, 20, 32, 48, 22, 4...","[108.7867429273077, 531.1244911185007, 758.398..."
price,107.481303,108.78746,4.390656,164.362409,84.125831,136.372497,128.88,89.325,33.8175,93.33,219.753466,76.471224,79.204811
next_week_price,161.221955,163.181191,4.390656,246.543613,126.188746,204.558746,193.32,133.9875,50.72625,139.995,329.630199,114.706837,79.204811

Semana 5:

Json:

,id,date,prod_3,prod_5,prod_6,prod_7,prod_8,prod_10,prod_11,prod_15,prod_0,prod_2,prod_4,prod_9,prod_1
0,labp6b8cyw0r0iwn0hg,Wed Nov 20 18:46:02 2024,"{'qnt': [21], 'price': 4.390655516022672}","{'qnt': [14], 'price': 126.18874583237746}","{'qnt': [9], 'price': 204.5587458024351}","{'qnt': [25], 'price': 114.70683653191311}","{'qnt': [1054], 'price': 193.32}","{'qnt': [913.477755151858], 'price': 50.726249...","{'qnt': [695.1616453886093], 'price': 79.20481...","{'qnt': [2017.597796487026], 'price': 139.995}",NaN,NaN,NaN,NaN,NaN
1,labp6b8cv87djyntnzf,Wed Nov 20 21:30:08 2024,NaN,NaN,"{'qnt': [42], 'price': 204.5587458024351}",NaN,"{'qnt': [416], 'price': 193.32}","{'qnt': [864.0920903754766], 'price': 50.72624...","{'qnt': [826.1450248901189], 'price': 79.20481...","{'qnt': [1945.797010464218], 'price': 139.995}","{'qnt': [28], 'price': 161.22195488083267}","{'qnt': [15], 'price': 163.18119062952331}","{'qnt': [48], 'price': 246.54361332662592}","{'qnt': [425.7482251262325], 'price': 133.9875}",NaN
2,labp6b8d00aliknbscm48,Thu Nov 21 00:29:09 2024,"{'qnt': [7], 'price': 4.390655516022672}",NaN,"{'qnt': [47], 'price': 204.5587458024351}","{'qnt': [2], 'price': 114.70683653191311}","{'qnt': [654], 'price': 193.32}","{'qnt': [951.7050418071658], 'price': 50.72624...",NaN,"{'qnt': [1735.488622560899], 'price': 139.995}",NaN,"{'qnt': [8], 'price': 163.18119062952331}","{'qnt': [31], 'price': 246.54361332662592}","{'qnt': [12.029207702534993], 'price': 133.9875}","{'qnt': [3], 'price': 329.630198822601}"
3,labp6b8di8109nn7a2,Wed Nov 20 16:16:29 2024,"{'qnt': [10], 'price': 4.390655516022672}",NaN,NaN,"{'qnt': [34], 'price': 114.70683653191311}","{'qnt': [38], 'price': 193.32}","{'qnt': [608.5796163988109], 'price': 50.72624...",NaN,"{'qnt': [1473.565873259219], 'price': 139.995}",NaN,NaN,"{'qnt': [19], 'price': 246.54361332662592}","{'qnt': [513.9297890773983], 'price': 133.9875}","{'qnt': [24], 'price': 329.630198822601}"
4,labp6b8dqefypsg2dm,Thu Nov 21 02:58:42 2024,"{'qnt': [24], 'price': 4.390655516022672}","{'qnt': [28], 'price': 126.18874583237746}","{'qnt': [5], 'price': 204.5587458024351}",NaN,"{'qnt': [599], 'price': 193.32}","{'qnt': [1002.4631422861435], 'price': 50.7262...",NaN,"{'qnt': [1304.567731543922], 'price': 139.995}",NaN,"{'qnt': [45], 'price': 163.18119062952331}","{'qnt': [22], 'price': 246.54361332662592}","{'qnt': [5.857984489264623], 'price': 133.9875}",NaN
5,labp6b8dr1e3y40903q,Thu Nov 21 04:49:55 2024,NaN,"{'qnt': [42], 'price': 126.18874583237746}",NaN,NaN,"{'qnt': [31], 'price': 193.32}",NaN,NaN,"{'qnt': [1845.3824597858456], 'price': 139.995}",NaN,NaN,NaN,"{'qnt': [918.0821669641946], 'price': 133.9875}",NaN
6,labp6b8dcqevftkmmtl,Thu Nov 21 07:43:44 2024,NaN,"{'qnt': [20], 'price': 126.18874583237746}","{'qnt': [27], 'price': 204.5587458024351}",NaN,"{'qnt': [558], 'price': 193.32}",NaN,NaN,"{'qnt': [1900.7248686130247], 'price': 139.995}",NaN,"{'qnt': [17], 'price': 163.18119062952331}",NaN,NaN,NaN
7,labp6b8d26lhvzjgm2s,Wed Nov 20 22:02:19 2024,"{'qnt': [48], 'price': 4.390655516022672}",NaN,"{'qnt': [43], 'price': 204.5587458024351}","{'qnt': [25], 'price': 114.70683653191311}","{'qnt': [23], 'price': 193.32}",NaN,"{'qnt': [755.9813374463197], 'price': 79.20481...","{'qnt': [1989.497164140967], 'price': 139.995}",NaN,"{'qnt': [35], 'price': 163.18119062952331}","{'qnt': [13], 'price': 246.54361332662592}","{'qnt': [850.2599146276839], 'price': 133.9875}","{'qnt': [46], 'price': 329.630198822601}"
8,labp6b8dq2e65m1lcop,Thu Nov 21 08:26:56 2024,NaN,NaN,NaN,NaN,"{'qnt': [918], 'price': 193.32}","{'qnt': [1058.3377920210994], 'price': 50.7262...",NaN,"{'qnt': [1454.6093769628412], 'price': 139.995}",NaN,"{'qnt': [9], 'price': 163.18119062952331}","{'qnt': [47], 'price': 246.54361332662592}","{'qnt': [663.1944313811019], 'price': 133.9875}","{'qnt': [38], 'price': 329.630198822601}"
9,labp6b8dr8l6qtbduwo,Wed Nov 20 20:44:42 2024,"{'qnt': [43], 'price': 4.390655516022672}",NaN,NaN,NaN,NaN,"{'qnt': [1015.5801019290096], 'price': 50.7262...",NaN,"{'qnt': [1635.7026546648535], 'price': 139.995}","{'qnt': [26], 'price': 161.22195488083267}","{'qnt': [16], 'price': 163.18119062952331}","{'qnt': [42], 'price': 246.54361332662592}","{'qnt': [865.635310385042], 'price': 133.9875}","{'qnt': [22], 'price': 329.630198822601}"
10,labp6b8djqv8k8jraxn,Thu Nov 21 04:04:15 2024,"{'qnt': [9], 'price': 4.390655516022672}","{'qnt': [49], 'price': 126.18874583237746}","{'qnt': [25], 'price': 204.5587458024351}","{'qnt': [39], 'price': 114.70683653191311}","{'qnt': [48], 'price': 193.32}","{'qnt': [809.5340418580613], 'price': 50.72624...","{'qnt': [382.03420814446605], 'price': 79.2048...","{'qnt': [2042.0539877899002], 'price': 139.995}","{'qnt': [40], 'price': 161.22195488083267}","{'qnt': [35], 'price': 163.18119062952331}","{'qnt': [10], 'price': 246.54361332662592}","{'qnt': [738.1546813152622], 'price': 133.9875}","{'qnt': [3], 'price': 329.630198822601}"
11,labp6b8dq9amir7zh9,Thu Nov 21 02:22:49 2024,"{'qnt': [4], 'price': 4.390655516022672}",NaN,"{'qnt': [1], 'price': 204.5587458024351}",NaN,"{'qnt': [1061], 'price': 193.32}","{'qnt': [1069.3110906284028], 'price': 50.7262...","{'qnt': [511.5634826606475], 'price': 79.20481...","{'qnt': [1879.3170095302085], 'price': 139.995}","{'qnt': [31], 'price': 161.22195488083267}","{'qnt': [7], 'price': 163.18119062952331}","{'qnt': [32], 'price': 246.54361332662592}","{'qnt': [47.25722753503663], 'price': 133.9875}",NaN
12,labp6b8djlb2tru3mxj,Wed Nov 20 22:04:12 2024,NaN,NaN,NaN,"{'qnt': [34], 'price': 114.70683653191311}",NaN,"{'qnt': [519.2957093568574], 'price': 50.72624...",NaN,"{'qnt': [1565.9616385050626], 'price': 139.995}","{'qnt': [24], 'price': 161.22195488083267}",NaN,NaN,"{'qnt': [1008.0975257485406], 'price': 133.9875}","{'qnt': [23], 'price': 329.630198822601}"
13,labp6b8dki8yjtllr2i,Thu Nov 21 03:02:37 2024,NaN,"{'qnt': [12], 'price': 126.18874583237746}",NaN,"{'qnt': [32], 'price': 114.70683653191311}","{'qnt': [43], 'price': 193.32}",NaN,"{'qnt': [1050.6799954555852], 'price': 79.2048...","{'qnt': [1965.0376819717549], 'price': 139.995}","{'qnt': [4], 'price': 161.22195488083267}","{'qnt': [2], 'price': 163.18119062952331}",NaN,NaN,"{'qnt': [48], 'price': 329.630198822601}"
14,labp6b8dg89i99rbhn,Thu Nov 21 06:58:00 2024,"{'qnt': [47], 'price': 4.390655516022672}",NaN,"{'qnt': [39], 'price': 204.5587458024351}","{'qnt': [13], 'price': 114.70683653191311}",NaN,NaN,"{'qnt': [750.1529832314385], 'price': 79.20481...","{'qnt': [2023.787122394591], 'price': 139.995}",NaN,"{'qnt': [22], 'price': 163.18119062952331}",NaN,"{'qnt': [652.2382422940738], 'price': 133.9875}",NaN
15,labp6b8dx9grvru4vc,Thu Nov 21 07:18:44 2024,"{'qnt': [36], 'price': 4.390655516022672}",NaN,NaN,"{'qnt': [7], 'price': 114.70683653191311}","{'qnt': [1006], 'price': 193.32}",NaN,NaN,"{'qnt': [1664.6550479207656], 'price': 139.995}","{'qnt': [46], 'price': 161.22195488083267}","{'qnt': [2], 'price': 163.18119062952331}",NaN,"{'qnt': [35.14437490199368], 'price': 133.9875}","{'qnt': [9], 'price': 329.630198822601}"
16,labp6b8dqg803sb5t2n,Thu Nov 21 06:20:42 2024,NaN,NaN,NaN,NaN,"{'qnt': [441], 'price': 193.32}","{'qnt': [757.7043271698967], 'price': 50.72624...","{'qnt': [995.7809281808086], 'price': 79.20481...","{'qnt': [2026.1896545249492], 'price': 139.995}","{'qnt': [38], 'price': 161.22195488083267}","{'qnt': [31], 'price': 163.18119062952331}",NaN,"{'qnt': [778.6067307453021], 'price': 133.9875}",NaN
17,labp6b8dit3dh5m1uer,Wed Nov 20 22:43:58 2024,NaN,NaN,"{'qnt': [46], 'price': 204.5587458024351}",NaN,"{'qnt': [708], 'price': 193.32}","{'qnt': [331.8946856074279], 'price': 50.72624...","{'qnt': [718.4251436969339], 'price': 79.20481...","{'qnt': [2049.38631177699], 'price': 139.995}","{'qnt': [31], 'price': 161.22195488083267}","{'qnt': [11], 'price': 163.18119062952331}",NaN,"{'qnt': [820.4226589533017], 'price': 133.9875}",NaN
18,labp6b8dbo43v20k3vm,Thu Nov 21 08:29:40 2024,"{'qnt': [24], 'price': 4.390655516022672}",NaN,"{'qnt': [48], 'price': 204.5587458024351}",NaN,"{'qnt': [705], 'price': 193.32}","{'qnt': [417.8719872449504], 'price': 50.72624...",NaN,"{'qnt': [1646.5293169732586], 'price': 139.995}","{'qnt': [45], 'price': 161.22195488083267}","{'qnt': [36], 'price': 163.18119062952331}",NaN,"{'qnt': [976.7569164520817], 'price': 133.9875}","{'qnt': [13], 'price': 329.630198822601}"
19,labp6b8dqcj7am7m5db,Wed Nov 20 16:37:20 2024,NaN,"{'qnt': [33], 'price': 126.18874583237746}","{'qnt': [9], 'price': 204.5587458024351}",NaN,NaN,NaN,"{'qnt': [333.8220444129047], 'price': 79.20481...","{'qnt': [1980.3181404594225], 'price': 139.995}","{'qnt': [21], 'price': 161.22195488083267}","{'qnt': [33], 'price': 163.18119062952331}","{'qnt': [39], 'price': 246.54361332662592}",NaN,"{'qnt': [38], 'price': 329.630198822601}"
20,labp6b8dtix7spzzbol,Wed Nov 20 21:28:56 2024,NaN,NaN,NaN,"{'qnt': [28], 'price': 114.70683653191311}","{'qnt': [522], 'price': 193.32}",NaN,"{'qnt': [457.79883374875806], 'price': 79.2048...","{'qnt': [1409.2774167417942], 'price': 139.995}","{'qnt': [44], 'price': 161.22195488083267}","{'qnt': [12], 'price': 163.18119062952331}",NaN,NaN,NaN
21,labp6b8d1fnf9fwfp7l,Thu Nov 21 03:18:07 2024,NaN,"{'qnt': [49], 'price': 126.18874583237746}","{'qnt': [8], 'price': 204.5587458024351}",NaN,"{'qnt': [763], 'price': 193.32}",NaN,"{'qnt': [671.1872309345315], 'price': 79.20481...","{'qnt': [1524.1167053190338], 'price': 139.995}","{'qnt': [44], 'price': 161.22195488083267}","{'qnt': [2], 'price': 163.18119062952331}",NaN,NaN,"{'qnt': [46], 'price': 329.630198822601}"
22,labp6b8dc3gydm0fv9h,Wed Nov 20 16:24:52 2024,NaN,"{'qnt': [13], 'price': 126.18874583237746}",NaN,NaN,NaN,NaN,"{'qnt': [569.5825745773657], 'price': 79.20481...","{'qnt': [1867.7313764388612], 'price': 139.995}",NaN,NaN,NaN,"{'qnt': [23.655245161996884], 'price': 133.9875}","{'qnt': [3], 'price': 329.630198822601}"
23,labp6b8dqpkgj2cj6ms,Thu Nov 21 05:11:01 2024,NaN,"{'qnt': [14], 'price': 126.18874583237746}","{'qnt': [4], 'price': 204.5587458024351}",NaN,"{'qnt': [532], 'price': 193.32}","{'qnt': [701.3608880759382], 'price': 50.72624...",NaN,"{'qnt': [2031.688474693288], 'price': 139.995}","{'qnt': [49], 'price': 161.22195488083267}",NaN,NaN,NaN,"{'qnt': [16], 'price': 329.630198822601}"
24,labp6b8dm6785djya2i,Wed Nov 20 21:54:17 2024,"{'qnt': [41], 'price': 4.390655516022672}","{'qnt': [34], 'price': 126.18874583237746}",NaN,"{'qnt': [18], 'price': 114.70683653191311}","{'qnt': [618], 'price': 193.32}","{'qnt': [790.4415731125769], 'price': 50.72624...","{'qnt': [549.5079961013157], 'price': 79.20481...","{'qnt': [1348.2262205090233], 'price': 139.995}","{'qnt': [21], 'price': 161.22195488083267}","{'qnt': [13], 'price': 163.18119062952331}","{'qnt': [27], 'price': 246.54361332662592}","{'qnt': [834.8227796930621], 'price': 133.9875}",NaN
25,labp6b8dgjsgfdu9vb8,Wed Nov 20 19:46:03 2024,"{'qnt': [30], 'price': 4.390655516022672}","{'qnt': [10], 'price': 126.18874583237746}","{'qnt': [35], 'price': 204.5587458024351}","{'qnt': [43], 'price': 114.70683653191311}",NaN,"{'qnt': [808.6009024689013], 'price': 50.72624...","{'qnt': [518.7709468012374], 'price': 79.20481...","{'qnt': [1389.8848600147696], 'price': 139.995}",NaN,"{'qnt': [9], 'price': 163.18119062952331}","{'qnt': [17], 'price': 246.54361332662592}","{'qnt': [649.014726650948], 'price': 133.9875}",NaN
26,labp6b8ddeus5v5bt0f,Thu Nov 21 07:16:58 2024,"{'qnt': [12], 'price': 4.390655516022672}",NaN,"{'qnt': [48], 'price': 204.5587458024351}","{'qnt': [37], 'price': 114.70683653191311}",NaN,"{'qnt': [849.9986382022267], 'price': 50.72624...","{'qnt': [808.5573025362536], 'price': 79.20481...","{'qnt': [1857.0242266780558], 'price': 139.995}",NaN,NaN,"{'qnt': [44], 'price': 246.54361332662592}","{'qnt': [902.0755717584001], 'price': 133.9875}","{'qnt': [12], 'price': 329.630198822601}"

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[28, 26, 40, 31, 24, 4, 46, 38, 31, 45, 21, 44...","[15, 8, 45, 17, 35, 9, 16, 35, 7, 2, 22, 2, 31...","[21, 7, 10, 24, 48, 43, 9, 4, 47, 36, 24, 41, ...","[48, 31, 19, 22, 13, 47, 42, 10, 32, 39, 27, 1...","[14, 28, 42, 20, 49, 12, 33, 49, 13, 14, 34, 10]","[9, 42, 47, 5, 27, 43, 25, 1, 39, 46, 48, 9, 8...","[1054, 416, 654, 38, 599, 31, 558, 23, 918, 48...","[425.7482251262325, 12.029207702534993, 513.92...","[913.477755151858, 864.0920903754766, 951.7050...","[2017.597796487026, 1945.797010464218, 1735.48...","[3, 24, 46, 38, 22, 3, 23, 48, 9, 13, 38, 46, ...","[25, 2, 34, 25, 39, 34, 32, 13, 7, 28, 18, 43,...","[695.1616453886093, 826.1450248901189, 755.981..."
price,161.221955,163.181191,4.390656,246.543613,126.188746,204.558746,193.32,133.9875,50.72625,139.995,329.630199,114.706837,79.204811
next_week_price,241.832932,244.771779,6.585983,369.81542,189.283119,306.838119,289.98,200.98125,76.089375,209.9925,494.445298,172.060255,118.807217

Semana 6:

Json:

,id,date,prod_2,prod_5,prod_7,prod_9,prod_8,prod_10,prod_15,prod_1,prod_3,prod_0,prod_4,prod_11,prod_6
0,labp6bdd38hi4jc27fq,Wed Nov 27 16:36:18 2024,"{'qnt': [50], 'price': 244.7717791886856}","{'qnt': [24], 'price': 189.28311874750324}","{'qnt': [23], 'price': 172.06025479614925}","{'qnt': [10.000411989975344], 'price': 200.981...","{'qnt': [700], 'price': 289.98}","{'qnt': [463.41119070630435], 'price': 76.0893...","{'qnt': [1455.153005036294], 'price': 209.9925}",NaN,NaN,NaN,NaN,NaN,NaN
1,labp6bdd57nsnuci63x,Thu Nov 28 01:26:07 2024,NaN,"{'qnt': [25], 'price': 189.28311874750324}","{'qnt': [8], 'price': 172.06025479614925}",NaN,NaN,"{'qnt': [346.3712976082347], 'price': 76.08937...","{'qnt': [1873.5730040068472], 'price': 209.9925}","{'qnt': [38], 'price': 494.4452981356133}","{'qnt': [37], 'price': 6.58598327392603}",NaN,NaN,NaN,NaN
2,labp6bdd9zecue3d7ec,Thu Nov 28 01:12:29 2024,NaN,"{'qnt': [44], 'price': 189.28311874750324}","{'qnt': [3], 'price': 172.06025479614925}","{'qnt': [449.3949738033666], 'price': 200.9812...",NaN,"{'qnt': [233.06277957055465], 'price': 76.0893...","{'qnt': [1613.0395354070602], 'price': 209.9925}","{'qnt': [15], 'price': 494.4452981356133}","{'qnt': [39], 'price': 6.58598327392603}","{'qnt': [47], 'price': 241.8329323212465}","{'qnt': [35], 'price': 369.8154199898808}",NaN,NaN
3,labp6bddnoloz6yn3,Wed Nov 27 18:48:26 2024,"{'qnt': [21], 'price': 244.7717791886856}",NaN,"{'qnt': [19], 'price': 172.06025479614925}",NaN,"{'qnt': [385], 'price': 289.98}","{'qnt': [465.6114149467573], 'price': 76.08937...","{'qnt': [1388.9600359775295], 'price': 209.9925}","{'qnt': [24], 'price': 494.4452981356133}",NaN,NaN,"{'qnt': [7], 'price': 369.8154199898808}","{'qnt': [86.9028662615056], 'price': 118.80721...",NaN
4,labp6bddfi4z0p32soe,Wed Nov 27 16:49:45 2024,"{'qnt': [1], 'price': 244.7717791886856}","{'qnt': [31], 'price': 189.28311874750324}",NaN,"{'qnt': [59.820699945037816], 'price': 200.981...","{'qnt': [43], 'price': 289.98}",NaN,"{'qnt': [1869.944004471768], 'price': 209.9925}","{'qnt': [10], 'price': 494.4452981356133}","{'qnt': [20], 'price': 6.58598327392603}","{'qnt': [48], 'price': 241.8329323212465}","{'qnt': [33], 'price': 369.8154199898808}",NaN,"{'qnt': [43], 'price': 306.8381187028387}"
5,labp6bdd1xcr39mmhzq,Thu Nov 28 00:26:49 2024,NaN,"{'qnt': [46], 'price': 189.28311874750324}",NaN,"{'qnt': [551.9604438347465], 'price': 200.9812...","{'qnt': [170], 'price': 289.98}","{'qnt': [0], 'price': 76.08937499999999}","{'qnt': [1535.8934146350498], 'price': 209.9925}",NaN,"{'qnt': [5], 'price': 6.58598327392603}","{'qnt': [22], 'price': 241.8329323212465}","{'qnt': [47], 'price': 369.8154199898808}",NaN,"{'qnt': [17], 'price': 306.8381187028387}"
6,labp6bdd3m6gcwp4607,Wed Nov 27 21:32:54 2024,"{'qnt': [45], 'price': 244.7717791886856}",NaN,"{'qnt': [5], 'price': 172.06025479614925}","{'qnt': [20.582757158277964], 'price': 200.981...","{'qnt': [791], 'price': 289.98}","{'qnt': [292.9731793502903], 'price': 76.08937...","{'qnt': [1232.1372607228825], 'price': 209.9925}",NaN,NaN,NaN,"{'qnt': [28], 'price': 369.8154199898808}",NaN,NaN
7,labp6bdd2hi20j8v3c2,Wed Nov 27 22:54:00 2024,"{'qnt': [18], 'price': 244.7717791886856}",NaN,NaN,"{'qnt': [24.914471127536945], 'price': 200.981...",NaN,NaN,"{'qnt': [1709.1757741065446], 'price': 209.9925}","{'qnt': [36], 'price': 494.4452981356133}","{'qnt': [44], 'price': 6.58598327392603}","{'qnt': [34], 'price': 241.8329323212465}",NaN,"{'qnt': [640.9526406993685], 'price': 118.8072...",NaN
8,labp6bdd77nf7h8g4q8,Wed Nov 27 21:11:42 2024,"{'qnt': [45], 'price': 244.7717791886856}",NaN,NaN,"{'qnt': [37.28293238344159], 'price': 200.9812...","{'qnt': [1], 'price': 289.98}","{'qnt': [637.3489670331118], 'price': 76.08937...","{'qnt': [1354.8308171624215], 'price': 209.9925}","{'qnt': [32], 'price': 494.4452981356133}","{'qnt': [50], 'price': 6.58598327392603}","{'qnt': [1], 'price': 241.8329323212465}","{'qnt': [19], 'price': 369.8154199898808}",NaN,NaN
9,labp6bdd2co6aofqowg,Wed Nov 27 17:27:58 2024,NaN,NaN,"{'qnt': [20], 'price': 172.06025479614925}","{'qnt': [14.788263013218138], 'price': 200.981...","{'qnt': [338], 'price': 289.98}",NaN,"{'qnt': [1388.181845513156], 'price': 209.9925}",NaN,NaN,"{'qnt': [12], 'price': 241.8329323212465}","{'qnt': [4], 'price': 369.8154199898808}",NaN,NaN
10,labp6bddhn05tnkpzur,Wed Nov 27 20:09:06 2024,NaN,"{'qnt': [26], 'price': 189.28311874750324}","{'qnt': [44], 'price': 172.06025479614925}",NaN,"{'qnt': [719], 'price': 289.98}",NaN,"{'qnt': [1938.7585827084042], 'price': 209.9925}",NaN,NaN,"{'qnt': [4], 'price': 241.8329323212465}","{'qnt': [5], 'price': 369.8154199898808}",NaN,NaN
11,labp6bddn02yfivo527,Thu Nov 28 03:57:50 2024,NaN,NaN,"{'qnt': [47], 'price': 172.06025479614925}","{'qnt': [20.688978747371834], 'price': 200.981...","{'qnt': [27], 'price': 289.98}",NaN,"{'qnt': [1605.4577213023485], 'price': 209.9925}","{'qnt': [18], 'price': 494.4452981356133}",NaN,NaN,"{'qnt': [46], 'price': 369.8154199898808}",NaN,"{'qnt': [42], 'price': 306.8381187028387}"

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[47, 48, 22, 34, 1, 12, 4]","[50, 21, 1, 45, 18, 45]","[37, 39, 20, 5, 44, 50]","[35, 7, 33, 47, 28, 19, 4, 5, 46]","[24, 25, 44, 31, 46, 26]","[43, 17, 42]","[700, 385, 43, 170, 791, 1, 338, 719, 27]","[10.000411989975344, 449.3949738033666, 59.820...","[463.41119070630435, 346.3712976082347, 233.06...","[1455.153005036294, 1873.5730040068472, 1613.0...","[38, 15, 24, 10, 36, 32, 18]","[23, 8, 3, 19, 5, 20, 44, 47]","[86.9028662615056, 640.9526406993685]"
price,241.832932,244.771779,6.585983,369.81542,189.283119,306.838119,289.98,200.98125,76.089375,209.9925,494.445298,172.060255,118.807217
next_week_price,362.749398,367.157669,9.878975,554.72313,283.924678,460.257178,434.97,301.471875,114.134062,314.98875,741.667947,258.090382,178.210825

Semana 7:

Json:

,id,date,prod_0,prod_2,prod_5,prod_6,prod_7,prod_8,prod_10,prod_15,prod_3,prod_4,prod_9,prod_11,prod_1
0,labp6bg540i4yizok0q,Thu Dec 5 00:44:06 2024,"{'qnt': [25], 'price': 362.74939845705313}","{'qnt': [48], 'price': 367.15766878296614}","{'qnt': [17], 'price': 283.9246781212515}","{'qnt': [6], 'price': 460.2571780542566}","{'qnt': [25], 'price': 258.0903818812529}","{'qnt': [325], 'price': 434.97}","{'qnt': [0], 'price': 114.13406249999998}","{'qnt': [1398.202849088267], 'price': 314.98875}",NaN,NaN,NaN,NaN,NaN
1,labp6bg52s61gng6gpk,Thu Dec 5 07:02:38 2024,NaN,NaN,NaN,NaN,"{'qnt': [0], 'price': 258.0903818812529}",NaN,"{'qnt': [0], 'price': 114.13406249999998}","{'qnt': [1331.2859153012619], 'price': 314.98875}","{'qnt': [30], 'price': 9.878974910888907}","{'qnt': [50], 'price': 554.7231299692195}","{'qnt': [35.164864309887214], 'price': 301.471...",NaN,NaN
2,labp6bg509hyah0kzv3u,Thu Dec 5 06:21:15 2024,"{'qnt': [21], 'price': 362.74939845705313}",NaN,"{'qnt': [4], 'price': 283.9246781212515}","{'qnt': [22], 'price': 460.2571780542566}",NaN,"{'qnt': [123], 'price': 434.97}",NaN,"{'qnt': [1559.963673570564], 'price': 314.98875}","{'qnt': [17], 'price': 9.878974910888907}",NaN,"{'qnt': [0], 'price': 301.471875}","{'qnt': [0], 'price': 178.21082499348677}",NaN
3,labp6bg5oe283yosu9,Wed Dec 4 19:09:27 2024,"{'qnt': [34], 'price': 362.74939845705313}",NaN,NaN,NaN,NaN,"{'qnt': [0], 'price': 434.97}","{'qnt': [236.11125171567505], 'price': 114.134...","{'qnt': [1883.0431303358307], 'price': 314.98875}","{'qnt': [1], 'price': 9.878974910888907}","{'qnt': [29], 'price': 554.7231299692195}",NaN,"{'qnt': [50.789804276933694], 'price': 178.210...","{'qnt': [44], 'price': 741.6679471785809}"
4,labp6bg50egvpmomdi07,Thu Dec 5 04:31:25 2024,"{'qnt': [7], 'price': 362.74939845705313}","{'qnt': [48], 'price': 367.15766878296614}",NaN,"{'qnt': [12], 'price': 460.2571780542566}",NaN,"{'qnt': [43], 'price': 434.97}","{'qnt': [268.6164473255411], 'price': 114.1340...","{'qnt': [1169.7222956543392], 'price': 314.98875}",NaN,"{'qnt': [16], 'price': 554.7231299692195}",NaN,NaN,"{'qnt': [29], 'price': 741.6679471785809}"
5,labp6bg50qkmi2ynjiu,Wed Dec 4 18:06:45 2024,"{'qnt': [24], 'price': 362.74939845705313}","{'qnt': [40], 'price': 367.15766878296614}","{'qnt': [7], 'price': 283.9246781212515}",NaN,"{'qnt': [31], 'price': 258.0903818812529}","{'qnt': [48], 'price': 434.97}","{'qnt': [270.5712807847618], 'price': 114.1340...","{'qnt': [1231.5104625654717], 'price': 314.98875}",NaN,"{'qnt': [43], 'price': 554.7231299692195}","{'qnt': [181.76390775225218], 'price': 301.471...",NaN,"{'qnt': [33], 'price': 741.6679471785809}"
6,labp6bg5xcvj5ycwa1k,Wed Dec 4 21:13:03 2024,"{'qnt': [24], 'price': 362.74939845705313}",NaN,NaN,"{'qnt': [21], 'price': 460.2571780542566}","{'qnt': [18], 'price': 258.0903818812529}","{'qnt': [36], 'price': 434.97}",NaN,"{'qnt': [1363.0211079715127], 'price': 314.98875}",NaN,"{'qnt': [39], 'price': 554.7231299692195}","{'qnt': [123.1036770459184], 'price': 301.471875}",NaN,"{'qnt': [49], 'price': 741.6679471785809}"
7,labp6bg5euovuff678,Wed Dec 4 18:08:45 2024,NaN,NaN,NaN,NaN,"{'qnt': [5], 'price': 258.0903818812529}","{'qnt': [46], 'price': 434.97}",NaN,"{'qnt': [1769.0983380428383], 'price': 314.98875}",NaN,NaN,"{'qnt': [41.98566865880616], 'price': 301.471875}","{'qnt': [0], 'price': 178.21082499348677}","{'qnt': [1], 'price': 741.6679471785809}"
8,labp6bg5j82ly8pnbp,Wed Dec 4 21:15:44 2024,"{'qnt': [30], 'price': 362.74939845705313}","{'qnt': [24], 'price': 367.15766878296614}",NaN,NaN,NaN,"{'qnt': [333], 'price': 434.97}","{'qnt': [71.08298179961258], 'price': 114.1340...","{'qnt': [1395.9794968870717], 'price': 314.98875}",NaN,"{'qnt': [15], 'price': 554.7231299692195}",NaN,"{'qnt': [396.6890729013132], 'price': 178.2108...","{'qnt': [48], 'price': 741.6679471785809}"
9,labp6bg5cgopimh4vk7,Thu Dec 5 03:10:16 2024,"{'qnt': [34], 'price': 362.74939845705313}","{'qnt': [37], 'price': 367.15766878296614}",NaN,NaN,"{'qnt': [45], 'price': 258.0903818812529}","{'qnt': [0], 'price': 434.97}",NaN,"{'qnt': [1680.1582613900846], 'price': 314.98875}",NaN,NaN,"{'qnt': [35.32856974191406], 'price': 301.471875}",NaN,"{'qnt': [30], 'price': 741.6679471785809}"
10,labp6bg5qa0lk2wwsyn,Wed Dec 4 18:54:32 2024,NaN,NaN,NaN,NaN,"{'qnt': [41], 'price': 258.0903818812529}","{'qnt': [29], 'price': 434.97}",NaN,"{'qnt': [1547.970745983944], 'price': 314.98875}",NaN,"{'qnt': [49], 'price': 554.7231299692195}",NaN,NaN,"{'qnt': [17], 'price': 741.6679471785809}"
11,labp6bg53vymv8sjj0r,Wed Dec 4 18:39:48 2024,NaN,"{'qnt': [12], 'price': 367.15766878296614}",NaN,"{'qnt': [8], 'price': 460.2571780542566}","{'qnt': [10], 'price': 258.0903818812529}","{'qnt': [60], 'price': 434.97}","{'qnt': [0], 'price': 114.13406249999998}","{'qnt': [1209.1330762846037], 'price': 314.98875}","{'qnt': [47], 'price': 9.878974910888907}",NaN,"{'qnt': [0], 'price': 301.471875}",NaN,NaN
12,labp6bg5ivswsp2fyjb,Thu Dec 5 03:54:21 2024,NaN,NaN,NaN,"{'qnt': [39], 'price': 460.2571780542566}",NaN,"{'qnt': [415], 'price': 434.97}","{'qnt': [0], 'price': 114.13406249999998}","{'qnt': [1251.5101964393475], 'price': 314.98875}","{'qnt': [11], 'price': 9.878974910888907}","{'qnt': [37], 'price': 554.7231299692195}","{'qnt': [0], 'price': 301.471875}",NaN,"{'qnt': [25], 'price': 741.6679471785809}"
13,labp6bg5i1fy9lqsspk,Wed Dec 4 20:08:17 2024,"{'qnt': [41], 'price': 362.74939845705313}",NaN,"{'qnt': [23], 'price': 283.9246781212515}","{'qnt': [49], 'price': 460.2571780542566}",NaN,"{'qnt': [0], 'price': 434.97}","{'qnt': [0], 'price': 114.13406249999998}","{'qnt': [1386.6539667216637], 'price': 314.98875}","{'qnt': [6], 'price': 9.878974910888907}",NaN,"{'qnt': [478.58627363720046], 'price': 301.471...",NaN,"{'qnt': [32], 'price': 741.6679471785809}"
14,labp6bg5tdeeg9737sm,Wed Dec 4 19:17:32 2024,NaN,"{'qnt': [13], 'price': 367.15766878296614}",NaN,"{'qnt': [34], 'price': 460.2571780542566}",NaN,"{'qnt': [48], 'price': 434.97}","{'qnt': [0], 'price': 114.13406249999998}","{'qnt': [1273.9079408895805], 'price': 314.98875}","{'qnt': [3], 'price': 9.878974910888907}",NaN,"{'qnt': [151.81822051532316], 'price': 301.471...","{'qnt': [302.61036790341444], 'price': 178.210...","{'qnt': [37], 'price': 741.6679471785809}"
15,labp6bg55ij11lzbksf,Thu Dec 5 02:45:03 2024,NaN,NaN,NaN,"{'qnt': [30], 'price': 460.2571780542566}",NaN,NaN,"{'qnt': [0], 'price': 114.13406249999998}","{'qnt': [1509.7354588589733], 'price': 314.98875}",NaN,NaN,NaN,"{'qnt': [20.096077678119173], 'price': 178.210...","{'qnt': [8], 'price': 741.6679471785809}"
16,labp6bg55tvvwiu5swj,Thu Dec 5 06:45:56 2024,NaN,NaN,"{'qnt': [34], 'price': 283.9246781212515}","{'qnt': [13], 'price': 460.2571780542566}",NaN,NaN,"{'qnt': [0], 'price': 114.13406249999998}","{'qnt': [1813.000327407032], 'price': 314.98875}",NaN,"{'qnt': [43], 'price': 554.7231299692195}",NaN,"{'qnt': [167.20648879640726], 'price': 178.210...","{'qnt': [5], 'price': 741.6679471785809}"
17,labp6bg5911we59oo6a,Thu Dec 5 04:32:50 2024,"{'qnt': [32], 'price': 362.74939845705313}","{'qnt': [40], 'price': 367.15766878296614}",NaN,NaN,NaN,NaN,"{'qnt': [465.97924873044445], 'price': 114.134...","{'qnt': [1636.0445089615955], 'price': 314.98875}",NaN,NaN,"{'qnt': [196.8920606852824], 'price': 301.471875}",NaN,NaN
18,labp6bg5psm11kalntm,Wed Dec 4 22:36:01 2024,NaN,NaN,NaN,"{'qnt': [6], 'price': 460.2571780542566}",NaN,"{'qnt': [4], 'price': 434.97}","{'qnt': [167.28614027357054], 'price': 114.134...","{'qnt': [1309.6779492580608], 'price': 314.98875}",NaN,NaN,NaN,NaN,"{'qnt': [50], 'price': 741.6679471785809}"
19,labp6bg55au5eayrvke,Thu Dec 5 02:22:54 2024,NaN,"{'qnt': [20], 'price': 367.15766878296614}","{'qnt': [5], 'price': 283.9246781212515}","{'qnt': [24], 'price': 460.2571780542566}",NaN,"{'qnt': [14], 'price': 434.97}",NaN,"{'qnt': [1114.9556511790317], 'price': 314.98875}","{'qnt': [0], 'price': 9.878974910888907}","{'qnt': [22], 'price': 554.7231299692195}","{'qnt': [31.1613548877288], 'price': 301.471875}","{'qnt': [0], 'price': 178.21082499348677}","{'qnt': [41], 'price': 741.6679471785809}"
20,labp6bg5u0sz2anxxcc,Thu Dec 5 05:09:31 2024,"{'qnt': [26], 'price': 362.74939845705313}",NaN,NaN,NaN,NaN,"{'qnt': [21], 'price': 434.97}",NaN,"{'qnt': [1803.9153516443876], 'price': 314.98875}","{'qnt': [6], 'price': 9.878974910888907}","{'qnt': [4], 'price': 554.7231299692195}","{'qnt': [3.4701554920548494], 'price': 301.471...","{'qnt': [426.5151430198199], 'price': 178.2108...",NaN
21,labp6bg5khsv7xcni,Wed Dec 4 23:22:55 2024,"{'qnt': [35], 'price': 362.74939845705313}",NaN,NaN,NaN,NaN,"{'qnt': [263], 'price': 434.97}",NaN,"{'qnt': [1628.4182269371179], 'price': 314.98875}","{'qnt': [15], 'price': 9.878974910888907}","{'qnt': [17], 'price': 554.7231299692195}",NaN,"{'qnt': [30.338182177859096], 'price': 178.210...","{'qnt': [37], 'price': 741.6679471785809}"

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[25, 21, 34, 7, 24, 24, 30, 34, 41, 32, 26, 35]","[48, 48, 40, 24, 37, 12, 13, 40, 20]","[30, 17, 1, 47, 11, 6, 3, 0, 6, 15]","[50, 29, 16, 43, 39, 15, 49, 37, 43, 22, 4, 17]","[17, 4, 7, 23, 34, 5]","[6, 22, 12, 21, 8, 39, 49, 34, 30, 13, 6, 24]","[325, 123, 0, 43, 48, 36, 46, 333, 0, 29, 60, ...","[35.164864309887214, 0, 181.76390775225218, 12...","[0, 0, 236.11125171567505, 268.6164473255411, ...","[1398.202849088267, 1331.2859153012619, 1559.9...","[44, 29, 33, 49, 1, 48, 30, 17, 25, 32, 37, 8,...","[25, 0, 31, 18, 5, 45, 41, 10]","[0, 50.789804276933694, 0, 396.6890729013132, ..."
price,362.749398,367.157669,9.878975,554.72313,283.924678,460.257178,434.97,301.471875,114.134062,314.98875,741.667947,258.090382,178.210825
next_week_price,544.124098,550.736503,14.818429,832.084695,425.886781,690.385767,652.455,452.207813,171.201094,472.483125,1112.501921,387.135573,267.316237

Semana 8:

Json:

,id,date,prod_0,prod_1,prod_2,prod_4,prod_7,prod_10,prod_11,prod_15,prod_6,prod_8,prod_9,prod_3
0,labp6bjz7f6uz8s5czx,Wed Dec 11 16:46:16 2024,"{'qnt': [22], 'price': 544.1240976847042}","{'qnt': [31], 'price': 1112.5019207677417}","{'qnt': [9], 'price': 550.7365031744246}","{'qnt': [18], 'price': 832.0846949537281}","{'qnt': [47], 'price': 387.13557260012374}","{'qnt': [523.0981319095187], 'price': 171.2010...","{'qnt': [108.67345488057195], 'price': 267.316...","{'qnt': [1573.7015962723087], 'price': 472.483...",NaN,NaN,NaN,NaN
1,labp6bjzu78p14uxeom,Thu Dec 12 07:35:04 2024,"{'qnt': [39], 'price': 544.1240976847042}",NaN,NaN,NaN,NaN,NaN,NaN,"{'qnt': [1322.554447895069], 'price': 472.483125}","{'qnt': [29], 'price': 690.3857667323921}","{'qnt': [209], 'price': 652.455}","{'qnt': [727.8493942655457], 'price': 452.2078...",NaN
2,labp6bjz2shhwpz47h8,Wed Dec 11 19:28:57 2024,"{'qnt': [8], 'price': 544.1240976847042}",NaN,"{'qnt': [42], 'price': 550.7365031744246}",NaN,NaN,"{'qnt': [446.1250737662554], 'price': 171.2010...",NaN,"{'qnt': [1203.3236075724794], 'price': 472.483...",NaN,"{'qnt': [33], 'price': 652.455}","{'qnt': [374.9719790113395], 'price': 452.2078...","{'qnt': [19], 'price': 14.81842905439179}"
3,labp6bjz5p208kj2dmp,Thu Dec 12 08:15:02 2024,"{'qnt': [4], 'price': 544.1240976847042}","{'qnt': [12], 'price': 1112.5019207677417}",NaN,NaN,NaN,"{'qnt': [740.3999904818149], 'price': 171.2010...",NaN,"{'qnt': [1168.3510431782772], 'price': 472.483...",NaN,"{'qnt': [9], 'price': 652.455}","{'qnt': [300.1067501650145], 'price': 452.2078...","{'qnt': [25], 'price': 14.81842905439179}"
4,labp6bjz9mwm6yd3zp5,Wed Dec 11 17:21:35 2024,NaN,"{'qnt': [1], 'price': 1112.5019207677417}",NaN,NaN,"{'qnt': [50], 'price': 387.13557260012374}",NaN,"{'qnt': [762.8492869027165], 'price': 267.3162...","{'qnt': [1694.2543889018662], 'price': 472.483...","{'qnt': [14], 'price': 690.3857667323921}",NaN,NaN,NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[22, 39, 8, 4]","[9, 42]","[19, 25]",[18],[0],"[29, 14]","[209, 33, 9]","[727.8493942655457, 374.9719790113395, 300.106...","[523.0981319095187, 446.1250737662554, 740.399...","[1573.7015962723087, 1322.554447895069, 1203.3...","[31, 12, 1]","[47, 50]","[108.67345488057195, 762.8492869027165]"
price,544.124098,550.736503,14.818429,832.084695,283.924678,690.385767,652.455,452.207813,171.201094,472.483125,1112.501921,387.135573,267.316237
next_week_price,816.186129,826.104755,22.227644,1248.127008,218.321446,1035.578649,978.6825,678.311719,256.801641,708.724687,1668.75159,580.703359,400.974356

Semana 9:

Json:

,id,date,prod_0,prod_4,prod_5,prod_9,prod_10,prod_15,prod_1,prod_2,prod_3,prod_7,prod_8,prod_6,prod_11
0,labp6bleelhz25y3pq,Thu Dec 19 07:36:19 2024,"{'qnt': [0], 'price': 816.1861289834798}","{'qnt': [2], 'price': 1248.1270079828055}","{'qnt': [15], 'price': 218.32144555657345}","{'qnt': [900.6623534992927], 'price': 678.3117...","{'qnt': [638.3419052204478], 'price': 256.8016...","{'qnt': [1249.8089854902798], 'price': 708.724...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labp6ble64m2utpdb8d,Thu Dec 19 04:08:12 2024,NaN,"{'qnt': [6], 'price': 1248.1270079828055}","{'qnt': [7], 'price': 218.32144555657345}","{'qnt': [392.38383855376503], 'price': 678.311...","{'qnt': [439.76011797742456], 'price': 256.801...","{'qnt': [1550.0832692897793], 'price': 708.724...","{'qnt': [36], 'price': 1668.7515901037407}","{'qnt': [4], 'price': 826.1047547490265}","{'qnt': [27], 'price': 22.22764357035152}","{'qnt': [28], 'price': 580.7033589001855}","{'qnt': [871], 'price': 978.6825000000001}",NaN,NaN
2,labp6blekuecbi2wec8,Thu Dec 19 05:37:58 2024,"{'qnt': [30], 'price': 816.1861289834798}",NaN,"{'qnt': [24], 'price': 218.32144555657345}","{'qnt': [643.7338382496955], 'price': 678.3117...",NaN,"{'qnt': [1136.0179642089256], 'price': 708.724...",NaN,"{'qnt': [5], 'price': 826.1047547490265}",NaN,NaN,"{'qnt': [36], 'price': 978.6825000000001}",NaN,NaN
3,labp6bleushy5wnian,Wed Dec 18 18:50:51 2024,"{'qnt': [47], 'price': 816.1861289834798}",NaN,"{'qnt': [1], 'price': 218.32144555657345}","{'qnt': [1053.140396504913], 'price': 678.3117...",NaN,"{'qnt': [1463.1041853381985], 'price': 708.724...",NaN,"{'qnt': [47], 'price': 826.1047547490265}",NaN,"{'qnt': [15], 'price': 580.7033589001855}",NaN,"{'qnt': [49], 'price': 1035.5786492355003}","{'qnt': [447.39446089299213], 'price': 400.974..."
4,labp6bleqy29sn6irda,Thu Dec 19 07:33:21 2024,NaN,NaN,"{'qnt': [9], 'price': 218.32144555657345}","{'qnt': [312.489723183951], 'price': 678.31171...",NaN,"{'qnt': [1567.6240768522496], 'price': 708.724...",NaN,"{'qnt': [40], 'price': 826.1047547490265}",NaN,NaN,NaN,NaN,NaN
5,labp6ble7ucnevgetc,Thu Dec 19 04:10:38 2024,"{'qnt': [24], 'price': 816.1861289834798}",NaN,"{'qnt': [39], 'price': 218.32144555657345}","{'qnt': [815.8999647647623], 'price': 678.3117...","{'qnt': [555.9966771692971], 'price': 256.8016...","{'qnt': [1184.6862666683523], 'price': 708.724...","{'qnt': [18], 'price': 1668.7515901037407}","{'qnt': [11], 'price': 826.1047547490265}","{'qnt': [21], 'price': 22.22764357035152}","{'qnt': [22], 'price': 580.7033589001855}","{'qnt': [6], 'price': 978.6825000000001}","{'qnt': [13], 'price': 1035.5786492355003}","{'qnt': [615.3803297279555], 'price': 400.9743..."
6,labp6blefs77zcnqkug,Thu Dec 19 01:42:31 2024,NaN,NaN,"{'qnt': [16], 'price': 218.32144555657345}","{'qnt': [1059.3105312614878], 'price': 678.311...","{'qnt': [964.0872702896356], 'price': 256.8016...","{'qnt': [1376.8654500532555], 'price': 708.724...",NaN,"{'qnt': [32], 'price': 826.1047547490265}","{'qnt': [8], 'price': 22.22764357035152}","{'qnt': [24], 'price': 580.7033589001855}","{'qnt': [31], 'price': 978.6825000000001}",NaN,NaN
7,labp6bleveuvwyglob,Thu Dec 19 01:03:42 2024,NaN,NaN,NaN,NaN,NaN,"{'qnt': [1840.0174664796014], 'price': 708.724...","{'qnt': [19], 'price': 1668.7515901037407}",NaN,NaN,"{'qnt': [46], 'price': 580.7033589001855}",NaN,"{'qnt': [32], 'price': 1035.5786492355003}","{'qnt': [918.4797436063851], 'price': 400.9743..."
8,labp6blecp6bcqj2tc6,Thu Dec 19 08:32:09 2024,NaN,NaN,NaN,"{'qnt': [526.2997210981157], 'price': 678.3117...",NaN,"{'qnt': [1376.8462181070868], 'price': 708.724...",NaN,"{'qnt': [3], 'price': 826.1047547490265}","{'qnt': [25], 'price': 22.22764357035152}","{'qnt': [47], 'price': 580.7033589001855}",NaN,"{'qnt': [38], 'price': 1035.5786492355003}","{'qnt': [1070.3764140891535], 'price': 400.974..."
9,labp6ble4p7oi7eud3m,Wed Dec 18 19:55:05 2024,"{'qnt': [6], 'price': 816.1861289834798}",NaN,NaN,"{'qnt': [776.3380669783107], 'price': 678.3117...","{'qnt': [446.75203195975695], 'price': 256.801...","{'qnt': [1283.656141495063], 'price': 708.7246...",NaN,"{'qnt': [5], 'price': 826.1047547490265}","{'qnt': [9], 'price': 22.22764357035152}",NaN,"{'qnt': [495], 'price': 978.6825000000001}",NaN,"{'qnt': [998.1944008253579], 'price': 400.9743..."
10,labp6blea2vvmpnctee,Wed Dec 18 22:29:25 2024,"{'qnt': [47], 'price': 816.1861289834798}","{'qnt': [35], 'price': 1248.1270079828055}",NaN,"{'qnt': [530.1254819102626], 'price': 678.3117...",NaN,"{'qnt': [1634.3062393577313], 'price': 708.724...",NaN,NaN,"{'qnt': [48], 'price': 22.22764357035152}",NaN,NaN,NaN,NaN
11,labp6ble95iuypio4wi,Thu Dec 19 08:29:12 2024,"{'qnt': [10], 'price': 816.1861289834798}",NaN,NaN,"{'qnt': [11.288848843405376], 'price': 678.311...","{'qnt': [811.9714069855627], 'price': 256.8016...","{'qnt': [1672.3047779515648], 'price': 708.724...",NaN,"{'qnt': [43], 'price': 826.1047547490265}",NaN,NaN,"{'qnt': [573], 'price': 978.6825000000001}",NaN,"{'qnt': [989.4805970498717], 'price': 400.9743..."
12,labp6blesb19c5gjzdm,Wed Dec 18 20:28:28 2024,"{'qnt': [44], 'price': 816.1861289834798}","{'qnt': [35], 'price': 1248.1270079828055}",NaN,"{'qnt': [17.715421744290694], 'price': 678.311...","{'qnt': [1042.0368000314916], 'price': 256.801...","{'qnt': [1439.8720477168692], 'price': 708.724...","{'qnt': [48], 'price': 1668.7515901037407}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [300.08068144961993], 'price': 400.974..."

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[0, 30, 47, 24, 6, 47, 10, 44]","[4, 5, 47, 40, 11, 32, 3, 5, 43]","[27, 21, 8, 25, 9, 48]","[2, 6, 35, 35]","[15, 7, 24, 1, 9, 39, 16]","[49, 13, 32, 38]","[871, 36, 6, 31, 495, 573]","[900.6623534992927, 392.38383855376503, 643.73...","[638.3419052204478, 439.76011797742456, 555.99...","[1249.8089854902798, 1550.0832692897793, 1136....","[36, 18, 19, 48]","[28, 15, 22, 24, 46, 47]","[447.39446089299213, 615.3803297279555, 918.47..."
price,816.186129,826.104755,22.227644,1248.127008,218.321446,1035.578649,978.6825,678.311719,256.801641,708.724687,1668.75159,580.703359,400.974356
next_week_price,1224.279193,1239.157131,33.341465,1872.1905,218.321446,1553.367974,1468.02375,1017.467578,385.202461,1063.087031,2503.127385,871.055038,601.461534

Semana 10:

Json:

,id,date,prod_0,prod_1,prod_2,prod_3,prod_8,prod_9,prod_10,prod_15,prod_4,prod_6,prod_7,prod_5,prod_11
0,labp6bo8ilsic375ax,Thu Dec 26 00:35:34 2024,"{'qnt': [2], 'price': 1224.2791934638844}","{'qnt': [0], 'price': 2503.1273851552805}","{'qnt': [30], 'price': 1239.1571305998712}","{'qnt': [4], 'price': 33.34146534932695}","{'qnt': [14], 'price': 1468.0237500000003}","{'qnt': [42.322176257190215], 'price': 1017.46...","{'qnt': [148.3565282360492], 'price': 385.2024...","{'qnt': [1854.6729943269286], 'price': 1063.08...",NaN,NaN,NaN,NaN,NaN
1,labp6bo8it6nufl6w29,Wed Dec 25 21:24:41 2024,"{'qnt': [1], 'price': 1224.2791934638844}","{'qnt': [49], 'price': 2503.1273851552805}",NaN,"{'qnt': [31], 'price': 33.34146534932695}","{'qnt': [415], 'price': 1468.0237500000003}","{'qnt': [348.4227067584356], 'price': 1017.467...",NaN,"{'qnt': [1294.7887885112264], 'price': 1063.08...","{'qnt': [49], 'price': 1872.190500444698}","{'qnt': [7], 'price': 1553.3679738532373}","{'qnt': [8], 'price': 871.0550383501725}",NaN,NaN
2,labp6bo8rh9iprqggjr,Wed Dec 25 22:31:17 2024,"{'qnt': [17], 'price': 1224.2791934638844}","{'qnt': [3], 'price': 2503.1273851552805}","{'qnt': [36], 'price': 1239.1571305998712}","{'qnt': [37], 'price': 33.34146534932695}",NaN,"{'qnt': [790.9029839629993], 'price': 1017.467...","{'qnt': [25.52856107127959], 'price': 385.2024...","{'qnt': [1597.449938697256], 'price': 1063.087...","{'qnt': [23], 'price': 1872.190500444698}","{'qnt': [35], 'price': 1553.3679738532373}","{'qnt': [48], 'price': 871.0550383501725}","{'qnt': [40], 'price': 218.32144555657345}","{'qnt': [786.3465452538949], 'price': 601.4615..."

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[2, 1, 17]","[30, 36]","[4, 31, 37]","[49, 23]",[40],"[7, 35]","[14, 415]","[42.322176257190215, 348.4227067584356, 790.90...","[148.3565282360492, 25.52856107127959]","[1854.6729943269286, 1294.7887885112264, 1597....","[0, 49, 3]","[8, 48]",[786.3465452538949]
price,1224.279193,1239.157131,33.341465,1872.1905,218.321446,1553.367974,1468.02375,1017.467578,385.202461,1063.087031,2503.127385,871.055038,601.461534
next_week_price,1832.198147,1858.735696,50.012198,2808.285751,327.482168,2330.051958,2202.035625,1526.201367,577.803691,1594.630547,3754.690876,1306.582558,902.192302

Semana 11:

Json:

,id,date,prod_0,prod_2,prod_4,prod_7,prod_8,prod_9,prod_11,prod_15,prod_1,prod_6,prod_10,prod_3,prod_5
0,labp6bpn6mvkmzs5m7l,Thu Jan 2 06:24:24 2025,"{'qnt': [27], 'price': 1832.1981472968423}","{'qnt': [14], 'price': 1858.7356958997912}","{'qnt': [10], 'price': 2808.2857506670457}","{'qnt': [20], 'price': 1306.5825575236215}","{'qnt': [0], 'price': 2202.0356250000004}","{'qnt': [27.107838542530683], 'price': 1526.20...","{'qnt': [0], 'price': 902.1923015295268}","{'qnt': [1199.5967081844703], 'price': 1594.63...",NaN,NaN,NaN,NaN,NaN
1,labp6bpnaidw42kf9oc,Thu Jan 2 03:27:55 2025,NaN,NaN,NaN,"{'qnt': [40], 'price': 1306.5825575236215}",NaN,"{'qnt': [19.42055603218814], 'price': 1526.201...",NaN,"{'qnt': [1231.6996718658556], 'price': 1594.63...","{'qnt': [23], 'price': 3754.6908758933196}","{'qnt': [40], 'price': 2330.051957578126}","{'qnt': [453.83788739951973], 'price': 577.803...",NaN,NaN
2,labp6bpo95u81vi9l8a,Wed Jan 1 22:02:36 2025,NaN,NaN,NaN,"{'qnt': [18], 'price': 1306.5825575236215}",NaN,"{'qnt': [24.37386895059307], 'price': 1526.201...","{'qnt': [180.25656791260712], 'price': 902.192...","{'qnt': [1237.168720754727], 'price': 1594.630...","{'qnt': [13], 'price': 3754.6908758933196}","{'qnt': [36], 'price': 2330.051957578126}","{'qnt': [484.6484990683975], 'price': 577.8036...",NaN,NaN
3,labp6bpon8k3xdgcl3n,Thu Jan 2 06:50:56 2025,NaN,NaN,NaN,NaN,"{'qnt': [450], 'price': 2202.0356250000004}","{'qnt': [210.03664771568458], 'price': 1526.20...",NaN,"{'qnt': [1835.4371674828226], 'price': 1594.63...",NaN,"{'qnt': [4], 'price': 2330.051957578126}",NaN,"{'qnt': [29], 'price': 50.01219802056897}","{'qnt': [33], 'price': 327.48216833486015}"
4,labp6bposuchwwel5un,Thu Jan 2 03:23:15 2025,"{'qnt': [20], 'price': 1832.1981472968423}","{'qnt': [26], 'price': 1858.7356958997912}",NaN,"{'qnt': [38], 'price': 1306.5825575236215}","{'qnt': [0], 'price': 2202.0356250000004}","{'qnt': [0], 'price': 1526.2013671875002}","{'qnt': [0], 'price': 902.1923015295268}","{'qnt': [1238.001924402103], 'price': 1594.630...","{'qnt': [7], 'price': 3754.6908758933196}",NaN,"{'qnt': [426.7126513085602], 'price': 577.8036...",NaN,NaN
5,labp6bpox9i7vaj2e7,Thu Jan 2 07:20:29 2025,"{'qnt': [24], 'price': 1832.1981472968423}","{'qnt': [42], 'price': 1858.7356958997912}","{'qnt': [12], 'price': 2808.2857506670457}",NaN,"{'qnt': [71], 'price': 2202.0356250000004}",NaN,"{'qnt': [26.33603102215767], 'price': 902.1923...","{'qnt': [1704.1309322677107], 'price': 1594.63...","{'qnt': [30], 'price': 3754.6908758933196}","{'qnt': [46], 'price': 2330.051957578126}","{'qnt': [213.07516113753235], 'price': 577.803...",NaN,NaN
6,labp6bpo7nfth9ja6n,Wed Jan 1 22:56:55 2025,"{'qnt': [50], 'price': 1832.1981472968423}","{'qnt': [16], 'price': 1858.7356958997912}","{'qnt': [47], 'price': 2808.2857506670457}",NaN,"{'qnt': [235], 'price': 2202.0356250000004}","{'qnt': [3.6514581026684145], 'price': 1526.20...","{'qnt': [0], 'price': 902.1923015295268}","{'qnt': [1470.5427728996642], 'price': 1594.63...",NaN,"{'qnt': [43], 'price': 2330.051957578126}","{'qnt': [124.29442013312917], 'price': 577.803...","{'qnt': [34], 'price': 50.01219802056897}","{'qnt': [15], 'price': 327.48216833486015}"
7,labp6bpowq4igrj104f,Thu Jan 2 05:35:30 2025,NaN,"{'qnt': [19], 'price': 1858.7356958997912}",NaN,"{'qnt': [8], 'price': 1306.5825575236215}",NaN,"{'qnt': [149.32625096277746], 'price': 1526.20...",NaN,"{'qnt': [1500.4185498769739], 'price': 1594.63...","{'qnt': [40], 'price': 3754.6908758933196}","{'qnt': [33], 'price': 2330.051957578126}",NaN,NaN,"{'qnt': [11], 'price': 327.48216833486015}"
8,labp6bpok99jve285lj,Wed Jan 1 18:50:01 2025,NaN,"{'qnt': [5], 'price': 1858.7356958997912}",NaN,"{'qnt': [10], 'price': 1306.5825575236215}","{'qnt': [22], 'price': 2202.0356250000004}",NaN,NaN,"{'qnt': [1700.4184525349242], 'price': 1594.63...",NaN,"{'qnt': [31], 'price': 2330.051957578126}",NaN,NaN,NaN
9,labp6bpopitx48oja4s,Thu Jan 2 01:11:07 2025,"{'qnt': [21], 'price': 1832.1981472968423}","{'qnt': [16], 'price': 1858.7356958997912}",NaN,"{'qnt': [42], 'price': 1306.5825575236215}","{'qnt': [0], 'price': 2202.0356250000004}","{'qnt': [55.37057306886908], 'price': 1526.201...",NaN,"{'qnt': [1239.0752094206073], 'price': 1594.63...",NaN,NaN,"{'qnt': [422.51711448759454], 'price': 577.803...","{'qnt': [0], 'price': 50.01219802056897}","{'qnt': [18], 'price': 327.48216833486015}"
10,labp6bpo85tsy5v55jc,Thu Jan 2 01:32:08 2025,"{'qnt': [35], 'price': 1832.1981472968423}",NaN,NaN,NaN,"{'qnt': [36], 'price': 2202.0356250000004}","{'qnt': [8.782444569290703], 'price': 1526.201...","{'qnt': [165.1074047702644], 'price': 902.1923...","{'qnt': [1746.1513812475314], 'price': 1594.63...","{'qnt': [23], 'price': 3754.6908758933196}",NaN,NaN,"{'qnt': [16], 'price': 50.01219802056897}","{'qnt': [17], 'price': 327.48216833486015}"
11,labp6bpohwrcrd97n5p,Thu Jan 2 00:44:45 2025,"{'qnt': [49], 'price': 1832.1981472968423}",NaN,"{'qnt': [9], 'price': 2808.2857506670457}",NaN,"{'qnt': [76], 'price': 2202.0356250000004}","{'qnt': [135.85854394333882], 'price': 1526.20...","{'qnt': [475.01535726694937], 'price': 902.192...","{'qnt': [1563.520676928346], 'price': 1594.630...",NaN,"{'qnt': [1], 'price': 2330.051957578126}","{'qnt': [0], 'price': 577.80369140625}",NaN,NaN
12,labp6bpolg813gbklm,Wed Jan 1 22:18:48 2025,"{'qnt': [40], 'price': 1832.1981472968423}","{'qnt': [11], 'price': 1858.7356958997912}","{'qnt': [41], 'price': 2808.2857506670457}",NaN,NaN,"{'qnt': [1.0745022107277347], 'price': 1526.20...","{'qnt': [21.403303040116953], 'price': 902.192...","{'qnt': [1431.2896063567332], 'price': 1594.63...",NaN,"{'qnt': [40], 'price': 2330.051957578126}",NaN,NaN,NaN
13,labp6bpo2jo8appozkp,Wed Jan 1 20:18:24 2025,NaN,NaN,NaN,"{'qnt': [23], 'price': 1306.5825575236215}","{'qnt': [0], 'price': 2202.0356250000004}","{'qnt': [308.64399631787524], 'price': 1526.20...","{'qnt': [142.91186115947227], 'price': 902.192...","{'qnt': [1255.307981260033], 'price': 1594.630...","{'qnt': [14], 'price': 3754.6908758933196}","{'qnt': [8], 'price': 2330.051957578126}","{'qnt': [322.7543187554576], 'price': 577.8036...","{'qnt': [28], 'price': 50.01219802056897}","{'qnt': [17], 'price': 327.48216833486015}"
14,labp6bpo9e44drydew,Wed Jan 1 19:24:50 2025,"{'qnt': [35], 'price': 1832.1981472968423}",NaN,NaN,NaN,NaN,"{'qnt': [0], 'price': 1526.2013671875002}","{'qnt': [158.41723632632466], 'price': 902.192...","{'qnt': [1320.2056813143133], 'price': 1594.63...",NaN,NaN,"{'qnt': [345.3859959371818], 'price': 577.8036...",NaN,NaN
15,labp6bpoak4dbh8p4fc,Wed Jan 1 18:05:57 2025,NaN,"{'qnt': [13], 'price': 1858.7356958997912}","{'qnt': [37], 'price': 2808.2857506670457}","{'qnt': [16], 'price': 1306.5825575236215}","{'qnt': [36], 'price': 2202.0356250000004}","{'qnt': [115.25306678489414], 'price': 1526.20...","{'qnt': [123.88687709972203], 'price': 902.192...","{'qnt': [1560.62836984056], 'price': 1594.6305...","{'qnt': [38], 'price': 3754.6908758933196}","{'qnt': [41], 'price': 2330.051957578126}",NaN,NaN,"{'qnt': [25], 'price': 327.48216833486015}"
16,labp6bpogzqnb0e93sq,Thu Jan 2 07:35:03 2025,"{'qnt': [26], 'price': 1832.1981472968423}",NaN,NaN,NaN,"{'qnt': [411], 'price': 2202.0356250000004}","{'qnt': [377.6013299585624], 'price': 1526.201...",NaN,"{'qnt': [1605.599497620048], 'price': 1594.630...","{'qnt': [28], 'price': 3754.6908758933196}","{'qnt': [30], 'price': 2330.051957578126}",NaN,NaN,"{'qnt': [26], 'price': 327.48216833486015}"
17,labp6bpof6lyhj8nyds,Thu Jan 2 00:08:19 2025,"{'qnt': [14], 'price': 1832.1981472968423}","{'qnt': [37], 'price': 1858.7356958997912}","{'qnt': [44], 'price': 2808.2857506670457}",NaN,"{'qnt': [369], 'price': 2202.0356250000004}","{'qnt': [477.44279781240084], 'price': 1526.20...","{'qnt': [146.7873407357506], 'price': 902.1923...","{'qnt': [1476.5615795517497], 'price': 1594.63...",NaN,NaN,"{'qnt': [295.2045162471484], 'price': 577.8036...",NaN,"{'qnt': [13], 'price': 327.48216833486015}"
18,labp6bpojxe5rfoxfhs,Thu Jan 2 08:11:47 2025,NaN,"{'qnt': [44], 'price': 1858.7356958997912}","{'qnt': [35], 'price': 2808.2857506670457}",NaN,NaN,"{'qnt': [322.7642383163469], 'price': 1526.201...","{'qnt': [0], 'price': 902.1923015295268}","{'qnt': [1292.6303159528688], 'price': 1594.63...","{'qnt': [7], 'price': 3754.6908758933196}","{'qnt': [9], 'price': 2330.051957578126}","{'qnt': [285.76959834351385], 'price': 577.803...","{'qnt': [21], 'price': 50.01219802056897}",NaN
19,labp6bpopjot5t4cdml,Thu Jan 2 02:24:00 2025,NaN,NaN,NaN,"{'qnt': [44], 'price': 1306.5825575236215}","{'qnt': [0], 'price': 2202.0356250000004}","{'qnt': [0], 'price': 1526.2013671875002}","{'qnt': [223.73517782855657], 'price': 902.192...","{'qnt': [1645.4268662564166], 'price': 1594.63...",NaN,NaN,NaN,"{'qnt': [11], 'price': 50.01219802056897}","{'qnt': [38], 'price': 327.48216833486015}"
20,labp6bpo986tz9ounid,Wed Jan 1 16:21:00 2025,"{'qnt': [41], 'price': 1832.1981472968423}","{'qnt': [38], 'price': 1858.7356958997912}",NaN,NaN,NaN,"{'qnt': [0], 'price': 1526.2013671875002}",NaN,"{'qnt': [1161.435341396084], 'price': 1594.630...",NaN,NaN,NaN,NaN,"{'qnt': [46], 'price': 327.48216833486015}"
21,labp6bpoqzbvpi5cfr,Thu Jan 2 00:56:44 2025,"{'qnt': [22], 'price': 1832.1981472968423}",NaN,NaN,NaN,"{'qnt': [0], 'price': 2202.0356250000004}","{'qnt': [0], 'price': 1526.2013671875002}",NaN,"{'qnt': [1228.0177280293412], 'price': 1594.63...","{'qnt': [18], 'price': 3754.6908758933196}",NaN,NaN,"{'qnt': [27], 'price': 50.01219802056897}",NaN
22,labp6bpothpju1kzivl,Wed Jan 1 16:38:10 2025,"{'qnt': [24], 'price': 1832.1981472968423}","{'qnt': [13], 'price': 1858.7356958997912}","{'qnt': [5], 'price': 2808.2857506670457}",NaN,"{'qnt': [49], 'price': 2202.0356250000004}","{'qnt': [0], 'price': 1526.2013671875002}",NaN,"{'qnt': [1526.0173171532904], 'price': 1594.63...",NaN,NaN,"{'qnt': [458.06598753481774], 'price': 577.803...","{'qnt': [20], 'price': 50.01219802056897}","{'qnt': [19], 'price': 327.48216833486015}"
23,labp6bpog77p08a7dha,Thu Jan 2 01:49:56 2025,NaN,"{'qnt': [27], 'price': 1858.7356958997912}","{'qnt': [6], 'price': 2808.2857506670457}",NaN,"{'qnt': [457], 'price': 2202.0356250000004}","{'qnt': [184.70988391988516], 'price': 1526.20...",NaN,"{'qnt': [1926.671579194654], 'price': 1594.630...",NaN,NaN,"{'qnt': [0], 'price': 577.80369140625}","{'qnt': [47], 'price': 50.01219802056897}",NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[27, 20, 24, 50, 21, 35, 49, 40, 35, 26, 14, 4...","[14, 26, 42, 16, 19, 5, 16, 11, 13, 37, 44, 38...","[29, 34, 0, 16, 28, 21, 11, 27, 20, 47]","[10, 12, 47, 9, 41, 37, 44, 35, 5, 6]","[33, 15, 11, 18, 17, 17, 25, 26, 13, 38, 46, 19]","[40, 36, 4, 46, 43, 33, 31, 1, 40, 8, 41, 30, 9]","[0, 450, 0, 71, 235, 22, 0, 36, 76, 0, 36, 411...","[27.107838542530683, 19.42055603218814, 24.373...","[453.83788739951973, 484.6484990683975, 426.71...","[1199.5967081844703, 1231.6996718658556, 1237....","[23, 13, 7, 30, 40, 23, 14, 38, 28, 7, 18]","[20, 40, 18, 38, 8, 10, 42, 23, 16, 44]","[0, 180.25656791260712, 0, 26.33603102215767, ..."
price,1832.198147,1858.735696,50.012198,2808.285751,327.482168,2330.051958,2202.035625,1526.201367,577.803691,1594.630547,3754.690876,1306.582558,902.192302
next_week_price,2748.297221,2788.103543,75.018297,4212.428626,491.223252,3495.077936,3303.053438,2289.302051,866.705537,2391.94582,5632.036311,1959.873836,1353.288452

Semana 12:

Json:

,id,date,prod_0,prod_1,prod_3,prod_4,prod_5,prod_7,prod_9,prod_8,prod_15,prod_11,prod_2,prod_10,prod_6
0,labp6btilkjcg5hziv,Thu Jan 9 02:17:34 2025,"{'qnt': [18], 'price': 2748.2972209450004}","{'qnt': [4], 'price': 5632.036310722014}","{'qnt': [47], 'price': 75.01829702051849}","{'qnt': [26], 'price': 4212.428625842411}","{'qnt': [18], 'price': 491.223252424964}","{'qnt': [17], 'price': 1959.873836265378}","{'qnt': [20.945954282440372], 'price': 2289.30...","{'qnt': [320], 'price': 3303.0534375000007}","{'qnt': [1567.3358599991252], 'price': 2391.94...",NaN,NaN,NaN,NaN
1,labp6bticip7uwaop7v,Thu Jan 9 05:31:49 2025,"{'qnt': [20], 'price': 2748.2972209450004}","{'qnt': [16], 'price': 5632.036310722014}",NaN,NaN,"{'qnt': [18], 'price': 491.223252424964}","{'qnt': [15], 'price': 1959.873836265378}","{'qnt': [790.6063126101501], 'price': 2289.302...","{'qnt': [36], 'price': 3303.0534375000007}","{'qnt': [1616.3423142449626], 'price': 2391.94...","{'qnt': [622.7707808762606], 'price': 1353.288...",NaN,NaN,NaN
2,labp6bti3tbqik7nkjv,Wed Jan 8 16:49:36 2025,"{'qnt': [31], 'price': 2748.2972209450004}","{'qnt': [33], 'price': 5632.036310722014}","{'qnt': [45], 'price': 75.01829702051849}",NaN,NaN,NaN,NaN,"{'qnt': [22], 'price': 3303.0534375000007}","{'qnt': [1665.9346309622183], 'price': 2391.94...","{'qnt': [482.2641567841891], 'price': 1353.288...","{'qnt': [25], 'price': 2788.103543292809}","{'qnt': [28.143505266197888], 'price': 866.705...",NaN
3,labp6btitl8dhd927z8,Thu Jan 9 01:56:00 2025,NaN,"{'qnt': [8], 'price': 5632.036310722014}","{'qnt': [31], 'price': 75.01829702051849}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [1703.4446991299887], 'price': 2391.94...","{'qnt': [681.3512836464861], 'price': 1353.288...","{'qnt': [50], 'price': 2788.103543292809}","{'qnt': [516.064184304982], 'price': 866.70553...","{'qnt': [49], 'price': 3495.0779363620813}"
4,labp6btik4wnkr16adi,Wed Jan 8 21:17:16 2025,"{'qnt': [12], 'price': 2748.2972209450004}","{'qnt': [21], 'price': 5632.036310722014}",NaN,"{'qnt': [29], 'price': 4212.428625842411}",NaN,NaN,"{'qnt': [603.2346079257971], 'price': 2289.302...","{'qnt': [39], 'price': 3303.0534375000007}","{'qnt': [1430.3800214159774], 'price': 2391.94...",NaN,NaN,"{'qnt': [428.4259355688818], 'price': 866.7055...","{'qnt': [42], 'price': 3495.0779363620813}"
5,labp6btiiv38wl46yz,Thu Jan 9 06:32:16 2025,NaN,NaN,"{'qnt': [11], 'price': 75.01829702051849}","{'qnt': [30], 'price': 4212.428625842411}","{'qnt': [26], 'price': 491.223252424964}",NaN,"{'qnt': [240.99398064529072], 'price': 2289.30...","{'qnt': [192], 'price': 3303.0534375000007}","{'qnt': [1662.3606856966212], 'price': 2391.94...",NaN,"{'qnt': [26], 'price': 2788.103543292809}",NaN,"{'qnt': [1], 'price': 3495.0779363620813}"
6,labp6btidil4yqebdsl,Thu Jan 9 04:13:19 2025,NaN,NaN,"{'qnt': [36], 'price': 75.01829702051849}","{'qnt': [20], 'price': 4212.428625842411}",NaN,"{'qnt': [27], 'price': 1959.873836265378}",NaN,"{'qnt': [37], 'price': 3303.0534375000007}","{'qnt': [1880.9032329723161], 'price': 2391.94...","{'qnt': [490.9842760378082], 'price': 1353.288...","{'qnt': [35], 'price': 2788.103543292809}","{'qnt': [363.7607569115897], 'price': 866.7055...",NaN
7,labp6btixcz1ej9brdr,Thu Jan 9 05:16:22 2025,"{'qnt': [9], 'price': 2748.2972209450004}",NaN,NaN,NaN,"{'qnt': [46], 'price': 491.223252424964}",NaN,"{'qnt': [785.253744547864], 'price': 2289.3020...",NaN,"{'qnt': [1754.7659520611637], 'price': 2391.94...",NaN,NaN,NaN,NaN
8,labp6btid7l6m6gbots,Thu Jan 9 07:09:09 2025,NaN,"{'qnt': [44], 'price': 5632.036310722014}","{'qnt': [13], 'price': 75.01829702051849}","{'qnt': [22], 'price': 4212.428625842411}",NaN,NaN,NaN,"{'qnt': [358], 'price': 3303.0534375000007}","{'qnt': [1332.4106546495977], 'price': 2391.94...","{'qnt': [706.7064188754694], 'price': 1353.288...","{'qnt': [3], 'price': 2788.103543292809}",NaN,NaN
9,labp6btiw4fdwl11ct,Thu Jan 9 06:14:56 2025,"{'qnt': [16], 'price': 2748.2972209450004}",NaN,NaN,"{'qnt': [3], 'price': 4212.428625842411}","{'qnt': [13], 'price': 491.223252424964}",NaN,NaN,NaN,"{'qnt': [1753.882679852789], 'price': 2391.945...",NaN,NaN,NaN,"{'qnt': [40], 'price': 3495.0779363620813}"
10,labp6btiwca40499mce,Thu Jan 9 03:51:56 2025,NaN,NaN,NaN,NaN,NaN,NaN,"{'qnt': [217.9736455188488], 'price': 2289.302...","{'qnt': [45], 'price': 3303.0534375000007}","{'qnt': [1590.9603184888745], 'price': 2391.94...",NaN,NaN,"{'qnt': [401.34874955428864], 'price': 866.705...",NaN
11,labp6btimzo6obhm3ue,Thu Jan 9 03:51:11 2025,"{'qnt': [44], 'price': 2748.2972209450004}","{'qnt': [11], 'price': 5632.036310722014}",NaN,"{'qnt': [33], 'price': 4212.428625842411}",NaN,"{'qnt': [0], 'price': 1959.873836265378}","{'qnt': [681.8557608109994], 'price': 2289.302...","{'qnt': [35], 'price': 3303.0534375000007}","{'qnt': [1825.7165220157044], 'price': 2391.94...","{'qnt': [703.4707779113477], 'price': 1353.288...","{'qnt': [17], 'price': 2788.103543292809}","{'qnt': [473.6674994790968], 'price': 866.7055...",NaN
12,labp6bti82z7bv50e2i,Wed Jan 8 23:40:42 2025,NaN,NaN,"{'qnt': [9], 'price': 75.01829702051849}",NaN,"{'qnt': [25], 'price': 491.223252424964}","{'qnt': [48], 'price': 1959.873836265378}",NaN,"{'qnt': [28], 'price': 3303.0534375000007}","{'qnt': [1313.5217848488978], 'price': 2391.94...",NaN,"{'qnt': [8], 'price': 2788.103543292809}",NaN,NaN
13,labp6bti4u4v13n3had,Wed Jan 8 21:50:55 2025,NaN,NaN,"{'qnt': [49], 'price': 75.01829702051849}",NaN,"{'qnt': [38], 'price': 491.223252424964}",NaN,"{'qnt': [41.02648781059271], 'price': 2289.302...",NaN,"{'qnt': [1606.9826631709107], 'price': 2391.94...",NaN,"{'qnt': [46], 'price': 2788.103543292809}","{'qnt': [589.5333559267789], 'price': 866.7055...",NaN
14,labp6btihzv4bzsemoq,Thu Jan 9 03:15:41 2025,NaN,NaN,NaN,NaN,"{'qnt': [41], 'price': 491.223252424964}",NaN,"{'qnt': [679.0486433838702], 'price': 2289.302...","{'qnt': [726], 'price': 3303.0534375000007}","{'qnt': [1386.0174875116352], 'price': 2391.94...","{'qnt': [273.27703732811864], 'price': 1353.28...","{'qnt': [29], 'price': 2788.103543292809}","{'qnt': [202.7226095969276], 'price': 866.7055...",NaN
15,labp6btiwto82mvwkl8,Wed Jan 8 18:16:30 2025,NaN,NaN,NaN,NaN,"{'qnt': [3], 'price': 491.223252424964}","{'qnt': [39], 'price': 1959.873836265378}","{'qnt': [46.692625135811916], 'price': 2289.30...","{'qnt': [206], 'price': 3303.0534375000007}","{'qnt': [1708.5849138300691], 'price': 2391.94...",NaN,"{'qnt': [36], 'price': 2788.103543292809}","{'qnt': [568.5936966146842], 'price': 866.7055...","{'qnt': [17], 'price': 3495.0779363620813}"
16,labp6bti2iu99j0b4oy,Wed Jan 8 17:52:25 2025,NaN,"{'qnt': [40], 'price': 5632.036310722014}","{'qnt': [35], 'price': 75.01829702051849}",NaN,"{'qnt': [24], 'price': 491.223252424964}",NaN,"{'qnt': [789.2094325607629], 'price': 2289.302...","{'qnt': [152], 'price': 3303.0534375000007}","{'qnt': [1680.258588276043], 'price': 2391.945...",NaN,NaN,"{'qnt': [340.83106602367894], 'price': 866.705...",NaN
17,labp6btilikvx4wpfpt,Thu Jan 9 00:31:13 2025,"{'qnt': [36], 'price': 2748.2972209450004}",NaN,"{'qnt': [17], 'price': 75.01829702051849}","{'qnt': [42], 'price': 4212.428625842411}",NaN,"{'qnt': [31], 'price': 1959.873836265378}","{'qnt': [125.6581284424545], 'price': 2289.302...","{'qnt': [707], 'price': 3303.0534375000007}","{'qnt': [1647.4942702320973], 'price': 2391.94...","{'qnt': [704.3483173155032], 'price': 1353.288...","{'qnt': [34], 'price': 2788.103543292809}",NaN,NaN
18,labp6btid67e0ikue95,Wed Jan 8 20:47:47 2025,"{'qnt': [10], 'price': 2748.2972209450004}","{'qnt': [25], 'price': 5632.036310722014}","{'qnt': [32], 'price': 75.01829702051849}",NaN,"{'qnt': [39], 'price': 491.223252424964}","{'qnt': [46], 'price': 1959.873836265378}","{'qnt': [239.5372432409979], 'price': 2289.302...",NaN,"{'qnt': [1885.034650930132], 'price': 2391.945...",NaN,NaN,NaN,NaN
19,labp6btit9ru6asaqwd,Wed Jan 8 20:07:19 2025,"{'qnt': [14], 'price': 2748.2972209450004}","{'qnt': [49], 'price': 5632.036310722014}","{'qnt': [26], 'price': 75.01829702051849}",NaN,NaN,"{'qnt': [35], 'price': 1959.873836265378}","{'qnt': [4.94249511130358], 'price': 2289.3020...","{'qnt': [23], 'price': 3303.0534375000007}","{'qnt': [1469.5770036238855], 'price': 2391.94...",NaN,NaN,NaN,"{'qnt': [42], 'price': 3495.0779363620813}"
20,labp6btiswk5yomb0jr,Thu Jan 9 06:50:02 2025,"{'qnt': [26], 'price': 2748.2972209450004}",NaN,NaN,NaN,NaN,NaN,NaN,"{'qnt': [455], 'price': 3303.0534375000007}","{'qnt': [1253.1766863879957], 'price': 2391.94...",NaN,NaN,"{'qnt': [805.8302743450529], 'price': 866.7055...","{'qnt': [11], 'price': 3495.0779363620813}"
21,labp6btiu3vusfu8dv,Thu Jan 9 08:27:04 2025,NaN,"{'qnt': [12], 'price': 5632.036310722014}","{'qnt': [0], 'price': 75.01829702051849}",NaN,NaN,NaN,NaN,"{'qnt': [15], 'price': 3303.0534375000007}","{'qnt': [1605.4125131961957], 'price': 2391.94...","{'qnt': [289.5017398296095], 'price': 1353.288...","{'qnt': [40], 'price': 2788.103543292809}","{'qnt': [618.7510946809931], 'price': 866.7055...","{'qnt': [8], 'price': 3495.0779363620813}"

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[18, 20, 31, 12, 9, 16, 44, 36, 10, 14, 26]","[25, 50, 26, 35, 3, 17, 8, 46, 29, 36, 34, 40]","[47, 45, 31, 11, 36, 13, 9, 49, 35, 17, 32, 26...","[26, 29, 30, 20, 22, 3, 33, 42]","[18, 18, 26, 46, 13, 25, 38, 41, 3, 24, 39]","[49, 42, 1, 40, 17, 42, 11, 8]","[320, 36, 22, 39, 192, 37, 358, 45, 35, 28, 72...","[20.945954282440372, 790.6063126101501, 603.23...","[28.143505266197888, 516.064184304982, 428.425...","[1567.3358599991252, 1616.3423142449626, 1665....","[4, 16, 33, 8, 21, 44, 11, 40, 25, 49, 12]","[17, 15, 27, 0, 48, 39, 31, 46, 35]","[622.7707808762606, 482.2641567841891, 681.351..."
price,2748.297221,2788.103543,75.018297,4212.428626,491.223252,3495.077936,3303.053438,2289.302051,866.705537,2391.94582,5632.036311,1959.873836,1353.288452
next_week_price,4122.445828,4182.155315,112.527446,6318.642939,736.834879,5242.616905,4954.580156,3433.953076,1300.058306,3587.91873,8448.054465,2939.810754,2029.932678

Semana 13:

Json:

,id,date,prod_0,prod_6,prod_8,prod_9,prod_10,prod_11,prod_15,prod_1,prod_4,prod_7,prod_2,prod_3,prod_5
0,labp6bwl85uie268nvi,Wed Jan 15 22:44:18 2025,"{'qnt': [4], 'price': 4122.445827821933}","{'qnt': [41], 'price': 5242.616904505319}","{'qnt': [836], 'price': 4954.580156250001}","{'qnt': [48.32126179189127], 'price': 3433.953...","{'qnt': [975.9632678414766], 'price': 1300.058...","{'qnt': [697.7883720384345], 'price': 2029.932...","{'qnt': [1400.9312568110918], 'price': 3587.91...",NaN,NaN,NaN,NaN,NaN,NaN
1,labp6bwlov8g1nc9qnl,Wed Jan 15 17:32:50 2025,"{'qnt': [39], 'price': 4122.445827821933}",NaN,NaN,"{'qnt': [333.4159693768849], 'price': 3433.953...","{'qnt': [388.8467949703336], 'price': 1300.058...","{'qnt': [353.2617928239985], 'price': 2029.932...","{'qnt': [1442.973580353034], 'price': 3587.918...","{'qnt': [47], 'price': 8448.054465450065}","{'qnt': [41], 'price': 6318.642938678496}","{'qnt': [45], 'price': 2939.810754396176}",NaN,NaN,NaN
2,labp6bwlg167oxgyqdg,Thu Jan 16 08:37:53 2025,"{'qnt': [40], 'price': 4122.445827821933}","{'qnt': [33], 'price': 5242.616904505319}","{'qnt': [1064], 'price': 4954.580156250001}","{'qnt': [671.8331758348861], 'price': 3433.953...","{'qnt': [517.7866936830428], 'price': 1300.058...","{'qnt': [716.1402157355271], 'price': 2029.932...","{'qnt': [2090.758022137674], 'price': 3587.918...","{'qnt': [8], 'price': 8448.054465450065}",NaN,NaN,"{'qnt': [4], 'price': 4182.1553149374395}",NaN,NaN
3,labp6bwl97i7bqioboq,Wed Jan 15 17:42:56 2025,NaN,NaN,"{'qnt': [1001], 'price': 4954.580156250001}",NaN,NaN,NaN,"{'qnt': [1424.8506723065086], 'price': 3587.91...","{'qnt': [6], 'price': 8448.054465450065}","{'qnt': [50], 'price': 6318.642938678496}","{'qnt': [27], 'price': 2939.810754396176}",NaN,"{'qnt': [45], 'price': 112.52744553039446}","{'qnt': [3], 'price': 736.8348786331159}"
4,labp6bwlv792zue1bls,Wed Jan 15 21:03:53 2025,NaN,"{'qnt': [38], 'price': 5242.616904505319}","{'qnt': [33], 'price': 4954.580156250001}","{'qnt': [464.36574110616857], 'price': 3433.95...","{'qnt': [380.65305268456046], 'price': 1300.05...","{'qnt': [568.2725670056573], 'price': 2029.932...","{'qnt': [1421.873779296679], 'price': 3587.918...","{'qnt': [33], 'price': 8448.054465450065}","{'qnt': [29], 'price': 6318.642938678496}","{'qnt': [17], 'price': 2939.810754396176}",NaN,NaN,NaN
5,labp6bwm7cyb3oaxru3,Wed Jan 15 18:00:41 2025,NaN,NaN,"{'qnt': [359], 'price': 4954.580156250001}","{'qnt': [1089.7339754432526], 'price': 3433.95...",NaN,NaN,"{'qnt': [1947.611315036531], 'price': 3587.918...",NaN,"{'qnt': [11], 'price': 6318.642938678496}","{'qnt': [15], 'price': 2939.810754396176}","{'qnt': [39], 'price': 4182.1553149374395}","{'qnt': [3], 'price': 112.52744553039446}","{'qnt': [46], 'price': 736.8348786331159}"
6,labp6bwmk1ge2a6ecm,Wed Jan 15 17:32:54 2025,NaN,"{'qnt': [30], 'price': 5242.616904505319}","{'qnt': [505], 'price': 4954.580156250001}","{'qnt': [11.455196582308947], 'price': 3433.95...","{'qnt': [699.5702397137907], 'price': 1300.058...",NaN,"{'qnt': [1515.3945078124177], 'price': 3587.91...",NaN,NaN,"{'qnt': [37], 'price': 2939.810754396176}","{'qnt': [36], 'price': 4182.1553149374395}","{'qnt': [40], 'price': 112.52744553039446}",NaN
7,labp6bwmb5p8iqlemrg,Wed Jan 15 21:14:05 2025,NaN,"{'qnt': [11], 'price': 5242.616904505319}","{'qnt': [24], 'price': 4954.580156250001}","{'qnt': [11.811614823191851], 'price': 3433.95...","{'qnt': [1082.7355199858046], 'price': 1300.05...",NaN,"{'qnt': [2121.4812986054667], 'price': 3587.91...","{'qnt': [26], 'price': 8448.054465450065}","{'qnt': [40], 'price': 6318.642938678496}",NaN,NaN,"{'qnt': [37], 'price': 112.52744553039446}","{'qnt': [12], 'price': 736.8348786331159}"
8,labp6bwmmxvq5knnaf8,Wed Jan 15 23:30:53 2025,NaN,NaN,"{'qnt': [995], 'price': 4954.580156250001}","{'qnt': [954.1064896043126], 'price': 3433.953...",NaN,"{'qnt': [1032.8755141402917], 'price': 2029.93...","{'qnt': [1574.7539558292228], 'price': 3587.91...",NaN,NaN,NaN,"{'qnt': [6], 'price': 4182.1553149374395}","{'qnt': [16], 'price': 112.52744553039446}",NaN
9,labp6bwmq59otcz944s,Wed Jan 15 22:53:30 2025,NaN,"{'qnt': [34], 'price': 5242.616904505319}","{'qnt': [932], 'price': 4954.580156250001}","{'qnt': [29.44410118726537], 'price': 3433.953...",NaN,"{'qnt': [923.5996136146756], 'price': 2029.932...","{'qnt': [2122.016910808752], 'price': 3587.918...","{'qnt': [4], 'price': 8448.054465450065}",NaN,"{'qnt': [7], 'price': 2939.810754396176}",NaN,"{'qnt': [10], 'price': 112.52744553039446}",NaN
10,labp6bwmv9y8qftyfr,Thu Jan 16 03:41:00 2025,NaN,NaN,NaN,"{'qnt': [1074.3487078247495], 'price': 3433.95...","{'qnt': [936.365697921631], 'price': 1300.0583...","{'qnt': [1070.1080320092608], 'price': 2029.93...","{'qnt': [1598.067417142634], 'price': 3587.918...","{'qnt': [30], 'price': 8448.054465450065}",NaN,"{'qnt': [32], 'price': 2939.810754396176}",NaN,NaN,NaN
11,labp6bwmdl1ldjfy4hr,Wed Jan 15 21:25:29 2025,"{'qnt': [32], 'price': 4122.445827821933}",NaN,"{'qnt': [898], 'price': 4954.580156250001}","{'qnt': [508.841313477983], 'price': 3433.9530...",NaN,NaN,"{'qnt': [1559.4700146143903], 'price': 3587.91...","{'qnt': [28], 'price': 8448.054465450065}","{'qnt': [25], 'price': 6318.642938678496}","{'qnt': [19], 'price': 2939.810754396176}","{'qnt': [49], 'price': 4182.1553149374395}",NaN,"{'qnt': [45], 'price': 736.8348786331159}"
12,labp6bwmhnf0xlun4di,Thu Jan 16 04:32:43 2025,"{'qnt': [5], 'price': 4122.445827821933}",NaN,"{'qnt': [739], 'price': 4954.580156250001}",NaN,NaN,"{'qnt': [666.4062854768545], 'price': 2029.932...","{'qnt': [1803.8387259083102], 'price': 3587.91...","{'qnt': [12], 'price': 8448.054465450065}",NaN,NaN,NaN,NaN,"{'qnt': [24], 'price': 736.8348786331159}"
13,labp6bwmaraluelp0x,Thu Jan 16 01:15:50 2025,NaN,"{'qnt': [18], 'price': 5242.616904505319}","{'qnt': [461], 'price': 4954.580156250001}",NaN,"{'qnt': [808.4162946262181], 'price': 1300.058...",NaN,"{'qnt': [1834.5395059229716], 'price': 3587.91...",NaN,"{'qnt': [8], 'price': 6318.642938678496}",NaN,NaN,"{'qnt': [14], 'price': 112.52744553039446}",NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[4, 39, 40, 32, 5]","[4, 39, 36, 6, 49]","[45, 3, 40, 37, 16, 10, 14]","[41, 50, 29, 11, 40, 25, 8]","[3, 46, 12, 45, 24]","[41, 33, 38, 30, 11, 34, 18]","[836, 1064, 1001, 33, 359, 505, 24, 995, 932, ...","[48.32126179189127, 333.4159693768849, 671.833...","[975.9632678414766, 388.8467949703336, 517.786...","[1400.9312568110918, 1442.973580353034, 2090.7...","[47, 8, 6, 33, 26, 4, 30, 28, 12]","[45, 27, 17, 15, 37, 7, 32, 19]","[697.7883720384345, 353.2617928239985, 716.140..."
price,4122.445828,4182.155315,112.527446,6318.642939,736.834879,5242.616905,4954.580156,3433.953076,1300.058306,3587.91873,8448.054465,2939.810754,2029.932678
next_week_price,6183.668741,6273.232972,168.791168,9477.964408,1105.252318,7863.925357,7431.870234,5150.929614,1950.087458,5381.878096,12672.081688,4409.716131,3044.899018

Semana 14:

Json:

,id,date,prod_0,prod_1,prod_4,prod_5,prod_8,prod_15,prod_3,prod_6,prod_9,prod_2,prod_7,prod_10,prod_11
0,labp6bzirbg138rwooo,Thu Jan 23 04:22:38 2025,"{'qnt': [28], 'price': 6183.668741309859}","{'qnt': [48], 'price': 12672.081688184478}","{'qnt': [37], 'price': 9477.964408013957}","{'qnt': [49], 'price': 1105.2523179394407}","{'qnt': [91], 'price': 7431.870234375001}","{'qnt': [2078.5452266539705], 'price': 5381.87...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labp6bzja4mhu81nqi9,Wed Jan 22 23:52:21 2025,NaN,NaN,NaN,NaN,"{'qnt': [612], 'price': 7431.870234375001}","{'qnt': [2118.024838316116], 'price': 5381.878...","{'qnt': [33], 'price': 168.79116827786567}","{'qnt': [8], 'price': 7863.925356755255}","{'qnt': [417.7398142123967], 'price': 5150.929...",NaN,NaN,NaN,NaN
2,labp6bzj19jhh3ja0n5,Thu Jan 23 06:52:38 2025,NaN,NaN,NaN,NaN,NaN,"{'qnt': [1544.757003821195], 'price': 5381.878...",NaN,"{'qnt': [44], 'price': 7863.925356755255}","{'qnt': [336.5828034272367], 'price': 5150.929...","{'qnt': [43], 'price': 6273.232972380061}","{'qnt': [17], 'price': 4409.716131468505}","{'qnt': [350.2743077810697], 'price': 1950.087...",NaN
3,labp6bzjchzbe5wvw2n,Wed Jan 22 19:04:38 2025,"{'qnt': [5], 'price': 6183.668741309859}","{'qnt': [14], 'price': 12672.081688184478}","{'qnt': [13], 'price': 9477.964408013957}","{'qnt': [2], 'price': 1105.2523179394407}",NaN,"{'qnt': [2151.7277218565796], 'price': 5381.87...","{'qnt': [49], 'price': 168.79116827786567}","{'qnt': [49], 'price': 7863.925356755255}","{'qnt': [790.1078747191212], 'price': 5150.929...","{'qnt': [50], 'price': 6273.232972380061}",NaN,"{'qnt': [721.5017689181435], 'price': 1950.087...",NaN
4,labp6bzjyvwmox7ebi,Thu Jan 23 01:19:20 2025,"{'qnt': [2], 'price': 6183.668741309859}","{'qnt': [7], 'price': 12672.081688184478}","{'qnt': [34], 'price': 9477.964408013957}","{'qnt': [6], 'price': 1105.2523179394407}",NaN,"{'qnt': [1670.8831068130207], 'price': 5381.87...","{'qnt': [2], 'price': 168.79116827786567}",NaN,NaN,NaN,NaN,"{'qnt': [159.24218482173688], 'price': 1950.08...",NaN
5,labp6bzjewry6ob16jb,Thu Jan 23 06:30:26 2025,"{'qnt': [41], 'price': 6183.668741309859}","{'qnt': [0], 'price': 12672.081688184478}",NaN,NaN,"{'qnt': [562], 'price': 7431.870234375001}","{'qnt': [2157.193034588445], 'price': 5381.878...",NaN,NaN,NaN,"{'qnt': [34], 'price': 6273.232972380061}",NaN,NaN,"{'qnt': [401.58260271982914], 'price': 3044.89..."
6,labp6bzjbnlqp5ok27p,Thu Jan 23 02:17:10 2025,NaN,"{'qnt': [7], 'price': 12672.081688184478}","{'qnt': [1], 'price': 9477.964408013957}",NaN,"{'qnt': [588], 'price': 7431.870234375001}","{'qnt': [1475.0577671811961], 'price': 5381.87...","{'qnt': [45], 'price': 168.79116827786567}",NaN,"{'qnt': [39.69399395745031], 'price': 5150.929...","{'qnt': [19], 'price': 6273.232972380061}","{'qnt': [1], 'price': 4409.716131468505}","{'qnt': [387.3539725566211], 'price': 1950.087...","{'qnt': [239.01151752140393], 'price': 3044.89..."
7,labp6bzj63bwhw0rqti,Wed Jan 22 23:40:39 2025,NaN,NaN,NaN,NaN,"{'qnt': [127], 'price': 7431.870234375001}","{'qnt': [1891.6749372542597], 'price': 5381.87...","{'qnt': [30], 'price': 168.79116827786567}","{'qnt': [39], 'price': 7863.925356755255}","{'qnt': [157.18483977173335], 'price': 5150.92...",NaN,NaN,NaN,"{'qnt': [142.3347381809227], 'price': 3044.899..."
8,labp6bzjspvgmpwdf2f,Thu Jan 23 04:27:26 2025,"{'qnt': [35], 'price': 6183.668741309859}","{'qnt': [11], 'price': 12672.081688184478}",NaN,"{'qnt': [12], 'price': 1105.2523179394407}","{'qnt': [408], 'price': 7431.870234375001}","{'qnt': [2036.8187034305972], 'price': 5381.87...",NaN,NaN,"{'qnt': [116.13764463836156], 'price': 5150.92...","{'qnt': [20], 'price': 6273.232972380061}","{'qnt': [17], 'price': 4409.716131468505}",NaN,"{'qnt': [747.2659886199699], 'price': 3044.899..."
9,labp6bzjp8f9st7k2km,Wed Jan 22 22:00:39 2025,NaN,NaN,"{'qnt': [18], 'price': 9477.964408013957}","{'qnt': [37], 'price': 1105.2523179394407}",NaN,"{'qnt': [2057.2836164656132], 'price': 5381.87...","{'qnt': [49], 'price': 168.79116827786567}",NaN,"{'qnt': [462.6372287492675], 'price': 5150.929...","{'qnt': [24], 'price': 6273.232972380061}","{'qnt': [4], 'price': 4409.716131468505}",NaN,NaN
10,labp6bzjlenhnk0dts,Wed Jan 22 23:34:50 2025,"{'qnt': [33], 'price': 6183.668741309859}",NaN,"{'qnt': [45], 'price': 9477.964408013957}","{'qnt': [18], 'price': 1105.2523179394407}","{'qnt': [42], 'price': 7431.870234375001}","{'qnt': [1520.2570713389657], 'price': 5381.87...","{'qnt': [36], 'price': 168.79116827786567}","{'qnt': [21], 'price': 7863.925356755255}",NaN,NaN,"{'qnt': [18], 'price': 4409.716131468505}","{'qnt': [139.49385274512568], 'price': 1950.08...","{'qnt': [132.5105596210521], 'price': 3044.899..."
11,labp6bzj5arx2mdfxki,Wed Jan 22 21:55:09 2025,"{'qnt': [1], 'price': 6183.668741309859}",NaN,NaN,"{'qnt': [27], 'price': 1105.2523179394407}","{'qnt': [2], 'price': 7431.870234375001}","{'qnt': [1712.698348142299], 'price': 5381.878...",NaN,"{'qnt': [8], 'price': 7863.925356755255}",NaN,"{'qnt': [3], 'price': 6273.232972380061}",NaN,NaN,NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[28, 5, 2, 41, 35, 33, 1]","[43, 50, 34, 19, 20, 24, 3]","[33, 49, 2, 45, 30, 49, 36]","[37, 13, 34, 1, 18, 45]","[49, 2, 6, 12, 37, 18, 27]","[8, 44, 49, 39, 21, 8]","[91, 612, 562, 588, 127, 408, 42, 2]","[417.7398142123967, 336.5828034272367, 790.107...","[350.2743077810697, 721.5017689181435, 159.242...","[2078.5452266539705, 2118.024838316116, 1544.7...","[48, 14, 7, 0, 7, 11]","[17, 1, 17, 4, 18]","[401.58260271982914, 239.01151752140393, 142.3..."
price,6183.668741,6273.232972,168.791168,9477.964408,1105.252318,7863.925357,7431.870234,5150.929614,1950.087458,5381.878096,12672.081688,4409.716131,3044.899018
next_week_price,9275.503095,9409.849459,253.186752,14216.946612,1657.878476,11795.888035,11147.805352,7726.394421,2925.131188,8072.817144,19008.105159,6614.440003,4567.348526

Semana 15:

Json:

,id,date,prod_1,prod_4,prod_5,prod_7,prod_8,prod_9,prod_10,prod_11,prod_15,prod_0,prod_2,prod_3,prod_6
0,labp6c1n4jwkrtl9qvx,Thu Jan 30 00:32:06 2025,"{'qnt': [5], 'price': 19008.105159395}","{'qnt': [41], 'price': 14216.946611521576}","{'qnt': [42], 'price': 1657.8784756226796}","{'qnt': [24], 'price': 6614.440002675387}","{'qnt': [0], 'price': 11147.805351562502}","{'qnt': [25.54835936257548], 'price': 7726.394...","{'qnt': [148.4158855910565], 'price': 2925.131...","{'qnt': [0], 'price': 4567.34852649323}","{'qnt': [1977.7725060342564], 'price': 8072.81...",NaN,NaN,NaN,NaN
1,labp6c1njlqvd16t88q,Wed Jan 29 18:11:19 2025,"{'qnt': [26], 'price': 19008.105159395}",NaN,"{'qnt': [19], 'price': 1657.8784756226796}","{'qnt': [35], 'price': 6614.440002675387}","{'qnt': [39], 'price': 11147.805351562502}","{'qnt': [0], 'price': 7726.39442138672}",NaN,"{'qnt': [0], 'price': 4567.34852649323}","{'qnt': [2253.095836904933], 'price': 8072.817...","{'qnt': [38], 'price': 9275.503095004207}",NaN,NaN,NaN
2,labp6c1nf2fyhz1d9us,Wed Jan 29 22:57:29 2025,"{'qnt': [28], 'price': 19008.105159395}","{'qnt': [2], 'price': 14216.946611521576}","{'qnt': [34], 'price': 1657.8784756226796}","{'qnt': [42], 'price': 6614.440002675387}","{'qnt': [266], 'price': 11147.805351562502}","{'qnt': [40.83428030759117], 'price': 7726.394...",NaN,"{'qnt': [403.4624526908918], 'price': 4567.348...","{'qnt': [2315.0225428705608], 'price': 8072.81...",NaN,"{'qnt': [40], 'price': 9409.849458551993}","{'qnt': [10], 'price': 253.18675241679816}",NaN
3,labp6c1nh7x2c90ocp,Wed Jan 29 17:18:54 2025,"{'qnt': [22], 'price': 19008.105159395}","{'qnt': [5], 'price': 14216.946611521576}",NaN,"{'qnt': [37], 'price': 6614.440002675387}","{'qnt': [290], 'price': 11147.805351562502}","{'qnt': [169.28559906486106], 'price': 7726.39...",NaN,NaN,"{'qnt': [1929.5730901335098], 'price': 8072.81...",NaN,"{'qnt': [49], 'price': 9409.849458551993}","{'qnt': [11], 'price': 253.18675241679816}",NaN
4,labp6c1nclmmcq9cy5v,Thu Jan 30 05:51:41 2025,NaN,NaN,NaN,NaN,"{'qnt': [15], 'price': 11147.805351562502}",NaN,"{'qnt': [114.23046284162501], 'price': 2925.13...",NaN,"{'qnt': [1620.1313239592816], 'price': 8072.81...",NaN,NaN,"{'qnt': [19], 'price': 253.18675241679816}","{'qnt': [7], 'price': 11795.888035120372}"
5,labp6c1n0ytdq8a5go8,Thu Jan 30 05:21:20 2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'qnt': [262.02786983326416], 'price': 4567.34...","{'qnt': [1634.2910109012216], 'price': 8072.81...",NaN,NaN,"{'qnt': [18], 'price': 253.18675241679816}","{'qnt': [4], 'price': 11795.888035120372}"
6,labp6c1ngjv616sdkkd,Thu Jan 30 00:32:00 2025,NaN,NaN,"{'qnt': [33], 'price': 1657.8784756226796}",NaN,"{'qnt': [328], 'price': 11147.805351562502}","{'qnt': [0], 'price': 7726.39442138672}","{'qnt': [122.69165393684551], 'price': 2925.13...",NaN,"{'qnt': [1959.4889178236147], 'price': 8072.81...","{'qnt': [49], 'price': 9275.503095004207}",NaN,NaN,"{'qnt': [22], 'price': 11795.888035120372}"
7,labp6c1n7o6lwbiahfc,Wed Jan 29 20:34:23 2025,NaN,"{'qnt': [9], 'price': 14216.946611521576}",NaN,"{'qnt': [30], 'price': 6614.440002675387}","{'qnt': [258], 'price': 11147.805351562502}","{'qnt': [0], 'price': 7726.39442138672}",NaN,NaN,"{'qnt': [1975.199511560631], 'price': 8072.817...",NaN,NaN,"{'qnt': [15], 'price': 253.18675241679816}","{'qnt': [19], 'price': 11795.888035120372}"
8,labp6c1nzzkltexqkxi,Thu Jan 30 05:14:43 2025,NaN,NaN,"{'qnt': [29], 'price': 1657.8784756226796}","{'qnt': [28], 'price': 6614.440002675387}",NaN,"{'qnt': [0], 'price': 7726.39442138672}",NaN,NaN,"{'qnt': [1881.6545942709859], 'price': 8072.81...",NaN,"{'qnt': [8], 'price': 9409.849458551993}","{'qnt': [46], 'price': 253.18675241679816}","{'qnt': [37], 'price': 11795.888035120372}"
9,labp6c1n901q57ubb2f,Wed Jan 29 20:21:11 2025,"{'qnt': [9], 'price': 19008.105159395}",NaN,NaN,NaN,"{'qnt': [42], 'price': 11147.805351562502}","{'qnt': [0], 'price': 7726.39442138672}","{'qnt': [373.49284351940133], 'price': 2925.13...",NaN,"{'qnt': [2040.188644799644], 'price': 8072.817...","{'qnt': [9], 'price': 9275.503095004207}","{'qnt': [35], 'price': 9409.849458551993}","{'qnt': [19], 'price': 253.18675241679816}","{'qnt': [7], 'price': 11795.888035120372}"
10,labp6c1nxrxs7edppfs,Thu Jan 30 01:38:44 2025,"{'qnt': [39], 'price': 19008.105159395}","{'qnt': [22], 'price': 14216.946611521576}","{'qnt': [39], 'price': 1657.8784756226796}","{'qnt': [17], 'price': 6614.440002675387}","{'qnt': [0], 'price': 11147.805351562502}","{'qnt': [185.73836973363086], 'price': 7726.39...",NaN,NaN,"{'qnt': [1977.6587742452245], 'price': 8072.81...",NaN,"{'qnt': [13], 'price': 9409.849458551993}",NaN,NaN
11,labp6c1nmqir7k8d9eg,Thu Jan 30 06:50:37 2025,"{'qnt': [40], 'price': 19008.105159395}","{'qnt': [16], 'price': 14216.946611521576}",NaN,NaN,"{'qnt': [299], 'price': 11147.805351562502}","{'qnt': [20.120579511210458], 'price': 7726.39...","{'qnt': [0], 'price': 2925.131187744141}",NaN,"{'qnt': [2054.4460495909525], 'price': 8072.81...",NaN,NaN,NaN,"{'qnt': [9], 'price': 11795.888035120372}"
12,labp6c1ngsohg27aua,Thu Jan 30 08:32:19 2025,"{'qnt': [18], 'price': 19008.105159395}","{'qnt': [42], 'price': 14216.946611521576}",NaN,"{'qnt': [39], 'price': 6614.440002675387}","{'qnt': [0], 'price': 11147.805351562502}",NaN,"{'qnt': [20.297575831702034], 'price': 2925.13...","{'qnt': [0], 'price': 4567.34852649323}","{'qnt': [2366.6324157361955], 'price': 8072.81...","{'qnt': [47], 'price': 9275.503095004207}",NaN,NaN,"{'qnt': [48], 'price': 11795.888035120372}"
13,labp6c1nf05n80279v9,Thu Jan 30 06:52:27 2025,NaN,"{'qnt': [47], 'price': 14216.946611521576}","{'qnt': [31], 'price': 1657.8784756226796}","{'qnt': [27], 'price': 6614.440002675387}","{'qnt': [40], 'price': 11147.805351562502}","{'qnt': [0], 'price': 7726.39442138672}","{'qnt': [441.25796519249496], 'price': 2925.13...",NaN,"{'qnt': [1917.2035908494427], 'price': 8072.81...",NaN,NaN,NaN,"{'qnt': [40], 'price': 11795.888035120372}"
14,labp6c1n5nhugizmkw4,Wed Jan 29 17:50:21 2025,NaN,"{'qnt': [6], 'price': 14216.946611521576}","{'qnt': [25], 'price': 1657.8784756226796}",NaN,"{'qnt': [0], 'price': 11147.805351562502}","{'qnt': [0], 'price': 7726.39442138672}",NaN,"{'qnt': [0], 'price': 4567.34852649323}","{'qnt': [2236.8795198345424], 'price': 8072.81...","{'qnt': [43], 'price': 9275.503095004207}","{'qnt': [26], 'price': 9409.849458551993}","{'qnt': [38], 'price': 253.18675241679816}","{'qnt': [2], 'price': 11795.888035120372}"
15,labp6c1nnnokjunwo2o,Wed Jan 29 18:58:47 2025,NaN,NaN,NaN,NaN,"{'qnt': [18], 'price': 11147.805351562502}","{'qnt': [459.440920539062], 'price': 7726.3944...","{'qnt': [0], 'price': 2925.131187744141}","{'qnt': [0], 'price': 4567.34852649323}","{'qnt': [2155.447330339862], 'price': 8072.817...",NaN,NaN,"{'qnt': [37], 'price': 253.18675241679816}","{'qnt': [42], 'price': 11795.888035120372}"
16,labp6c1n74ve96nxvgu,Thu Jan 30 00:33:14 2025,"{'qnt': [5], 'price': 19008.105159395}","{'qnt': [6], 'price': 14216.946611521576}","{'qnt': [13], 'price': 1657.8784756226796}",NaN,"{'qnt': [115], 'price': 11147.805351562502}","{'qnt': [0], 'price': 7726.39442138672}",NaN,"{'qnt': [376.2328087139962], 'price': 4567.348...","{'qnt': [1674.0735027324215], 'price': 8072.81...",NaN,"{'qnt': [35], 'price': 9409.849458551993}",NaN,"{'qnt': [25], 'price': 11795.888035120372}"
17,labp6c1n6dm9xnbu3c2,Wed Jan 29 21:53:39 2025,"{'qnt': [48], 'price': 19008.105159395}",NaN,NaN,"{'qnt': [42], 'price': 6614.440002675387}",NaN,"{'qnt': [42.51996472307119], 'price': 7726.394...",NaN,NaN,"{'qnt': [2303.723122713034], 'price': 8072.817...",NaN,"{'qnt': [29], 'price': 9409.849458551993}",NaN,"{'qnt': [13], 'price': 11795.888035120372}"
18,labp6c1nw89byet1gf,Wed Jan 29 21:20:41 2025,NaN,NaN,"{'qnt': [36], 'price': 1657.8784756226796}","{'qnt': [30], 'price': 6614.440002675387}","{'qnt': [6], 'price': 11147.805351562502}",NaN,"{'qnt': [161.7937755118764], 'price': 2925.131...",NaN,"{'qnt': [2234.038037559471], 'price': 8072.817...",NaN,"{'qnt': [35], 'price': 9409.849458551993}","{'qnt': [36], 'price': 253.18675241679816}",NaN
19,labp6c1n4ngernod7g7,Wed Jan 29 17:56:36 2025,"{'qnt': [44], 'price': 19008.105159395}",NaN,"{'qnt': [10], 'price': 1657.8784756226796}","{'qnt': [43], 'price': 6614.440002675387}","{'qnt': [44], 'price': 11147.805351562502}","{'qnt': [246.95424137772727], 'price': 7726.39...","{'qnt': [82.5432953821985], 'price': 2925.1311...","{'qnt': [0], 'price': 4567.34852649323}","{'qnt': [2360.644059703862], 'price': 8072.817...","{'qnt': [13], 'price': 9275.503095004207}",NaN,"{'qnt': [40], 'price': 253.18675241679816}","{'qnt': [48], 'price': 11795.888035120372}"
20,labp6c1n1wcz5a5hzxo,Thu Jan 30 02:47:46 2025,"{'qnt': [43], 'price': 19008.105159395}","{'qnt': [36], 'price': 14216.946611521576}",NaN,"{'qnt': [39], 'price': 6614.440002675387}",NaN,"{'qnt': [25.086566763940056], 'price': 7726.39...","{'qnt': [438.499688562576], 'price': 2925.1311...",NaN,"{'qnt': [2316.387605083319], 'price': 8072.817...","{'qnt': [24], 'price': 9275.503095004207}",NaN,NaN,"{'qnt': [34], 'price': 11795.888035120372}"
21,labp6c1nozpt5babyjg,Thu Jan 30 01:50:19 2025,NaN,NaN,"{'qnt': [44], 'price': 1657.8784756226796}",NaN,NaN,"{'qnt': [1.6918157406562386], 'price': 7726.39...","{'qnt': [0], 'price': 2925.131187744141}","{'qnt': [0], 'price': 4567.34852649323}","{'qnt': [1671.7363329400682], 'price': 8072.81...","{'qnt': [35], 'price': 9275.503095004207}",NaN,NaN,NaN
22,labp6c1nu4k4glhbuma,Thu Jan 30 07:33:48 2025,NaN,"{'qnt': [15], 'price': 14216.946611521576}","{'qnt': [25], 'price': 1657.8784756226796}","{'qnt': [37], 'price': 6614.440002675387}","{'qnt': [154], 'price': 11147.805351562502}","{'qnt': [431.343869516576], 'price': 7726.3944...","{'qnt': [382.85113457203136], 'price': 2925.13...",NaN,"{'qnt': [2355.2731209024632], 'price': 8072.81...",NaN,"{'qnt': [42], 'price': 9409.849458551993}",NaN,NaN
23,labp6c1nvt96l0r4ge,Thu Jan 30 05:11:49 2025,"{'qnt': [11], 'price': 19008.105159395}",NaN,"{'qnt': [34], 'price': 1657.8784756226796}",NaN,NaN,NaN,"{'qnt': [0], 'price': 2925.131187744141}","{'qnt': [0], 'price': 4567.34852649323}","{'qnt': [1834.4918251843662], 'price': 8072.81...","{'qnt': [38], 'price': 9275.503095004207}","{'qnt': [50], 'price': 9409.849458551993}","{'qnt': [45], 'price': 253.18675241679816}","{'qnt': [6], 'price': 11795.888035120372}"
24,labp6c1ns9ae3d1rf2i,Wed Jan 29 21:43:20 2025,NaN,"{'qnt': [3], 'price': 14216.946611521576}","{'qnt': [33], 'price': 1657.8784756226796}","{'qnt': [34], 'price': 6614.440002675387}",NaN,"{'qnt': [313.8541234951444], 'price': 7726.394...","{'qnt': [0.7011901218447179], 'price': 2925.13...","{'qnt': [190.59929188136533], 'price': 4567.34...","{'qnt': [2263.1216687383144], 'price': 8072.81...",NaN,"{'qnt': [36], 'price': 9409.849458551993}",NaN,"{'qnt': [5], 'price': 11795.888035120372}"
25,labp6c1nmu6p9mo9dqm,Wed Jan 29 16:46:48 2025,NaN,"{'qnt': [2], 'price': 14216.946611521576}","{'qnt': [38], 'price': 1657.8784756226796}","{'qnt': [38], 'price': 6614.440002675387}","{'qnt': [189], 'price': 11147.805351562502}","{'qnt': [0], 'price': 7726.39442138672}",NaN,NaN,"{'qnt': [2138.2792792729956], 'price': 8072.81...","{'qnt': [8], 'price': 9275.503095004207}",NaN,"{'qnt': [21], 'price': 253.18675241679816}",NaN
26,labp6c1n1svph5cctr8,Thu Jan 30 05:33:37 2025,NaN,"{'qnt': [40], 'price': 14216.946611521576}",NaN,"{'qnt': [22], 'price': 6614.440002675387}","{'qnt': [0], 'price': 11147.805351562502}","{'qnt': [23.559705655234808], 'price': 7726.39...",NaN,NaN,"{'qnt': [1946.8047217226585], 'price': 8072.81...","{'qnt': [8], 'price': 9275.503095004207}","{'qnt': [22], 'price': 9409.849458551993}",NaN,"{'qnt': [12], 'price': 11795.888035120372}"
27,labp6c1n7qfdr0izowt,Thu Jan 30 08:23:07 2025,"{'qnt': [42], 'price': 19008.105159395}",NaN,"{'qnt': [39], 'price': 1657.8784756226796}",NaN,"{'qnt': [44], 'price': 11147.805351562502}",NaN,"{'qnt': [0], 'price': 2925.131187744141}",NaN,"{'qnt': [1751.7364364297796], 'price': 8072.81...","{'qnt': [3], 'price': 9275.503095004207}",NaN,NaN,"{'qnt': [44], 'price': 11795.888035120372}"
28,labp6c1n4yobaobln4j,Thu Jan 30 04:37:58 2025,"{'qnt': [29], 'price': 19008.105159395}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [461.8390747251951], 'price': 2925.131...","{'qnt': [50.22929509678727], 'price': 4567.348...","{'qnt': [1635.710807934943], 'price': 8072.817...","{'qnt': [36], 'price': 9275.503095004207}",NaN,NaN,"{'qnt': [1], 'price': 11795.888035120372}"
29,labp6c1nwee5g0nwv0r,Thu Jan 30 07:04:15 2025,"{'qnt': [30], 'price': 19008.105159395}",NaN,NaN,NaN,"{'qnt': [31], 'price': 11147.805351562502}","{'qnt': [414.60222235571473], 'price': 7726.39...",NaN,NaN,"{'qnt': [1872.4538723129324], 'price': 8072.81...",NaN,NaN,NaN,"{'qnt': [6], 'price': 11795.888035120372}"
30,labp6c1nrvi3za352m8,Wed Jan 29 22:25:16 2025,"{'qnt': [29], 'price': 19008.105159395}",NaN,NaN,"{'qnt': [11], 'price': 6614.440002675387}","{'qnt': [395], 'price': 11147.805351562502}","{'qnt': [33.49008337682618], 'price': 7726.394...",NaN,"{'qnt': [0], 'price': 4567.34852649323}","{'qnt': [1887.1290032664172], 'price': 8072.81...",NaN,NaN,"{'qnt': [22], 'price': 253.18675241679816}","{'qnt': [36], 'price': 11795.888035120372}"
31,labp6c1nh1w99fn9bo,Thu Jan 30 08:21:04 2025,NaN,NaN,"{'qnt': [33], 'price': 1657.8784756226796}","{'qnt': [16], 'price': 6614.440002675387}","{'qnt': [29], 'price': 11147.805351562502}","{'qnt': [0], 'price': 7726.39442138672}","{'qnt': [371.94987653394406], 'price': 2925.13...",NaN,"{'qnt': [1647.4525185902978], 'price': 8072.81...","{'qnt': [4], 'price': 9275.503095004207}",NaN,"{'qnt': [33], 'price': 253.18675241679816}","{'qnt': [31], 'price': 11795.888035120372}"

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[38, 49, 9, 47, 43, 13, 24, 35, 38, 8, 8, 3, 3...","[40, 49, 8, 35, 13, 26, 35, 29, 35, 42, 50, 36...","[10, 11, 19, 18, 15, 46, 19, 38, 37, 36, 40, 4...","[41, 2, 5, 9, 22, 16, 42, 47, 6, 6, 36, 15, 3,...","[42, 19, 34, 33, 29, 39, 31, 25, 13, 36, 10, 4...","[7, 4, 22, 19, 37, 7, 9, 48, 40, 2, 42, 25, 13...","[0, 39, 266, 290, 15, 328, 258, 42, 0, 299, 0,...","[25.54835936257548, 0, 40.83428030759117, 169....","[148.4158855910565, 114.23046284162501, 122.69...","[1977.7725060342564, 2253.095836904933, 2315.0...","[5, 26, 28, 22, 9, 39, 40, 18, 5, 48, 44, 43, ...","[24, 35, 42, 37, 30, 28, 17, 39, 27, 42, 30, 4...","[0, 0, 403.4624526908918, 262.02786983326416, ..."
price,9275.503095,9409.849459,253.186752,14216.946612,1657.878476,11795.888035,11147.805352,7726.394421,2925.131188,8072.817144,19008.105159,6614.440003,4567.348526
next_week_price,13913.254642,14114.774188,379.780129,21325.419782,2486.817713,17693.83204,16721.708027,11589.591632,4387.696782,12109.225715,28512.157739,9921.660004,6851.02279

Semana 16:

Json:

,id,date,prod_1,prod_2,prod_4,prod_6,prod_8,prod_10,prod_15,prod_0,prod_9,prod_3,prod_5,prod_7,prod_11
0,labp6c612trbun7q6nm,Wed Feb 5 20:05:04 2025,"{'qnt': [31], 'price': 28512.157739035305}","{'qnt': [2], 'price': 14114.774187827752}","{'qnt': [5], 'price': 21325.419781502645}","{'qnt': [9], 'price': 17693.83204001555}","{'qnt': [3], 'price': 16721.708027343753}","{'qnt': [271.2815944264512], 'price': 4387.696...","{'qnt': [1766.5381882204442], 'price': 12109.2...",NaN,NaN,NaN,NaN,NaN,NaN
1,labp6c61w5llsucuphb,Thu Feb 6 03:30:16 2025,NaN,NaN,"{'qnt': [44], 'price': 21325.419781502645}","{'qnt': [31], 'price': 17693.83204001555}",NaN,"{'qnt': [366.7867578027273], 'price': 4387.696...","{'qnt': [2071.2828779543406], 'price': 12109.2...","{'qnt': [40], 'price': 13913.254642261312}","{'qnt': [3.0592963334199252], 'price': 11589.5...",NaN,NaN,NaN,NaN
2,labp6c61eetxwmpeg5,Thu Feb 6 07:20:47 2025,"{'qnt': [19], 'price': 28512.157739035305}",NaN,"{'qnt': [33], 'price': 21325.419781502645}",NaN,NaN,"{'qnt': [709.5063568478269], 'price': 4387.696...","{'qnt': [1887.3355657971642], 'price': 12109.2...",NaN,"{'qnt': [507.6113512231748], 'price': 11589.59...",NaN,NaN,NaN,NaN
3,labp6c61exr8lsqatdf,Thu Feb 6 01:03:47 2025,NaN,"{'qnt': [20], 'price': 14114.774187827752}","{'qnt': [8], 'price': 21325.419781502645}","{'qnt': [19], 'price': 17693.83204001555}",NaN,NaN,"{'qnt': [2461.228605511112], 'price': 12109.22...","{'qnt': [20], 'price': 13913.254642261312}","{'qnt': [183.3583732018852], 'price': 11589.59...","{'qnt': [1], 'price': 379.78012862427033}","{'qnt': [17], 'price': 2486.8177134338553}","{'qnt': [4], 'price': 9921.660004012525}",NaN
4,labp6c61rwret96amy,Wed Feb 5 21:40:29 2025,NaN,"{'qnt': [8], 'price': 14114.774187827752}",NaN,"{'qnt': [44], 'price': 17693.83204001555}","{'qnt': [133], 'price': 16721.708027343753}",NaN,"{'qnt': [1762.169853982089], 'price': 12109.22...",NaN,"{'qnt': [14.858569147985989], 'price': 11589.5...","{'qnt': [31], 'price': 379.78012862427033}","{'qnt': [23], 'price': 2486.8177134338553}","{'qnt': [18], 'price': 9921.660004012525}","{'qnt': [133.2634978376386], 'price': 6851.022..."
5,labp6c61s4o58mfdnsq,Thu Feb 6 04:59:04 2025,NaN,"{'qnt': [8], 'price': 14114.774187827752}","{'qnt': [46], 'price': 21325.419781502645}",NaN,"{'qnt': [775], 'price': 16721.708027343753}",NaN,"{'qnt': [2093.0421211112753], 'price': 12109.2...",NaN,NaN,NaN,"{'qnt': [28], 'price': 2486.8177134338553}",NaN,NaN
6,labp6c615gjp5luto7a,Thu Feb 6 00:35:01 2025,"{'qnt': [49], 'price': 28512.157739035305}","{'qnt': [32], 'price': 14114.774187827752}",NaN,"{'qnt': [48], 'price': 17693.83204001555}","{'qnt': [528], 'price': 16721.708027343753}","{'qnt': [160.63788888589096], 'price': 4387.69...","{'qnt': [1925.7997029210333], 'price': 12109.2...",NaN,"{'qnt': [580.6980715332003], 'price': 11589.59...",NaN,NaN,"{'qnt': [21], 'price': 9921.660004012525}",NaN
7,labp6c619q75qb686fi,Wed Feb 5 19:34:29 2025,"{'qnt': [14], 'price': 28512.157739035305}",NaN,NaN,NaN,"{'qnt': [30], 'price': 16721.708027343753}",NaN,"{'qnt': [2325.607377539748], 'price': 12109.22...",NaN,"{'qnt': [604.2007443152215], 'price': 11589.59...",NaN,NaN,"{'qnt': [41], 'price': 9921.660004012525}","{'qnt': [109.54976227863003], 'price': 6851.02..."
8,labp6c61imt4220qbpe,Thu Feb 6 06:07:21 2025,"{'qnt': [2], 'price': 28512.157739035305}",NaN,NaN,"{'qnt': [33], 'price': 17693.83204001555}",NaN,"{'qnt': [483.15994767168763], 'price': 4387.69...","{'qnt': [1979.1742457518005], 'price': 12109.2...","{'qnt': [8], 'price': 13913.254642261312}",NaN,"{'qnt': [17], 'price': 379.78012862427033}",NaN,NaN,NaN
9,labp6c61xj7pd5tz85e,Thu Feb 6 02:24:36 2025,"{'qnt': [13], 'price': 28512.157739035305}",NaN,"{'qnt': [31], 'price': 21325.419781502645}",NaN,"{'qnt': [591], 'price': 16721.708027343753}",NaN,"{'qnt': [2195.7909896196843], 'price': 12109.2...","{'qnt': [36], 'price': 13913.254642261312}","{'qnt': [148.68738583740358], 'price': 11589.5...","{'qnt': [46], 'price': 379.78012862427033}","{'qnt': [42], 'price': 2486.8177134338553}",NaN,NaN
10,labp6c614pqk10iizrq,Thu Feb 6 03:47:17 2025,"{'qnt': [13], 'price': 28512.157739035305}","{'qnt': [44], 'price': 14114.774187827752}",NaN,NaN,"{'qnt': [29], 'price': 16721.708027343753}","{'qnt': [439.9524591234235], 'price': 4387.696...","{'qnt': [2509.5830422542276], 'price': 12109.2...","{'qnt': [34], 'price': 13913.254642261312}","{'qnt': [20.357886319026363], 'price': 11589.5...","{'qnt': [23], 'price': 379.78012862427033}","{'qnt': [33], 'price': 2486.8177134338553}","{'qnt': [37], 'price': 9921.660004012525}","{'qnt': [634.0580567770485], 'price': 6851.022..."
11,labp6c612jv95tc5x9b,Wed Feb 5 17:31:13 2025,NaN,"{'qnt': [20], 'price': 14114.774187827752}","{'qnt': [20], 'price': 21325.419781502645}","{'qnt': [15], 'price': 17693.83204001555}","{'qnt': [473], 'price': 16721.708027343753}",NaN,"{'qnt': [2328.01306451725], 'price': 12109.225...",NaN,"{'qnt': [647.5060470589318], 'price': 11589.59...","{'qnt': [32], 'price': 379.78012862427033}","{'qnt': [50], 'price': 2486.8177134338553}","{'qnt': [4], 'price': 9921.660004012525}","{'qnt': [737.5450492777205], 'price': 6851.022..."
12,labp6c61dn8qoigx1qs,Thu Feb 6 02:42:59 2025,NaN,NaN,NaN,"{'qnt': [9], 'price': 17693.83204001555}","{'qnt': [369], 'price': 16721.708027343753}",NaN,"{'qnt': [2171.9092053469585], 'price': 12109.2...",NaN,NaN,"{'qnt': [42], 'price': 379.78012862427033}","{'qnt': [14], 'price': 2486.8177134338553}",NaN,"{'qnt': [554.1651999899497], 'price': 6851.022..."
13,labp6c62zgtcpngmwx8,Thu Feb 6 00:00:21 2025,NaN,"{'qnt': [16], 'price': 14114.774187827752}",NaN,NaN,"{'qnt': [195], 'price': 16721.708027343753}",NaN,"{'qnt': [2213.076532810511], 'price': 12109.22...","{'qnt': [19], 'price': 13913.254642261312}","{'qnt': [140.85350053134502], 'price': 11589.5...",NaN,NaN,"{'qnt': [39], 'price': 9921.660004012525}",NaN
14,labp6c62lvz61l9oair,Thu Feb 6 07:38:56 2025,"{'qnt': [14], 'price': 28512.157739035305}","{'qnt': [4], 'price': 14114.774187827752}","{'qnt': [46], 'price': 21325.419781502645}","{'qnt': [27], 'price': 17693.83204001555}","{'qnt': [207], 'price': 16721.708027343753}","{'qnt': [533.7731929052894], 'price': 4387.696...","{'qnt': [1947.3528693271664], 'price': 12109.2...",NaN,NaN,"{'qnt': [32], 'price': 379.78012862427033}",NaN,"{'qnt': [45], 'price': 9921.660004012525}","{'qnt': [143.43327463996366], 'price': 6851.02..."
15,labp6c621k2nhmv60lj,Thu Feb 6 08:14:58 2025,"{'qnt': [41], 'price': 28512.157739035305}","{'qnt': [17], 'price': 14114.774187827752}",NaN,NaN,NaN,"{'qnt': [298.0854497080065], 'price': 4387.696...","{'qnt': [1978.8855514779968], 'price': 12109.2...",NaN,"{'qnt': [261.16590235190097], 'price': 11589.5...","{'qnt': [49], 'price': 379.78012862427033}",NaN,"{'qnt': [42], 'price': 9921.660004012525}",NaN
16,labp6c62wjldysbaor,Thu Feb 6 03:22:09 2025,NaN,"{'qnt': [38], 'price': 14114.774187827752}","{'qnt': [33], 'price': 21325.419781502645}","{'qnt': [23], 'price': 17693.83204001555}","{'qnt': [778], 'price': 16721.708027343753}",NaN,"{'qnt': [2517.4378094184503], 'price': 12109.2...","{'qnt': [29], 'price': 13913.254642261312}","{'qnt': [146.37377926680387], 'price': 11589.5...",NaN,NaN,NaN,"{'qnt': [665.1577843836833], 'price': 6851.022..."
17,labp6c62ouuywlt8hj9,Thu Feb 6 02:43:54 2025,"{'qnt': [18], 'price': 28512.157739035305}",NaN,NaN,"{'qnt': [6], 'price': 17693.83204001555}","{'qnt': [28], 'price': 16721.708027343753}","{'qnt': [561.8030973711778], 'price': 4387.696...","{'qnt': [2234.960925879798], 'price': 12109.22...",NaN,"{'qnt': [206.21738407104044], 'price': 11589.5...","{'qnt': [2], 'price': 379.78012862427033}","{'qnt': [41], 'price': 2486.8177134338553}",NaN,"{'qnt': [227.29199377417476], 'price': 6851.02..."
18,labp6c62mapspr2rbye,Thu Feb 6 08:43:22 2025,NaN,NaN,"{'qnt': [6], 'price': 21325.419781502645}",NaN,"{'qnt': [680], 'price': 16721.708027343753}",NaN,"{'qnt': [2468.1230181132205], 'price': 12109.2...",NaN,NaN,NaN,NaN,"{'qnt': [32], 'price': 9921.660004012525}",NaN
19,labp6c6224s9muuwjzu,Thu Feb 6 03:16:54 2025,"{'qnt': [8], 'price': 28512.157739035305}","{'qnt': [12], 'price': 14114.774187827752}",NaN,"{'qnt': [22], 'price': 17693.83204001555}","{'qnt': [653], 'price': 16721.708027343753}","{'qnt': [660.4145426380531], 'price': 4387.696...","{'qnt': [2338.342411912692], 'price': 12109.22...","{'qnt': [49], 'price': 13913.254642261312}","{'qnt': [45.265591233627376], 'price': 11589.5...",NaN,"{'qnt': [1], 'price': 2486.8177134338553}",NaN,"{'qnt': [408.00959337308745], 'price': 6851.02..."
20,labp6c624vkdpk4d47p,Thu Feb 6 00:58:56 2025,NaN,NaN,"{'qnt': [30], 'price': 21325.419781502645}",NaN,"{'qnt': [359], 'price': 16721.708027343753}","{'qnt': [73.21944900095602], 'price': 4387.696...","{'qnt': [1847.4130823687894], 'price': 12109.2...","{'qnt': [30], 'price': 13913.254642261312}","{'qnt': [470.4082248853217], 'price': 11589.59...",NaN,NaN,"{'qnt': [7], 'price': 9921.660004012525}",NaN
21,labp6c62fsab6on6s9e,Wed Feb 5 23:31:08 2025,NaN,NaN,"{'qnt': [33], 'price': 21325.419781502645}","{'qnt': [14], 'price': 17693.83204001555}",NaN,NaN,"{'qnt': [2078.901479817103], 'price': 12109.22...","{'qnt': [2], 'price': 13913.254642261312}","{'qnt': [282.4331563044204], 'price': 11589.59...",NaN,NaN,NaN,NaN
22,labp6c62o2c9whmcra,Wed Feb 5 16:18:44 2025,NaN,"{'qnt': [19], 'price': 14114.774187827752}","{'qnt': [11], 'price': 21325.419781502645}","{'qnt': [41], 'price': 17693.83204001555}",NaN,NaN,"{'qnt': [2430.3604477041936], 'price': 12109.2...","{'qnt': [43], 'price': 13913.254642261312}","{'qnt': [627.4328295512504], 'price': 11589.59...","{'qnt': [46], 'price': 379.78012862427033}",NaN,NaN,"{'qnt': [31.288601474653355], 'price': 6851.02..."
23,labp6c628bo3k025p7l,Wed Feb 5 17:37:29 2025,NaN,NaN,"{'qnt': [0], 'price': 21325.419781502645}","{'qnt': [6], 'price': 17693.83204001555}",NaN,NaN,"{'qnt': [2293.242223651545], 'price': 12109.22...","{'qnt': [39], 'price': 13913.254642261312}","{'qnt': [1.4123610652023721], 'price': 11589.5...","{'qnt': [17], 'price': 379.78012862427033}","{'qnt': [14], 'price': 2486.8177134338553}",NaN,NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[40, 20, 8, 36, 34, 19, 29, 49, 30, 2, 43, 39]","[2, 20, 8, 8, 32, 44, 20, 16, 4, 17, 38, 12, 19]","[1, 31, 17, 46, 23, 32, 42, 32, 49, 2, 46, 17]","[5, 44, 33, 8, 46, 31, 20, 46, 33, 6, 30, 33, ...","[17, 23, 28, 42, 33, 50, 14, 41, 1, 14]","[9, 31, 19, 44, 48, 33, 15, 9, 27, 23, 6, 22, ...","[3, 133, 775, 528, 30, 591, 29, 473, 369, 195,...","[3.0592963334199252, 507.6113512231748, 183.35...","[271.2815944264512, 366.7867578027273, 709.506...","[1766.5381882204442, 2071.2828779543406, 1887....","[31, 19, 49, 14, 2, 13, 13, 14, 41, 18, 8]","[4, 18, 21, 41, 37, 4, 39, 45, 42, 32, 7]","[133.2634978376386, 109.54976227863003, 634.05..."
price,13913.254642,14114.774188,379.780129,21325.419782,2486.817713,17693.83204,16721.708027,11589.591632,4387.696782,12109.225715,28512.157739,9921.660004,6851.02279
next_week_price,20869.881963,21172.160913,569.670193,31988.129671,3730.22657,26540.748056,25082.562041,17384.387448,6581.545172,18163.838573,42768.236475,14882.490006,10276.534185

Semana 17:

Json:

,id,date,prod_0,prod_1,prod_2,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_10,prod_15,prod_3,prod_11
0,labp6c9fmzoo5w3viv8,Thu Feb 13 03:16:04 2025,"{'qnt': [18], 'price': 20869.88196338312}","{'qnt': [25], 'price': 42768.23647536275}","{'qnt': [7], 'price': 21172.160913422627}","{'qnt': [5], 'price': 31988.129671182658}","{'qnt': [8], 'price': 3730.226570125197}","{'qnt': [36], 'price': 26540.74805570379}","{'qnt': [18], 'price': 14882.490005923004}","{'qnt': [41], 'price': 25082.56204101563}","{'qnt': [47.87730810661617], 'price': 17384.38...","{'qnt': [1082.8064966014392], 'price': 6581.54...","{'qnt': [2162.6944396653375], 'price': 18163.8...",NaN,NaN
1,labp6c9flxbh751n9o,Wed Feb 12 17:49:41 2025,"{'qnt': [28], 'price': 20869.88196338312}","{'qnt': [33], 'price': 42768.23647536275}","{'qnt': [13], 'price': 21172.160913422627}","{'qnt': [23], 'price': 31988.129671182658}",NaN,"{'qnt': [19], 'price': 26540.74805570379}",NaN,"{'qnt': [952], 'price': 25082.56204101563}","{'qnt': [1074.3329046815622], 'price': 17384.3...","{'qnt': [598.9267021527446], 'price': 6581.545...","{'qnt': [2081.9170092073564], 'price': 18163.8...","{'qnt': [30], 'price': 569.6701929358013}",NaN
2,labp6c9fqizm61hpa3b,Thu Feb 13 00:43:58 2025,"{'qnt': [12], 'price': 20869.88196338312}","{'qnt': [4], 'price': 42768.23647536275}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [32], 'price': 25082.56204101563}",NaN,"{'qnt': [878.360991589833], 'price': 6581.5451...","{'qnt': [2003.9137798954791], 'price': 18163.8...",NaN,"{'qnt': [667.187135405012], 'price': 10276.534..."
3,labp6c9fjuvhday1ylg,Thu Feb 13 00:26:17 2025,NaN,NaN,"{'qnt': [5], 'price': 21172.160913422627}",NaN,NaN,"{'qnt': [43], 'price': 26540.74805570379}","{'qnt': [21], 'price': 14882.490005923004}","{'qnt': [29], 'price': 25082.56204101563}",NaN,"{'qnt': [927.4883217889975], 'price': 6581.545...","{'qnt': [1933.166567023297], 'price': 18163.83...",NaN,"{'qnt': [666.8030247750403], 'price': 10276.53..."
4,labp6c9fzxtp8i3a05k,Wed Feb 12 16:57:20 2025,"{'qnt': [9], 'price': 20869.88196338312}","{'qnt': [28], 'price': 42768.23647536275}","{'qnt': [29], 'price': 21172.160913422627}","{'qnt': [5], 'price': 31988.129671182658}","{'qnt': [11], 'price': 3730.226570125197}",NaN,"{'qnt': [28], 'price': 14882.490005923004}","{'qnt': [734], 'price': 25082.56204101563}",NaN,"{'qnt': [928.5294232889862], 'price': 6581.545...","{'qnt': [2036.4834861886438], 'price': 18163.8...","{'qnt': [1], 'price': 569.6701929358013}","{'qnt': [1056.2911483143437], 'price': 10276.5..."
5,labp6c9fyyce7iw1rf,Thu Feb 13 02:52:18 2025,NaN,NaN,"{'qnt': [42], 'price': 21172.160913422627}",NaN,NaN,"{'qnt': [26], 'price': 26540.74805570379}",NaN,"{'qnt': [480], 'price': 25082.56204101563}","{'qnt': [37.68682051592519], 'price': 17384.38...",NaN,"{'qnt': [2598.6422019063457], 'price': 18163.8...",NaN,NaN
6,labp6c9f99re2iy1tol,Wed Feb 12 17:55:31 2025,NaN,"{'qnt': [17], 'price': 42768.23647536275}","{'qnt': [47], 'price': 21172.160913422627}",NaN,"{'qnt': [37], 'price': 3730.226570125197}","{'qnt': [9], 'price': 26540.74805570379}","{'qnt': [11], 'price': 14882.490005923004}",NaN,"{'qnt': [34.046568730609806], 'price': 17384.3...",NaN,"{'qnt': [2169.4009681272164], 'price': 18163.8...","{'qnt': [2], 'price': 569.6701929358013}","{'qnt': [411.98920404606565], 'price': 10276.5..."
7,labp6c9fqkyl56a3gwi,Thu Feb 13 02:37:13 2025,"{'qnt': [18], 'price': 20869.88196338312}",NaN,"{'qnt': [4], 'price': 21172.160913422627}",NaN,"{'qnt': [16], 'price': 3730.226570125197}",NaN,NaN,"{'qnt': [755], 'price': 25082.56204101563}",NaN,"{'qnt': [582.9956557539622], 'price': 6581.545...","{'qnt': [1875.0697146164339], 'price': 18163.8...",NaN,NaN
8,labp6c9fh82biiecoi6,Thu Feb 13 03:35:49 2025,NaN,NaN,"{'qnt': [49], 'price': 21172.160913422627}","{'qnt': [46], 'price': 31988.129671182658}","{'qnt': [15], 'price': 3730.226570125197}","{'qnt': [28], 'price': 26540.74805570379}","{'qnt': [34], 'price': 14882.490005923004}",NaN,"{'qnt': [443.7408754390284], 'price': 17384.38...","{'qnt': [1059.7511873822182], 'price': 6581.54...","{'qnt': [1957.4950712454315], 'price': 18163.8...","{'qnt': [40], 'price': 569.6701929358013}","{'qnt': [788.4938963621823], 'price': 10276.53..."
9,labp6c9f1fhasv4pjoc,Wed Feb 12 21:48:10 2025,NaN,"{'qnt': [23], 'price': 42768.23647536275}",NaN,NaN,"{'qnt': [14], 'price': 3730.226570125197}",NaN,"{'qnt': [1], 'price': 14882.490005923004}","{'qnt': [420], 'price': 25082.56204101563}","{'qnt': [741.3735336313409], 'price': 17384.38...","{'qnt': [302.4773742850534], 'price': 6581.545...","{'qnt': [2617.5667159751006], 'price': 18163.8...",NaN,"{'qnt': [448.2914680242945], 'price': 10276.53..."
10,labp6c9f5ngit6f6v6d,Wed Feb 12 17:23:10 2025,NaN,NaN,"{'qnt': [22], 'price': 21172.160913422627}","{'qnt': [50], 'price': 31988.129671182658}",NaN,"{'qnt': [39], 'price': 26540.74805570379}","{'qnt': [2], 'price': 14882.490005923004}","{'qnt': [946], 'price': 25082.56204101563}","{'qnt': [1057.4301462590215], 'price': 17384.3...",NaN,"{'qnt': [2168.1844849123454], 'price': 18163.8...","{'qnt': [10], 'price': 569.6701929358013}","{'qnt': [1085.7347146581121], 'price': 10276.5..."
11,labp6c9f0vao2pt2199g,Wed Feb 12 22:24:05 2025,"{'qnt': [25], 'price': 20869.88196338312}",NaN,"{'qnt': [44], 'price': 21172.160913422627}",NaN,NaN,NaN,NaN,"{'qnt': [6], 'price': 25082.56204101563}","{'qnt': [869.0762707028455], 'price': 17384.38...",NaN,"{'qnt': [2537.1882398307825], 'price': 18163.8...",NaN,"{'qnt': [907.271576331049], 'price': 10276.534..."
12,labp6c9f7oz03qla9by,Thu Feb 13 05:34:42 2025,"{'qnt': [6], 'price': 20869.88196338312}","{'qnt': [33], 'price': 42768.23647536275}",NaN,"{'qnt': [3], 'price': 31988.129671182658}",NaN,"{'qnt': [5], 'price': 26540.74805570379}",NaN,"{'qnt': [689], 'price': 25082.56204101563}","{'qnt': [434.3256995554463], 'price': 17384.38...",NaN,"{'qnt': [1883.4349146326958], 'price': 18163.8...","{'qnt': [32], 'price': 569.6701929358013}","{'qnt': [580.9325917100117], 'price': 10276.53..."
13,labp6c9fcigv72b26ks,Wed Feb 12 19:54:58 2025,"{'qnt': [14], 'price': 20869.88196338312}",NaN,NaN,NaN,NaN,NaN,NaN,"{'qnt': [864], 'price': 25082.56204101563}","{'qnt': [431.4566671664627], 'price': 17384.38...","{'qnt': [547.746542226503], 'price': 6581.5451...","{'qnt': [2522.872162514828], 'price': 18163.83...","{'qnt': [37], 'price': 569.6701929358013}","{'qnt': [1030.7425769095082], 'price': 10276.5..."
14,labp6c9f2tz1ecd9zuq,Thu Feb 13 03:17:56 2025,"{'qnt': [34], 'price': 20869.88196338312}",NaN,"{'qnt': [30], 'price': 21172.160913422627}","{'qnt': [25], 'price': 31988.129671182658}","{'qnt': [17], 'price': 3730.226570125197}","{'qnt': [15], 'price': 26540.74805570379}",NaN,"{'qnt': [27], 'price': 25082.56204101563}","{'qnt': [833.1360673592256], 'price': 17384.38...",NaN,"{'qnt': [2123.1386107218314], 'price': 18163.8...",NaN,NaN
15,labp6c9fnuldu7vv16,Wed Feb 12 19:40:43 2025,"{'qnt': [7], 'price': 20869.88196338312}","{'qnt': [31], 'price': 42768.23647536275}","{'qnt': [0], 'price': 21172.160913422627}",NaN,"{'qnt': [29], 'price': 3730.226570125197}","{'qnt': [5], 'price': 26540.74805570379}","{'qnt': [27], 'price': 14882.490005923004}",NaN,"{'qnt': [573.3498465348898], 'price': 17384.38...","{'qnt': [1048.422509765121], 'price': 6581.545...","{'qnt': [2546.828444039909], 'price': 18163.83...",NaN,NaN
16,labp6c9fvd50cf3gnk,Thu Feb 13 00:54:56 2025,"{'qnt': [25], 'price': 20869.88196338312}","{'qnt': [17], 'price': 42768.23647536275}",NaN,NaN,NaN,"{'qnt': [28], 'price': 26540.74805570379}",NaN,"{'qnt': [7], 'price': 25082.56204101563}","{'qnt': [544.9769620080989], 'price': 17384.38...",NaN,"{'qnt': [2422.2925454350598], 'price': 18163.8...","{'qnt': [8], 'price': 569.6701929358013}",NaN
17,labp6c9fnqe1yftkrpl,Wed Feb 12 17:49:17 2025,"{'qnt': [34], 'price': 20869.88196338312}","{'qnt': [20], 'price': 42768.23647536275}",NaN,NaN,"{'qnt': [45], 'price': 3730.226570125197}",NaN,"{'qnt': [3], 'price': 14882.490005923004}","{'qnt': [3], 'price': 25082.56204101563}","{'qnt': [1077.1636966642468], 'price': 17384.3...","{'qnt': [429.50934730423404], 'price': 6581.54...","{'qnt': [2613.335924728812], 'price': 18163.83...",NaN,NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[18, 28, 12, 9, 18, 25, 6, 14, 34, 7, 25, 34]","[7, 13, 5, 29, 42, 47, 4, 49, 22, 44, 30, 0]","[30, 1, 2, 40, 10, 32, 37, 8]","[5, 23, 5, 46, 50, 3, 25]","[8, 11, 37, 16, 15, 14, 17, 29, 45]","[36, 19, 43, 26, 9, 28, 39, 5, 15, 5, 28]","[41, 952, 32, 29, 734, 480, 755, 420, 946, 6, ...","[47.87730810661617, 1074.3329046815622, 37.686...","[1082.8064966014392, 598.9267021527446, 878.36...","[2162.6944396653375, 2081.9170092073564, 2003....","[25, 33, 4, 28, 17, 23, 33, 31, 17, 20]","[18, 21, 28, 11, 34, 1, 2, 27, 3]","[667.187135405012, 666.8030247750403, 1056.291..."
price,20869.881963,21172.160913,569.670193,31988.129671,3730.22657,26540.748056,25082.562041,17384.387448,6581.545172,18163.838573,42768.236475,14882.490006,10276.534185
next_week_price,31304.822676,31758.241369,854.505286,47982.194491,5595.33985,39811.122076,37623.843062,26076.581172,9872.317759,27245.757859,64152.354702,22323.730935,15414.801277

Semana 18:

Json:

,id,date,prod_1,prod_2,prod_4,prod_8,prod_9,prod_10,prod_11,prod_15,prod_0,prod_3,prod_7,prod_5,prod_6
0,labp6cce4hd95nj1fdv,Wed Feb 19 19:22:03 2025,"{'qnt': [49], 'price': 64152.35470224936}","{'qnt': [11], 'price': 31758.24136857716}","{'qnt': [11], 'price': 47982.19449097321}","{'qnt': [33], 'price': 37623.84306152345}","{'qnt': [31.558176832571057], 'price': 26076.5...","{'qnt': [420.4223995276145], 'price': 9872.317...","{'qnt': [290.936310039532], 'price': 15414.801...","{'qnt': [2567.2495822108713], 'price': 27245.7...",NaN,NaN,NaN,NaN,NaN
1,labp6cce0zq46k2tnlih,Wed Feb 19 22:25:54 2025,"{'qnt': [32], 'price': 64152.35470224936}",NaN,NaN,"{'qnt': [32], 'price': 37623.84306152345}","{'qnt': [84.31093206372869], 'price': 26076.58...",NaN,NaN,"{'qnt': [2169.864502186307], 'price': 27245.75...","{'qnt': [25], 'price': 31304.822676022257}","{'qnt': [5], 'price': 854.5052862119559}","{'qnt': [39], 'price': 22323.730935050684}",NaN,NaN
2,labp6cceyziz1ov03h9,Wed Feb 19 19:13:37 2025,"{'qnt': [47], 'price': 64152.35470224936}","{'qnt': [35], 'price': 31758.24136857716}",NaN,"{'qnt': [242], 'price': 37623.84306152345}","{'qnt': [427.6777400189151], 'price': 26076.58...",NaN,NaN,"{'qnt': [2078.7377153331004], 'price': 27245.7...","{'qnt': [25], 'price': 31304.822676022257}",NaN,"{'qnt': [28], 'price': 22323.730935050684}","{'qnt': [40], 'price': 5595.339849678695}","{'qnt': [4], 'price': 39811.12207615223}"
3,labp6ccebpkqobcdbpr,Wed Feb 19 23:24:06 2025,"{'qnt': [34], 'price': 64152.35470224936}",NaN,"{'qnt': [46], 'price': 47982.19449097321}","{'qnt': [41], 'price': 37623.84306152345}","{'qnt': [21.39918744668471], 'price': 26076.58...",NaN,"{'qnt': [439.359465236172], 'price': 15414.801...","{'qnt': [2679.6379586286016], 'price': 27245.7...",NaN,NaN,"{'qnt': [32], 'price': 22323.730935050684}",NaN,"{'qnt': [11], 'price': 39811.12207615223}"
4,labp6ccezt9xvgxxf8k,Thu Feb 20 01:45:23 2025,"{'qnt': [26], 'price': 64152.35470224936}",NaN,"{'qnt': [22], 'price': 47982.19449097321}","{'qnt': [489], 'price': 37623.84306152345}","{'qnt': [24.527894131352298], 'price': 26076.5...","{'qnt': [75.27030027173741], 'price': 9872.317...",NaN,"{'qnt': [2722.706816138677], 'price': 27245.75...","{'qnt': [48], 'price': 31304.822676022257}","{'qnt': [33], 'price': 854.5052862119559}","{'qnt': [21], 'price': 22323.730935050684}",NaN,"{'qnt': [1], 'price': 39811.12207615223}"
5,labp6ccexsruehxoc5l,Thu Feb 20 06:28:30 2025,NaN,NaN,NaN,"{'qnt': [683], 'price': 37623.84306152345}","{'qnt': [457.8085692792157], 'price': 26076.58...",NaN,"{'qnt': [345.4865602808917], 'price': 15414.80...","{'qnt': [2293.0633017217497], 'price': 27245.7...",NaN,NaN,NaN,NaN,NaN
6,labp6cceszgmnr2f2g,Thu Feb 20 05:29:40 2025,NaN,NaN,NaN,"{'qnt': [226], 'price': 37623.84306152345}","{'qnt': [518.8165642914051], 'price': 26076.58...",NaN,"{'qnt': [76.8808344119947], 'price': 15414.801...","{'qnt': [2249.9691927067693], 'price': 27245.7...","{'qnt': [41], 'price': 31304.822676022257}","{'qnt': [42], 'price': 854.5052862119559}","{'qnt': [19], 'price': 22323.730935050684}",NaN,"{'qnt': [47], 'price': 39811.12207615223}"
7,labp6ccejqpysf65ayb,Thu Feb 20 01:29:51 2025,"{'qnt': [11], 'price': 64152.35470224936}",NaN,NaN,"{'qnt': [694], 'price': 37623.84306152345}",NaN,NaN,NaN,"{'qnt': [2219.2729690880387], 'price': 27245.7...","{'qnt': [49], 'price': 31304.822676022257}","{'qnt': [46], 'price': 854.5052862119559}",NaN,NaN,"{'qnt': [7], 'price': 39811.12207615223}"
8,labp6cceibgaf9w0sjb,Thu Feb 20 06:46:40 2025,"{'qnt': [31], 'price': 64152.35470224936}",NaN,"{'qnt': [17], 'price': 47982.19449097321}","{'qnt': [583], 'price': 37623.84306152345}","{'qnt': [335.04635983011167], 'price': 26076.5...","{'qnt': [295.6240789572261], 'price': 9872.317...","{'qnt': [504.3886611307103], 'price': 15414.80...","{'qnt': [2461.4888979516536], 'price': 27245.7...","{'qnt': [47], 'price': 31304.822676022257}",NaN,NaN,NaN,"{'qnt': [49], 'price': 39811.12207615223}"
9,labp6ccebn7bz3cmu7u,Thu Feb 20 06:38:38 2025,"{'qnt': [7], 'price': 64152.35470224936}",NaN,NaN,"{'qnt': [14], 'price': 37623.84306152345}","{'qnt': [767.146091351794], 'price': 26076.581...",NaN,"{'qnt': [745.5968060991913], 'price': 15414.80...","{'qnt': [2370.782100402912], 'price': 27245.75...",NaN,NaN,"{'qnt': [28], 'price': 22323.730935050684}",NaN,NaN
10,labp6ccetr78h5txpt,Thu Feb 20 04:19:47 2025,"{'qnt': [34], 'price': 64152.35470224936}",NaN,NaN,NaN,NaN,"{'qnt': [588.0230917797439], 'price': 9872.317...",NaN,"{'qnt': [2487.2947022740127], 'price': 27245.7...",NaN,"{'qnt': [21], 'price': 854.5052862119559}","{'qnt': [15], 'price': 22323.730935050684}","{'qnt': [37], 'price': 5595.339849678695}",NaN
11,labp6ccec3diw8v35o5,Thu Feb 20 00:53:16 2025,"{'qnt': [13], 'price': 64152.35470224936}","{'qnt': [24], 'price': 31758.24136857716}",NaN,"{'qnt': [696], 'price': 37623.84306152345}",NaN,NaN,"{'qnt': [181.12721200576138], 'price': 15414.8...","{'qnt': [2271.6025972943125], 'price': 27245.7...","{'qnt': [36], 'price': 31304.822676022257}",NaN,NaN,NaN,NaN
12,labp6cce69vzjjmalbl,Wed Feb 19 20:07:53 2025,"{'qnt': [17], 'price': 64152.35470224936}",NaN,NaN,NaN,"{'qnt': [51.385193306745194], 'price': 26076.5...","{'qnt': [179.59656261542958], 'price': 9872.31...",NaN,"{'qnt': [2563.480458732536], 'price': 27245.75...",NaN,NaN,"{'qnt': [38], 'price': 22323.730935050684}",NaN,"{'qnt': [13], 'price': 39811.12207615223}"
13,labp6cceihx3mowxubf,Wed Feb 19 18:53:35 2025,NaN,"{'qnt': [39], 'price': 31758.24136857716}",NaN,NaN,NaN,"{'qnt': [381.4736462680171], 'price': 9872.317...","{'qnt': [572.6140913644396], 'price': 15414.80...","{'qnt': [2525.0089184913145], 'price': 27245.7...","{'qnt': [6], 'price': 31304.822676022257}","{'qnt': [32], 'price': 854.5052862119559}","{'qnt': [42], 'price': 22323.730935050684}",NaN,"{'qnt': [13], 'price': 39811.12207615223}"

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[25, 25, 48, 41, 49, 47, 36, 6]","[11, 35, 24, 39]","[5, 33, 42, 46, 21, 32]","[11, 46, 22, 17]","[40, 37]","[4, 11, 1, 47, 7, 49, 13, 13]","[33, 32, 242, 41, 489, 683, 226, 694, 583, 14,...","[31.558176832571057, 84.31093206372869, 427.67...","[420.4223995276145, 75.27030027173741, 295.624...","[2567.2495822108713, 2169.864502186307, 2078.7...","[49, 32, 47, 34, 26, 11, 31, 7, 34, 13, 17]","[39, 28, 32, 21, 19, 28, 15, 38, 42]","[290.936310039532, 439.359465236172, 345.48656..."
price,31304.822676,31758.241369,854.505286,47982.194491,5595.33985,39811.122076,37623.843062,26076.581172,9872.317759,27245.757859,64152.354702,22323.730935,15414.801277
next_week_price,46957.234014,47637.362053,1281.757929,71973.291732,8393.009775,59716.68166,56435.764592,39114.871758,14808.476638,40868.636789,96228.532053,33485.596403,23122.201915

Semana 19:

Json:

,id,date,prod_6,prod_7,prod_9,prod_8,prod_15,prod_0,prod_1,prod_3,prod_4,prod_10,prod_11,prod_5,prod_2
0,labp6cemrblj76faqp,Thu Feb 27 08:44:17 2025,"{'qnt': [21], 'price': 59716.68165973613}","{'qnt': [27], 'price': 33485.59640256221}","{'qnt': [36.672791286561015], 'price': 39114.8...","{'qnt': [396], 'price': 56435.764592285166}","{'qnt': [2490.9667154240506], 'price': 40868.6...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labp6cemgeetk1zvou9,Thu Feb 27 08:04:49 2025,NaN,NaN,"{'qnt': [0], 'price': 39114.87175827027}","{'qnt': [13], 'price': 56435.764592285166}","{'qnt': [2706.0781221848924], 'price': 40868.6...","{'qnt': [34], 'price': 46957.23401403331}","{'qnt': [49], 'price': 96228.53205314619}","{'qnt': [32], 'price': 1281.757929317677}","{'qnt': [47], 'price': 71973.29173153594}","{'qnt': [0], 'price': 14808.476637954715}","{'qnt': [0], 'price': 23122.201915371978}",NaN,NaN
2,labp6cemsnfp4luapcg,Thu Feb 27 00:52:21 2025,"{'qnt': [5], 'price': 59716.68165973613}","{'qnt': [36], 'price': 33485.59640256221}","{'qnt': [14.686728863155052], 'price': 39114.8...","{'qnt': [0], 'price': 56435.764592285166}","{'qnt': [2291.1126721184846], 'price': 40868.6...","{'qnt': [9], 'price': 46957.23401403331}",NaN,NaN,NaN,"{'qnt': [495.02012962271573], 'price': 14808.4...","{'qnt': [408.94375804249165], 'price': 23122.2...","{'qnt': [43], 'price': 8393.009774518043}",NaN
3,labp6cemg4xwws25br,Thu Feb 27 01:28:32 2025,NaN,"{'qnt': [17], 'price': 33485.59640256221}","{'qnt': [149.9346496557515], 'price': 39114.87...","{'qnt': [0], 'price': 56435.764592285166}","{'qnt': [2408.886349071301], 'price': 40868.63...",NaN,NaN,"{'qnt': [3], 'price': 1281.757929317677}",NaN,"{'qnt': [0], 'price': 14808.476637954715}","{'qnt': [310.32567993517443], 'price': 23122.2...","{'qnt': [32], 'price': 8393.009774518043}",NaN
4,labp6cemjy26d65oda8,Wed Feb 26 20:57:39 2025,"{'qnt': [22], 'price': 59716.68165973613}","{'qnt': [45], 'price': 33485.59640256221}",NaN,"{'qnt': [6], 'price': 56435.764592285166}","{'qnt': [2330.0684736913654], 'price': 40868.6...",NaN,"{'qnt': [35], 'price': 96228.53205314619}","{'qnt': [17], 'price': 1281.757929317677}",NaN,NaN,NaN,"{'qnt': [14], 'price': 8393.009774518043}",NaN
5,labp6cemtzag7ybf8j,Wed Feb 26 20:11:19 2025,NaN,"{'qnt': [41], 'price': 33485.59640256221}",NaN,NaN,"{'qnt': [2271.0405395504995], 'price': 40868.6...",NaN,"{'qnt': [37], 'price': 96228.53205314619}",NaN,"{'qnt': [38], 'price': 71973.29173153594}",NaN,"{'qnt': [475.5376629830202], 'price': 23122.20...","{'qnt': [36], 'price': 8393.009774518043}","{'qnt': [4], 'price': 47637.36205273937}"
6,labp6cemzb5iqesrgyo,Wed Feb 26 17:50:35 2025,"{'qnt': [26], 'price': 59716.68165973613}",NaN,"{'qnt': [18.67787809513247], 'price': 39114.87...","{'qnt': [491], 'price': 56435.764592285166}","{'qnt': [2850.586220976734], 'price': 40868.63...",NaN,"{'qnt': [2], 'price': 96228.53205314619}","{'qnt': [25], 'price': 1281.757929317677}",NaN,NaN,"{'qnt': [0], 'price': 23122.201915371978}",NaN,"{'qnt': [37], 'price': 47637.36205273937}"
7,labp6cemurhimjpigle,Thu Feb 27 07:55:33 2025,"{'qnt': [39], 'price': 59716.68165973613}","{'qnt': [44], 'price': 33485.59640256221}",NaN,NaN,"{'qnt': [2123.5530872320005], 'price': 40868.6...","{'qnt': [8], 'price': 46957.23401403331}","{'qnt': [48], 'price': 96228.53205314619}","{'qnt': [38], 'price': 1281.757929317677}",NaN,"{'qnt': [196.03477539657922], 'price': 14808.4...",NaN,NaN,NaN
8,labp6cemmlpxgcb3oue,Wed Feb 26 21:49:24 2025,NaN,NaN,"{'qnt': [41.41439384696306], 'price': 39114.87...","{'qnt': [38], 'price': 56435.764592285166}","{'qnt': [2534.865628929371], 'price': 40868.63...","{'qnt': [1], 'price': 46957.23401403331}","{'qnt': [48], 'price': 96228.53205314619}","{'qnt': [7], 'price': 1281.757929317677}",NaN,"{'qnt': [0], 'price': 14808.476637954715}",NaN,NaN,NaN
9,labp6cemg1exw6vc24a,Wed Feb 26 21:15:13 2025,"{'qnt': [11], 'price': 59716.68165973613}","{'qnt': [45], 'price': 33485.59640256221}","{'qnt': [432.36657371176653], 'price': 39114.8...","{'qnt': [39], 'price': 56435.764592285166}","{'qnt': [2625.7102967033843], 'price': 40868.6...","{'qnt': [44], 'price': 46957.23401403331}","{'qnt': [21], 'price': 96228.53205314619}",NaN,"{'qnt': [49], 'price': 71973.29173153594}","{'qnt': [0], 'price': 14808.476637954715}",NaN,NaN,"{'qnt': [8], 'price': 47637.36205273937}"
10,labp6cemetc2a3rn1xh,Wed Feb 26 16:13:35 2025,NaN,NaN,NaN,NaN,"{'qnt': [2062.7423896080086], 'price': 40868.6...","{'qnt': [47], 'price': 46957.23401403331}","{'qnt': [40], 'price': 96228.53205314619}",NaN,"{'qnt': [38], 'price': 71973.29173153594}",NaN,NaN,NaN,"{'qnt': [32], 'price': 47637.36205273937}"
11,labp6cemxlf5gkajru,Thu Feb 27 05:27:57 2025,"{'qnt': [50], 'price': 59716.68165973613}","{'qnt': [16], 'price': 33485.59640256221}","{'qnt': [45.496835997415644], 'price': 39114.8...","{'qnt': [267], 'price': 56435.764592285166}","{'qnt': [2819.254654598547], 'price': 40868.63...",NaN,"{'qnt': [9], 'price': 96228.53205314619}",NaN,"{'qnt': [23], 'price': 71973.29173153594}",NaN,"{'qnt': [0], 'price': 23122.201915371978}",NaN,NaN
12,labp6cemlyhpffkh11m,Wed Feb 26 16:39:04 2025,NaN,"{'qnt': [18], 'price': 33485.59640256221}",NaN,"{'qnt': [132], 'price': 56435.764592285166}","{'qnt': [2481.4434143472217], 'price': 40868.6...",NaN,"{'qnt': [39], 'price': 96228.53205314619}",NaN,"{'qnt': [7], 'price': 71973.29173153594}",NaN,NaN,NaN,"{'qnt': [11], 'price': 47637.36205273937}"
13,labp6ceme2g4w58eckr,Thu Feb 27 06:30:16 2025,NaN,"{'qnt': [29], 'price': 33485.59640256221}","{'qnt': [0], 'price': 39114.87175827027}","{'qnt': [41], 'price': 56435.764592285166}","{'qnt': [2737.4517289470427], 'price': 40868.6...",NaN,"{'qnt': [46], 'price': 96228.53205314619}",NaN,NaN,"{'qnt': [466.0658121949214], 'price': 14808.47...",NaN,"{'qnt': [17], 'price': 8393.009774518043}","{'qnt': [5], 'price': 47637.36205273937}"
14,labp6cemubkaqoiw80g,Wed Feb 26 17:38:14 2025,"{'qnt': [41], 'price': 59716.68165973613}","{'qnt': [19], 'price': 33485.59640256221}","{'qnt': [11.780885756593506], 'price': 39114.8...",NaN,"{'qnt': [2236.337119613249], 'price': 40868.63...",NaN,NaN,NaN,NaN,"{'qnt': [361.6181454288754], 'price': 14808.47...",NaN,NaN,"{'qnt': [30], 'price': 47637.36205273937}"
15,labp6cemn22s4jw4wx,Thu Feb 27 05:20:00 2025,"{'qnt': [5], 'price': 59716.68165973613}",NaN,"{'qnt': [0], 'price': 39114.87175827027}","{'qnt': [6], 'price': 56435.764592285166}","{'qnt': [2224.381138987512], 'price': 40868.63...","{'qnt': [24], 'price': 46957.23401403331}","{'qnt': [35], 'price': 96228.53205314619}",NaN,NaN,NaN,NaN,"{'qnt': [24], 'price': 8393.009774518043}","{'qnt': [2], 'price': 47637.36205273937}"
16,labp6cem0bwwq20loff,Wed Feb 26 20:28:56 2025,"{'qnt': [17], 'price': 59716.68165973613}",NaN,"{'qnt': [368.3815324989702], 'price': 39114.87...","{'qnt': [19], 'price': 56435.764592285166}","{'qnt': [2400.8934286284316], 'price': 40868.6...","{'qnt': [11], 'price': 46957.23401403331}",NaN,NaN,NaN,NaN,"{'qnt': [316.3323627565115], 'price': 23122.20...",NaN,NaN
17,labp6cemhb73r7qtc8,Thu Feb 27 07:37:37 2025,NaN,"{'qnt': [47], 'price': 33485.59640256221}","{'qnt': [391.72872460590247], 'price': 39114.8...","{'qnt': [362], 'price': 56435.764592285166}","{'qnt': [2627.856168757243], 'price': 40868.63...","{'qnt': [49], 'price': 46957.23401403331}",NaN,"{'qnt': [9], 'price': 1281.757929317677}",NaN,NaN,NaN,"{'qnt': [41], 'price': 8393.009774518043}",NaN
18,labp6cemmpbd0vm14zd,Wed Feb 26 23:00:53 2025,"{'qnt': [44], 'price': 59716.68165973613}","{'qnt': [39], 'price': 33485.59640256221}","{'qnt': [269.8904285151756], 'price': 39114.87...","{'qnt': [108], 'price': 56435.764592285166}","{'qnt': [2349.340862822628], 'price': 40868.63...","{'qnt': [28], 'price': 46957.23401403331}","{'qnt': [2], 'price': 96228.53205314619}",NaN,NaN,"{'qnt': [127.0441583796333], 'price': 14808.47...",NaN,"{'qnt': [49], 'price': 8393.009774518043}","{'qnt': [50], 'price': 47637.36205273937}"
19,labp6cemhg1tbv15fga,Wed Feb 26 19:19:04 2025,"{'qnt': [36], 'price': 59716.68165973613}",NaN,"{'qnt': [240.34843225196704], 'price': 39114.8...","{'qnt': [0], 'price': 56435.764592285166}","{'qnt': [2330.2816952795383], 'price': 40868.6...",NaN,"{'qnt': [33], 'price': 96228.53205314619}","{'qnt': [19], 'price': 1281.757929317677}",NaN,NaN,NaN,"{'qnt': [17], 'price': 8393.009774518043}","{'qnt': [21], 'price': 47637.36205273937}"

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[34, 9, 8, 1, 44, 47, 24, 11, 49, 28]","[4, 37, 8, 32, 11, 5, 30, 2, 50, 21]","[32, 3, 17, 25, 38, 7, 9, 19]","[47, 38, 49, 38, 23, 7]","[43, 32, 14, 36, 17, 24, 41, 49, 17]","[21, 5, 22, 26, 39, 11, 50, 41, 5, 17, 44, 36]","[396, 13, 0, 0, 6, 491, 38, 39, 267, 132, 41, ...","[36.672791286561015, 0, 14.686728863155052, 14...","[0, 495.02012962271573, 0, 196.03477539657922,...","[2490.9667154240506, 2706.0781221848924, 2291....","[49, 35, 37, 2, 48, 48, 21, 40, 9, 39, 46, 35,...","[27, 36, 17, 45, 41, 44, 45, 16, 18, 29, 19, 4...","[0, 408.94375804249165, 310.32567993517443, 47..."
price,46957.234014,47637.362053,1281.757929,71973.291732,8393.009775,59716.68166,56435.764592,39114.871758,14808.476638,40868.636789,96228.532053,33485.596403,23122.201915
next_week_price,70435.85102,71456.042812,1922.636869,107959.937597,12589.514662,89575.022489,84653.646888,58672.307637,22212.714957,61302.955184,144342.79808,50228.394604,34683.302873

Semana 20:

Json:

,id,date,prod_1,prod_2,prod_3,prod_5,prod_6,prod_9,prod_10,prod_11,prod_15,prod_4,prod_8,prod_0,prod_7
0,labp6chglu1xcxq3eq,Wed Mar 5 18:38:00 2025,"{'qnt': [11], 'price': 144342.79807971488}","{'qnt': [2], 'price': 71456.04281220662}","{'qnt': [1], 'price': 1922.636868910867}","{'qnt': [11], 'price': 12589.514661775534}","{'qnt': [9], 'price': 89575.02248905746}","{'qnt': [486.51729483336027], 'price': 58672.3...","{'qnt': [372.9115579966325], 'price': 22212.71...","{'qnt': [536.9690951706596], 'price': 34683.30...","{'qnt': [2895.107776036156], 'price': 61302.95...",NaN,NaN,NaN,NaN
1,labp6chg0egmuidqo96m,Thu Mar 6 07:07:23 2025,"{'qnt': [39], 'price': 144342.79807971488}",NaN,NaN,"{'qnt': [17], 'price': 12589.514661775534}",NaN,NaN,"{'qnt': [203.5490784700927], 'price': 22212.71...",NaN,"{'qnt': [2137.1440376423957], 'price': 61302.9...","{'qnt': [13], 'price': 107959.93759730345}","{'qnt': [474], 'price': 84653.64688842776}",NaN,NaN
2,labp6chg2dfv0ueu3g,Thu Mar 6 03:51:40 2025,NaN,"{'qnt': [40], 'price': 71456.04281220662}",NaN,"{'qnt': [23], 'price': 12589.514661775534}","{'qnt': [16], 'price': 89575.02248905746}","{'qnt': [329.6940541069333], 'price': 58672.30...",NaN,NaN,"{'qnt': [2243.405386403242], 'price': 61302.95...",NaN,"{'qnt': [145], 'price': 84653.64688842776}","{'qnt': [33], 'price': 70435.85101997477}",NaN
3,labp6chgeo05typg8wf,Wed Mar 5 22:47:16 2025,"{'qnt': [16], 'price': 144342.79807971488}","{'qnt': [23], 'price': 71456.04281220662}","{'qnt': [37], 'price': 1922.636868910867}",NaN,"{'qnt': [45], 'price': 89575.02248905746}","{'qnt': [352.4710543101766], 'price': 58672.30...",NaN,NaN,"{'qnt': [2872.0362092013856], 'price': 61302.9...",NaN,"{'qnt': [265], 'price': 84653.64688842776}","{'qnt': [35], 'price': 70435.85101997477}","{'qnt': [29], 'price': 50228.394603842644}"
4,labp6chgqxm9t8tx9ph,Wed Mar 5 19:12:16 2025,NaN,NaN,NaN,"{'qnt': [21], 'price': 12589.514661775534}",NaN,"{'qnt': [474.23627497899815], 'price': 58672.3...",NaN,NaN,"{'qnt': [2181.7727223580687], 'price': 61302.9...",NaN,"{'qnt': [90], 'price': 84653.64688842776}",NaN,"{'qnt': [37], 'price': 50228.394603842644}"
5,labp6chgjwclrv68gc,Thu Mar 6 04:38:26 2025,"{'qnt': [23], 'price': 144342.79807971488}",NaN,NaN,NaN,NaN,"{'qnt': [433.0404180568494], 'price': 58672.30...","{'qnt': [348.7802046869625], 'price': 22212.71...","{'qnt': [246.34342113993674], 'price': 34683.3...","{'qnt': [2127.9644056913435], 'price': 61302.9...",NaN,"{'qnt': [429], 'price': 84653.64688842776}",NaN,"{'qnt': [36], 'price': 50228.394603842644}"
6,labp6chgopmsj09vaj,Thu Mar 6 02:25:40 2025,NaN,"{'qnt': [10], 'price': 71456.04281220662}","{'qnt': [32], 'price': 1922.636868910867}",NaN,"{'qnt': [8], 'price': 89575.02248905746}","{'qnt': [28.763076455711033], 'price': 58672.3...",NaN,"{'qnt': [447.1158153583994], 'price': 34683.30...","{'qnt': [2417.199165509087], 'price': 61302.95...",NaN,NaN,"{'qnt': [33], 'price': 70435.85101997477}","{'qnt': [29], 'price': 50228.394603842644}"
7,labp6chguwy347qcd3a,Wed Mar 5 18:23:53 2025,NaN,"{'qnt': [5], 'price': 71456.04281220662}",NaN,NaN,"{'qnt': [13], 'price': 89575.02248905746}","{'qnt': [397.37044554825786], 'price': 58672.3...","{'qnt': [351.7324771191272], 'price': 22212.71...","{'qnt': [754.0507850445085], 'price': 34683.30...","{'qnt': [2114.169130411876], 'price': 61302.95...","{'qnt': [30], 'price': 107959.93759730345}","{'qnt': [11], 'price': 84653.64688842776}",NaN,"{'qnt': [14], 'price': 50228.394603842644}"
8,labp6chgq0yh0ab2os,Wed Mar 5 18:39:31 2025,"{'qnt': [20], 'price': 144342.79807971488}",NaN,"{'qnt': [39], 'price': 1922.636868910867}","{'qnt': [25], 'price': 12589.514661775534}",NaN,NaN,"{'qnt': [398.7251492128765], 'price': 22212.71...","{'qnt': [466.3691057833068], 'price': 34683.30...","{'qnt': [2770.987513110264], 'price': 61302.95...",NaN,"{'qnt': [784], 'price': 84653.64688842776}","{'qnt': [29], 'price': 70435.85101997477}",NaN
9,labp6chg4i25u54i73r,Wed Mar 5 23:16:26 2025,NaN,"{'qnt': [49], 'price': 71456.04281220662}",NaN,"{'qnt': [38], 'price': 12589.514661775534}",NaN,NaN,NaN,NaN,"{'qnt': [2841.1088597244366], 'price': 61302.9...","{'qnt': [40], 'price': 107959.93759730345}","{'qnt': [713], 'price': 84653.64688842776}",NaN,"{'qnt': [6], 'price': 50228.394603842644}"
10,labp6chg9lb8slcn1go,Thu Mar 6 08:13:01 2025,NaN,NaN,"{'qnt': [26], 'price': 1922.636868910867}",NaN,NaN,"{'qnt': [20.86071721623074], 'price': 58672.30...",NaN,"{'qnt': [309.44148709898644], 'price': 34683.3...","{'qnt': [2826.169527418674], 'price': 61302.95...","{'qnt': [38], 'price': 107959.93759730345}","{'qnt': [286], 'price': 84653.64688842776}","{'qnt': [32], 'price': 70435.85101997477}","{'qnt': [50], 'price': 50228.394603842644}"
11,labp6chgblhtggggwu9,Thu Mar 6 06:30:58 2025,"{'qnt': [45], 'price': 144342.79807971488}","{'qnt': [17], 'price': 71456.04281220662}",NaN,"{'qnt': [26], 'price': 12589.514661775534}",NaN,"{'qnt': [111.76657117657365], 'price': 58672.3...","{'qnt': [291.7947932427573], 'price': 22212.71...","{'qnt': [509.47364694161723], 'price': 34683.3...","{'qnt': [2596.6322127493786], 'price': 61302.9...",NaN,NaN,NaN,"{'qnt': [36], 'price': 50228.394603842644}"
12,labp6chgqpe1cmqwewf,Thu Mar 6 08:37:18 2025,"{'qnt': [6], 'price': 144342.79807971488}",NaN,"{'qnt': [14], 'price': 1922.636868910867}",NaN,NaN,"{'qnt': [41.8113082940064], 'price': 58672.307...",NaN,NaN,"{'qnt': [2705.7818866244916], 'price': 61302.9...","{'qnt': [37], 'price': 107959.93759730345}","{'qnt': [18], 'price': 84653.64688842776}","{'qnt': [42], 'price': 70435.85101997477}","{'qnt': [42], 'price': 50228.394603842644}"
13,labp6chgx3riz5qjkq,Wed Mar 5 23:01:25 2025,NaN,"{'qnt': [48], 'price': 71456.04281220662}","{'qnt': [46], 'price': 1922.636868910867}",NaN,"{'qnt': [8], 'price': 89575.02248905746}","{'qnt': [298.12257160448235], 'price': 58672.3...",NaN,NaN,"{'qnt': [2907.4893453270897], 'price': 61302.9...",NaN,"{'qnt': [40], 'price': 84653.64688842776}",NaN,NaN
14,labp6chg9eofqhszdcb,Wed Mar 5 22:49:53 2025,"{'qnt': [25], 'price': 144342.79807971488}",NaN,NaN,NaN,"{'qnt': [13], 'price': 89575.02248905746}","{'qnt': [31.89692764278566], 'price': 58672.30...",NaN,NaN,"{'qnt': [2499.813414985867], 'price': 61302.95...","{'qnt': [26], 'price': 107959.93759730345}","{'qnt': [3], 'price': 84653.64688842776}","{'qnt': [41], 'price': 70435.85101997477}","{'qnt': [5], 'price': 50228.394603842644}"
15,labp6chg9pd6npiev3,Thu Mar 6 02:22:11 2025,NaN,"{'qnt': [2], 'price': 71456.04281220662}",NaN,"{'qnt': [37], 'price': 12589.514661775534}","{'qnt': [16], 'price': 89575.02248905746}","{'qnt': [335.000562590972], 'price': 58672.307...","{'qnt': [555.5744717712391], 'price': 22212.71...","{'qnt': [622.6771324044802], 'price': 34683.30...","{'qnt': [2175.4983508855084], 'price': 61302.9...",NaN,"{'qnt': [581], 'price': 84653.64688842776}",NaN,"{'qnt': [38], 'price': 50228.394603842644}"
16,labp6chgfkyger41qop,Thu Mar 6 04:31:53 2025,"{'qnt': [17], 'price': 144342.79807971488}","{'qnt': [37], 'price': 71456.04281220662}","{'qnt': [27], 'price': 1922.636868910867}","{'qnt': [13], 'price': 12589.514661775534}",NaN,NaN,NaN,"{'qnt': [552.6227143945409], 'price': 34683.30...","{'qnt': [2444.7050325674013], 'price': 61302.9...","{'qnt': [42], 'price': 107959.93759730345}","{'qnt': [103], 'price': 84653.64688842776}","{'qnt': [43], 'price': 70435.85101997477}",NaN
17,labp6chg9ov783y5oe9,Wed Mar 5 17:24:32 2025,"{'qnt': [39], 'price': 144342.79807971488}","{'qnt': [1], 'price': 71456.04281220662}",NaN,"{'qnt': [25], 'price': 12589.514661775534}",NaN,"{'qnt': [756.0525842968374], 'price': 58672.30...","{'qnt': [502.0548608988091], 'price': 22212.71...",NaN,"{'qnt': [2577.731370778387], 'price': 61302.95...",NaN,NaN,NaN,NaN
18,labp6chgiin9k4m25fd,Wed Mar 5 20:29:26 2025,NaN,"{'qnt': [23], 'price': 71456.04281220662}",NaN,"{'qnt': [26], 'price': 12589.514661775534}",NaN,"{'qnt': [646.6825136279833], 'price': 58672.30...",NaN,NaN,"{'qnt': [2158.050912451443], 'price': 61302.95...","{'qnt': [3], 'price': 107959.93759730345}","{'qnt': [30], 'price': 84653.64688842776}",NaN,"{'qnt': [33], 'price': 50228.394603842644}"
19,labp6chgxhzacph612,Thu Mar 6 07:08:31 2025,NaN,"{'qnt': [48], 'price': 71456.04281220662}","{'qnt': [37], 'price': 1922.636868910867}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [2277.613739143281], 'price': 61302.95...","{'qnt': [39], 'price': 107959.93759730345}",NaN,"{'qnt': [47], 'price': 70435.85101997477}",NaN
20,labp6chgjtwqo5o3wr,Thu Mar 6 05:41:17 2025,"{'qnt': [10], 'price': 144342.79807971488}","{'qnt': [15], 'price': 71456.04281220662}",NaN,NaN,"{'qnt': [10], 'price': 89575.02248905746}",NaN,"{'qnt': [221.43389320444265], 'price': 22212.7...","{'qnt': [542.1597015500085], 'price': 34683.30...","{'qnt': [2545.140691461629], 'price': 61302.95...","{'qnt': [15], 'price': 107959.93759730345}","{'qnt': [632], 'price': 84653.64688842776}","{'qnt': [44], 'price': 70435.85101997477}",NaN
21,labp6chgj2ib5b0tfqf,Thu Mar 6 00:41:22 2025,"{'qnt': [23], 'price': 144342.79807971488}",NaN,NaN,"{'qnt': [3], 'price': 12589.514661775534}","{'qnt': [15], 'price': 89575.02248905746}","{'qnt': [415.66005804850903], 'price': 58672.3...",NaN,"{'qnt': [602.1372542865638], 'price': 34683.30...","{'qnt': [2768.7682542450143], 'price': 61302.9...",NaN,"{'qnt': [334], 'price': 84653.64688842776}",NaN,"{'qnt': [38], 'price': 50228.394603842644}"
22,labp6chg4y3exd0w814,Wed Mar 5 21:25:49 2025,"{'qnt': [14], 'price': 144342.79807971488}",NaN,NaN,NaN,NaN,"{'qnt': [400.08828389836486], 'price': 58672.3...",NaN,"{'qnt': [46.860109052254955], 'price': 34683.3...","{'qnt': [2520.092750907074], 'price': 61302.95...",NaN,"{'qnt': [8], 'price': 84653.64688842776}",NaN,NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[33, 35, 33, 29, 32, 42, 41, 43, 47, 44]","[2, 40, 23, 10, 5, 49, 17, 48, 2, 37, 1, 23, 4...","[1, 37, 32, 39, 26, 14, 46, 27, 37]","[13, 30, 40, 38, 37, 26, 42, 3, 39, 15]","[11, 17, 23, 21, 25, 38, 26, 37, 13, 25, 26, 3]","[9, 16, 45, 8, 13, 8, 13, 16, 10, 15]","[474, 145, 265, 90, 429, 11, 784, 713, 286, 18...","[486.51729483336027, 329.6940541069333, 352.47...","[372.9115579966325, 203.5490784700927, 348.780...","[2895.107776036156, 2137.1440376423957, 2243.4...","[11, 39, 16, 23, 20, 45, 6, 25, 17, 39, 10, 23...","[29, 37, 36, 29, 14, 6, 50, 36, 42, 5, 38, 33,...","[536.9690951706596, 246.34342113993674, 447.11..."
price,70435.85102,71456.042812,1922.636869,107959.937597,12589.514662,89575.022489,84653.646888,58672.307637,22212.714957,61302.955184,144342.79808,50228.394604,34683.302873
next_week_price,105653.77653,107184.064195,2883.955303,161939.906396,18884.271984,134362.478554,126980.470333,88008.461456,33319.072435,91954.432776,216514.197026,75342.591906,52024.95431

Semana 21:

Json:

,id,date,prod_1,prod_3,prod_5,prod_6,prod_7,prod_8,prod_9,prod_15,prod_0,prod_11,prod_10,prod_4,prod_2
0,labp6cknxkuxqh8y32,Thu Mar 13 07:45:43 2025,"{'qnt': [42], 'price': 216514.19702573048}","{'qnt': [44], 'price': 2883.9553033646403}","{'qnt': [47], 'price': 18884.271983880488}","{'qnt': [26], 'price': 134362.4785543649}","{'qnt': [16], 'price': 75342.59190575383}","{'qnt': [514], 'price': 126980.47033264163}","{'qnt': [14.459876389922632], 'price': 88008.4...","{'qnt': [2785.3902925145353], 'price': 91954.4...",NaN,NaN,NaN,NaN,NaN
1,labp6cknw03dsin6pwl,Wed Mar 12 23:09:09 2025,"{'qnt': [16], 'price': 216514.19702573048}",NaN,"{'qnt': [37], 'price': 18884.271983880488}","{'qnt': [38], 'price': 134362.4785543649}",NaN,"{'qnt': [29], 'price': 126980.47033264163}",NaN,"{'qnt': [2608.0848647027606], 'price': 91954.4...","{'qnt': [35], 'price': 105653.77652996215}","{'qnt': [756.054120677122], 'price': 52024.954...",NaN,NaN,NaN
2,labp6cknhf5tmj4kohu,Wed Mar 12 20:01:00 2025,"{'qnt': [39], 'price': 216514.19702573048}","{'qnt': [30], 'price': 2883.9553033646403}",NaN,"{'qnt': [21], 'price': 134362.4785543649}",NaN,NaN,NaN,"{'qnt': [2686.5625118165062], 'price': 91954.4...",NaN,"{'qnt': [933.6155145135104], 'price': 52024.95...","{'qnt': [983.4958452361628], 'price': 33319.07...",NaN,NaN
3,labp6ckndq27zfpcskm,Thu Mar 13 05:46:23 2025,"{'qnt': [15], 'price': 216514.19702573048}","{'qnt': [39], 'price': 2883.9553033646403}","{'qnt': [36], 'price': 18884.271983880488}","{'qnt': [47], 'price': 134362.4785543649}","{'qnt': [48], 'price': 75342.59190575383}","{'qnt': [878], 'price': 126980.47033264163}",NaN,"{'qnt': [2247.81886309317], 'price': 91954.432...",NaN,"{'qnt': [609.6865956321698], 'price': 52024.95...",NaN,"{'qnt': [27], 'price': 161939.90639580484}",NaN
4,labp6cknoymo2vc79w8,Thu Mar 13 03:08:32 2025,NaN,NaN,"{'qnt': [17], 'price': 18884.271983880488}",NaN,"{'qnt': [47], 'price': 75342.59190575383}","{'qnt': [2], 'price': 126980.47033264163}",NaN,"{'qnt': [2796.560086059182], 'price': 91954.43...",NaN,"{'qnt': [1092.5457587185374], 'price': 52024.9...",NaN,"{'qnt': [3], 'price': 161939.90639580484}","{'qnt': [29], 'price': 107184.06419531658}"
5,labp6cknuf6xcr8d85d,Wed Mar 12 20:10:17 2025,"{'qnt': [13], 'price': 216514.19702573048}",NaN,"{'qnt': [45], 'price': 18884.271983880488}","{'qnt': [1], 'price': 134362.4785543649}",NaN,NaN,"{'qnt': [608.415447568636], 'price': 88008.461...","{'qnt': [2146.5068964449647], 'price': 91954.4...","{'qnt': [50], 'price': 105653.77652996215}",NaN,NaN,"{'qnt': [13], 'price': 161939.90639580484}",NaN
6,labp6cknhnlt7o3p0l4,Wed Mar 12 20:00:28 2025,"{'qnt': [12], 'price': 216514.19702573048}","{'qnt': [25], 'price': 2883.9553033646403}","{'qnt': [20], 'price': 18884.271983880488}","{'qnt': [43], 'price': 134362.4785543649}","{'qnt': [7], 'price': 75342.59190575383}","{'qnt': [32], 'price': 126980.47033264163}","{'qnt': [570.8921737209873], 'price': 88008.46...","{'qnt': [2483.89537644832], 'price': 91954.432...",NaN,NaN,"{'qnt': [420.2063384828043], 'price': 33319.07...",NaN,NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[35, 50]",[29],"[44, 30, 39, 25]","[27, 3, 13]","[47, 37, 36, 17, 45, 20]","[26, 38, 21, 47, 1, 43]","[514, 29, 878, 2, 32]","[14.459876389922632, 608.415447568636, 570.892...","[983.4958452361628, 420.2063384828043]","[2785.3902925145353, 2608.0848647027606, 2686....","[42, 16, 39, 15, 13, 12]","[16, 48, 47, 7]","[756.054120677122, 933.6155145135104, 609.6865..."
price,105653.77653,107184.064195,2883.955303,161939.906396,18884.271984,134362.478554,126980.470333,88008.461456,33319.072435,91954.432776,216514.197026,75342.591906,52024.95431
next_week_price,158480.664795,160776.096293,4325.932955,242909.597317,28326.407976,201543.717831,190470.705499,132012.692184,49978.608653,137931.649164,324771.295467,113013.887859,78037.431464

Semana 22:

Json:

,id,date,prod_0,prod_4,prod_5,prod_7,prod_9,prod_11,prod_15,prod_1,prod_2,prod_6,prod_8,prod_10,prod_3
0,labp6cm60i12gynfukvw,Wed Mar 19 21:33:09 2025,"{'qnt': [17], 'price': 158480.66479494324}","{'qnt': [34], 'price': 242909.59731677914}","{'qnt': [34], 'price': 28326.40797582061}","{'qnt': [21], 'price': 113013.88785859913}","{'qnt': [13.500474566962106], 'price': 132012....","{'qnt': [589.5852675370851], 'price': 78037.43...","{'qnt': [2279.3323724550182], 'price': 137931....",NaN,NaN,NaN,NaN,NaN,NaN
1,labp6cm6mkpl1pyrzjl,Thu Mar 20 00:39:55 2025,NaN,"{'qnt': [36], 'price': 242909.59731677914}",NaN,"{'qnt': [29], 'price': 113013.88785859913}",NaN,"{'qnt': [772.3456315991646], 'price': 78037.43...","{'qnt': [2226.8726060381155], 'price': 137931....","{'qnt': [16], 'price': 324771.2954672464}","{'qnt': [33], 'price': 160776.09629290077}","{'qnt': [8], 'price': 201543.71783148078}","{'qnt': [428], 'price': 190470.70549896246}",NaN,NaN
2,labp6cm60i43d6fpz0tr,Wed Mar 19 22:48:24 2025,NaN,"{'qnt': [46], 'price': 242909.59731677914}","{'qnt': [24], 'price': 28326.40797582061}",NaN,"{'qnt': [644.4915439368223], 'price': 132012.6...","{'qnt': [708.0177379038753], 'price': 78037.43...","{'qnt': [2506.971586538061], 'price': 137931.6...",NaN,NaN,"{'qnt': [15], 'price': 201543.71783148078}",NaN,"{'qnt': [261.5486276059634], 'price': 49978.60...",NaN
3,labp6cm6bqab0p944do,Thu Mar 20 08:09:43 2025,"{'qnt': [46], 'price': 158480.66479494324}","{'qnt': [40], 'price': 242909.59731677914}","{'qnt': [14], 'price': 28326.40797582061}","{'qnt': [18], 'price': 113013.88785859913}","{'qnt': [137.61210286115912], 'price': 132012....","{'qnt': [632.3539728739254], 'price': 78037.43...","{'qnt': [2816.7027947792762], 'price': 137931....",NaN,"{'qnt': [2], 'price': 160776.09629290077}",NaN,"{'qnt': [211], 'price': 190470.70549896246}","{'qnt': [82.48990329820266], 'price': 49978.60...","{'qnt': [6], 'price': 4325.932955046952}"
4,labp6cm61o5ji00qi8u,Thu Mar 20 06:48:26 2025,"{'qnt': [42], 'price': 158480.66479494324}",NaN,NaN,"{'qnt': [15], 'price': 113013.88785859913}","{'qnt': [640.5463388641467], 'price': 132012.6...","{'qnt': [745.8100530310054], 'price': 78037.43...","{'qnt': [2142.4939078284574], 'price': 137931....",NaN,"{'qnt': [32], 'price': 160776.09629290077}",NaN,"{'qnt': [9], 'price': 190470.70549896246}",NaN,"{'qnt': [11], 'price': 4325.932955046952}"
5,labp6cm60fdpx56rv4al,Wed Mar 19 17:57:18 2025,NaN,"{'qnt': [8], 'price': 242909.59731677914}","{'qnt': [31], 'price': 28326.40797582061}","{'qnt': [44], 'price': 113013.88785859913}",NaN,NaN,"{'qnt': [2409.005893674251], 'price': 137931.6...",NaN,NaN,NaN,"{'qnt': [30], 'price': 190470.70549896246}","{'qnt': [432.06246266577887], 'price': 49978.6...",NaN
6,labp6cm6cixaivakq2k,Wed Mar 19 22:56:03 2025,NaN,"{'qnt': [42], 'price': 242909.59731677914}",NaN,NaN,NaN,NaN,"{'qnt': [2791.8306402908597], 'price': 137931....","{'qnt': [30], 'price': 324771.2954672464}","{'qnt': [23], 'price': 160776.09629290077}",NaN,"{'qnt': [681], 'price': 190470.70549896246}","{'qnt': [15.746504442824206], 'price': 49978.6...","{'qnt': [24], 'price': 4325.932955046952}"
7,labp6cm6uwga3p7urah,Wed Mar 19 19:12:05 2025,"{'qnt': [8], 'price': 158480.66479494324}","{'qnt': [46], 'price': 242909.59731677914}",NaN,"{'qnt': [38], 'price': 113013.88785859913}","{'qnt': [107.81901853695946], 'price': 132012....",NaN,"{'qnt': [2557.1310205417267], 'price': 137931....",NaN,"{'qnt': [9], 'price': 160776.09629290077}",NaN,"{'qnt': [512], 'price': 190470.70549896246}",NaN,"{'qnt': [34], 'price': 4325.932955046952}"

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[17, 46, 42, 8]","[33, 2, 32, 23, 9]","[6, 11, 24, 34]","[34, 36, 46, 40, 8, 42, 46]","[34, 24, 14, 31]","[8, 15]","[428, 211, 9, 30, 681, 512]","[13.500474566962106, 644.4915439368223, 137.61...","[261.5486276059634, 82.48990329820266, 432.062...","[2279.3323724550182, 2226.8726060381155, 2506....","[16, 30]","[21, 29, 18, 15, 44, 38]","[589.5852675370851, 772.3456315991646, 708.017..."
price,158480.664795,160776.096293,4325.932955,242909.597317,28326.407976,201543.717831,190470.705499,132012.692184,49978.608653,137931.649164,324771.295467,113013.887859,78037.431464
next_week_price,237720.997192,241164.143339,6488.899348,364364.395975,42489.611963,302310.027102,285706.058248,198019.038276,74967.91298,206897.473746,487156.94311,169520.831788,117056.147197

Semana 23:

Json:

,id,date,prod_1,prod_2,prod_4,prod_8,prod_9,prod_11,prod_15,prod_0,prod_10,prod_5,prod_6,prod_7,prod_3
0,labp6cnu9fnz6ueb1a,Wed Mar 26 17:08:48 2025,"{'qnt': [36], 'price': 487156.94311027566}","{'qnt': [17], 'price': 241164.14333911674}","{'qnt': [46], 'price': 364364.39597516856}","{'qnt': [0], 'price': 285706.0582484437}","{'qnt': [0], 'price': 198019.03827624323}","{'qnt': [0], 'price': 117056.14719657064}","{'qnt': [2856.4626924797085], 'price': 206897....",NaN,NaN,NaN,NaN,NaN,NaN
1,labp6cnuhzb67j0kt9q,Thu Mar 27 03:55:00 2025,NaN,"{'qnt': [29], 'price': 241164.14333911674}",NaN,NaN,"{'qnt': [0], 'price': 198019.03827624323}",NaN,"{'qnt': [2838.3768814911], 'price': 206897.473...","{'qnt': [14], 'price': 237720.9971921829}","{'qnt': [444.37990713672417], 'price': 74967.9...",NaN,NaN,NaN,NaN
2,labp6cnua1dtaal8j6k,Wed Mar 26 20:33:25 2025,"{'qnt': [37], 'price': 487156.94311027566}",NaN,"{'qnt': [32], 'price': 364364.39597516856}",NaN,NaN,"{'qnt': [487.36859859439005], 'price': 117056....","{'qnt': [2207.982786020735], 'price': 206897.4...","{'qnt': [43], 'price': 237720.9971921829}","{'qnt': [256.37369317961327], 'price': 74967.9...","{'qnt': [21], 'price': 42489.61196322578}","{'qnt': [34], 'price': 302310.02710166085}","{'qnt': [37], 'price': 169520.8317875485}",NaN
3,labp6cnub7b5vh9ykge,Wed Mar 26 19:38:56 2025,NaN,"{'qnt': [14], 'price': 241164.14333911674}",NaN,"{'qnt': [47], 'price': 285706.0582484437}","{'qnt': [246.58455409548134], 'price': 198019....","{'qnt': [344.8466051948564], 'price': 117056.1...","{'qnt': [2788.59344681515], 'price': 206897.47...","{'qnt': [12], 'price': 237720.9971921829}","{'qnt': [0], 'price': 74967.91297964574}","{'qnt': [45], 'price': 42489.61196322578}","{'qnt': [14], 'price': 302310.02710166085}","{'qnt': [20], 'price': 169520.8317875485}",NaN
4,labp6cnug6r5kzdr776,Wed Mar 26 22:03:13 2025,"{'qnt': [34], 'price': 487156.94311027566}",NaN,NaN,"{'qnt': [0], 'price': 285706.0582484437}","{'qnt': [0], 'price': 198019.03827624323}","{'qnt': [132.7112679454828], 'price': 117056.1...","{'qnt': [2809.8683969200174], 'price': 206897....",NaN,"{'qnt': [0], 'price': 74967.91297964574}","{'qnt': [20], 'price': 42489.61196322578}",NaN,NaN,"{'qnt': [9], 'price': 6488.899347973865}"
5,labp6cnuk0sdb5avgq,Wed Mar 26 21:48:30 2025,NaN,"{'qnt': [41], 'price': 241164.14333911674}","{'qnt': [8], 'price': 364364.39597516856}","{'qnt': [81], 'price': 285706.0582484437}","{'qnt': [0], 'price': 198019.03827624323}","{'qnt': [165.03848763724267], 'price': 117056....","{'qnt': [2518.221599911849], 'price': 206897.4...","{'qnt': [11], 'price': 237720.9971921829}",NaN,"{'qnt': [28], 'price': 42489.61196322578}",NaN,NaN,"{'qnt': [3], 'price': 6488.899347973865}"
6,labp6cnuzqyigqfms1s,Thu Mar 27 00:09:49 2025,NaN,"{'qnt': [48], 'price': 241164.14333911674}","{'qnt': [30], 'price': 364364.39597516856}","{'qnt': [417], 'price': 285706.0582484437}","{'qnt': [0], 'price': 198019.03827624323}","{'qnt': [292.69505502119085], 'price': 117056....","{'qnt': [2693.787241137311], 'price': 206897.4...","{'qnt': [48], 'price': 237720.9971921829}","{'qnt': [89.43999873188761], 'price': 74967.91...",NaN,"{'qnt': [12], 'price': 302310.02710166085}",NaN,"{'qnt': [22], 'price': 6488.899347973865}"
7,labp6cnumc6iitnpll,Wed Mar 26 22:12:24 2025,"{'qnt': [13], 'price': 487156.94311027566}",NaN,NaN,"{'qnt': [22], 'price': 285706.0582484437}",NaN,NaN,"{'qnt': [2260.6207955127365], 'price': 206897....","{'qnt': [14], 'price': 237720.9971921829}","{'qnt': [194.4866732853452], 'price': 74967.91...",NaN,"{'qnt': [13], 'price': 302310.02710166085}",NaN,"{'qnt': [38], 'price': 6488.899347973865}"
8,labp6cnuxh9qkvy9izl,Wed Mar 26 23:36:25 2025,NaN,"{'qnt': [18], 'price': 241164.14333911674}","{'qnt': [19], 'price': 364364.39597516856}","{'qnt': [233], 'price': 285706.0582484437}","{'qnt': [394.1811252959579], 'price': 198019.0...","{'qnt': [0], 'price': 117056.14719657064}","{'qnt': [2311.7594961393925], 'price': 206897....",NaN,NaN,NaN,"{'qnt': [30], 'price': 302310.02710166085}","{'qnt': [7], 'price': 169520.8317875485}",NaN
9,labp6cnujfmrfyoy0ys,Thu Mar 27 04:21:06 2025,NaN,"{'qnt': [43], 'price': 241164.14333911674}","{'qnt': [19], 'price': 364364.39597516856}","{'qnt': [353], 'price': 285706.0582484437}","{'qnt': [0], 'price': 198019.03827624323}",NaN,"{'qnt': [2648.4002131178904], 'price': 206897....","{'qnt': [17], 'price': 237720.9971921829}",NaN,NaN,"{'qnt': [38], 'price': 302310.02710166085}",NaN,"{'qnt': [16], 'price': 6488.899347973865}"
10,labp6cnu36m62slil1d,Wed Mar 26 20:07:49 2025,NaN,"{'qnt': [12], 'price': 241164.14333911674}",NaN,"{'qnt': [182], 'price': 285706.0582484437}","{'qnt': [9.728804846721795], 'price': 198019.0...","{'qnt': [478.85288226943936], 'price': 117056....","{'qnt': [2081.6185527896914], 'price': 206897....","{'qnt': [3], 'price': 237720.9971921829}",NaN,"{'qnt': [22], 'price': 42489.61196322578}","{'qnt': [47], 'price': 302310.02710166085}",NaN,NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[14, 43, 12, 11, 48, 14, 17, 3]","[17, 29, 14, 41, 48, 18, 43, 12]","[9, 3, 22, 38, 16]","[46, 32, 8, 30, 19, 19]","[21, 45, 20, 28, 22]","[34, 14, 12, 13, 30, 38, 47]","[0, 47, 0, 81, 417, 22, 233, 353, 182]","[0, 0, 246.58455409548134, 0, 0, 0, 394.181125...","[444.37990713672417, 256.37369317961327, 0, 0,...","[2856.4626924797085, 2838.3768814911, 2207.982...","[36, 37, 34, 13]","[37, 20, 7]","[0, 487.36859859439005, 344.8466051948564, 132..."
price,237720.997192,241164.143339,6488.899348,364364.395975,42489.611963,302310.027102,285706.058248,198019.038276,74967.91298,206897.473746,487156.94311,169520.831788,117056.147197
next_week_price,356581.494751,361746.215008,9733.348621,546546.593956,63734.417945,453465.040651,428559.087373,297028.557414,112451.869469,310346.210618,730735.414665,254281.247431,175584.220795

Semana 24:

Json:

,id,date,prod_3,prod_4,prod_6,prod_9,prod_11,prod_15,prod_1,prod_2,prod_7,prod_8,prod_5,prod_0,prod_10
0,labp6cq2k0dyfd33yhi,Thu Apr 3 01:38:54 2025,"{'qnt': [7], 'price': 9733.348621202418}","{'qnt': [23], 'price': 546546.5939556906}","{'qnt': [8], 'price': 453465.04065070953}","{'qnt': [26.594918587461457], 'price': 297028....","{'qnt': [133.54808118199296], 'price': 175584....","{'qnt': [2604.950666590065], 'price': 310346.2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labp6cq2fuflzmztsfp,Thu Apr 3 03:27:01 2025,NaN,NaN,NaN,"{'qnt': [5.288894997974025], 'price': 297028.5...","{'qnt': [104.9314686416232], 'price': 175584.2...","{'qnt': [2464.7475053831768], 'price': 310346....","{'qnt': [29], 'price': 730735.4146652896}","{'qnt': [32], 'price': 361746.2150080931}","{'qnt': [18], 'price': 254281.24743096065}","{'qnt': [215], 'price': 428559.0873726655}",NaN,NaN,NaN
2,labp6cq2qgw6looq21,Thu Apr 3 01:16:45 2025,"{'qnt': [35], 'price': 9733.348621202418}",NaN,NaN,"{'qnt': [27.29872506659976], 'price': 297028.5...","{'qnt': [689.8325385077399], 'price': 175584.2...","{'qnt': [2430.256724058444], 'price': 310346.2...",NaN,"{'qnt': [4], 'price': 361746.2150080931}","{'qnt': [15], 'price': 254281.24743096065}","{'qnt': [707], 'price': 428559.0873726655}","{'qnt': [22], 'price': 63734.41794466095}",NaN,NaN
3,labp6cq24vurzxr7zpq,Wed Apr 2 19:04:47 2025,"{'qnt': [23], 'price': 9733.348621202418}","{'qnt': [45], 'price': 546546.5939556906}","{'qnt': [26], 'price': 453465.04065070953}","{'qnt': [341.5761063492634], 'price': 297028.5...","{'qnt': [603.9707360948307], 'price': 175584.2...","{'qnt': [2074.485562825028], 'price': 310346.2...","{'qnt': [10], 'price': 730735.4146652896}","{'qnt': [19], 'price': 361746.2150080931}","{'qnt': [44], 'price': 254281.24743096065}",NaN,"{'qnt': [19], 'price': 63734.41794466095}","{'qnt': [0], 'price': 356581.49475098774}","{'qnt': [123.50793182411205], 'price': 112451...."
4,labp6cq2xjfn4zli5fb,Wed Apr 2 18:21:02 2025,NaN,"{'qnt': [31], 'price': 546546.5939556906}","{'qnt': [4], 'price': 453465.04065070953}","{'qnt': [279.197406976184], 'price': 297028.55...","{'qnt': [454.14689051288997], 'price': 175584....","{'qnt': [2059.220341408386], 'price': 310346.2...","{'qnt': [47], 'price': 730735.4146652896}","{'qnt': [49], 'price': 361746.2150080931}","{'qnt': [39], 'price': 254281.24743096065}","{'qnt': [65], 'price': 428559.0873726655}","{'qnt': [36], 'price': 63734.41794466095}","{'qnt': [20], 'price': 356581.49475098774}","{'qnt': [528.9693363421273], 'price': 112451.8..."
5,labp6cq2r8o07s39wm,Thu Apr 3 06:29:08 2025,"{'qnt': [22], 'price': 9733.348621202418}",NaN,"{'qnt': [32], 'price': 453465.04065070953}","{'qnt': [56.182034870165744], 'price': 297028....",NaN,"{'qnt': [2190.6508163894846], 'price': 310346....",NaN,NaN,NaN,"{'qnt': [361], 'price': 428559.0873726655}",NaN,"{'qnt': [32], 'price': 356581.49475098774}","{'qnt': [817.5636518038931], 'price': 112451.8..."
6,labp6cq2fnb9qahoeys,Thu Apr 3 00:10:09 2025,"{'qnt': [42], 'price': 9733.348621202418}","{'qnt': [22], 'price': 546546.5939556906}","{'qnt': [7], 'price': 453465.04065070953}","{'qnt': [316.99924086161303], 'price': 297028....",NaN,"{'qnt': [2779.1328822932664], 'price': 310346....","{'qnt': [37], 'price': 730735.4146652896}","{'qnt': [29], 'price': 361746.2150080931}",NaN,"{'qnt': [800], 'price': 428559.0873726655}","{'qnt': [36], 'price': 63734.41794466095}",NaN,"{'qnt': [119.81816501857348], 'price': 112451...."
7,labp6cq20iyw2uta4c0q,Wed Apr 2 20:08:20 2025,"{'qnt': [16], 'price': 9733.348621202418}","{'qnt': [23], 'price': 546546.5939556906}",NaN,"{'qnt': [18.522230411828403], 'price': 297028....",NaN,"{'qnt': [2696.024723295872], 'price': 310346.2...","{'qnt': [9], 'price': 730735.4146652896}",NaN,"{'qnt': [46], 'price': 254281.24743096065}","{'qnt': [488], 'price': 428559.0873726655}",NaN,"{'qnt': [34], 'price': 356581.49475098774}","{'qnt': [280.73277041140767], 'price': 112451...."
8,labp6cq2bdh53fb9pm6,Wed Apr 2 19:42:16 2025,NaN,NaN,NaN,"{'qnt': [24.09358701919232], 'price': 297028.5...",NaN,"{'qnt': [2237.258434070843], 'price': 310346.2...","{'qnt': [50], 'price': 730735.4146652896}",NaN,NaN,"{'qnt': [660], 'price': 428559.0873726655}","{'qnt': [41], 'price': 63734.41794466095}",NaN,NaN
9,labp6cq2pgkw8n8v1y,Thu Apr 3 04:50:24 2025,NaN,NaN,"{'qnt': [3], 'price': 453465.04065070953}",NaN,NaN,"{'qnt': [2024.8192444849205], 'price': 310346....",NaN,"{'qnt': [38], 'price': 361746.2150080931}",NaN,"{'qnt': [736], 'price': 428559.0873726655}","{'qnt': [1], 'price': 63734.41794466095}",NaN,"{'qnt': [419.73673984712224], 'price': 112451...."
10,labp6cq21t6pgsc44euh,Wed Apr 2 17:16:51 2025,NaN,"{'qnt': [47], 'price': 546546.5939556906}","{'qnt': [39], 'price': 453465.04065070953}","{'qnt': [13.821270641056593], 'price': 297028....","{'qnt': [436.2336051411842], 'price': 175584.2...","{'qnt': [2073.370757677958], 'price': 310346.2...",NaN,"{'qnt': [18], 'price': 361746.2150080931}","{'qnt': [30], 'price': 254281.24743096065}","{'qnt': [211], 'price': 428559.0873726655}","{'qnt': [4], 'price': 63734.41794466095}",NaN,NaN
11,labp6cq2043sjs1szcqh,Thu Apr 3 02:33:00 2025,NaN,NaN,"{'qnt': [23], 'price': 453465.04065070953}","{'qnt': [135.17128583930094], 'price': 297028....","{'qnt': [509.16011282262355], 'price': 175584....","{'qnt': [2135.1552307733755], 'price': 310346....",NaN,NaN,NaN,"{'qnt': [235], 'price': 428559.0873726655}",NaN,"{'qnt': [15], 'price': 356581.49475098774}",NaN
12,labp6cq20j9ibccvfu26,Thu Apr 3 02:15:09 2025,"{'qnt': [19], 'price': 9733.348621202418}",NaN,"{'qnt': [20], 'price': 453465.04065070953}","{'qnt': [30.881223119260238], 'price': 297028....",NaN,"{'qnt': [2378.2109292572827], 'price': 310346....","{'qnt': [15], 'price': 730735.4146652896}",NaN,NaN,"{'qnt': [18], 'price': 428559.0873726655}","{'qnt': [49], 'price': 63734.41794466095}",NaN,"{'qnt': [477.5406392792276], 'price': 112451.8..."
13,labp6cq29a7io21v4dg,Wed Apr 2 22:49:28 2025,"{'qnt': [43], 'price': 9733.348621202418}",NaN,"{'qnt': [37], 'price': 453465.04065070953}",NaN,"{'qnt': [751.9870610833049], 'price': 175584.2...","{'qnt': [2216.064757196338], 'price': 310346.2...","{'qnt': [2], 'price': 730735.4146652896}","{'qnt': [4], 'price': 361746.2150080931}","{'qnt': [41], 'price': 254281.24743096065}","{'qnt': [25], 'price': 428559.0873726655}","{'qnt': [32], 'price': 63734.41794466095}","{'qnt': [37], 'price': 356581.49475098774}",NaN
14,labp6cq2egriz9b9bk9,Thu Apr 3 07:56:41 2025,"{'qnt': [11], 'price': 9733.348621202418}",NaN,"{'qnt': [9], 'price': 453465.04065070953}",NaN,"{'qnt': [266.2704160672555], 'price': 175584.2...","{'qnt': [2704.2086053945695], 'price': 310346....",NaN,NaN,"{'qnt': [4], 'price': 254281.24743096065}","{'qnt': [255], 'price': 428559.0873726655}",NaN,NaN,"{'qnt': [340.5961280813751], 'price': 112451.8..."
15,labp6cq2mwe5ph8ujok,Wed Apr 2 22:20:25 2025,NaN,"{'qnt': [37], 'price': 546546.5939556906}",NaN,"{'qnt': [32.527889713095135], 'price': 297028....",NaN,"{'qnt': [2343.475707809288], 'price': 310346.2...",NaN,"{'qnt': [12], 'price': 361746.2150080931}",NaN,NaN,"{'qnt': [31], 'price': 63734.41794466095}",NaN,"{'qnt': [181.97523685375216], 'price': 112451...."
16,labp6cq211dw6sz0qchl,Wed Apr 2 20:33:13 2025,"{'qnt': [1], 'price': 9733.348621202418}","{'qnt': [6], 'price': 546546.5939556906}","{'qnt': [1], 'price': 453465.04065070953}",NaN,"{'qnt': [235.99072080039096], 'price': 175584....","{'qnt': [2285.9731956293044], 'price': 310346....","{'qnt': [20], 'price': 730735.4146652896}","{'qnt': [28], 'price': 361746.2150080931}",NaN,"{'qnt': [94], 'price': 428559.0873726655}","{'qnt': [15], 'price': 63734.41794466095}","{'qnt': [26], 'price': 356581.49475098774}","{'qnt': [229.9335678566595], 'price': 112451.8..."
17,labp6cq2miqj6mythk,Thu Apr 3 05:18:26 2025,"{'qnt': [17], 'price': 9733.348621202418}",NaN,"{'qnt': [26], 'price': 453465.04065070953}","{'qnt': [12.713471881764582], 'price': 297028....","{'qnt': [425.5522682488641], 'price': 175584.2...","{'qnt': [2557.12457403256], 'price': 310346.21...",NaN,"{'qnt': [38], 'price': 361746.2150080931}","{'qnt': [16], 'price': 254281.24743096065}",NaN,"{'qnt': [8], 'price': 63734.41794466095}","{'qnt': [35], 'price': 356581.49475098774}","{'qnt': [634.4220381300421], 'price': 112451.8..."
18,labp6cq2avhcrnxf6h,Wed Apr 2 19:07:17 2025,"{'qnt': [24], 'price': 9733.348621202418}","{'qnt': [22], 'price': 546546.5939556906}","{'qnt': [35], 'price': 453465.04065070953}","{'qnt': [26.91622491605523], 'price': 297028.5...",NaN,"{'qnt': [2116.954991923394], 'price': 310346.2...",NaN,"{'qnt': [46], 'price': 361746.2150080931}","{'qnt': [20], 'price': 254281.24743096065}",NaN,NaN,NaN,NaN
19,labp6cq2ycpqd00i58p,Thu Apr 3 05:31:03 2025,NaN,NaN,"{'qnt': [40], 'price': 453465.04065070953}","{'qnt': [9.417856504379419], 'price': 297028.5...","{'qnt': [645.4217367037314], 'price': 175584.2...","{'qnt': [2371.101832613801], 'price': 310346.2...",NaN,NaN,"{'qnt': [7], 'price': 254281.24743096065}","{'qnt': [19], 'price': 428559.0873726655}",NaN,"{'qnt': [18], 'price': 356581.49475098774}","{'qnt': [479.43098658604475], 'price': 112451...."
20,labp6cq2zgnu2vf4vgl,Wed Apr 2 19:32:41 2025,NaN,NaN,"{'qnt': [31], 'price': 453465.04065070953}","{'qnt': [39.11741764678553], 'price': 297028.5...","{'qnt': [459.06967198593003], 'price': 175584....","{'qnt': [2499.01005687822], 'price': 310346.21...",NaN,"{'qnt': [49], 'price': 361746.2150080931}",NaN,"{'qnt': [20], 'price': 428559.0873726655}",NaN,NaN,NaN
21,labp6cq2otmsf3fwsi,Wed Apr 2 18:01:48 2025,"{'qnt': [29], 'price': 9733.348621202418}",NaN,NaN,NaN,"{'qnt': [637.8827480967409], 'price': 175584.2...","{'qnt': [2442.1154426683825], 'price': 310346....",NaN,NaN,"{'qnt': [7], 'price': 254281.24743096065}","{'qnt': [28], 'price': 428559.0873726655}","{'qnt': [14], 'price': 63734.41794466095}","{'qnt': [10], 'price': 356581.49475098774}","{'qnt': [354.2928941494226], 'price': 112451.8..."
22,labp6cq2uxdft59mhje,Thu Apr 3 01:59:31 2025,"{'qnt': [36], 'price': 9733.348621202418}",NaN,"{'qnt': [22], 'price': 453465.04065070953}",NaN,"{'qnt': [774.5720082806715], 'price': 175584.2...","{'qnt': [2545.633080945164], 'price': 310346.2...","{'qnt': [1], 'price': 730735.4146652896}","{'qnt': [22], 'price': 361746.2150080931}",NaN,"{'qnt': [527], 'price': 428559.0873726655}","{'qnt': [2], 'price': 63734.41794466095}",NaN,"{'qnt': [791.5070128889474], 'price': 112451.8..."
23,labp6cq2x6cvzr2mt6l,Wed Apr 2 19:48:09 2025,"{'qnt': [41], 'price': 9733.348621202418}",NaN,NaN,NaN,"{'qnt': [41.54890258399608], 'price': 175584.2...","{'qnt': [2128.4262811167687], 'price': 310346....",NaN,"{'qnt': [13], 'price': 361746.2150080931}","{'qnt': [23], 'price': 254281.24743096065}",NaN,NaN,"{'qnt': [3], 'price': 356581.49475098774}",NaN
24,labp6cq2ihb2wontczq,Thu Apr 3 04:04:57 2025,NaN,"{'qnt': [41], 'price': 546546.5939556906}",NaN,"{'qnt': [575.0700847404008], 'price': 297028.5...",NaN,"{'qnt': [2373.5784299075117], 'price': 310346....",NaN,"{'qnt': [38], 'price': 361746.2150080931}","{'qnt': [9], 'price': 254281.24743096065}",NaN,"{'qnt': [49], 'price': 63734.41794466095}","{'qnt': [28], 'price': 356581.49475098774}","{'qnt': [522.9493208564325], 'price': 112451.8..."
25,labp6cq2ze326pqeu6c,Thu Apr 3 07:48:27 2025,NaN,NaN,"{'qnt': [40], 'price': 453465.04065070953}","{'qnt': [30.205275704006198], 'price': 297028....",NaN,"{'qnt': [2465.141715385359], 'price': 310346.2...",NaN,"{'qnt': [3], 'price': 361746.2150080931}",NaN,"{'qnt': [28], 'price': 428559.0873726655}",NaN,NaN,NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[0, 20, 32, 34, 15, 37, 26, 35, 18, 10, 3, 28]","[32, 4, 19, 49, 29, 38, 18, 4, 12, 28, 38, 46,...","[7, 35, 23, 22, 42, 16, 19, 43, 11, 1, 17, 24,...","[23, 45, 31, 22, 23, 47, 37, 6, 22, 41]","[22, 19, 36, 36, 41, 1, 4, 49, 32, 31, 15, 8, ...","[8, 26, 4, 32, 7, 3, 39, 23, 20, 37, 9, 1, 26,...","[215, 707, 65, 361, 800, 488, 660, 736, 211, 2...","[26.594918587461457, 5.288894997974025, 27.298...","[123.50793182411205, 528.9693363421273, 817.56...","[2604.950666590065, 2464.7475053831768, 2430.2...","[29, 10, 47, 37, 9, 50, 15, 2, 20, 1]","[18, 15, 44, 39, 46, 30, 41, 4, 16, 20, 7, 7, ...","[133.54808118199296, 104.9314686416232, 689.83..."
price,356581.494751,361746.215008,9733.348621,546546.593956,63734.417945,453465.040651,428559.087373,297028.557414,112451.869469,310346.210618,730735.414665,254281.247431,175584.220795
next_week_price,534872.241681,542619.322507,14600.022931,819819.890933,95601.62691,680197.560743,642838.631059,445542.836122,168677.804204,465519.315928,1096103.121444,381421.871059,263376.331192

Semana 25:

Json:

,id,date,prod_0,prod_1,prod_2,prod_4,prod_5,prod_9,prod_11,prod_15,prod_3,prod_7,prod_8,prod_10,prod_6
0,labp6ctqdae2v7m3tx,Wed Apr 9 17:38:56 2025,"{'qnt': [17], 'price': 534872.2416807002}","{'qnt': [46], 'price': 1096103.1214438498}","{'qnt': [38], 'price': 542619.3225071158}","{'qnt': [42], 'price': 819819.8909333483}","{'qnt': [20], 'price': 95601.6269100002}","{'qnt': [4.10004804547035], 'price': 445542.83...","{'qnt': [442.33959914945706], 'price': 263376....","{'qnt': [2450.484536145639], 'price': 465519.3...",NaN,NaN,NaN,NaN,NaN
1,labp6ctqos5df0fyo38,Wed Apr 9 21:15:21 2025,NaN,NaN,NaN,NaN,"{'qnt': [26], 'price': 95601.6269100002}","{'qnt': [2.69183826329058], 'price': 445542.83...",NaN,"{'qnt': [2270.43934156096], 'price': 465519.31...","{'qnt': [21], 'price': 14600.022931134095}","{'qnt': [18], 'price': 381421.87105855916}","{'qnt': [37], 'price': 642838.6310589983}","{'qnt': [493.721440171984], 'price': 168677.80...",NaN
2,labp6ctq9nxu61szg6g,Wed Apr 9 20:15:20 2025,NaN,"{'qnt': [15], 'price': 1096103.1214438498}",NaN,"{'qnt': [9], 'price': 819819.8909333483}",NaN,"{'qnt': [1040.4637375641587], 'price': 445542....",NaN,"{'qnt': [2408.590791888705], 'price': 465519.3...","{'qnt': [16], 'price': 14600.022931134095}","{'qnt': [11], 'price': 381421.87105855916}","{'qnt': [31], 'price': 642838.6310589983}",NaN,NaN
3,labp6ctqi3z4txp0d0c,Wed Apr 9 18:21:57 2025,"{'qnt': [28], 'price': 534872.2416807002}","{'qnt': [20], 'price': 1096103.1214438498}","{'qnt': [5], 'price': 542619.3225071158}",NaN,NaN,"{'qnt': [877.8576003070798], 'price': 445542.8...",NaN,"{'qnt': [2454.8928522416863], 'price': 465519....","{'qnt': [29], 'price': 14600.022931134095}","{'qnt': [19], 'price': 381421.87105855916}","{'qnt': [9], 'price': 642838.6310589983}",NaN,"{'qnt': [10], 'price': 680197.5607430045}"
4,labp6ctq825sauzk00a,Thu Apr 10 00:40:21 2025,"{'qnt': [2], 'price': 534872.2416807002}","{'qnt': [24], 'price': 1096103.1214438498}",NaN,"{'qnt': [8], 'price': 819819.8909333483}","{'qnt': [15], 'price': 95601.6269100002}","{'qnt': [382.91350848493505], 'price': 445542....","{'qnt': [490.7511774550351], 'price': 263376.3...","{'qnt': [1940.445781741964], 'price': 465519.3...",NaN,"{'qnt': [38], 'price': 381421.87105855916}","{'qnt': [818], 'price': 642838.6310589983}","{'qnt': [654.4641190535075], 'price': 168677.8...",NaN
5,labp6ctqccvele3t4vw,Wed Apr 9 19:32:39 2025,NaN,"{'qnt': [9], 'price': 1096103.1214438498}",NaN,"{'qnt': [27], 'price': 819819.8909333483}","{'qnt': [8], 'price': 95601.6269100002}","{'qnt': [976.4786496873685], 'price': 445542.8...","{'qnt': [810.8655939937977], 'price': 263376.3...","{'qnt': [2485.582583923042], 'price': 465519.3...","{'qnt': [30], 'price': 14600.022931134095}",NaN,"{'qnt': [31], 'price': 642838.6310589983}","{'qnt': [881.3282722277088], 'price': 168677.8...",NaN
6,labp6ctq7pxwa0g0t26,Thu Apr 10 03:43:25 2025,"{'qnt': [25], 'price': 534872.2416807002}",NaN,NaN,"{'qnt': [10], 'price': 819819.8909333483}","{'qnt': [48], 'price': 95601.6269100002}","{'qnt': [513.5013609859717], 'price': 445542.8...",NaN,"{'qnt': [2546.5103749640066], 'price': 465519....","{'qnt': [11], 'price': 14600.022931134095}","{'qnt': [32], 'price': 381421.87105855916}","{'qnt': [48], 'price': 642838.6310589983}",NaN,NaN
7,labp6ctqiygdx8ivuwf,Wed Apr 9 19:45:22 2025,"{'qnt': [12], 'price': 534872.2416807002}",NaN,NaN,NaN,"{'qnt': [14], 'price': 95601.6269100002}","{'qnt': [385.81686769099497], 'price': 445542....","{'qnt': [915.2192665845338], 'price': 263376.3...","{'qnt': [2002.2953716941665], 'price': 465519....","{'qnt': [6], 'price': 14600.022931134095}",NaN,"{'qnt': [44], 'price': 642838.6310589983}",NaN,"{'qnt': [21], 'price': 680197.5607430045}"
8,labp6ctqnafkfqwhcaq,Thu Apr 10 08:37:57 2025,"{'qnt': [36], 'price': 534872.2416807002}","{'qnt': [19], 'price': 1096103.1214438498}",NaN,"{'qnt': [11], 'price': 819819.8909333483}",NaN,NaN,NaN,"{'qnt': [2626.266154809318], 'price': 465519.3...",NaN,"{'qnt': [42], 'price': 381421.87105855916}","{'qnt': [943], 'price': 642838.6310589983}","{'qnt': [493.3535510264692], 'price': 168677.8...",NaN
9,labp6ctqluae0x42hb,Wed Apr 9 18:59:21 2025,NaN,"{'qnt': [12], 'price': 1096103.1214438498}","{'qnt': [17], 'price': 542619.3225071158}",NaN,NaN,"{'qnt': [829.0064339039884], 'price': 445542.8...","{'qnt': [780.3660687828096], 'price': 263376.3...","{'qnt': [2306.8556535553143], 'price': 465519....","{'qnt': [39], 'price': 14600.022931134095}","{'qnt': [5], 'price': 381421.87105855916}",NaN,"{'qnt': [785.2281892594782], 'price': 168677.8...","{'qnt': [8], 'price': 680197.5607430045}"
10,labp6ctqlsurjp5kfrp,Thu Apr 10 04:11:13 2025,NaN,"{'qnt': [41], 'price': 1096103.1214438498}",NaN,NaN,"{'qnt': [37], 'price': 95601.6269100002}","{'qnt': [699.4735659376192], 'price': 445542.8...","{'qnt': [673.0678289078733], 'price': 263376.3...","{'qnt': [2464.082895712024], 'price': 465519.3...",NaN,NaN,"{'qnt': [491], 'price': 642838.6310589983}","{'qnt': [374.32108872088094], 'price': 168677....","{'qnt': [40], 'price': 680197.5607430045}"
11,labp6ctqq8lpt0cwuk,Wed Apr 9 23:29:47 2025,"{'qnt': [22], 'price': 534872.2416807002}","{'qnt': [39], 'price': 1096103.1214438498}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [2109.625591646649], 'price': 465519.3...",NaN,NaN,"{'qnt': [651], 'price': 642838.6310589983}",NaN,NaN
12,labp6ctqcbfcyss9s2a,Thu Apr 10 05:18:29 2025,"{'qnt': [30], 'price': 534872.2416807002}","{'qnt': [31], 'price': 1096103.1214438498}",NaN,"{'qnt': [19], 'price': 819819.8909333483}",NaN,NaN,"{'qnt': [657.9847964629448], 'price': 263376.3...","{'qnt': [1906.6233332063334], 'price': 465519....",NaN,NaN,"{'qnt': [35], 'price': 642838.6310589983}","{'qnt': [431.21063168503537], 'price': 168677....",NaN

product_database:

,prod_0,prod_2,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_1,prod_7,prod_11
qnt,"[17, 28, 2, 25, 12, 36, 22, 30]","[38, 5, 17]","[21, 16, 29, 30, 11, 6, 39]","[42, 9, 8, 27, 10, 11, 19]","[20, 26, 15, 8, 48, 14, 37]","[10, 21, 8, 40]","[37, 31, 9, 818, 31, 48, 44, 943, 491, 651, 35]","[4.10004804547035, 2.69183826329058, 1040.4637...","[493.721440171984, 654.4641190535075, 881.3282...","[2450.484536145639, 2270.43934156096, 2408.590...","[46, 15, 20, 24, 9, 19, 12, 41, 39, 31]","[18, 11, 19, 38, 32, 42, 5]","[442.33959914945706, 490.7511774550351, 810.86..."
price,534872.241681,542619.322507,14600.022931,819819.890933,95601.62691,680197.560743,642838.631059,445542.836122,168677.804204,465519.315928,1096103.121444,381421.871059,263376.331192
next_week_price,802308.361852,813928.98072,21900.034382,1229729.80246,143402.440355,1020296.336221,964257.946588,668314.254182,253016.706306,698278.973891,1644154.682143,572132.806528,395064.496788