## Library

In [ ]:
import requests
import random
import pandas as pd
import time
import math
from copy import deepcopy
from statistics import mean

## Notebook

#### Requisição

In [ ]:
def request() -> list:   
    res = requests.get('http://localhost:3000/api/ep1')
    return res.json()

#### Tratamento de Dados

In [ ]:
def data_treatment(json:list):
    for i in range(len(json)):
        for key in json[i]:
            if ('prod' in key):
                if (type(json[i][key])!=dict):
                    qnt = json[i][key]
                    if (type(qnt)==str):
                        qnt = float(qnt)                  
                    if (qnt<0):
                        qnt = 0
                    if (key in [product for product in json[i] if ('prod' in product and (int(product[5]) < 9 and len(product) < 7))]):
                        json[i][key] = {'qnt':[round(qnt)], 'price':None}
                    else:
                        json[i][key] = {'qnt':[qnt], 'price':None}
        try:
            json[i]['date'] = time.ctime(json[i]['date'])
        except:
            continue
    return json

#### Gerar valores aleatórios

In [ ]:
def generate_random_price(n_min=1.0, n_max=100.0) -> float:
    return round(random.uniform(n_min, n_max), 2)

#### Precificação

##### Função logistica -> A mesma postada no doc pelo professor

In [ ]:
def logistic_function(v: float) -> float:
    return 0.5 + (1 / (1 + math.e ** -v))

##### Função para calcular a variação -> A mesma postada no doc pelo professor

In [ ]:
def calc_qnt_variation(last_week: list, current_week: list) -> float:
    return mean(current_week) - mean(last_week) / mean(last_week) if (mean(last_week) != 0) else 0

##### Função que calcula o preço que será utilizado na semana seguinte

In [ ]:
def calc_new_price(product_db: dict, sales_week: dict) -> dict:
    for product in product_db:
        if (product_db[product]['qnt'] != None):
            if (product not in sales_week.keys()):
                sales_week[product] = [0]
            product_db[product]['next_week_price'] = logistic_function(calc_qnt_variation(product_db[product]['qnt'], sales_week[product])) * product_db[product]['price']
        product_db[product]['qnt'] = sales_week[product]               
    return product_db

##### Função que atualiza o banco de dados (onde consta a quantidade de vendas da última semana e o preço dos produtos) e aplica o preço nos produtos do JSON

In [ ]:
def product_pricing(json: list, product_db: dict) -> tuple:
    sales_week = {}

    for transaction in json:
        for key in transaction:
            if ('prod' in key):
                if (key not in product_db.keys()):
                    transaction[key]['price'] = generate_random_price()
                    sales_week[key] = deepcopy(transaction[key]['qnt'])
                    product_db[key] = deepcopy(transaction[key])
                    product_db[key]['qnt'] = None
                    product_db[key]['next_week_price'] = product_db[key]['price']              
                else:
                    transaction[key]['price'] = deepcopy(product_db[key]['next_week_price'])
                    product_db[key]['price'] = product_db[key]['next_week_price']
                    if (key not in sales_week.keys()):
                        sales_week[key] = deepcopy(transaction[key]['qnt'])
                    else:
                        sales_week[key] += deepcopy(transaction[key]['qnt'])

    product_db = calc_new_price(product_db, sales_week)

    return json, product_db

#### Main

In [77]:
product_database = {}
weeks = 2

for week in range(weeks):
    json = data_treatment(request())
    json, product_database = product_pricing(json, product_database)

    json_db = pd.DataFrame(json)
    product_database_db = pd.DataFrame(product_database)

    print(f'\nSemana {week + 1}:\n')
    print('Json:')
    display(json_db)
    print('\nproduct_database:')
    display(product_database_db)

Semana 1:

Json:

,id,date,prod_1,prod_2,prod_3,prod_8,prod_10,prod_6,prod_7,prod_9,prod_0,prod_4,prod_5,prod_11
0,lagypxxm1nn4so5e8r6,Thu Jan 30 00:09:00 2020,"{'qnt': [7], 'price': 26.56}","{'qnt': [7], 'price': 48.32}","{'qnt': [8], 'price': 62.57}","{'qnt': [291], 'price': 35.92}","{'qnt': [587.926780637943], 'price': 97.17}",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,lagypxxmcy1lc2phpo8,Wed Jan 29 17:37:46 2020,NaN,NaN,NaN,"{'qnt': [512], 'price': 35.92}","{'qnt': [540.7003983100865], 'price': 97.17}","{'qnt': [22], 'price': 34.89}","{'qnt': [6], 'price': 82.33}","{'qnt': [631.5007774973963], 'price': 20.21}",NaN,NaN,NaN,NaN
2,lagypxxmxiq2pwc1cs9,Thu Jan 30 05:24:50 2020,"{'qnt': [11], 'price': 26.56}",NaN,"{'qnt': [46], 'price': 62.57}",NaN,NaN,"{'qnt': [44], 'price': 34.89}","{'qnt': [38], 'price': 82.33}","{'qnt': [48.72916429068284], 'price': 20.21}","{'qnt': [30], 'price': 87.56}",NaN,NaN,NaN
3,lagypxxmvgwezylx94,Wed Jan 29 18:25:37 2020,"{'qnt': [21], 'price': 26.56}",NaN,"{'qnt': [34], 'price': 62.57}","{'qnt': [11], 'price': 35.92}","{'qnt': [348.50057773459395], 'price': 97.17}","{'qnt': [26], 'price': 34.89}",NaN,NaN,NaN,"{'qnt': [27], 'price': 26.33}","{'qnt': [11], 'price': 1.74}","{'qnt': [89.28350478453667], 'price': 6.78}"
4,lagypxxmtbucv2vkzv,Wed Jan 29 17:18:07 2020,NaN,NaN,NaN,"{'qnt': [625], 'price': 35.92}","{'qnt': [448.3082554909861], 'price': 97.17}",NaN,NaN,"{'qnt': [12.905645120392364], 'price': 20.21}","{'qnt': [33], 'price': 87.56}",NaN,NaN,NaN
5,lagypxxm664tw1ebwkr,Thu Jan 30 05:05:18 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'qnt': [325.55048421166003], 'price': 20.21}","{'qnt': [25], 'price': 87.56}","{'qnt': [34], 'price': 26.33}",NaN,NaN
6,lagypxxnlx0brv4wfpi,Wed Jan 29 18:13:55 2020,NaN,NaN,"{'qnt': [43], 'price': 62.57}","{'qnt': [177], 'price': 35.92}","{'qnt': [654.3047658295377], 'price': 97.17}",NaN,NaN,"{'qnt': [40.59803603987257], 'price': 20.21}","{'qnt': [3], 'price': 87.56}","{'qnt': [40], 'price': 26.33}","{'qnt': [39], 'price': 1.74}","{'qnt': [231.88406825221327], 'price': 6.78}"
7,lagypxxnvbjtfy9usi,Thu Jan 30 07:25:43 2020,NaN,NaN,NaN,"{'qnt': [671], 'price': 35.92}","{'qnt': [481.80992931312255], 'price': 97.17}",NaN,NaN,"{'qnt': [15.151635350650706], 'price': 20.21}","{'qnt': [7], 'price': 87.56}","{'qnt': [17], 'price': 26.33}",NaN,NaN
8,lagypxxnrw0sveirqea,Thu Jan 30 02:24:15 2020,"{'qnt': [28], 'price': 26.56}","{'qnt': [33], 'price': 48.32}","{'qnt': [1], 'price': 62.57}","{'qnt': [454], 'price': 35.92}","{'qnt': [580.6170356893491], 'price': 97.17}","{'qnt': [12], 'price': 34.89}",NaN,"{'qnt': [24.351941778542685], 'price': 20.21}","{'qnt': [19], 'price': 87.56}",NaN,NaN,NaN
9,lagypxxns4kuap0qux,Wed Jan 29 19:40:32 2020,NaN,NaN,NaN,NaN,"{'qnt': [515.3532631433648], 'price': 97.17}","{'qnt': [40], 'price': 34.89}","{'qnt': [49], 'price': 82.33}","{'qnt': [267.7927487534772], 'price': 20.21}",NaN,"{'qnt': [13], 'price': 26.33}",NaN,NaN
10,lagypxxnjuyrg0atzi9,Wed Jan 29 17:04:12 2020,"{'qnt': [8], 'price': 26.56}",NaN,NaN,"{'qnt': [746], 'price': 35.92}",NaN,NaN,"{'qnt': [35], 'price': 82.33}",NaN,"{'qnt': [14], 'price': 87.56}","{'qnt': [12], 'price': 26.33}","{'qnt': [43], 'price': 1.74}",NaN
11,lagypxxnjr9wviilmb,Wed Jan 29 21:14:40 2020,"{'qnt': [29], 'price': 26.56}","{'qnt': [7], 'price': 48.32}",NaN,"{'qnt': [107], 'price': 35.92}","{'qnt': [198.677554744923], 'price': 97.17}","{'qnt': [16], 'price': 34.89}",NaN,"{'qnt': [676.0977283180906], 'price': 20.21}",NaN,NaN,NaN,NaN
12,lagypxxnjbcdma6f1l8,Thu Jan 30 00:21:41 2020,"{'qnt': [6], 'price': 26.56}",NaN,NaN,"{'qnt': [29], 'price': 35.92}",NaN,"{'qnt': [38], 'price': 34.89}","{'qnt': [46], 'price': 82.33}","{'qnt': [443.5949744792345], 'price': 20.21}","{'qnt': [44], 'price': 87.56}",NaN,NaN,NaN
13,lagypxxn2ejyymzgwt4,Thu Jan 30 00:14:24 2020,NaN,NaN,NaN,NaN,"{'qnt': [72.09492458500509], 'price': 97.17}",NaN,NaN,NaN,NaN,"{'qnt': [42], 'price': 26.33}","{'qnt': [15], 'price': 1.74}",NaN
14,lagypxxna7pc48py7if,Thu Jan 30 07:21:35 2020,NaN,NaN,"{'qnt': [5], 'price': 62.57}","{'qnt': [0], 'price': 35.92}","{'qnt': [24.405733691517902], 'price': 97.17}","{'qnt': [42], 'price': 34.89}","{'qnt': [3], 'price': 82.33}",NaN,"{'qnt': [7], 'price': 87.56}","{'qnt': [4], 'price': 26.33}","{'qnt': [27], 'price': 1.74}","{'qnt': [164.9678514165921], 'price': 6.78}"
15,lagypxxnazcqiysm2p7,Thu Jan 30 01:53:28 2020,"{'qnt': [23], 'price': 26.56}",NaN,NaN,"{'qnt': [637], 'price': 35.92}","{'qnt': [695.7088305907128], 'price': 97.17}","{'qnt': [42], 'price': 34.89}","{'qnt': [44], 'price': 82.33}","{'qnt': [361.66961715256247], 'price': 20.21}",NaN,NaN,"{'qnt': [3], 'price': 1.74}",NaN
16,lagypxxny4rh3wdbx1,Thu Jan 30 03:38:35 2020,"{'qnt': [33], 'price': 26.56}","{'qnt': [50], 'price': 48.32}","{'qnt': [37], 'price': 62.57}",NaN,NaN,"{'qnt': [49], 'price': 34.89}",NaN,"{'qnt': [504.98503405120806], 'price': 20.21}",NaN,NaN,NaN,NaN
17,lagypxxnedpdfc3qeq,Wed Jan 29 16:42:30 2020,NaN,NaN,NaN,NaN,"{'qnt': [582.103527727368], 'price': 97.17}",NaN,"{'qnt': [48], 'price': 82.33}","{'qnt': [45.846392912756585], 'price': 20.21}",NaN,"{'qnt': [43], 'price': 26.33}","{'qnt': [19], 'price': 1.74}",NaN
18,lagypxxnwwmioxl6dhf,Thu Jan 30 07:35:45 2020,"{'qnt': [46], 'price': 26.56}",NaN,NaN,"{'qnt': [275], 'price': 35.92}","{'qnt': [368.5858882359091], 'price': 97.17}","{'qnt': [35], 'price': 34.89}","{'qnt': [9], 'price': 82.33}","{'qnt': [6.988666986001412], 'price': 20.21}",NaN,NaN,"{'qnt': [48], 'price': 1.74}",NaN
19,lagypxxnv7tlz3xqg4,Thu Jan 30 05:29:54 2020,NaN,"{'qnt': [20], 'price': 48.32}","{'qnt': [42], 'price': 62.57}","{'qnt': [7], 'price': 35.92}","{'qnt': [136.642176095724], 'price': 97.17}",NaN,NaN,"{'qnt': [41.60111377076462], 'price': 20.21}",NaN,"{'qnt': [8], 'price': 26.33}","{'qnt': [18], 'price': 1.74}","{'qnt': [455.2891804903763], 'price': 6.78}"
20,lagypxxnzztik6vebkp,Wed Jan 29 19:56:47 2020,NaN,NaN,"{'qnt': [5], 'price': 62.57}","{'qnt': [34], 'price': 35.92}",NaN,"{'qnt': [42], 'price': 34.89}","{'qnt': [3], 'price': 82.33}","{'qnt': [381.8183927922551], 'price': 20.21}","{'qnt': [14], 'price': 87.56}","{'qnt': [44], 'price': 26.33}",NaN,"{'qnt': [285.64205948322945], 'price': 6.78}"
21,lagypxxn8celoswn2be,Wed Jan 29 20:58:07 2020,NaN,NaN,"{'qnt': [42], 'price': 62.57}","{'qnt': [3], 'price': 35.92}","{'qnt': [349.42354682356347], 'price': 97.17}",NaN,"{'qnt': [18], 'price': 82.33}",NaN,"{'qnt': [25], 'price': 87.56}","{'qnt': [48], 'price': 26.33}",NaN,NaN
22,lagypxxnf64vefxh40k,Wed Jan 29 21:38:29 2020,NaN,NaN,"{'qnt': [17], 'price': 62.57}",NaN,"{'qnt': [778.2935739134219], 'price': 97.17}","{'qnt': [10], 'price': 34.89}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [636.2357770084986], 'price': 6.78}"
23,lagypxxnvrkz55jbbes,Wed Jan 29 21:28:26 2020,NaN,NaN,"{'qnt': [27], 'price': 62.57}","{'qnt': [710], 'price': 35.92}",NaN,NaN,NaN,"{'qnt': [16.84083676653788], 'price': 20.21}","{'qnt': [39], 'price': 87.56}",NaN,"{'qnt': [35], 'price': 1.74}","{'qnt': [284.04631016389754], 'price': 6.78}"
24,lagypxxntswenkkh2ab,Thu Jan 30 03:34:45 2020,"{'qnt': [4], 'price': 26.56}","{'qnt': [50], 'price': 48.32}",NaN,"{'qnt': [551], 'price': 35.92}","{'qnt': [328.85659618023243], 'price': 97.17}",NaN,NaN,"{'qnt': [559.4351818389783], 'price': 20.21}","{'qnt': [34], 'price': 87.56}","{'qnt': [7], 'price': 26.33}","{'qnt': [43], 'price': 1.74}","{'qnt': [288.30366060040666], 'price': 6.78}"
25,lagypxxnxzlzcq7k8om,Thu Jan 30 06:49:08 2020,"{'qnt': [39], 'price': 26.56}","{'qnt': [23], 'price': 48.32}","{'qnt': [3], 'price': 62.57}",NaN,NaN,"{'qnt': [45], 'price': 34.89}","{'qnt': [4], 'price': 82.33}","{'qnt': [703.9647377795841], 'price': 20.21}",NaN,NaN,"{'qnt': [19], 'price': 1.74}",NaN
26,lagypxxns5oz7e1ewer,Thu Jan 30 03:48:38 2020,"{'qnt': [40], 'price': 26.56}",NaN,"{'qnt': [12], 'price': 62.57}","{'qnt': [14], 'price': 35.92}","{'qnt': [252.94439678515826], 'price': 97.17}","{'qnt': [33], 'price': 34.89}",NaN,NaN,"{'qnt': [3], 'price': 87.56}","{'qnt': [18], 'price': 26.33}","{'qnt': [15], 'price': 1.74}","{'qnt': [621.5668653140812], 'price': 6.78}"
27,lagypxxnwptomnhwlml,Thu Jan 30 08:16:54 2020,NaN,"{'qnt': [23], 'price': 48.32}","{'qnt': [46], 'price': 62.57}",NaN,NaN,"{'qnt': [43], 'price': 34.89}",NaN,"{'qnt': [290.5765442468078], 'price': 20.21}","{'qnt': [2], 'price': 87.56}",NaN,"{'qnt': [43], 'price': 1.74}","{'qnt': [434.11678367474696], 'price': 6.78}"
28,lagypxxn9q52zk53h1d,Wed Jan 29 20:31:05 2020,NaN,"{'qnt': [2], 'price': 48.32}","{'qnt': [30], 'price': 62.57}",NaN,"{'qnt': [322.1700783112179], 'price': 97.17}","{'qnt': [5], 'price': 34.89}","{'qnt': [46], 'price': 82.33}","{'qnt': [265.5014408011867], 'price': 20.21}","{'qnt': [32], 'price': 87.56}",NaN,"{'qnt': [33], 'price': 1.74}","{'qnt': [730.3567382828762], 'price': 6.78}"
29,lagypxxo04bu7dae5n5,Thu Jan 30 03:02:06 2020,"{'qnt': [29], 'price': 26.56}",NaN,NaN,NaN,NaN,"{'qnt': [10], 'price': 34.89}","{'qnt': [38], 'price': 82.33}","{'qnt': [77.14444509407501], 'price': 20.21}","{'qnt': [42], 'price': 87.56}",NaN,"{'qnt': [1], 'price': 1.74}",NaN
30,lagypxxo879v96n1g5r,Thu Jan 30 01:33:40 2020,"{'qnt': [19], 'price': 26.56}","{'qnt': [28], 'price': 48.32}",NaN,"{'qnt': [566], 'price': 35.92}","{'qnt': [49.55677121902228], 'price': 97.17}","{'qnt': [15], 'price': 34.89}",NaN,"{'qnt': [34.92315608837649], 'price': 20.21}","{'qnt': [24], 'price': 87.56}",NaN,"{'qnt': [11], 'price': 1.74}",NaN
31,lagypxxo35jy3ysydux,Wed Jan 29 19:47:14 2020,"{'qnt': [22], 'price': 26.56}","{'qnt': [17], 'price': 48.32}",NaN,"{'qnt': [23], 'price': 35.92}",NaN,"{'qnt': [4], 'price': 34.89}",NaN,NaN,NaN,NaN,NaN,NaN
32,lagypxxo9ci738dvui,Wed Jan 29 22:36:34 2020,NaN,"{'qnt': [25], 'price': 48.32}","{'qnt': [37], 'price': 62.57}","{'qnt': [276], 'price': 35.92}","{'qnt': [534.203478841035], 'price': 97.17}","{'qnt': [48], 'price': 34.89}",NaN,"{'qnt': [82.32184045049459], 'price': 20.21}",NaN,"{'qnt': [18], 'price': 26.33}",NaN,"{'qnt': [348.95874565479716], 'price': 6.78}"
33,lagypxxocb872bjlqe6,Thu Jan 30 01:59:26 2020,"{'qnt': [23], 'price': 26.56}",NaN,"{'qnt': [49], 'price': 62.57}","{'qnt': [207], 'price': 35.92}","{'qnt': [598.0148630278821], 'price': 97.17}","{'qnt': [41], 'price': 34.89}","{'qnt': [14], 'price': 82.33}","{'qnt': [546.1061585585109], 'price': 20.21}","{'qnt': [29], 'price': 87.56}",NaN,NaN,NaN

product_database:

,prod_1,prod_2,prod_3,prod_8,prod_10,prod_6,prod_7,prod_9,prod_0,prod_4,prod_5,prod_11
qnt,"[7, 11, 21, 28, 8, 29, 6, 23, 33, 46, 4, 39, 4...","[7, 33, 7, 50, 20, 50, 23, 23, 2, 28, 17, 25]","[8, 46, 34, 43, 1, 5, 37, 42, 5, 42, 17, 27, 3...","[291, 512, 11, 625, 177, 671, 454, 746, 107, 2...","[587.926780637943, 540.7003983100865, 348.5005...","[22, 44, 26, 12, 40, 16, 38, 42, 42, 49, 35, 4...","[6, 38, 49, 35, 46, 3, 44, 48, 9, 3, 18, 4, 46...","[631.5007774973963, 48.72916429068284, 12.9056...","[30, 33, 25, 3, 7, 19, 14, 44, 7, 14, 25, 39, ...","[27, 34, 40, 17, 13, 12, 42, 4, 43, 8, 44, 48,...","[11, 39, 43, 15, 27, 3, 19, 48, 18, 35, 43, 19...","[89.28350478453667, 231.88406825221327, 164.96..."
price,26.56,48.32,62.57,35.92,97.17,34.89,82.33,20.21,87.56,26.33,1.74,6.78
next_week_price,26.56,48.32,62.57,35.92,97.17,34.89,82.33,20.21,87.56,26.33,1.74,6.78

Semana 2:

Json:

,id,date,prod_0,prod_1,prod_2,prod_4,prod_6,prod_7,prod_8,prod_11,prod_9,prod_10,prod_3,prod_5
0,lagypy5akq0gfueo2c,Wed Feb 5 17:35:34 2020,"{'qnt': [2], 'price': 87.56}","{'qnt': [37], 'price': 26.56}","{'qnt': [9], 'price': 48.32}","{'qnt': [36], 'price': 26.33}","{'qnt': [12], 'price': 34.89}","{'qnt': [50], 'price': 82.33}","{'qnt': [236], 'price': 35.92}","{'qnt': [199.94745084079813], 'price': 6.78}",NaN,NaN,NaN,NaN
1,lagypy5ankn8lbd82gp,Wed Feb 5 19:46:17 2020,NaN,"{'qnt': [2], 'price': 26.56}",NaN,"{'qnt': [21], 'price': 26.33}",NaN,"{'qnt': [32], 'price': 82.33}",NaN,"{'qnt': [0], 'price': 6.78}","{'qnt': [0], 'price': 20.21}","{'qnt': [0], 'price': 97.17}",NaN,NaN
2,lagypy5ausrjtrkncui,Wed Feb 5 19:18:41 2020,NaN,NaN,"{'qnt': [19], 'price': 48.32}",NaN,NaN,NaN,"{'qnt': [5], 'price': 35.92}","{'qnt': [357.89026407180717], 'price': 6.78}","{'qnt': [52.70620067841298], 'price': 20.21}","{'qnt': [224.14303079720474], 'price': 97.17}","{'qnt': [47], 'price': 62.57}","{'qnt': [44], 'price': 1.74}"
3,lagypy5a42iyzhl0xue,Thu Feb 6 00:19:06 2020,"{'qnt': [4], 'price': 87.56}","{'qnt': [27], 'price': 26.56}",NaN,"{'qnt': [42], 'price': 26.33}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [338.20930152526546], 'price': 97.17}",NaN,"{'qnt': [13], 'price': 1.74}"
4,lagypy5awebhc864chh,Wed Feb 5 21:25:14 2020,NaN,NaN,"{'qnt': [33], 'price': 48.32}",NaN,"{'qnt': [9], 'price': 34.89}",NaN,"{'qnt': [0], 'price': 35.92}","{'qnt': [0], 'price': 6.78}","{'qnt': [0], 'price': 20.21}",NaN,"{'qnt': [42], 'price': 62.57}",NaN
5,lagypy5ao3jg4hw8k4r,Thu Feb 6 07:00:37 2020,NaN,NaN,NaN,"{'qnt': [15], 'price': 26.33}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [0], 'price': 97.17}",NaN,NaN
6,lagypy5a9jlxbhpm2yj,Wed Feb 5 21:35:11 2020,NaN,NaN,"{'qnt': [21], 'price': 48.32}",NaN,"{'qnt': [37], 'price': 34.89}","{'qnt': [16], 'price': 82.33}",NaN,NaN,"{'qnt': [157.63924674321214], 'price': 20.21}",NaN,NaN,"{'qnt': [37], 'price': 1.74}"
7,lagypy5asewjnet654,Thu Feb 6 02:28:39 2020,"{'qnt': [45], 'price': 87.56}","{'qnt': [14], 'price': 26.56}","{'qnt': [14], 'price': 48.32}","{'qnt': [33], 'price': 26.33}",NaN,NaN,NaN,"{'qnt': [312.3013804600857], 'price': 6.78}","{'qnt': [37.49740050049645], 'price': 20.21}","{'qnt': [371.68725917288253], 'price': 97.17}",NaN,"{'qnt': [45], 'price': 1.74}"
8,lagypy5ammvebvjm1h,Thu Feb 6 00:24:49 2020,NaN,NaN,"{'qnt': [34], 'price': 48.32}","{'qnt': [40], 'price': 26.33}",NaN,"{'qnt': [18], 'price': 82.33}","{'qnt': [0], 'price': 35.92}",NaN,"{'qnt': [0], 'price': 20.21}",NaN,NaN,NaN
9,lagypy5a68n9gtnzews,Thu Feb 6 01:01:42 2020,NaN,"{'qnt': [8], 'price': 26.56}",NaN,NaN,"{'qnt': [39], 'price': 34.89}","{'qnt': [37], 'price': 82.33}",NaN,NaN,"{'qnt': [49.37793689481849], 'price': 20.21}","{'qnt': [405.3896523914009], 'price': 97.17}","{'qnt': [17], 'price': 62.57}",NaN
10,lagypy5ag6hfivrujth,Thu Feb 6 05:22:41 2020,"{'qnt': [2], 'price': 87.56}","{'qnt': [23], 'price': 26.56}",NaN,"{'qnt': [40], 'price': 26.33}",NaN,"{'qnt': [24], 'price': 82.33}","{'qnt': [31], 'price': 35.92}",NaN,NaN,NaN,NaN,NaN
11,lagypy5a1hx2y3v55gw,Wed Feb 5 20:18:30 2020,"{'qnt': [11], 'price': 87.56}",NaN,NaN,"{'qnt': [25], 'price': 26.33}","{'qnt': [41], 'price': 34.89}",NaN,"{'qnt': [270], 'price': 35.92}","{'qnt': [352.4599745693444], 'price': 6.78}","{'qnt': [356.7378145117345], 'price': 20.21}","{'qnt': [37.02623977631697], 'price': 97.17}","{'qnt': [2], 'price': 62.57}",NaN
12,lagypy5b1bnw9ele3p7,Wed Feb 5 22:57:50 2020,NaN,"{'qnt': [26], 'price': 26.56}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [0], 'price': 6.78}",NaN,NaN,NaN,"{'qnt': [46], 'price': 1.74}"
13,lagypy5bw8ex19jot8,Wed Feb 5 23:19:22 2020,NaN,"{'qnt': [8], 'price': 26.56}",NaN,"{'qnt': [38], 'price': 26.33}","{'qnt': [44], 'price': 34.89}",NaN,NaN,NaN,"{'qnt': [48.27815513561231], 'price': 20.21}","{'qnt': [406.24859073359335], 'price': 97.17}",NaN,"{'qnt': [16], 'price': 1.74}"
14,lagypy5bdu0ju48h687,Thu Feb 6 04:19:15 2020,"{'qnt': [41], 'price': 87.56}","{'qnt': [21], 'price': 26.56}",NaN,"{'qnt': [43], 'price': 26.33}","{'qnt': [40], 'price': 34.89}","{'qnt': [32], 'price': 82.33}","{'qnt': [19], 'price': 35.92}",NaN,"{'qnt': [147.05966060439823], 'price': 20.21}",NaN,NaN,"{'qnt': [24], 'price': 1.74}"
15,lagypy5b35nbn369hgo,Wed Feb 5 21:43:46 2020,"{'qnt': [36], 'price': 87.56}",NaN,"{'qnt': [24], 'price': 48.32}",NaN,NaN,"{'qnt': [20], 'price': 82.33}","{'qnt': [40], 'price': 35.92}","{'qnt': [274.793373160122], 'price': 6.78}","{'qnt': [40.52931088632579], 'price': 20.21}","{'qnt': [221.38301173744128], 'price': 97.17}","{'qnt': [43], 'price': 62.57}",NaN
16,lagypy5bvnfapmuhho,Wed Feb 5 19:31:52 2020,NaN,"{'qnt': [10], 'price': 26.56}","{'qnt': [12], 'price': 48.32}",NaN,NaN,NaN,"{'qnt': [0], 'price': 35.92}",NaN,NaN,"{'qnt': [167.37629677596436], 'price': 97.17}",NaN,"{'qnt': [19], 'price': 1.74}"
17,lagypy5baz1goc4jc87,Wed Feb 5 20:41:36 2020,"{'qnt': [20], 'price': 87.56}","{'qnt': [8], 'price': 26.56}","{'qnt': [21], 'price': 48.32}",NaN,"{'qnt': [41], 'price': 34.89}","{'qnt': [37], 'price': 82.33}",NaN,"{'qnt': [210.13178525772543], 'price': 6.78}","{'qnt': [50.94905728958008], 'price': 20.21}","{'qnt': [0], 'price': 97.17}","{'qnt': [12], 'price': 62.57}",NaN
18,lagypy5b22xkh0ptlgb,Thu Feb 6 02:34:48 2020,NaN,NaN,"{'qnt': [19], 'price': 48.32}",NaN,NaN,NaN,"{'qnt': [21], 'price': 35.92}",NaN,NaN,NaN,"{'qnt': [36], 'price': 62.57}","{'qnt': [25], 'price': 1.74}"
19,lagypy5bj1i2cnwszga,Thu Feb 6 00:09:22 2020,NaN,NaN,NaN,"{'qnt': [17], 'price': 26.33}","{'qnt': [3], 'price': 34.89}",NaN,"{'qnt': [0], 'price': 35.92}","{'qnt': [99.46886432191047], 'price': 6.78}","{'qnt': [374.7423832498568], 'price': 20.21}","{'qnt': [244.32985501203956], 'price': 97.17}","{'qnt': [11], 'price': 62.57}","{'qnt': [45], 'price': 1.74}"
20,lagypy5bv54bnroulu,Wed Feb 5 23:55:20 2020,NaN,"{'qnt': [21], 'price': 26.56}","{'qnt': [24], 'price': 48.32}","{'qnt': [29], 'price': 26.33}","{'qnt': [36], 'price': 34.89}","{'qnt': [40], 'price': 82.33}","{'qnt': [286], 'price': 35.92}","{'qnt': [0], 'price': 6.78}","{'qnt': [0.49232661408196154], 'price': 20.21}",NaN,"{'qnt': [39], 'price': 62.57}","{'qnt': [10], 'price': 1.74}"
21,lagypy5bwe07vhzmwpi,Thu Feb 6 03:12:49 2020,"{'qnt': [43], 'price': 87.56}",NaN,"{'qnt': [33], 'price': 48.32}",NaN,NaN,"{'qnt': [42], 'price': 82.33}","{'qnt': [2], 'price': 35.92}",NaN,"{'qnt': [462.490117155414], 'price': 20.21}",NaN,"{'qnt': [48], 'price': 62.57}","{'qnt': [1], 'price': 1.74}"
22,lagypy5boci9mnuzgv8,Wed Feb 5 16:56:29 2020,NaN,NaN,NaN,"{'qnt': [28], 'price': 26.33}",NaN,"{'qnt': [21], 'price': 82.33}",NaN,"{'qnt': [359.34484335384235], 'price': 6.78}","{'qnt': [0], 'price': 20.21}",NaN,"{'qnt': [14], 'price': 62.57}","{'qnt': [40], 'price': 1.74}"
23,lagypy5bxijhn4w8pl,Wed Feb 5 17:43:58 2020,NaN,"{'qnt': [24], 'price': 26.56}",NaN,"{'qnt': [11], 'price': 26.33}",NaN,NaN,NaN,"{'qnt': [0], 'price': 6.78}","{'qnt': [0], 'price': 20.21}",NaN,"{'qnt': [2], 'price': 62.57}",NaN
24,lagypy5b21xejekunsw,Thu Feb 6 05:24:00 2020,"{'qnt': [47], 'price': 87.56}","{'qnt': [23], 'price': 26.56}","{'qnt': [19], 'price': 48.32}",NaN,NaN,"{'qnt': [8], 'price': 82.33}",NaN,"{'qnt': [230.52394647614972], 'price': 6.78}","{'qnt': [416.71112640911326], 'price': 20.21}","{'qnt': [0], 'price': 97.17}",NaN,NaN
25,lagypy5b8fehkskwlne,Thu Feb 6 01:01:53 2020,NaN,"{'qnt': [20], 'price': 26.56}",NaN,"{'qnt': [26], 'price': 26.33}","{'qnt': [1], 'price': 34.89}",NaN,"{'qnt': [28], 'price': 35.92}",NaN,NaN,NaN,NaN,"{'qnt': [23], 'price': 1.74}"

product_database:

,prod_1,prod_2,prod_3,prod_8,prod_10,prod_6,prod_7,prod_9,prod_0,prod_4,prod_5,prod_11
qnt,"[37, 2, 27, 14, 8, 23, 26, 8, 21, 10, 8, 21, 2...","[9, 19, 33, 21, 14, 34, 24, 12, 21, 19, 24, 33...","[47, 42, 17, 2, 43, 12, 36, 11, 39, 48, 14, 2]","[236, 5, 0, 0, 31, 270, 19, 40, 0, 21, 0, 286,...","[0, 224.14303079720474, 338.20930152526546, 0,...","[12, 9, 37, 39, 41, 44, 40, 41, 3, 36, 1]","[50, 32, 16, 18, 37, 24, 32, 20, 37, 40, 42, 2...","[0, 52.70620067841298, 0, 157.63924674321214, ...","[2, 4, 45, 2, 11, 41, 36, 20, 43, 47]","[36, 21, 42, 15, 33, 40, 40, 25, 38, 43, 17, 2...","[44, 13, 37, 45, 46, 16, 24, 19, 25, 45, 10, 1...","[199.94745084079813, 0, 357.89026407180717, 0,..."
price,26.56,48.32,62.57,35.92,97.17,34.89,82.33,20.21,87.56,26.33,1.74,6.78
next_week_price,39.839999,72.48,93.855,53.88,145.755,52.335,123.495,30.315,131.34,39.495,2.61,10.17

In [93]:

df = product_database_db.copy()

somas = []
prices = []
colunas = list(df.columns)

for i in range(df.shape[1]):
   somas.append(sum(df.iloc[0,i]))
   prices.append(df.iloc[1,i])
   

lista_de_tuplas = list(zip(colunas, somas, prices))

new_df = pd.DataFrame(lista_de_tuplas, columns = ['produto', 'soma', 'preço'])

    produto         soma  preço
0    prod_1   272.000000  26.56
1    prod_2   282.000000  48.32
2    prod_3   313.000000  62.57
3    prod_8   938.000000  35.92
4   prod_10  2415.793238  97.17
5    prod_6   303.000000  34.89
6    prod_7   377.000000  82.33
7    prod_9  2195.210737  20.21
8    prod_0   251.000000  87.56
9    prod_4   444.000000  26.33
10   prod_5   388.000000   1.74
11  prod_11  2396.861883   6.78

In [115]:
#new_df.iloc[linha, coluna]
#new_df.iloc[0,1]
# receita = [new_df.iloc[linha,coluna]*
new_df['receita'] = new_df['soma'] * new_df['preço']
new_df

    produto         soma  preço        receita
0    prod_1   272.000000  26.56    7224.320000
1    prod_2   282.000000  48.32   13626.240000
2    prod_3   313.000000  62.57   19584.410000
3    prod_8   938.000000  35.92   33692.960000
4   prod_10  2415.793238  97.17  234742.628929
5    prod_6   303.000000  34.89   10571.670000
6    prod_7   377.000000  82.33   31038.410000
7    prod_9  2195.210737  20.21   44365.208988
8    prod_0   251.000000  87.56   21977.560000
9    prod_4   444.000000  26.33   11690.520000
10   prod_5   388.000000   1.74     675.120000
11  prod_11  2396.861883   6.78   16250.723563

In [117]:
receita = sum(new_df['receita'])
receita

445439.77148048364