## Library

In [14]:
import requests
import random
import pandas as pd
import time
import math
from copy import deepcopy
from statistics import mean

## Notebook

#### Requisição

In [6]:
def request() -> list:   
    res = requests.get('http://localhost:3000/api/ep1')
    return res.json()

#### Tratamento de Dados

In [147]:
def data_treatment(json:list):
    for i in range(len(json)):
        for key in json[i]:
            if ('prod' in key):
                if (type(json[i][key])!=dict):
                    qnt = json[i][key]
                    if (type(qnt)==str):
                        qnt = float(qnt)                  
                    if (qnt<0):
                        qnt = 0
                    if (key in [product for product in json[i] if ('prod' in product and (int(product[5]) < 9 and len(product) < 7))]):
                        json[i][key] = {'qnt':[round(qnt)], 'price':None}
                    else:
                        json[i][key] = {'qnt':[qnt], 'price':None}
        try:
            json[i]['date'] = time.ctime(json[i]['date'])
        except:
            continue
    return json

#### Gerar valores aleatórios

In [161]:
def generate_random_price(n_min=1.0, n_max=100.0) -> float:
    return round(random.uniform(n_min, n_max), 2)

#### Precificação

##### Função logistica -> A mesma postada no doc pelo professor

In [9]:
def logistic_function(v: float) -> float:
    return 0.5 + (1 / 1 + math.e)**(-1 * v)

##### Função para calcular a variação -> A mesma postada no doc pelo professor

In [10]:
def calc_qnt_variation(last_week: list, current_week: list) -> float:
    return mean(current_week) - mean(last_week) / mean(last_week) if (mean(last_week) != 0) else 0

##### Função que calcula o preço que será utilizado na semana seguinte

In [11]:
def calc_new_price(product_db: dict, sales_week: dict) -> dict:
    for product in product_db:
        if (product_db[product]['qnt'] != None):
            if (product not in sales_week.keys()):
                sales_week[product] = [0]
            product_db[product]['price'] = logistic_function(calc_qnt_variation(product_db[product]['qnt'], sales_week[product])) * product_db[product]['price']
        product_db[product]['qnt'] = sales_week[product]               
    return product_db

##### Função que atualiza o banco de dados (onde consta a quantidade de vendas da última semana e o preço dos produtos) e aplica o preço nos produtos do JSON

In [12]:
def product_pricing(json: list, product_db: dict) -> tuple:
    sales_week = {}

    for transaction in json:
        for key in transaction:
            if ('prod' in key):
                if (key not in product_db.keys()):
                    transaction[key]['price'] = generate_random_price()
                    sales_week[key] = deepcopy(transaction[key]['qnt'])
                    product_db[key] = deepcopy(transaction[key])
                    product_db[key]['qnt'] = None              
                else:
                    transaction[key]['price'] = deepcopy(product_db[key]['price'])
                    if (key not in sales_week.keys()):
                        sales_week[key] = deepcopy(transaction[key]['qnt'])
                    else:
                        sales_week[key] += deepcopy(transaction[key]['qnt'])

    product_db = calc_new_price(product_db, sales_week)

    return json, product_db

#### Main

In [181]:
product_database = {}
weeks = 25

for week in range(weeks):
    json = data_treatment(request())
    json, product_database = product_pricing(json, product_database)

    json_db = pd.DataFrame(json)
    product_database_db = pd.DataFrame(product_database)

    print(f'\nSemana {week}:\n')
    print('Json:')
    display(json_db)
    print('\nproduct_database:')
    display(product_database_db)

Semana 0:

Json:

,id,date,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
0,labakh2jkmry3apkmk,Wed Oct 14 19:46:28 2026,"{'qnt': [50], 'price': 5.86}","{'qnt': [8], 'price': 7.55}","{'qnt': [49], 'price': 42.07}","{'qnt': [15], 'price': 45.47}","{'qnt': [130], 'price': 91.8}","{'qnt': [178.27969565571377], 'price': 85.46}","{'qnt': [707.2929457882833], 'price': 5.05}","{'qnt': [2403.800804321996], 'price': 84.36}",NaN,NaN,NaN,NaN,NaN
1,labakh2jmcrsqgtkxrr,Thu Oct 15 03:45:55 2026,NaN,NaN,NaN,NaN,"{'qnt': [724], 'price': 91.8}","{'qnt': [17.733095963655433], 'price': 85.46}","{'qnt': [549.8175539847741], 'price': 5.05}","{'qnt': [2065.84290818358], 'price': 84.36}","{'qnt': [27], 'price': 50.12}","{'qnt': [8], 'price': 92.5}",NaN,NaN,NaN
2,labakh2jefaqmlecjrr,Thu Oct 15 06:25:14 2026,"{'qnt': [50], 'price': 5.86}",NaN,NaN,NaN,"{'qnt': [8], 'price': 91.8}","{'qnt': [405.5526630923876], 'price': 85.46}","{'qnt': [35.9745885679758], 'price': 5.05}","{'qnt': [1802.3292691696788], 'price': 84.36}",NaN,NaN,"{'qnt': [20], 'price': 79.35}",NaN,NaN
3,labakh2jc2a5vdzdkne,Thu Oct 15 00:48:56 2026,"{'qnt': [31], 'price': 5.86}",NaN,"{'qnt': [3], 'price': 42.07}",NaN,NaN,"{'qnt': [34.93275697749383], 'price': 85.46}",NaN,"{'qnt': [1979.2615483441873], 'price': 84.36}","{'qnt': [27], 'price': 50.12}","{'qnt': [2], 'price': 92.5}","{'qnt': [24], 'price': 79.35}","{'qnt': [45], 'price': 14.48}","{'qnt': [399.72270008206795], 'price': 67.81}"
4,labakh2j9h71ppexs9c,Thu Oct 15 00:09:47 2026,NaN,NaN,"{'qnt': [8], 'price': 42.07}",NaN,"{'qnt': [17], 'price': 91.8}","{'qnt': [392.4723498240192], 'price': 85.46}","{'qnt': [132.36719850309927], 'price': 5.05}","{'qnt': [2185.690462807609], 'price': 84.36}",NaN,"{'qnt': [43], 'price': 92.5}",NaN,"{'qnt': [5], 'price': 14.48}",NaN
5,labakh2jbuionwk0cis,Wed Oct 14 19:44:11 2026,"{'qnt': [27], 'price': 5.86}",NaN,"{'qnt': [25], 'price': 42.07}","{'qnt': [38], 'price': 45.47}","{'qnt': [33], 'price': 91.8}","{'qnt': [2.2141439484628767], 'price': 85.46}","{'qnt': [731.3714870170469], 'price': 5.05}","{'qnt': [1812.4081934149021], 'price': 84.36}",NaN,NaN,NaN,"{'qnt': [25], 'price': 14.48}",NaN
6,labakh2jvrnb5c2y9z,Wed Oct 14 19:42:06 2026,"{'qnt': [37], 'price': 5.86}","{'qnt': [6], 'price': 7.55}",NaN,NaN,"{'qnt': [33], 'price': 91.8}","{'qnt': [30.693875789100034], 'price': 85.46}","{'qnt': [30.78543926423052], 'price': 5.05}","{'qnt': [2418.859969914639], 'price': 84.36}","{'qnt': [14], 'price': 50.12}","{'qnt': [12], 'price': 92.5}",NaN,NaN,"{'qnt': [428.6980956064099], 'price': 67.81}"
7,labakh2j0e7vwdwl6l8k,Wed Oct 14 19:14:18 2026,NaN,"{'qnt': [5], 'price': 7.55}","{'qnt': [3], 'price': 42.07}",NaN,"{'qnt': [549], 'price': 91.8}",NaN,"{'qnt': [552.4208910714818], 'price': 5.05}","{'qnt': [1995.9924601481011], 'price': 84.36}","{'qnt': [34], 'price': 50.12}","{'qnt': [28], 'price': 92.5}","{'qnt': [25], 'price': 79.35}","{'qnt': [24], 'price': 14.48}",NaN
8,labakh2jcgpx345q8d8,Thu Oct 15 03:07:01 2026,NaN,NaN,"{'qnt': [42], 'price': 42.07}",NaN,"{'qnt': [42], 'price': 91.8}","{'qnt': [23.466882695363957], 'price': 85.46}","{'qnt': [123.89909774888262], 'price': 5.05}","{'qnt': [1929.8112624041771], 'price': 84.36}",NaN,"{'qnt': [26], 'price': 92.5}","{'qnt': [34], 'price': 79.35}",NaN,NaN
9,labakh2j87orb55ufzu,Wed Oct 14 17:45:34 2026,NaN,NaN,"{'qnt': [31], 'price': 42.07}",NaN,"{'qnt': [345], 'price': 91.8}","{'qnt': [41.69006120013157], 'price': 85.46}","{'qnt': [278.36660725966675], 'price': 5.05}","{'qnt': [1909.113474770841], 'price': 84.36}","{'qnt': [32], 'price': 50.12}",NaN,"{'qnt': [41], 'price': 79.35}",NaN,"{'qnt': [441.83137912890135], 'price': 67.81}"
10,labakh2jzfuysleius,Thu Oct 15 05:31:11 2026,"{'qnt': [17], 'price': 5.86}",NaN,NaN,NaN,"{'qnt': [20], 'price': 91.8}",NaN,NaN,"{'qnt': [1759.2647593503677], 'price': 84.36}",NaN,NaN,NaN,"{'qnt': [34], 'price': 14.48}","{'qnt': [160.53773137063178], 'price': 67.81}"
11,labakh2jnwet7ywfa3,Thu Oct 15 03:48:57 2026,"{'qnt': [22], 'price': 5.86}","{'qnt': [14], 'price': 7.55}","{'qnt': [30], 'price': 42.07}","{'qnt': [0], 'price': 45.47}","{'qnt': [43], 'price': 91.8}","{'qnt': [457.6071610472744], 'price': 85.46}","{'qnt': [460.44384861530585], 'price': 5.05}","{'qnt': [1833.415824536536], 'price': 84.36}","{'qnt': [34], 'price': 50.12}",NaN,"{'qnt': [29], 'price': 79.35}","{'qnt': [3], 'price': 14.48}",NaN
12,labakh2jrwajb3htu1,Thu Oct 15 03:19:31 2026,NaN,NaN,"{'qnt': [39], 'price': 42.07}",NaN,"{'qnt': [252], 'price': 91.8}","{'qnt': [48.80889279379525], 'price': 85.46}",NaN,"{'qnt': [1880.7751659310743], 'price': 84.36}",NaN,"{'qnt': [26], 'price': 92.5}","{'qnt': [45], 'price': 79.35}","{'qnt': [9], 'price': 14.48}",NaN
13,labakh2jtei9namcsk,Thu Oct 15 07:31:47 2026,"{'qnt': [41], 'price': 5.86}",NaN,"{'qnt': [12], 'price': 42.07}","{'qnt': [41], 'price': 45.47}",NaN,"{'qnt': [43.61853221950981], 'price': 85.46}",NaN,"{'qnt': [1927.4917840465575], 'price': 84.36}",NaN,NaN,NaN,"{'qnt': [27], 'price': 14.48}","{'qnt': [291.6789822787557], 'price': 67.81}"
14,labakh2jxpdxm5x7jnd,Thu Oct 15 03:11:24 2026,"{'qnt': [49], 'price': 5.86}",NaN,NaN,"{'qnt': [6], 'price': 45.47}",NaN,"{'qnt': [38.752305520642224], 'price': 85.46}","{'qnt': [235.3041004585493], 'price': 5.05}","{'qnt': [2002.2845151206245], 'price': 84.36}","{'qnt': [6], 'price': 50.12}",NaN,"{'qnt': [2], 'price': 79.35}",NaN,NaN
15,labakh2jxzj6qqh2fuc,Thu Oct 15 00:04:46 2026,NaN,NaN,"{'qnt': [25], 'price': 42.07}","{'qnt': [8], 'price': 45.47}","{'qnt': [37], 'price': 91.8}",NaN,"{'qnt': [566.3347058232134], 'price': 5.05}","{'qnt': [2141.962053959962], 'price': 84.36}",NaN,"{'qnt': [49], 'price': 92.5}","{'qnt': [10], 'price': 79.35}","{'qnt': [3], 'price': 14.48}",NaN
16,labakh2jv4hhfl06n7r,Wed Oct 14 20:06:15 2026,NaN,NaN,"{'qnt': [2], 'price': 42.07}","{'qnt': [18], 'price': 45.47}","{'qnt': [447], 'price': 91.8}",NaN,NaN,"{'qnt': [1969.0958653050916], 'price': 84.36}","{'qnt': [35], 'price': 50.12}",NaN,"{'qnt': [19], 'price': 79.35}",NaN,NaN
17,labakh2jtw236emel9,Thu Oct 15 06:53:56 2026,"{'qnt': [44], 'price': 5.86}",NaN,NaN,NaN,NaN,"{'qnt': [249.46268743133237], 'price': 85.46}","{'qnt': [595.8050377813395], 'price': 5.05}","{'qnt': [2004.2743831049306], 'price': 84.36}",NaN,NaN,NaN,NaN,"{'qnt': [302.5155199219808], 'price': 67.81}"
18,labakh2jvxfr5fbmzqg,Thu Oct 15 02:45:56 2026,NaN,NaN,NaN,"{'qnt': [46], 'price': 45.47}",NaN,"{'qnt': [84.60782034156951], 'price': 85.46}","{'qnt': [203.45105863379885], 'price': 5.05}","{'qnt': [1763.1029181406607], 'price': 84.36}","{'qnt': [6], 'price': 50.12}",NaN,NaN,NaN,"{'qnt': [327.4976836017494], 'price': 67.81}"
19,labakh2j4xvivjz2jl9,Thu Oct 15 04:12:20 2026,NaN,"{'qnt': [6], 'price': 7.55}","{'qnt': [45], 'price': 42.07}","{'qnt': [41], 'price': 45.47}","{'qnt': [44], 'price': 91.8}","{'qnt': [12.011521244009138], 'price': 85.46}",NaN,"{'qnt': [2345.608281119681], 'price': 84.36}","{'qnt': [15], 'price': 50.12}",NaN,"{'qnt': [9], 'price': 79.35}",NaN,NaN
20,labakh2jbi0ovb2jxcs,Thu Oct 15 01:24:55 2026,NaN,NaN,"{'qnt': [40], 'price': 42.07}",NaN,NaN,"{'qnt': [36.684449117807915], 'price': 85.46}",NaN,"{'qnt': [1859.4527922789061], 'price': 84.36}","{'qnt': [38], 'price': 50.12}","{'qnt': [50], 'price': 92.5}",NaN,NaN,"{'qnt': [282.95348336244655], 'price': 67.81}"
21,labakh2jlwbb179ow1,Thu Oct 15 06:10:55 2026,"{'qnt': [45], 'price': 5.86}",NaN,NaN,"{'qnt': [12], 'price': 45.47}","{'qnt': [369], 'price': 91.8}","{'qnt': [27.71667354157349], 'price': 85.46}","{'qnt': [189.66284136707148], 'price': 5.05}","{'qnt': [1725.5117633302764], 'price': 84.36}","{'qnt': [42], 'price': 50.12}","{'qnt': [31], 'price': 92.5}",NaN,"{'qnt': [36], 'price': 14.48}",NaN
22,labakh2jc41z4m7th3i,Thu Oct 15 00:58:49 2026,NaN,NaN,"{'qnt': [39], 'price': 42.07}","{'qnt': [50], 'price': 45.47}","{'qnt': [321], 'price': 91.8}","{'qnt': [259.2775058431866], 'price': 85.46}","{'qnt': [171.634050373557], 'price': 5.05}","{'qnt': [2158.556802949884], 'price': 84.36}","{'qnt': [19], 'price': 50.12}",NaN,NaN,NaN,NaN
23,labakh2j6q4sq3y8yc8,Thu Oct 15 00:40:53 2026,NaN,"{'qnt': [45], 'price': 7.55}",NaN,"{'qnt': [46], 'price': 45.47}","{'qnt': [760], 'price': 91.8}","{'qnt': [170.11703645828908], 'price': 85.46}","{'qnt': [305.6829800940624], 'price': 5.05}","{'qnt': [2075.3819114228218], 'price': 84.36}",NaN,NaN,"{'qnt': [14], 'price': 79.35}",NaN,"{'qnt': [471.44591431982917], 'price': 67.81}"
24,labakh2j5bfztmmvvi3,Wed Oct 14 22:19:09 2026,"{'qnt': [41], 'price': 5.86}","{'qnt': [37], 'price': 7.55}",NaN,"{'qnt': [5], 'price': 45.47}","{'qnt': [640], 'price': 91.8}","{'qnt': [334.13534748051086], 'price': 85.46}","{'qnt': [657.8148231560539], 'price': 5.05}","{'qnt': [1803.2759246986975], 'price': 84.36}","{'qnt': [16], 'price': 50.12}",NaN,NaN,"{'qnt': [11], 'price': 14.48}",NaN
25,labakh2j0876n5bs1dtq,Thu Oct 15 08:07:08 2026,"{'qnt': [10], 'price': 5.86}","{'qnt': [10], 'price': 7.55}",NaN,NaN,"{'qnt': [750], 'price': 91.8}",NaN,"{'qnt': [611.5977867565255], 'price': 5.05}","{'qnt': [2411.8210226383817], 'price': 84.36}",NaN,NaN,NaN,NaN,"{'qnt': [118.10820337978447], 'price': 67.81}"
26,labakh2j3iw90rov6q,Wed Oct 14 23:55:36 2026,"{'qnt': [13], 'price': 5.86}",NaN,NaN,"{'qnt': [43], 'price': 45.47}","{'qnt': [28], 'price': 91.8}","{'qnt': [752.1514628474282], 'price': 85.46}",NaN,"{'qnt': [1709.4488285124212], 'price': 84.36}",NaN,"{'qnt': [5], 'price': 92.5}",NaN,NaN,"{'qnt': [103.42704785188435], 'price': 67.81}"
27,labakh2j60hsmpc4upu,Wed Oct 14 19:50:17 2026,NaN,NaN,NaN,NaN,"{'qnt': [14], 'price': 91.8}",NaN,NaN,"{'qnt': [1876.876086161764], 'price': 84.36}",NaN,"{'qnt': [29], 'price': 92.5}",NaN,NaN,NaN
28,labakh2jsq2p9ys39rk,Thu Oct 15 07:34:20 2026,"{'qnt': [29], 'price': 5.86}",NaN,"{'qnt': [38], 'price': 42.07}","{'qnt': [14], 'price': 45.47}","{'qnt': [57], 'price': 91.8}",NaN,NaN,"{'qnt': [1743.7148234689168], 'price': 84.36}",NaN,NaN,NaN,"{'qnt': [27], 'price': 14.48}","{'qnt': [78.13969626419117], 'price': 67.81}"
29,labakh2jcue0tz4mcav,Wed Oct 14 21:39:11 2026,"{'qnt': [0], 'price': 5.86}","{'qnt': [41], 'price': 7.55}","{'qnt': [2], 'price': 42.07}",NaN,"{'qnt': [489], 'price': 91.8}","{'qnt': [443.3304356958747], 'price': 85.46}",NaN,"{'qnt': [1824.4524165164332], 'price': 84.36}",NaN,"{'qnt': [40], 'price': 92.5}",NaN,NaN,"{'qnt': [413.62309885747254], 'price': 67.81}"
30,labakh2jjwk11ttec5,Thu Oct 15 02:52:58 2026,"{'qnt': [34], 'price': 5.86}",NaN,NaN,NaN,NaN,"{'qnt': [429.8611958596269], 'price': 85.46}","{'qnt': [505.9304453259709], 'price': 5.05}","{'qnt': [1674.045266777727], 'price': 84.36}",NaN,NaN,"{'qnt': [35], 'price': 79.35}",NaN,NaN
31,labakh2jz13mf5vui6,Wed Oct 14 21:27:29 2026,NaN,"{'qnt': [34], 'price': 7.55}","{'qnt': [45], 'price': 42.07}",NaN,"{'qnt': [752], 'price': 91.8}","{'qnt': [25.91466624518215], 'price': 85.46}",NaN,"{'qnt': [2386.73542450412], 'price': 84.36}",NaN,NaN,"{'qnt': [42], 'price': 79.35}",NaN,NaN
32,labakh2jhtrgk7cd2w,Thu Oct 15 04:46:17 2026,NaN,NaN,NaN,NaN,"{'qnt': [67], 'price': 91.8}","{'qnt': [512.102005423628], 'price': 85.46}","{'qnt': [723.4048734508285], 'price': 5.05}","{'qnt': [2268.851082439816], 'price': 84.36}","{'qnt': [12], 'price': 50.12}","{'qnt': [38], 'price': 92.5}","{'qnt': [37], 'price': 79.35}","{'qnt': [26], 'price': 14.48}","{'qnt': [39.74920725067592], 'price': 67.81}"
33,labakh2jnwkvauz6qy,Thu Oct 15 04:40:42 2026,NaN,NaN,"{'qnt': [7], 'price': 42.07}",NaN,"{'qnt': [277], 'price': 91.8}","{'qnt': [808.2839881266842], 'price': 85.46}","{'qnt': [149.46814930153602], 'price': 5.05}","{'qnt': [1982.9370526866196], 'price': 84.36}","{'qnt': [18], 'price': 50.12}","{'qnt': [10], 'price': 92.5}","{'qnt': [43], 'price': 79.35}",NaN,NaN

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[50, 50, 31, 27, 37, 17, 22, 41, 49, 44, 45, 4...","[8, 6, 5, 14, 6, 45, 37, 10, 41, 34]","[49, 3, 8, 25, 3, 42, 31, 30, 39, 12, 25, 2, 4...","[15, 38, 0, 41, 6, 8, 18, 46, 41, 12, 50, 46, ...","[130, 724, 8, 17, 33, 33, 549, 42, 345, 20, 43...","[178.27969565571377, 17.733095963655433, 405.5...","[707.2929457882833, 549.8175539847741, 35.9745...","[2403.800804321996, 2065.84290818358, 1802.329...","[27, 27, 14, 34, 32, 34, 6, 35, 6, 15, 38, 42,...","[8, 2, 43, 12, 28, 26, 26, 49, 50, 31, 5, 29, ...","[20, 24, 25, 34, 41, 29, 45, 2, 10, 19, 9, 14,...","[45, 5, 25, 24, 34, 3, 9, 27, 3, 36, 11, 27, 26]","[399.72270008206795, 428.6980956064099, 441.83..."
price,5.86,7.55,42.07,45.47,91.8,85.46,5.05,84.36,50.12,92.5,79.35,14.48,67.81

Semana 1:

Json:

,id,date,prod_0,prod_4,prod_6,prod_8,prod_15,prod_2,prod_5,prod_7,prod_9,prod_11,prod_1,prod_10,prod_3
0,labakh6u30yaia9be6q,Thu Oct 22 04:54:06 2026,"{'qnt': [38], 'price': 50.12}","{'qnt': [31], 'price': 5.86}","{'qnt': [47], 'price': 42.07}","{'qnt': [611], 'price': 91.8}","{'qnt': [1995.720405038566], 'price': 84.36}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labakh6urw0y51jxfub,Thu Oct 22 08:04:43 2026,"{'qnt': [32], 'price': 50.12}",NaN,NaN,NaN,"{'qnt': [2134.872322412297], 'price': 84.36}","{'qnt': [5], 'price': 79.35}","{'qnt': [47], 'price': 7.55}","{'qnt': [22], 'price': 45.47}","{'qnt': [309.5670863274895], 'price': 85.46}","{'qnt': [1077.827450850525], 'price': 5.05}",NaN,NaN,NaN
2,labakh6ugd9qaah1ud5,Thu Oct 22 04:15:04 2026,NaN,NaN,NaN,NaN,"{'qnt': [2078.6393284677515], 'price': 84.36}","{'qnt': [6], 'price': 79.35}",NaN,"{'qnt': [27], 'price': 45.47}","{'qnt': [471.33269479288145], 'price': 85.46}","{'qnt': [775.1785250710543], 'price': 5.05}","{'qnt': [38], 'price': 14.48}",NaN,NaN
3,labakh6uiw0omdgdw0f,Thu Oct 22 03:51:41 2026,"{'qnt': [8], 'price': 50.12}","{'qnt': [24], 'price': 5.86}",NaN,"{'qnt': [1097], 'price': 91.8}","{'qnt': [1828.96269166794], 'price': 84.36}",NaN,"{'qnt': [2], 'price': 7.55}","{'qnt': [41], 'price': 45.47}","{'qnt': [795.1661612522707], 'price': 85.46}",NaN,NaN,"{'qnt': [608.4351956223691], 'price': 67.81}",NaN
4,labakh6ud66ohhyjaxh,Wed Oct 21 19:44:57 2026,"{'qnt': [48], 'price': 50.12}","{'qnt': [46], 'price': 5.86}","{'qnt': [38], 'price': 42.07}","{'qnt': [22], 'price': 91.8}","{'qnt': [2383.584664286172], 'price': 84.36}",NaN,NaN,NaN,"{'qnt': [43.651472849008854], 'price': 85.46}",NaN,NaN,"{'qnt': [746.7933781327363], 'price': 67.81}","{'qnt': [40], 'price': 92.5}"
5,labakh6uj2pdml56ucm,Thu Oct 22 04:47:00 2026,NaN,"{'qnt': [30], 'price': 5.86}","{'qnt': [11], 'price': 42.07}","{'qnt': [14], 'price': 91.8}","{'qnt': [1812.3349740222384], 'price': 84.36}",NaN,NaN,NaN,NaN,NaN,NaN,"{'qnt': [832.1261126582351], 'price': 67.81}","{'qnt': [44], 'price': 92.5}"
6,labakh6udv6qm8e9fq,Wed Oct 21 21:45:00 2026,"{'qnt': [24], 'price': 50.12}","{'qnt': [2], 'price': 5.86}",NaN,"{'qnt': [22], 'price': 91.8}","{'qnt': [2058.92158726863], 'price': 84.36}",NaN,"{'qnt': [46], 'price': 7.55}","{'qnt': [36], 'price': 45.47}","{'qnt': [615.2489222940185], 'price': 85.46}",NaN,"{'qnt': [6], 'price': 14.48}","{'qnt': [696.2036271903773], 'price': 67.81}","{'qnt': [26], 'price': 92.5}"
7,labakh6u2idsurhlqug,Wed Oct 21 17:54:34 2026,"{'qnt': [42], 'price': 50.12}",NaN,"{'qnt': [9], 'price': 42.07}",NaN,"{'qnt': [2011.981682111918], 'price': 84.36}",NaN,"{'qnt': [10], 'price': 7.55}",NaN,"{'qnt': [31.55288871158731], 'price': 85.46}",NaN,"{'qnt': [28], 'price': 14.48}",NaN,"{'qnt': [37], 'price': 92.5}"
8,labakh6u2xazbz2zuap,Wed Oct 21 17:00:24 2026,NaN,NaN,NaN,"{'qnt': [745], 'price': 91.8}","{'qnt': [2390.062212103191], 'price': 84.36}",NaN,NaN,NaN,"{'qnt': [38.76741132915733], 'price': 85.46}","{'qnt': [684.2306915380318], 'price': 5.05}",NaN,"{'qnt': [662.2274902011324], 'price': 67.81}","{'qnt': [17], 'price': 92.5}"
9,labakh6usyhxgefgasg,Thu Oct 22 00:51:37 2026,"{'qnt': [35], 'price': 50.12}",NaN,NaN,"{'qnt': [584], 'price': 91.8}","{'qnt': [2382.184520739087], 'price': 84.36}",NaN,NaN,NaN,"{'qnt': [872.4493786866335], 'price': 85.46}",NaN,"{'qnt': [32], 'price': 14.48}","{'qnt': [638.4935421504695], 'price': 67.81}",NaN
10,labakh6uyh2838fndjh,Wed Oct 21 20:09:44 2026,NaN,NaN,"{'qnt': [5], 'price': 42.07}","{'qnt': [868], 'price': 91.8}","{'qnt': [1919.5370614396952], 'price': 84.36}","{'qnt': [23], 'price': 79.35}",NaN,NaN,"{'qnt': [28.776807672222738], 'price': 85.46}","{'qnt': [852.2622649255675], 'price': 5.05}",NaN,"{'qnt': [998.6345177195451], 'price': 67.81}",NaN
11,labakh6u4tgo6rdnrm7,Thu Oct 22 02:44:26 2026,NaN,NaN,"{'qnt': [8], 'price': 42.07}","{'qnt': [50], 'price': 91.8}","{'qnt': [1873.398515678698], 'price': 84.36}","{'qnt': [28], 'price': 79.35}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [761.1571950146454], 'price': 67.81}",NaN
12,labakh6umztmay0261l,Wed Oct 21 21:16:20 2026,NaN,NaN,NaN,"{'qnt': [4], 'price': 91.8}","{'qnt': [2017.7527087292456], 'price': 84.36}",NaN,NaN,NaN,"{'qnt': [43.032458955782474], 'price': 85.46}","{'qnt': [885.4678273695638], 'price': 5.05}","{'qnt': [36], 'price': 14.48}",NaN,NaN
13,labakh6u5h22581vaa7,Thu Oct 22 01:44:43 2026,NaN,NaN,NaN,"{'qnt': [626], 'price': 91.8}","{'qnt': [2414.6743353772536], 'price': 84.36}","{'qnt': [18], 'price': 79.35}",NaN,"{'qnt': [44], 'price': 45.47}","{'qnt': [29.371020244897906], 'price': 85.46}",NaN,NaN,NaN,NaN
14,labakh6urk0vjw56xpm,Thu Oct 22 01:38:05 2026,NaN,"{'qnt': [17], 'price': 5.86}",NaN,NaN,"{'qnt': [2235.5668964212314], 'price': 84.36}",NaN,NaN,NaN,"{'qnt': [619.4719922573249], 'price': 85.46}",NaN,NaN,NaN,NaN
15,labakh6uk38h3u5vz7,Thu Oct 22 07:52:07 2026,NaN,NaN,"{'qnt': [22], 'price': 42.07}","{'qnt': [619], 'price': 91.8}","{'qnt': [2143.5011788305924], 'price': 84.36}",NaN,"{'qnt': [9], 'price': 7.55}",NaN,"{'qnt': [918.2773855829771], 'price': 85.46}",NaN,"{'qnt': [17], 'price': 14.48}",NaN,"{'qnt': [0], 'price': 92.5}"
16,labakh6unatkli3638,Thu Oct 22 04:30:36 2026,NaN,NaN,NaN,"{'qnt': [11], 'price': 91.8}","{'qnt': [1992.967472819151], 'price': 84.36}","{'qnt': [24], 'price': 79.35}",NaN,"{'qnt': [40], 'price': 45.47}","{'qnt': [448.5544432385133], 'price': 85.46}","{'qnt': [873.6385373298814], 'price': 5.05}",NaN,"{'qnt': [691.5721646324503], 'price': 67.81}",NaN
17,labakh6ufgsbdd5yohs,Thu Oct 22 04:57:40 2026,NaN,"{'qnt': [36], 'price': 5.86}","{'qnt': [4], 'price': 42.07}","{'qnt': [14], 'price': 91.8}","{'qnt': [2080.738386015871], 'price': 84.36}",NaN,"{'qnt': [38], 'price': 7.55}",NaN,NaN,NaN,"{'qnt': [8], 'price': 14.48}","{'qnt': [552.5186536855055], 'price': 67.81}",NaN
18,labakh6uszrej13tz3l,Thu Oct 22 04:07:21 2026,NaN,"{'qnt': [0], 'price': 5.86}",NaN,"{'qnt': [328], 'price': 91.8}","{'qnt': [1850.4972253879268], 'price': 84.36}",NaN,"{'qnt': [48], 'price': 7.55}",NaN,"{'qnt': [5.213877448648385], 'price': 85.46}",NaN,NaN,"{'qnt': [970.5316770547245], 'price': 67.81}",NaN
19,labakh6up0trnm041n,Thu Oct 22 03:08:59 2026,NaN,"{'qnt': [47], 'price': 5.86}",NaN,"{'qnt': [824], 'price': 91.8}","{'qnt': [2074.8651369447507], 'price': 84.36}","{'qnt': [38], 'price': 79.35}",NaN,NaN,"{'qnt': [14.052931504635058], 'price': 85.46}","{'qnt': [902.3013317170501], 'price': 5.05}","{'qnt': [32], 'price': 14.48}",NaN,"{'qnt': [19], 'price': 92.5}"
20,labakh6u85ymvwdsgb9,Thu Oct 22 07:38:43 2026,"{'qnt': [11], 'price': 50.12}",NaN,"{'qnt': [47], 'price': 42.07}","{'qnt': [345], 'price': 91.8}","{'qnt': [2440.8556868751994], 'price': 84.36}",NaN,NaN,"{'qnt': [40], 'price': 45.47}","{'qnt': [15.790277492335036], 'price': 85.46}","{'qnt': [507.11370055536713], 'price': 5.05}","{'qnt': [6], 'price': 14.48}",NaN,"{'qnt': [41], 'price': 92.5}"
21,labakh6u641eb8vjqjs,Thu Oct 22 02:19:12 2026,"{'qnt': [2], 'price': 50.12}",NaN,"{'qnt': [23], 'price': 42.07}","{'qnt': [986], 'price': 91.8}","{'qnt': [1940.5711184693896], 'price': 84.36}","{'qnt': [42], 'price': 79.35}",NaN,"{'qnt': [14], 'price': 45.47}","{'qnt': [768.2516778556246], 'price': 85.46}","{'qnt': [774.2795071391913], 'price': 5.05}",NaN,"{'qnt': [767.1466983947874], 'price': 67.81}","{'qnt': [27], 'price': 92.5}"
22,labakh6u640eqd5hr94,Thu Oct 22 01:43:10 2026,"{'qnt': [1], 'price': 50.12}",NaN,NaN,"{'qnt': [1], 'price': 91.8}","{'qnt': [2064.131180764574], 'price': 84.36}","{'qnt': [9], 'price': 79.35}",NaN,"{'qnt': [13], 'price': 45.47}","{'qnt': [1016.5591430238042], 'price': 85.46}","{'qnt': [835.9492150669795], 'price': 5.05}","{'qnt': [33], 'price': 14.48}",NaN,NaN
23,labakh6ujs8mxxo4638,Thu Oct 22 07:30:32 2026,NaN,NaN,"{'qnt': [33], 'price': 42.07}","{'qnt': [31], 'price': 91.8}","{'qnt': [1925.6437329421324], 'price': 84.36}","{'qnt': [7], 'price': 79.35}",NaN,NaN,"{'qnt': [770.3600445111574], 'price': 85.46}",NaN,"{'qnt': [44], 'price': 14.48}",NaN,NaN
24,labakh6ur4w48h9tivf,Thu Oct 22 04:49:23 2026,NaN,NaN,"{'qnt': [25], 'price': 42.07}",NaN,"{'qnt': [1932.7197359128054], 'price': 84.36}",NaN,"{'qnt': [2], 'price': 7.55}",NaN,"{'qnt': [990.1949961938783], 'price': 85.46}",NaN,"{'qnt': [40], 'price': 14.48}",NaN,"{'qnt': [12], 'price': 92.5}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[31, 24, 46, 30, 2, 17, 36, 0, 47]","[47, 2, 46, 10, 9, 38, 48, 2]","[47, 38, 11, 9, 5, 8, 22, 4, 47, 23, 33, 25]","[22, 27, 41, 36, 44, 40, 40, 14, 13]","[611, 1097, 22, 14, 22, 745, 584, 868, 50, 4, ...","[309.5670863274895, 471.33269479288145, 795.16...","[1077.827450850525, 775.1785250710543, 684.230...","[1995.720405038566, 2134.872322412297, 2078.63...","[38, 32, 8, 48, 24, 42, 35, 11, 2, 1]","[40, 44, 26, 37, 17, 0, 19, 41, 27, 12]","[5, 6, 23, 28, 18, 24, 38, 42, 9, 7]","[38, 6, 28, 32, 36, 17, 8, 32, 6, 33, 44, 40]","[608.4351956223691, 746.7933781327363, 832.126..."
price,2.93,3.775,21.035,22.735,45.9,42.73,2.525,42.18,25.06,46.25,39.675,7.24,33.905

Semana 2:

Json:

,id,date,prod_0,prod_4,prod_5,prod_8,prod_15,prod_2,prod_6,prod_7,prod_10,prod_11,prod_1,prod_3,prod_9
0,labakha39n8bf3zt33,Wed Oct 28 22:02:02 2026,"{'qnt': [27], 'price': 25.06000000000335}","{'qnt': [39], 'price': 2.9300000000000375}","{'qnt': [32], 'price': 3.7750000000001114}","{'qnt': [303], 'price': 45.9}","{'qnt': [2044.7734389260752], 'price': 42.18}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labakha3esvdkw0dp26,Wed Oct 28 17:08:46 2026,"{'qnt': [17], 'price': 25.06000000000335}",NaN,"{'qnt': [43], 'price': 3.7750000000001114}","{'qnt': [371], 'price': 45.9}","{'qnt': [2372.4857975628784], 'price': 42.18}","{'qnt': [39], 'price': 39.67500000115623}","{'qnt': [9], 'price': 21.035000000018474}","{'qnt': [31], 'price': 22.735}","{'qnt': [201.52209792092168], 'price': 33.905}","{'qnt': [236.09159775298625], 'price': 2.525}",NaN,NaN,NaN
2,labakha3zr0nnukhkn9,Thu Oct 29 08:35:16 2026,NaN,"{'qnt': [49], 'price': 2.9300000000000375}","{'qnt': [18], 'price': 3.7750000000001114}","{'qnt': [30], 'price': 45.9}","{'qnt': [2023.0732129907358], 'price': 42.18}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [33], 'price': 7.240000000000034}","{'qnt': [38], 'price': 46.25000000000034}","{'qnt': [540.3596410502876], 'price': 42.73}"
3,labakha3ayilkxbl2uf,Thu Oct 29 04:21:38 2026,"{'qnt': [45], 'price': 25.06000000000335}","{'qnt': [29], 'price': 2.9300000000000375}",NaN,"{'qnt': [452], 'price': 45.9}","{'qnt': [2037.771348531065], 'price': 42.18}",NaN,NaN,NaN,"{'qnt': [549.7989093162412], 'price': 33.905}","{'qnt': [576.150747450256], 'price': 2.525}","{'qnt': [12], 'price': 7.240000000000034}","{'qnt': [26], 'price': 46.25000000000034}",NaN
4,labakha3uzjgibmhffi,Thu Oct 29 01:41:21 2026,"{'qnt': [8], 'price': 25.06000000000335}",NaN,NaN,"{'qnt': [52], 'price': 45.9}","{'qnt': [2152.241219323474], 'price': 42.18}",NaN,"{'qnt': [31], 'price': 21.035000000018474}",NaN,"{'qnt': [13.902468939501933], 'price': 33.905}",NaN,NaN,"{'qnt': [13], 'price': 46.25000000000034}","{'qnt': [674.4890718475269], 'price': 42.73}"
5,labakha3yzrslms76v,Wed Oct 28 23:07:00 2026,"{'qnt': [1], 'price': 25.06000000000335}",NaN,"{'qnt': [39], 'price': 3.7750000000001114}","{'qnt': [291], 'price': 45.9}","{'qnt': [1731.9519218115784], 'price': 42.18}","{'qnt': [20], 'price': 39.67500000115623}",NaN,"{'qnt': [0], 'price': 22.735}","{'qnt': [121.25617287838774], 'price': 33.905}","{'qnt': [49.17448366720538], 'price': 2.525}","{'qnt': [49], 'price': 7.240000000000034}","{'qnt': [34], 'price': 46.25000000000034}","{'qnt': [28.273120741409908], 'price': 42.73}"
6,labakha32stthy8l529,Thu Oct 29 07:25:10 2026,NaN,NaN,NaN,"{'qnt': [14], 'price': 45.9}","{'qnt': [2451.892286249265], 'price': 42.18}",NaN,"{'qnt': [23], 'price': 21.035000000018474}",NaN,NaN,"{'qnt': [731.7737094409463], 'price': 2.525}","{'qnt': [47], 'price': 7.240000000000034}",NaN,"{'qnt': [539.1825997876621], 'price': 42.73}"
7,labakha3k7mspwz5ppq,Wed Oct 28 23:36:34 2026,NaN,"{'qnt': [46], 'price': 2.9300000000000375}","{'qnt': [6], 'price': 3.7750000000001114}","{'qnt': [23], 'price': 45.9}","{'qnt': [2309.977494701292], 'price': 42.18}","{'qnt': [8], 'price': 39.67500000115623}",NaN,"{'qnt': [45], 'price': 22.735}",NaN,NaN,NaN,"{'qnt': [29], 'price': 46.25000000000034}","{'qnt': [428.9067565943662], 'price': 42.73}"
8,labakha3xjnf7codxg,Wed Oct 28 23:23:39 2026,"{'qnt': [37], 'price': 25.06000000000335}",NaN,NaN,"{'qnt': [226], 'price': 45.9}","{'qnt': [2281.6741850808744], 'price': 42.18}","{'qnt': [40], 'price': 39.67500000115623}","{'qnt': [23], 'price': 21.035000000018474}",NaN,"{'qnt': [339.75544162316885], 'price': 33.905}",NaN,NaN,"{'qnt': [28], 'price': 46.25000000000034}","{'qnt': [22.325766337347808], 'price': 42.73}"
9,labakha3pb3nssrknys,Wed Oct 28 19:36:27 2026,"{'qnt': [15], 'price': 25.06000000000335}",NaN,NaN,"{'qnt': [112], 'price': 45.9}","{'qnt': [2248.29083713923], 'price': 42.18}","{'qnt': [4], 'price': 39.67500000115623}","{'qnt': [48], 'price': 21.035000000018474}","{'qnt': [16], 'price': 22.735}",NaN,"{'qnt': [10.946493499754311], 'price': 2.525}","{'qnt': [24], 'price': 7.240000000000034}",NaN,"{'qnt': [394.92720647397533], 'price': 42.73}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[39, 49, 29, 46]","[32, 43, 18, 39, 6]","[9, 31, 23, 23, 48]","[31, 0, 45, 16]","[303, 371, 30, 452, 52, 291, 14, 23, 226, 112]","[540.3596410502876, 674.4890718475269, 28.2731...","[236.09159775298625, 576.150747450256, 49.1744...","[2044.7734389260752, 2372.4857975628784, 2023....","[27, 17, 45, 8, 1, 37, 15]","[38, 26, 13, 34, 29, 28]","[39, 20, 8, 40, 4]","[33, 12, 49, 47, 24]","[201.52209792092168, 549.7989093162412, 13.902..."
price,1.465,1.8875,10.5175,11.3675,22.95,21.365,1.2625,21.09,12.53,23.125,19.8375,3.62,16.9525

Semana 3:

Json:

,id,date,prod_0,prod_1,prod_2,prod_3,prod_5,prod_8,prod_9,prod_15,prod_7,prod_11,prod_6,prod_10
0,labakhc25zpyj91ecta,Wed Nov 4 22:09:55 2026,"{'qnt': [39], 'price': 12.53000000005761}","{'qnt': [11], 'price': 3.620000000000017}","{'qnt': [23], 'price': 19.83750000061027}","{'qnt': [46], 'price': 23.125000000000192}","{'qnt': [31], 'price': 1.8875000000000581}","{'qnt': [48], 'price': 22.95}","{'qnt': [246.25483837969716], 'price': 21.365}","{'qnt': [2311.8200792967164], 'price': 21.09}",NaN,NaN,NaN,NaN
1,labakhc2n1fyfugk2da,Wed Nov 4 16:41:00 2026,NaN,"{'qnt': [23], 'price': 3.620000000000017}",NaN,NaN,NaN,"{'qnt': [199], 'price': 22.95}","{'qnt': [28.457763411003533], 'price': 21.365}","{'qnt': [2355.3168103186094], 'price': 21.09}","{'qnt': [17], 'price': 11.367500000006444}","{'qnt': [0], 'price': 1.2625}",NaN,NaN
2,labakhc2in5fnsa3mz,Thu Nov 5 04:38:09 2026,"{'qnt': [35], 'price': 12.53000000005761}","{'qnt': [25], 'price': 3.620000000000017}",NaN,"{'qnt': [14], 'price': 23.125000000000192}",NaN,"{'qnt': [170], 'price': 22.95}","{'qnt': [299.51120947315616], 'price': 21.365}","{'qnt': [1978.03652878806], 'price': 21.09}","{'qnt': [15], 'price': 11.367500000006444}",NaN,"{'qnt': [17], 'price': 10.517500000009276}",NaN
3,labakhc2kml7bo58qd,Thu Nov 5 01:00:54 2026,NaN,"{'qnt': [32], 'price': 3.620000000000017}","{'qnt': [8], 'price': 19.83750000061027}",NaN,"{'qnt': [1], 'price': 1.8875000000000581}","{'qnt': [125], 'price': 22.95}","{'qnt': [4.095692298905021], 'price': 21.365}","{'qnt': [2407.6176653434086], 'price': 21.09}","{'qnt': [39], 'price': 11.367500000006444}","{'qnt': [0], 'price': 1.2625}","{'qnt': [48], 'price': 10.517500000009276}","{'qnt': [65.17132106267383], 'price': 16.9525}"
4,labakhc2us72stq283s,Wed Nov 4 20:43:40 2026,NaN,NaN,"{'qnt': [11], 'price': 19.83750000061027}","{'qnt': [39], 'price': 23.125000000000192}",NaN,"{'qnt': [0], 'price': 22.95}","{'qnt': [136.01846813022343], 'price': 21.365}","{'qnt': [2447.6035936344915], 'price': 21.09}","{'qnt': [42], 'price': 11.367500000006444}",NaN,NaN,NaN
5,labakhc29df7lahkar,Wed Nov 4 23:42:03 2026,NaN,"{'qnt': [32], 'price': 3.620000000000017}",NaN,"{'qnt': [11], 'price': 23.125000000000192}",NaN,"{'qnt': [0], 'price': 22.95}",NaN,"{'qnt': [2120.736439279262], 'price': 21.09}","{'qnt': [20], 'price': 11.367500000006444}","{'qnt': [0], 'price': 1.2625}",NaN,NaN

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,[0],"[31, 1]","[17, 48]","[17, 15, 39, 42, 20]","[48, 199, 170, 125, 0, 0]","[246.25483837969716, 28.457763411003533, 299.5...","[0, 0, 0]","[2311.8200792967164, 2355.3168103186094, 1978....","[39, 35]","[46, 14, 39, 11]","[23, 8, 11]","[11, 23, 25, 32, 32]",[65.17132106267383]
price,6.179783,0.94375,5.25875,5.68375,11.475,10.6825,5.325581,10.545,6.265,11.5625,9.918751,1.81,8.47625

Semana 4:

Json:

,id,date,prod_0,prod_1,prod_5,prod_6,prod_9,prod_8,prod_11,prod_15,prod_4,prod_7,prod_10,prod_2,prod_3
0,labakhdj6krwxs6bc2b,Wed Nov 11 22:54:07 2026,"{'qnt': [37], 'price': 6.265000000028805}","{'qnt': [4], 'price': 1.810000000000134}","{'qnt': [27], 'price': 0.9437500052572035}","{'qnt': [33], 'price': 5.258750000004638}","{'qnt': [406.82017363620935], 'price': 10.6825}","{'qnt': [347], 'price': 11.475}","{'qnt': [249.35758147904644], 'price': 5.32558...","{'qnt': [2037.3092736593949], 'price': 10.545}",NaN,NaN,NaN,NaN,NaN
1,labakhdja8vhlq3gp8,Wed Nov 11 20:11:39 2026,"{'qnt': [43], 'price': 6.265000000028805}","{'qnt': [49], 'price': 1.810000000000134}",NaN,"{'qnt': [16], 'price': 5.258750000004638}","{'qnt': [128.5384649758708], 'price': 10.6825}","{'qnt': [196], 'price': 11.475}",NaN,"{'qnt': [2439.487230529234], 'price': 10.545}","{'qnt': [12], 'price': 6.1797828786925795}","{'qnt': [31], 'price': 5.6837500000032515}","{'qnt': [720.3758444337518], 'price': 8.47625}",NaN,NaN
2,labakhdjdgzumzldd89,Wed Nov 11 19:27:17 2026,NaN,NaN,NaN,"{'qnt': [39], 'price': 5.258750000004638}","{'qnt': [149.12231830784856], 'price': 10.6825}",NaN,"{'qnt': [528.5290133202645], 'price': 5.325580...","{'qnt': [2293.1227400320113], 'price': 10.545}","{'qnt': [38], 'price': 6.1797828786925795}","{'qnt': [38], 'price': 5.6837500000032515}",NaN,NaN,NaN
3,labakhdji0k04f40l8,Thu Nov 12 08:46:26 2026,NaN,"{'qnt': [25], 'price': 1.810000000000134}",NaN,"{'qnt': [43], 'price': 5.258750000004638}","{'qnt': [79.12993090825506], 'price': 10.6825}","{'qnt': [0], 'price': 11.475}","{'qnt': [379.0003327467482], 'price': 5.325580...","{'qnt': [2231.9074279275496], 'price': 10.545}",NaN,"{'qnt': [3], 'price': 5.6837500000032515}",NaN,"{'qnt': [9], 'price': 9.91875076420597}","{'qnt': [10], 'price': 11.562500000000114}"
4,labakhdj85i1xn1v8e4,Wed Nov 11 20:23:56 2026,"{'qnt': [14], 'price': 6.265000000028805}","{'qnt': [16], 'price': 1.810000000000134}",NaN,NaN,"{'qnt': [391.92004185302955], 'price': 10.6825}","{'qnt': [69], 'price': 11.475}",NaN,"{'qnt': [2283.6223175687514], 'price': 10.545}",NaN,"{'qnt': [11], 'price': 5.6837500000032515}",NaN,"{'qnt': [39], 'price': 9.91875076420597}","{'qnt': [3], 'price': 11.562500000000114}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[12, 38]",[27],"[33, 16, 39, 43]","[31, 38, 3, 11]","[347, 196, 0, 69]","[406.82017363620935, 128.5384649758708, 149.12...","[249.35758147904644, 528.5290133202645, 379.00...","[2037.3092736593949, 2439.487230529234, 2293.1...","[37, 43, 14]","[10, 3]","[9, 39]","[4, 49, 25, 16]",[720.3758444337518]
price,9.269674,0.471875,2.629375,2.841875,5.7375,5.34125,7.988371,5.2725,3.1325,5.789687,4.959375,0.905,4.238125

Semana 5:

Json:

,id,date,prod_1,prod_3,prod_4,prod_7,prod_8,prod_11,prod_15,prod_2,prod_9,prod_5,prod_6,prod_10
0,labakhevkworseo3d5,Wed Nov 18 22:48:09 2026,"{'qnt': [29], 'price': 0.905000000000333}","{'qnt': [12], 'price': 5.789686631355817}","{'qnt': [15], 'price': 9.26967431803887}","{'qnt': [37], 'price': 2.841875000032555}","{'qnt': [951], 'price': 5.7375}","{'qnt': [1053.0334904143488], 'price': 7.98837...","{'qnt': [1967.5338563682396], 'price': 5.2725}",NaN,NaN,NaN,NaN,NaN
1,labakhevtpr1udqkx6a,Wed Nov 18 19:38:23 2026,NaN,NaN,NaN,"{'qnt': [27], 'price': 2.841875000032555}","{'qnt': [33], 'price': 5.7375}","{'qnt': [440.24516624850503], 'price': 7.98837...","{'qnt': [2294.1639797149764], 'price': 5.2725}","{'qnt': [39], 'price': 4.959375382103742}","{'qnt': [520.3557291255479], 'price': 5.34125}",NaN,NaN,NaN
2,labakhevmorbpeumaug,Thu Nov 19 06:22:55 2026,"{'qnt': [25], 'price': 0.905000000000333}",NaN,NaN,"{'qnt': [29], 'price': 2.841875000032555}","{'qnt': [664], 'price': 5.7375}","{'qnt': [992.7665743460439], 'price': 7.988371...","{'qnt': [2171.6425586683317], 'price': 5.2725}","{'qnt': [32], 'price': 4.959375382103742}","{'qnt': [755.2832863606465], 'price': 5.34125}","{'qnt': [17], 'price': 0.47187500262860316}","{'qnt': [35], 'price': 2.629375000002319}",NaN
3,labakhevr8qjv9zvb3,Wed Nov 18 23:52:48 2026,"{'qnt': [46], 'price': 0.905000000000333}",NaN,NaN,"{'qnt': [36], 'price': 2.841875000032555}","{'qnt': [769], 'price': 5.7375}","{'qnt': [484.73686884356465], 'price': 7.98837...","{'qnt': [2615.101242523253], 'price': 5.2725}","{'qnt': [48], 'price': 4.959375382103742}","{'qnt': [622.426743612814], 'price': 5.34125}","{'qnt': [4], 'price': 0.47187500262860316}",NaN,NaN
4,labakhevje509ji793,Wed Nov 18 20:05:22 2026,"{'qnt': [9], 'price': 0.905000000000333}","{'qnt': [24], 'price': 5.789686631355817}",NaN,NaN,"{'qnt': [364], 'price': 5.7375}","{'qnt': [526.5605176316186], 'price': 7.988371...","{'qnt': [2540.1512386302156], 'price': 5.2725}",NaN,NaN,"{'qnt': [17], 'price': 0.47187500262860316}",NaN,"{'qnt': [610.3831889061466], 'price': 4.238125}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,[15],"[17, 4, 17]",[35],"[37, 27, 29, 36]","[951, 33, 664, 769, 364]","[520.3557291255479, 755.2832863606465, 622.426...","[1053.0334904143488, 440.24516624850503, 992.7...","[1967.5338563682396, 2294.1639797149764, 2171....",[0],"[12, 24]","[39, 32, 48]","[29, 25, 46, 9]",[610.3831889061466]
price,4.634837,0.235938,1.314688,1.420938,2.86875,2.670625,3.994186,2.63625,13.213768,2.894843,2.479688,0.4525,2.119063

Semana 6:

Json:

,id,date,prod_0,prod_1,prod_3,prod_8,prod_9,prod_11,prod_15,prod_5,prod_6,prod_7,prod_10,prod_2,prod_4
0,labakhg8qrnqrcav05g,Wed Nov 25 18:08:42 2026,"{'qnt': [13], 'price': 13.213767827708711}","{'qnt': [38], 'price': 0.4525000000001675}","{'qnt': [46], 'price': 2.8948433168442773}","{'qnt': [70], 'price': 2.86875}","{'qnt': [801.0866592145256], 'price': 2.670625}","{'qnt': [89.03837731564214], 'price': 3.994185...","{'qnt': [2422.5870858415306], 'price': 2.63625}",NaN,NaN,NaN,NaN,NaN,NaN
1,labakhg8rse91kqajl8,Wed Nov 25 16:18:31 2026,"{'qnt': [41], 'price': 13.213767827708711}","{'qnt': [24], 'price': 0.4525000000001675}",NaN,NaN,"{'qnt': [47.21923575127837], 'price': 2.670625}",NaN,"{'qnt': [2367.2813907468985], 'price': 2.63625}","{'qnt': [48], 'price': 0.23593760598700056}","{'qnt': [21], 'price': 1.3146875000011595}","{'qnt': [16], 'price': 1.4209375000162776}",NaN,NaN,NaN
2,labakhg81bqfo39q63e,Wed Nov 25 19:10:28 2026,"{'qnt': [10], 'price': 13.213767827708711}",NaN,"{'qnt': [26], 'price': 2.8948433168442773}",NaN,"{'qnt': [249.26974955278024], 'price': 2.670625}",NaN,"{'qnt': [2736.5362585051334], 'price': 2.63625}","{'qnt': [48], 'price': 0.23593760598700056}",NaN,NaN,"{'qnt': [35.03025746256983], 'price': 2.1190625}",NaN,NaN
3,labakhg8zq9gnyfa8r,Thu Nov 26 06:12:27 2026,"{'qnt': [13], 'price': 13.213767827708711}",NaN,"{'qnt': [6], 'price': 2.8948433168442773}",NaN,"{'qnt': [209.56724416785758], 'price': 2.670625}","{'qnt': [242.4510262260837], 'price': 3.994185...","{'qnt': [2083.7745310852956], 'price': 2.63625}",NaN,NaN,"{'qnt': [4], 'price': 1.4209375000162776}","{'qnt': [134.2825351088124], 'price': 2.1190625}","{'qnt': [7], 'price': 2.479687691051871}","{'qnt': [19], 'price': 4.6348372550196535}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,[19],"[48, 48]",[21],"[16, 4]",[70],"[801.0866592145256, 47.21923575127837, 249.269...","[89.03837731564214, 242.4510262260837]","[2422.5870858415306, 2367.2813907468985, 2736....","[13, 41, 10, 13]","[46, 26, 6]",[7],"[38, 24]","[35.03025746256983, 134.2825351088124]"
price,2.317419,0.117969,0.657344,0.710479,1.434375,1.335312,1.997093,1.318125,19.820652,1.447422,1.240782,0.22625,1.059531

Semana 7:

Json:

,id,date,prod_0,prod_3,prod_4,prod_7,prod_8,prod_9,prod_10,prod_15
0,labakhhicn2d9bvp80s,Thu Dec 3 05:41:05 2026,"{'qnt': [41], 'price': 19.82065174156307}","{'qnt': [16], 'price': 1.4474216584221546}","{'qnt': [1], 'price': 2.3174186277609423}","{'qnt': [0], 'price': 0.7104792091062822}","{'qnt': [18], 'price': 1.434375}","{'qnt': [38.285992179992945], 'price': 1.3353125}","{'qnt': [94.09518900300168], 'price': 1.05953125}","{'qnt': [2602.6390906857546], 'price': 1.318125}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,[1],[0],[0],[0],[18],[38.285992179992945],[0],[2602.6390906857546],[41],[16],[0],[0],[94.09518900300168]
price,3.476128,0.497626,2.772861,2.997002,0.717188,0.667656,8.4243,0.659062,9.910326,0.723711,5.233969,0.954386,0.529766

Semana 8:

Json:

,id,date,prod_0,prod_1,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_10,prod_11,prod_15,prod_2,prod_3
0,labakhibzts7bojb97c,Thu Dec 10 06:46:45 2026,"{'qnt': [18], 'price': 9.910325870781534}","{'qnt': [12], 'price': 0.9543862636892121}","{'qnt': [27], 'price': 3.4761279416414137}","{'qnt': [28], 'price': 0.49762565799254715}","{'qnt': [35], 'price': 2.7728611957003033}","{'qnt': [11], 'price': 2.9970015372709837}","{'qnt': [11], 'price': 0.7171875002889638}","{'qnt': [248.06492426735142], 'price': 0.66765...","{'qnt': [304.4510668380576], 'price': 0.529765...","{'qnt': [371.98530303963196], 'price': 8.42430...","{'qnt': [2588.7109658553027], 'price': 0.6590625}",NaN,NaN
1,labakhibua3gzwhnt2,Wed Dec 9 18:16:31 2026,"{'qnt': [33], 'price': 9.910325870781534}","{'qnt': [8], 'price': 0.9543862636892121}",NaN,"{'qnt': [37], 'price': 0.49762565799254715}",NaN,NaN,"{'qnt': [442], 'price': 0.7171875002889638}","{'qnt': [789.5524472539068], 'price': 0.66765625}","{'qnt': [549.4718978563056], 'price': 0.529765...",NaN,"{'qnt': [2511.800941439433], 'price': 0.6590625}","{'qnt': [5], 'price': 5.233968790715936}","{'qnt': [7], 'price': 0.7237108332425201}"
2,labakhib5axlhafd1o5,Thu Dec 10 06:36:17 2026,NaN,NaN,NaN,NaN,"{'qnt': [4], 'price': 2.7728611957003033}","{'qnt': [39], 'price': 2.9970015372709837}","{'qnt': [429], 'price': 0.7171875002889638}",NaN,"{'qnt': [765.3717141034011], 'price': 0.529765...",NaN,"{'qnt': [2477.1837900517426], 'price': 0.6590625}",NaN,"{'qnt': [18], 'price': 0.7237108332425201}"
3,labakhibm88206qnlso,Thu Dec 10 00:20:53 2026,"{'qnt': [45], 'price': 9.910325870781534}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [36], 'price': 0.7171875002889638}","{'qnt': [0.002096402852702628], 'price': 0.667...",NaN,NaN,"{'qnt': [2995.096945966732], 'price': 0.6590625}","{'qnt': [38], 'price': 5.233968790715936}","{'qnt': [15], 'price': 0.7237108332425201}"
4,labakhibse34m4kx0f,Thu Dec 10 03:06:45 2026,"{'qnt': [16], 'price': 9.910325870781534}","{'qnt': [18], 'price': 0.9543862636892121}","{'qnt': [45], 'price': 3.4761279416414137}",NaN,"{'qnt': [3], 'price': 2.7728611957003033}","{'qnt': [35], 'price': 2.9970015372709837}","{'qnt': [545], 'price': 0.7171875002889638}","{'qnt': [457.41447006339035], 'price': 0.66765...","{'qnt': [555.3384464154244], 'price': 0.529765...","{'qnt': [423.5680262990595], 'price': 8.424300...","{'qnt': [2885.517392708426], 'price': 0.6590625}","{'qnt': [26], 'price': 5.233968790715936}",NaN
5,labakhibdbxjx7uyqrh,Thu Dec 10 07:38:51 2026,NaN,"{'qnt': [21], 'price': 0.9543862636892121}",NaN,NaN,"{'qnt': [10], 'price': 2.7728611957003033}","{'qnt': [7], 'price': 2.9970015372709837}","{'qnt': [40], 'price': 0.7171875002889638}",NaN,"{'qnt': [386.9453174347754], 'price': 0.529765...","{'qnt': [772.8914940742492], 'price': 8.424300...","{'qnt': [2746.2157398655972], 'price': 0.6590625}","{'qnt': [0], 'price': 5.233968790715936}",NaN
6,labakhibb4du6hkigl9,Wed Dec 9 17:11:38 2026,NaN,"{'qnt': [31], 'price': 0.9543862636892121}",NaN,NaN,"{'qnt': [12], 'price': 2.7728611957003033}","{'qnt': [30], 'price': 2.9970015372709837}","{'qnt': [81], 'price': 0.7171875002889638}","{'qnt': [360.6004914216204], 'price': 0.66765625}","{'qnt': [140.480801663678], 'price': 0.529765625}","{'qnt': [191.56445435923823], 'price': 8.42430...","{'qnt': [2392.1595991996064], 'price': 0.6590625}","{'qnt': [36], 'price': 5.233968790715936}",NaN
7,labakhibxpov3fqvo2,Wed Dec 9 22:19:09 2026,NaN,NaN,"{'qnt': [26], 'price': 3.4761279416414137}",NaN,"{'qnt': [10], 'price': 2.7728611957003033}","{'qnt': [29], 'price': 2.9970015372709837}","{'qnt': [48], 'price': 0.7171875002889638}","{'qnt': [35.345884663705604], 'price': 0.66765...",NaN,"{'qnt': [687.7956255159069], 'price': 8.424300...","{'qnt': [3054.4821826613825], 'price': 0.6590625}",NaN,"{'qnt': [19], 'price': 0.7237108332425201}"
8,labakhib5ez0hrv4ez,Thu Dec 10 07:20:10 2026,"{'qnt': [40], 'price': 9.910325870781534}","{'qnt': [48], 'price': 0.9543862636892121}",NaN,"{'qnt': [24], 'price': 0.49762565799254715}",NaN,NaN,NaN,"{'qnt': [37.53554800410533], 'price': 0.66765625}","{'qnt': [584.3917548277161], 'price': 0.529765...","{'qnt': [304.4218054762555], 'price': 8.424300...","{'qnt': [2869.956144104085], 'price': 0.6590625}","{'qnt': [22], 'price': 5.233968790715936}",NaN
9,labakhib11ixos7byhzb,Wed Dec 9 19:48:19 2026,NaN,"{'qnt': [33], 'price': 0.9543862636892121}",NaN,"{'qnt': [25], 'price': 0.49762565799254715}",NaN,"{'qnt': [18], 'price': 2.9970015372709837}","{'qnt': [139], 'price': 0.7171875002889638}","{'qnt': [33.04346847264365], 'price': 0.66765625}",NaN,"{'qnt': [722.2355089359677], 'price': 8.424300...","{'qnt': [2715.2964423373915], 'price': 0.6590625}",NaN,"{'qnt': [35], 'price': 0.7237108332425201}"
10,labakhibcojsrch0fhn,Thu Dec 10 05:18:10 2026,"{'qnt': [36], 'price': 9.910325870781534}","{'qnt': [17], 'price': 0.9543862636892121}","{'qnt': [24], 'price': 3.4761279416414137}",NaN,NaN,"{'qnt': [29], 'price': 2.9970015372709837}","{'qnt': [32], 'price': 0.7171875002889638}","{'qnt': [34.91279576826125], 'price': 0.66765625}",NaN,NaN,"{'qnt': [2601.2955123989564], 'price': 0.6590625}","{'qnt': [9], 'price': 5.233968790715936}","{'qnt': [46], 'price': 0.7237108332425201}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[27, 45, 26, 24]","[28, 37, 24, 25]","[35, 4, 3, 10, 12, 10]","[11, 39, 35, 7, 30, 29, 18, 29]","[11, 442, 429, 36, 545, 40, 81, 48, 139, 32]","[248.06492426735142, 789.5524472539068, 0.0020...","[371.98530303963196, 423.5680262990595, 772.89...","[2588.7109658553027, 2511.800941439433, 2477.1...","[18, 33, 45, 16, 40, 36]","[7, 18, 15, 19, 35, 46]","[5, 38, 26, 0, 36, 22, 9]","[12, 8, 18, 21, 31, 48, 33, 17]","[304.4510668380576, 549.4718978563056, 765.371..."
price,1.738064,0.746438,4.159292,4.495502,0.358594,0.333828,12.63645,0.329531,4.955163,0.361855,7.850953,1.431579,0.264883

Semana 9:

Json:

,id,date,prod_1,prod_3,prod_4,prod_5,prod_8,prod_9,prod_10,prod_11,prod_15,prod_6,prod_0,prod_2,prod_7
0,labakhlqvdzsfyk9ivn,Wed Dec 16 21:45:13 2026,"{'qnt': [8], 'price': 1.431579395533818}","{'qnt': [30], 'price': 0.3618554166213924}","{'qnt': [16], 'price': 1.7380639708207068}","{'qnt': [7], 'price': 0.7464384869888208}","{'qnt': [322], 'price': 0.3585937501444819}","{'qnt': [5.560731310324396], 'price': 0.333828...","{'qnt': [1035.9841319366576], 'price': 0.26488...","{'qnt': [1077.8263185507828], 'price': 12.6364...","{'qnt': [2742.311871030172], 'price': 0.32953125}",NaN,NaN,NaN,NaN
1,labakhlq15jtygy2d6v,Thu Dec 17 05:20:29 2026,NaN,NaN,"{'qnt': [28], 'price': 1.7380639708207068}","{'qnt': [15], 'price': 0.7464384869888208}","{'qnt': [33], 'price': 0.3585937501444819}",NaN,NaN,"{'qnt': [1064.8720566705879], 'price': 12.6364...","{'qnt': [2483.2118186808666], 'price': 0.32953...","{'qnt': [1], 'price': 4.159291793550455}",NaN,NaN,NaN
2,labakhlqcoolmpyn1d5,Thu Dec 17 00:41:49 2026,NaN,"{'qnt': [1], 'price': 0.3618554166213924}","{'qnt': [27], 'price': 1.7380639708207068}",NaN,"{'qnt': [8], 'price': 0.3585937501444819}","{'qnt': [1026.546591901273], 'price': 0.333828...","{'qnt': [721.0872608649984], 'price': 0.264882...",NaN,"{'qnt': [3057.8746065359687], 'price': 0.32953...",NaN,"{'qnt': [42], 'price': 4.955162935390767}","{'qnt': [38], 'price': 7.850953186073904}",NaN
3,labakhlq7jqogvt7n9b,Wed Dec 16 21:51:00 2026,NaN,"{'qnt': [6], 'price': 0.3618554166213924}",NaN,NaN,"{'qnt': [19], 'price': 0.3585937501444819}",NaN,NaN,"{'qnt': [1082.425658747066], 'price': 12.63645...","{'qnt': [2697.9719038025364], 'price': 0.32953...","{'qnt': [39], 'price': 4.159291793550455}",NaN,"{'qnt': [18], 'price': 7.850953186073904}",NaN
4,labakhlq3efaiadify4,Thu Dec 17 06:01:05 2026,NaN,"{'qnt': [26], 'price': 0.3618554166213924}",NaN,NaN,"{'qnt': [45], 'price': 0.3585937501444819}","{'qnt': [497.6186280853415], 'price': 0.333828...","{'qnt': [837.4201692600167], 'price': 0.264882...",NaN,"{'qnt': [2942.130531797485], 'price': 0.32953125}","{'qnt': [24], 'price': 4.159291793550455}","{'qnt': [37], 'price': 4.955162935390767}","{'qnt': [12], 'price': 7.850953186073904}",NaN
5,labakhlqkjrndyrclb,Wed Dec 16 20:19:28 2026,"{'qnt': [26], 'price': 1.431579395533818}","{'qnt': [48], 'price': 0.3618554166213924}","{'qnt': [45], 'price': 1.7380639708207068}",NaN,"{'qnt': [47], 'price': 0.3585937501444819}",NaN,NaN,"{'qnt': [943.4241705627853], 'price': 12.63645...","{'qnt': [2772.2574499857355], 'price': 0.32953...","{'qnt': [48], 'price': 4.159291793550455}",NaN,"{'qnt': [3], 'price': 7.850953186073904}",NaN
6,labakhlq1fvoj4ry26m,Thu Dec 17 01:25:19 2026,"{'qnt': [28], 'price': 1.431579395533818}",NaN,NaN,NaN,"{'qnt': [649], 'price': 0.3585937501444819}","{'qnt': [747.8956416031099], 'price': 0.333828...","{'qnt': [942.5962487146238], 'price': 0.264882...",NaN,"{'qnt': [3185.7487162796497], 'price': 0.32953...",NaN,NaN,NaN,"{'qnt': [48], 'price': 4.495502305906475}"
7,labakhlqnhsv94gch6d,Thu Dec 17 01:17:27 2026,"{'qnt': [35], 'price': 1.431579395533818}","{'qnt': [14], 'price': 0.3618554166213924}",NaN,"{'qnt': [31], 'price': 0.7464384869888208}","{'qnt': [40], 'price': 0.3585937501444819}","{'qnt': [525.145665137572], 'price': 0.333828125}","{'qnt': [960.8287103392367], 'price': 0.264882...",NaN,"{'qnt': [2489.309429273212], 'price': 0.32953125}",NaN,"{'qnt': [27], 'price': 4.955162935390767}","{'qnt': [27], 'price': 7.850953186073904}",NaN
8,labakhlqs7jc72wsmm,Thu Dec 17 04:12:59 2026,"{'qnt': [13], 'price': 1.431579395533818}",NaN,NaN,"{'qnt': [7], 'price': 0.7464384869888208}",NaN,"{'qnt': [315.7835812294289], 'price': 0.333828...",NaN,"{'qnt': [398.6932479223149], 'price': 12.63645...","{'qnt': [2843.410058934982], 'price': 0.32953125}",NaN,"{'qnt': [24], 'price': 4.955162935390767}","{'qnt': [21], 'price': 7.850953186073904}",NaN
9,labakhlqdqiv5fej5bw,Wed Dec 16 20:57:13 2026,NaN,NaN,NaN,"{'qnt': [23], 'price': 0.7464384869888208}","{'qnt': [13], 'price': 0.3585937501444819}","{'qnt': [2.2331733012131205], 'price': 0.33382...",NaN,NaN,"{'qnt': [2859.6054152117745], 'price': 0.32953...","{'qnt': [46], 'price': 4.159291793550455}",NaN,"{'qnt': [35], 'price': 7.850953186073904}","{'qnt': [10], 'price': 4.495502305906475}"
10,labakhlq8sjve0wxx66,Wed Dec 16 23:35:07 2026,"{'qnt': [43], 'price': 1.431579395533818}",NaN,NaN,"{'qnt': [22], 'price': 0.7464384869888208}","{'qnt': [592], 'price': 0.3585937501444819}","{'qnt': [901.2820082529854], 'price': 0.333828...",NaN,"{'qnt': [617.9458179835722], 'price': 12.63645...","{'qnt': [2852.2214900041663], 'price': 0.32953...","{'qnt': [21], 'price': 4.159291793550455}","{'qnt': [2], 'price': 4.955162935390767}","{'qnt': [23], 'price': 7.850953186073904}",NaN
11,labakhlqrfbzzbjshw,Thu Dec 17 04:13:40 2026,NaN,"{'qnt': [32], 'price': 0.3618554166213924}",NaN,"{'qnt': [0], 'price': 0.7464384869888208}",NaN,"{'qnt': [900.9349593163015], 'price': 0.333828...",NaN,NaN,"{'qnt': [2588.468737875228], 'price': 0.32953125}",NaN,"{'qnt': [10], 'price': 4.955162935390767}","{'qnt': [41], 'price': 7.850953186073904}","{'qnt': [21], 'price': 4.495502305906475}"
12,labakhlq3ctn48pj7jv,Thu Dec 17 05:55:57 2026,NaN,NaN,NaN,NaN,"{'qnt': [893], 'price': 0.3585937501444819}",NaN,"{'qnt': [1039.9759127175116], 'price': 0.26488...","{'qnt': [1053.591168977639], 'price': 12.63645...","{'qnt': [2451.893353342915], 'price': 0.32953125}",NaN,"{'qnt': [16], 'price': 4.955162935390767}",NaN,NaN
13,labakhlq618cxba53uf,Wed Dec 16 23:14:32 2026,NaN,NaN,NaN,"{'qnt': [3], 'price': 0.7464384869888208}","{'qnt': [42], 'price': 0.3585937501444819}","{'qnt': [927.889061773233], 'price': 0.333828125}",NaN,"{'qnt': [934.7901307426679], 'price': 12.63645...","{'qnt': [2937.4755091290217], 'price': 0.32953...",NaN,NaN,"{'qnt': [20], 'price': 7.850953186073904}",NaN
14,labakhlqcscqn677rvi,Wed Dec 16 20:04:07 2026,NaN,"{'qnt': [48], 'price': 0.3618554166213924}","{'qnt': [30], 'price': 1.7380639708207068}",NaN,"{'qnt': [24], 'price': 0.3585937501444819}","{'qnt': [10.836345205463338], 'price': 0.33382...",NaN,"{'qnt': [540.3921411803261], 'price': 12.63645...","{'qnt': [2709.2759323560254], 'price': 0.32953...","{'qnt': [2], 'price': 4.159291793550455}","{'qnt': [6], 'price': 4.955162935390767}","{'qnt': [40], 'price': 7.850953186073904}","{'qnt': [9], 'price': 4.495502305906475}"
15,labakhlq53u2kd9sghi,Wed Dec 16 18:02:50 2026,NaN,NaN,NaN,NaN,"{'qnt': [11], 'price': 0.3585937501444819}","{'qnt': [409.681422604703], 'price': 0.333828125}",NaN,"{'qnt': [658.19950752829], 'price': 12.6364504...","{'qnt': [2599.207292973159], 'price': 0.32953125}",NaN,"{'qnt': [0], 'price': 4.955162935390767}",NaN,NaN
16,labakhlq7hqz0j4zpdj,Wed Dec 16 20:04:59 2026,"{'qnt': [21], 'price': 1.431579395533818}","{'qnt': [43], 'price': 0.3618554166213924}","{'qnt': [37], 'price': 1.7380639708207068}","{'qnt': [28], 'price': 0.7464384869888208}","{'qnt': [28], 'price': 0.3585937501444819}","{'qnt': [32.338184742442955], 'price': 0.33382...",NaN,"{'qnt': [754.9775675921181], 'price': 12.63645...","{'qnt': [2824.554691676113], 'price': 0.32953125}","{'qnt': [24], 'price': 4.159291793550455}",NaN,NaN,NaN
17,labakhlqjvx1m7v5fs,Wed Dec 16 22:53:53 2026,NaN,NaN,"{'qnt': [37], 'price': 1.7380639708207068}",NaN,"{'qnt': [1035], 'price': 0.3585937501444819}",NaN,"{'qnt': [670.7469446962848], 'price': 0.264882...","{'qnt': [1057.8951103895624], 'price': 12.6364...","{'qnt': [2443.611006837587], 'price': 0.32953125}",NaN,NaN,"{'qnt': [39], 'price': 7.850953186073904}",NaN
18,labakhlq873swafbl3w,Thu Dec 17 05:39:54 2026,NaN,NaN,NaN,"{'qnt': [48], 'price': 0.7464384869888208}","{'qnt': [44], 'price': 0.3585937501444819}","{'qnt': [0.13965892328002827], 'price': 0.3338...","{'qnt': [511.92619503454205], 'price': 0.26488...","{'qnt': [985.3223976982297], 'price': 12.63645...","{'qnt': [2719.674878013794], 'price': 0.32953125}",NaN,NaN,NaN,"{'qnt': [44], 'price': 4.495502305906475}"
19,labakhlqisn7zpd0zk,Thu Dec 17 06:33:58 2026,NaN,NaN,NaN,NaN,"{'qnt': [8], 'price': 0.3585937501444819}","{'qnt': [459.4494766115757], 'price': 0.333828...","{'qnt': [663.5108502670125], 'price': 0.264882...","{'qnt': [775.329210761268], 'price': 12.636450...","{'qnt': [2989.390855090161], 'price': 0.32953125}","{'qnt': [8], 'price': 4.159291793550455}","{'qnt': [13], 'price': 4.955162935390767}",NaN,NaN
20,labakhlqf5umqesr4s,Thu Dec 17 01:48:04 2026,"{'qnt': [36], 'price': 1.431579395533818}","{'qnt': [10], 'price': 0.3618554166213924}","{'qnt': [28], 'price': 1.7380639708207068}","{'qnt': [38], 'price': 0.7464384869888208}",NaN,NaN,NaN,"{'qnt': [585.7910644532294], 'price': 12.63645...","{'qnt': [2683.170762764644], 'price': 0.32953125}",NaN,NaN,"{'qnt': [42], 'price': 7.850953186073904}",NaN
21,labakhlqcy7b0ullc8w,Thu Dec 17 05:45:53 2026,NaN,"{'qnt': [35], 'price': 0.3618554166213924}",NaN,"{'qnt': [2], 'price': 0.7464384869888208}","{'qnt': [715], 'price': 0.3585937501444819}","{'qnt': [997.7195278498243], 'price': 0.333828...","{'qnt': [668.7295142033313], 'price': 0.264882...","{'qnt': [819.5994699324824], 'price': 12.63645...","{'qnt': [2830.129092830751], 'price': 0.32953125}","{'qnt': [26], 'price': 4.159291793550455}",NaN,NaN,"{'qnt': [49], 'price': 4.495502305906475}"
22,labakhlqflbl98f1xnp,Thu Dec 17 05:32:23 2026,"{'qnt': [44], 'price': 1.431579395533818}","{'qnt': [26], 'price': 0.3618554166213924}",NaN,NaN,"{'qnt': [539], 'price': 0.3585937501444819}","{'qnt': [18.614413224249006], 'price': 0.33382...","{'qnt': [690.4738466574131], 'price': 0.264882...","{'qnt': [915.2379019827574], 'price': 12.63645...","{'qnt': [2675.4917722696855], 'price': 0.32953...","{'qnt': [22], 'price': 4.159291793550455}",NaN,"{'qnt': [30], 'price': 7.850953186073904}","{'qnt': [7], 'price': 4.495502305906475}"
23,labakhlqemb9h876z6b,Wed Dec 16 20:16:20 2026,"{'qnt': [39], 'price': 1.431579395533818}",NaN,NaN,"{'qnt': [0], 'price': 0.7464384869888208}",NaN,"{'qnt': [1059.256004580579], 'price': 0.333828...","{'qnt': [465.3800024054823], 'price': 0.264882...",NaN,"{'qnt': [2907.4848318391914], 'price': 0.32953...",NaN,NaN,NaN,NaN

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[16, 28, 27, 45, 30, 37, 37, 28]","[7, 15, 31, 7, 23, 22, 0, 3, 28, 48, 38, 2, 0]","[1, 39, 24, 48, 46, 21, 2, 24, 8, 26, 22]","[48, 10, 21, 9, 44, 49, 7]","[322, 33, 8, 19, 45, 47, 649, 40, 13, 592, 893...","[5.560731310324396, 1026.546591901273, 497.618...","[1077.8263185507828, 1064.8720566705879, 1082....","[2742.311871030172, 2483.2118186808666, 3057.8...","[42, 37, 27, 24, 2, 10, 16, 6, 0, 13]","[30, 1, 6, 26, 48, 14, 32, 48, 43, 10, 35, 26]","[38, 18, 12, 3, 27, 21, 35, 23, 41, 20, 40, 39...","[8, 26, 28, 35, 13, 43, 21, 36, 44, 39]","[1035.9841319366576, 721.0872608649984, 837.42..."
price,0.869032,0.373219,2.079646,2.247751,0.179297,0.166914,6.318225,0.164766,2.477581,0.180928,3.925477,0.71579,0.132441

Semana 10:

Json:

,id,date,prod_2,prod_4,prod_6,prod_10,prod_11,prod_15,prod_3,prod_7,prod_9,prod_8,prod_0,prod_1,prod_5
0,labakhp9vbptdraoqx,Thu Dec 24 08:24:01 2026,"{'qnt': [6], 'price': 3.9254765930369566}","{'qnt': [50], 'price': 0.8690319854103534}","{'qnt': [41], 'price': 2.079645896775681}","{'qnt': [410.87839739448225], 'price': 0.13244...","{'qnt': [362.21606551039827], 'price': 6.31822...","{'qnt': [3243.1424978743903], 'price': 0.16476...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labakhp9551gxfirl53,Thu Dec 24 00:39:44 2026,NaN,"{'qnt': [42], 'price': 0.8690319854103534}","{'qnt': [9], 'price': 2.079645896775681}",NaN,NaN,"{'qnt': [2927.2632891803714], 'price': 0.16476...","{'qnt': [4], 'price': 0.18092770831069713}","{'qnt': [38], 'price': 2.2477511529532457}","{'qnt': [201.78570711095256], 'price': 0.16691...","{'qnt': [52], 'price': 0.17929687507224096}",NaN,NaN,NaN
2,labakhp9v0lfq31sebo,Wed Dec 23 16:43:04 2026,NaN,NaN,NaN,"{'qnt': [367.2691077918901], 'price': 0.132441...",NaN,"{'qnt': [2765.5599059630076], 'price': 0.16476...",NaN,"{'qnt': [41], 'price': 2.2477511529532457}","{'qnt': [20.121322582197166], 'price': 0.16691...","{'qnt': [43], 'price': 0.17929687507224096}","{'qnt': [34], 'price': 2.4775814691756555}",NaN,NaN
3,labakhp9mckrdlq8u4,Wed Dec 23 18:35:47 2026,NaN,"{'qnt': [11], 'price': 0.8690319854103534}",NaN,"{'qnt': [460.8306388425461], 'price': 0.132441...","{'qnt': [482.0098305551564], 'price': 6.318225...","{'qnt': [3029.5554131524145], 'price': 0.16476...",NaN,"{'qnt': [9], 'price': 2.2477511529532457}","{'qnt': [703.056818079716], 'price': 0.1669140...","{'qnt': [120], 'price': 0.17929687507224096}",NaN,"{'qnt': [39], 'price': 0.7157896977669091}",NaN
4,labakhp923zt1hrt0g1i,Wed Dec 23 21:35:16 2026,NaN,NaN,NaN,NaN,"{'qnt': [606.7701423945045], 'price': 6.318225...","{'qnt': [2835.662833291444], 'price': 0.164765...","{'qnt': [27], 'price': 0.18092770831069713}",NaN,"{'qnt': [46.929489922825994], 'price': 0.16691...","{'qnt': [83], 'price': 0.17929687507224096}",NaN,NaN,NaN
5,labakhp9ozacnfjwgd,Wed Dec 23 18:56:18 2026,NaN,"{'qnt': [44], 'price': 0.8690319854103534}",NaN,"{'qnt': [531.1438155511349], 'price': 0.132441...",NaN,"{'qnt': [2678.928325864801], 'price': 0.164765...",NaN,"{'qnt': [30], 'price': 2.2477511529532457}","{'qnt': [20.870535215524335], 'price': 0.16691...","{'qnt': [490], 'price': 0.17929687507224096}",NaN,"{'qnt': [37], 'price': 0.7157896977669091}",NaN
6,labakhp9nfeq3ai1dn,Wed Dec 23 20:14:02 2026,"{'qnt': [36], 'price': 3.9254765930369566}",NaN,"{'qnt': [2], 'price': 2.079645896775681}",NaN,NaN,"{'qnt': [3260.033574207071], 'price': 0.164765...",NaN,"{'qnt': [48], 'price': 2.2477511529532457}","{'qnt': [130.69173169896507], 'price': 0.16691...","{'qnt': [143], 'price': 0.17929687507224096}","{'qnt': [27], 'price': 2.4775814691756555}",NaN,"{'qnt': [35], 'price': 0.3732192439073625}"
7,labakhp97pwld9ajbyr,Wed Dec 23 20:42:52 2026,"{'qnt': [29], 'price': 3.9254765930369566}","{'qnt': [36], 'price': 0.8690319854103534}",NaN,NaN,NaN,"{'qnt': [2988.0939055203767], 'price': 0.16476...",NaN,"{'qnt': [3], 'price': 2.2477511529532457}","{'qnt': [213.97277710721949], 'price': 0.16691...","{'qnt': [576], 'price': 0.17929687507224096}","{'qnt': [30], 'price': 2.4775814691756555}","{'qnt': [39], 'price': 0.7157896977669091}",NaN
8,labakhp967g5dhhzng8,Thu Dec 24 07:58:02 2026,NaN,NaN,NaN,NaN,"{'qnt': [437.3668274907059], 'price': 6.318225...","{'qnt': [3038.6804600393816], 'price': 0.16476...",NaN,NaN,NaN,"{'qnt': [36], 'price': 0.17929687507224096}",NaN,NaN,"{'qnt': [9], 'price': 0.3732192439073625}"
9,labakhp9oimvaza70e,Wed Dec 23 20:15:06 2026,NaN,NaN,NaN,"{'qnt': [231.90946109218], 'price': 0.13244140...",NaN,"{'qnt': [2552.4252520066457], 'price': 0.16476...",NaN,NaN,NaN,"{'qnt': [36], 'price': 0.17929687507224096}",NaN,"{'qnt': [40], 'price': 0.7157896977669091}","{'qnt': [10], 'price': 0.3732192439073625}"
10,labakhp93f3dguq54y,Wed Dec 23 23:35:09 2026,"{'qnt': [17], 'price': 3.9254765930369566}",NaN,NaN,"{'qnt': [87.97443987167004], 'price': 0.132441...",NaN,"{'qnt': [2595.38017984907], 'price': 0.164765625}",NaN,NaN,"{'qnt': [495.68877562455174], 'price': 0.16691...","{'qnt': [45], 'price': 0.17929687507224096}",NaN,NaN,"{'qnt': [17], 'price': 0.3732192439073625}"
11,labakhp982ks3pm0qiu,Wed Dec 23 21:07:56 2026,NaN,NaN,"{'qnt': [5], 'price': 2.079645896775681}","{'qnt': [685.3911758762174], 'price': 0.132441...","{'qnt': [76.39706553942536], 'price': 6.318225...","{'qnt': [2795.7911182850894], 'price': 0.16476...","{'qnt': [20], 'price': 0.18092770831069713}","{'qnt': [46], 'price': 2.2477511529532457}","{'qnt': [414.5310290518922], 'price': 0.166914...","{'qnt': [300], 'price': 0.17929687507224096}",NaN,NaN,"{'qnt': [36], 'price': 0.3732192439073625}"
12,labakhp9a0j41p4eoxp,Wed Dec 23 22:00:45 2026,NaN,NaN,NaN,NaN,NaN,"{'qnt': [3054.324685170957], 'price': 0.164765...","{'qnt': [20], 'price': 0.18092770831069713}","{'qnt': [43], 'price': 2.2477511529532457}","{'qnt': [347.58082637613506], 'price': 0.16691...","{'qnt': [21], 'price': 0.17929687507224096}",NaN,"{'qnt': [33], 'price': 0.7157896977669091}",NaN
13,labakhp9nhlshd1vipq,Thu Dec 24 03:54:59 2026,"{'qnt': [13], 'price': 3.9254765930369566}","{'qnt': [37], 'price': 0.8690319854103534}",NaN,NaN,"{'qnt': [255.71732164984897], 'price': 6.31822...","{'qnt': [3184.2796958223516], 'price': 0.16476...","{'qnt': [35], 'price': 0.18092770831069713}",NaN,"{'qnt': [427.44092508706643], 'price': 0.16691...",NaN,NaN,"{'qnt': [35], 'price': 0.7157896977669091}",NaN
14,labakhp90llygfymgool,Thu Dec 24 01:30:24 2026,NaN,"{'qnt': [28], 'price': 0.8690319854103534}","{'qnt': [28], 'price': 2.079645896775681}",NaN,NaN,"{'qnt': [2789.436439416082], 'price': 0.164765...",NaN,NaN,"{'qnt': [333.6958686129418], 'price': 0.166914...",NaN,NaN,NaN,"{'qnt': [35], 'price': 0.3732192439073625}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[50, 42, 11, 44, 36, 37, 28]","[35, 9, 10, 17, 36, 35]","[41, 9, 2, 5, 28]","[38, 41, 9, 30, 48, 3, 46, 43]","[52, 43, 120, 83, 490, 143, 576, 36, 36, 45, 3...","[201.78570711095256, 20.121322582197166, 703.0...","[362.21606551039827, 482.0098305551564, 606.77...","[3243.1424978743903, 2927.2632891803714, 2765....","[34, 27, 30]","[4, 27, 20, 20, 35]","[6, 36, 29, 17, 13]","[39, 37, 39, 40, 33, 35]","[410.87839739448225, 367.2691077918901, 460.83..."
price,0.434516,0.18661,1.039823,1.123876,0.089648,0.083457,3.159113,0.082383,1.238791,0.090464,1.962738,0.357895,0.066221

Semana 11:

Json:

,id,date,prod_1,prod_3,prod_4,prod_15,prod_2,prod_5,prod_6,prod_8,prod_9,prod_7,prod_10,prod_0,prod_11
0,labakhrjnavedy74rre,Wed Dec 30 23:38:35 2026,"{'qnt': [17], 'price': 0.3578948488834546}","{'qnt': [1], 'price': 0.09046385415589381}","{'qnt': [3], 'price': 0.4345159927051767}","{'qnt': [3431.2303714071595], 'price': 0.08238...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labakhrj3rtkp321aeh,Wed Dec 30 23:34:09 2026,"{'qnt': [26], 'price': 0.3578948488834546}",NaN,"{'qnt': [24], 'price': 0.4345159927051767}","{'qnt': [2647.784170610112], 'price': 0.082382...","{'qnt': [20], 'price': 1.9627382965624647}","{'qnt': [31], 'price': 0.18660962195372532}","{'qnt': [33], 'price': 1.0398229499456435}","{'qnt': [16], 'price': 0.08964843753612048}","{'qnt': [0], 'price': 0.08345703125}",NaN,NaN,NaN,NaN
2,labakhrj7rzu6138vhm,Wed Dec 30 20:28:21 2026,"{'qnt': [1], 'price': 0.3578948488834546}",NaN,NaN,"{'qnt': [2797.6040592994837], 'price': 0.08238...","{'qnt': [40], 'price': 1.9627382965624647}","{'qnt': [45], 'price': 0.18660962195372532}",NaN,"{'qnt': [12], 'price': 0.08964843753612048}",NaN,"{'qnt': [21], 'price': 1.1238755764766228}","{'qnt': [347.7927823411017], 'price': 0.066220...",NaN,NaN
3,labakhrj3xk7s0omi8o,Thu Dec 31 01:34:10 2026,NaN,NaN,"{'qnt': [42], 'price': 0.4345159927051767}","{'qnt': [3160.667728264621], 'price': 0.082382...","{'qnt': [6], 'price': 1.9627382965624647}","{'qnt': [19], 'price': 0.18660962195372532}",NaN,"{'qnt': [49], 'price': 0.08964843753612048}","{'qnt': [125.16987638360075], 'price': 0.08345...",NaN,NaN,"{'qnt': [49], 'price': 1.2387907345878277}",NaN
4,labakhrj5hiu912flml,Thu Dec 31 07:45:46 2026,"{'qnt': [35], 'price': 0.3578948488834546}","{'qnt': [12], 'price': 0.09046385415589381}",NaN,"{'qnt': [2865.5720815382583], 'price': 0.08238...",NaN,"{'qnt': [2], 'price': 0.18660962195372532}","{'qnt': [46], 'price': 1.0398229499456435}","{'qnt': [290], 'price': 0.08964843753612048}","{'qnt': [325.3429109678022], 'price': 0.083457...","{'qnt': [4], 'price': 1.1238755764766228}","{'qnt': [120.74723591747852], 'price': 0.06622...",NaN,"{'qnt': [188.00912733336014], 'price': 3.15911..."
5,labakhrjuqjsjus4ggs,Thu Dec 31 06:00:47 2026,NaN,NaN,NaN,"{'qnt': [3238.0567783617516], 'price': 0.08238...","{'qnt': [13], 'price': 1.9627382965624647}",NaN,"{'qnt': [28], 'price': 1.0398229499456435}","{'qnt': [485], 'price': 0.08964843753612048}","{'qnt': [0], 'price': 0.08345703125}","{'qnt': [29], 'price': 1.1238755764766228}","{'qnt': [0], 'price': 0.066220703125}",NaN,NaN
6,labakhrjqee11rpru3,Thu Dec 31 07:09:50 2026,NaN,NaN,"{'qnt': [2], 'price': 0.4345159927051767}","{'qnt': [3419.412784359052], 'price': 0.082382...",NaN,NaN,"{'qnt': [33], 'price': 1.0398229499456435}","{'qnt': [486], 'price': 0.08964843753612048}","{'qnt': [364.64831617036026], 'price': 0.08345...",NaN,"{'qnt': [86.19787338121398], 'price': 0.066220...",NaN,"{'qnt': [0], 'price': 3.159112605495268}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[3, 24, 42, 2]","[31, 45, 19, 2]","[33, 46, 28, 33]","[21, 4, 29]","[16, 12, 49, 290, 485, 486]","[0, 125.16987638360075, 325.3429109678022, 0, ...","[188.00912733336014, 0]","[3431.2303714071595, 2647.784170610112, 2797.6...",[49],"[1, 12]","[20, 40, 6, 13]","[17, 26, 1, 35]","[347.7927823411017, 120.74723591747852, 0, 86...."
price,0.217258,0.093305,0.519911,0.561938,0.044824,0.041729,1.579556,0.041191,0.619395,0.045298,0.981369,0.178947,0.03311

Semana 12:

Json:

,id,date,prod_0,prod_2,prod_3,prod_6,prod_9,prod_15,prod_1,prod_8,prod_10,prod_4,prod_7,prod_11,prod_5
0,labakht33abu0km74ex,Thu Jan 7 02:44:42 2027,"{'qnt': [50], 'price': 0.6193953672939139}","{'qnt': [34], 'price': 0.9813691483209465}","{'qnt': [43], 'price': 0.04529793444560394}","{'qnt': [43], 'price': 0.5199114749728218}","{'qnt': [331.0916727665595], 'price': 0.041728...","{'qnt': [3425.2337808245115], 'price': 0.04119...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labakht3xoagiz0jceq,Thu Jan 7 04:42:20 2027,"{'qnt': [45], 'price': 0.6193953672939139}",NaN,NaN,"{'qnt': [33], 'price': 0.5199114749728218}","{'qnt': [688.5290263312622], 'price': 0.041728...","{'qnt': [2740.9420020361445], 'price': 0.04119...","{'qnt': [29], 'price': 0.17894742444896894}","{'qnt': [804], 'price': 0.04482421876806024}","{'qnt': [89.04407290622211], 'price': 0.033110...",NaN,NaN,NaN,NaN
2,labakht399f8wd9uy4,Wed Jan 6 21:04:39 2027,"{'qnt': [47], 'price': 0.6193953672939139}","{'qnt': [43], 'price': 0.9813691483209465}",NaN,"{'qnt': [19], 'price': 0.5199114749728218}","{'qnt': [254.91929730527755], 'price': 0.04172...","{'qnt': [3456.1230000881715], 'price': 0.04119...",NaN,"{'qnt': [690], 'price': 0.04482421876806024}","{'qnt': [244.25048975461291], 'price': 0.03311...",NaN,NaN,NaN,NaN
3,labakht3ewpzp7pnykv,Thu Jan 7 03:37:15 2027,NaN,"{'qnt': [36], 'price': 0.9813691483209465}",NaN,"{'qnt': [36], 'price': 0.5199114749728218}",NaN,"{'qnt': [3033.7105548608715], 'price': 0.04119...",NaN,NaN,"{'qnt': [688.6008990834098], 'price': 0.033110...","{'qnt': [47], 'price': 0.2172579964741432}","{'qnt': [50], 'price': 0.5619377884647232}","{'qnt': [300.17637560738075], 'price': 1.57955...",NaN
4,labakht3diy0213f50w,Thu Jan 7 03:56:19 2027,NaN,NaN,NaN,NaN,NaN,"{'qnt': [2858.574959012953], 'price': 0.041191...","{'qnt': [45], 'price': 0.17894742444896894}","{'qnt': [184], 'price': 0.04482421876806024}","{'qnt': [567.1673817508125], 'price': 0.033110...",NaN,NaN,NaN,"{'qnt': [1], 'price': 0.09330481097687289}"
5,labakht3e3vcbimmhbq,Wed Jan 6 16:52:19 2027,NaN,NaN,NaN,NaN,"{'qnt': [190.82880852437438], 'price': 0.04172...","{'qnt': [3259.8054388415976], 'price': 0.04119...","{'qnt': [46], 'price': 0.17894742444896894}","{'qnt': [123], 'price': 0.04482421876806024}","{'qnt': [638.106928536377], 'price': 0.0331103...",NaN,"{'qnt': [8], 'price': 0.5619377884647232}",NaN,NaN
6,labakht3n32do0uwxm,Wed Jan 6 21:19:38 2027,NaN,NaN,"{'qnt': [41], 'price': 0.04529793444560394}",NaN,NaN,"{'qnt': [3343.77914402653], 'price': 0.0411914...","{'qnt': [8], 'price': 0.17894742444896894}","{'qnt': [16], 'price': 0.04482421876806024}",NaN,"{'qnt': [42], 'price': 0.2172579964741432}","{'qnt': [35], 'price': 0.5619377884647232}","{'qnt': [549.1022897103329], 'price': 1.579556...",NaN
7,labakht3c2kmmahi53m,Thu Jan 7 02:05:11 2027,NaN,NaN,NaN,"{'qnt': [13], 'price': 0.5199114749728218}","{'qnt': [733.126155881161], 'price': 0.0417285...","{'qnt': [3474.562880683443], 'price': 0.041191...",NaN,"{'qnt': [476], 'price': 0.04482421876806024}",NaN,NaN,"{'qnt': [10], 'price': 0.5619377884647232}","{'qnt': [744.8701034249732], 'price': 1.579556...",NaN
8,labakht4lfd7j2ovlzr,Thu Jan 7 05:49:58 2027,NaN,NaN,"{'qnt': [20], 'price': 0.04529793444560394}",NaN,"{'qnt': [24.866487736366373], 'price': 0.04172...","{'qnt': [3351.1561989111633], 'price': 0.04119...","{'qnt': [21], 'price': 0.17894742444896894}","{'qnt': [753], 'price': 0.04482421876806024}","{'qnt': [34.25362416317123], 'price': 0.033110...","{'qnt': [36], 'price': 0.2172579964741432}",NaN,"{'qnt': [664.7991449529625], 'price': 1.579556...","{'qnt': [18], 'price': 0.09330481097687289}"
9,labakht4uv3z4drr7pa,Wed Jan 6 16:17:37 2027,NaN,"{'qnt': [21], 'price': 0.9813691483209465}",NaN,NaN,"{'qnt': [619.9967035790991], 'price': 0.041728...","{'qnt': [3115.1481096719535], 'price': 0.04119...",NaN,"{'qnt': [202], 'price': 0.04482421876806024}","{'qnt': [114.24996948480509], 'price': 0.03311...","{'qnt': [28], 'price': 0.2172579964741432}",NaN,NaN,"{'qnt': [17], 'price': 0.09330481097687289}"
10,labakht4hc8pdvq9ct,Thu Jan 7 02:27:17 2027,"{'qnt': [9], 'price': 0.6193953672939139}","{'qnt': [2], 'price': 0.9813691483209465}",NaN,NaN,"{'qnt': [225.9027706203862], 'price': 0.041728...","{'qnt': [3328.314516051726], 'price': 0.041191...","{'qnt': [33], 'price': 0.17894742444896894}","{'qnt': [35], 'price': 0.04482421876806024}",NaN,NaN,"{'qnt': [47], 'price': 0.5619377884647232}",NaN,"{'qnt': [44], 'price': 0.09330481097687289}"
11,labakht4flkdr1ymzyo,Thu Jan 7 06:35:09 2027,"{'qnt': [9], 'price': 0.6193953672939139}",NaN,"{'qnt': [14], 'price': 0.04529793444560394}","{'qnt': [37], 'price': 0.5199114749728218}",NaN,"{'qnt': [2968.7164344704424], 'price': 0.04119...","{'qnt': [39], 'price': 0.17894742444896894}",NaN,NaN,"{'qnt': [8], 'price': 0.2172579964741432}","{'qnt': [33], 'price': 0.5619377884647232}","{'qnt': [775.4579780949402], 'price': 1.579556...",NaN
12,labakht4w6yze6b3k8n,Thu Jan 7 05:22:01 2027,NaN,NaN,"{'qnt': [34], 'price': 0.04529793444560394}","{'qnt': [47], 'price': 0.5199114749728218}","{'qnt': [32.828426485315376], 'price': 0.04172...","{'qnt': [3409.3552077307686], 'price': 0.04119...",NaN,NaN,"{'qnt': [679.0791911714874], 'price': 0.033110...",NaN,"{'qnt': [36], 'price': 0.5619377884647232}",NaN,NaN
13,labakht4hfwsmkxscbk,Wed Jan 6 17:25:34 2027,NaN,"{'qnt': [33], 'price': 0.9813691483209465}","{'qnt': [4], 'price': 0.04529793444560394}",NaN,"{'qnt': [14.029267515744836], 'price': 0.04172...","{'qnt': [3255.4733220107637], 'price': 0.04119...","{'qnt': [11], 'price': 0.17894742444896894}","{'qnt': [245], 'price': 0.04482421876806024}",NaN,"{'qnt': [46], 'price': 0.2172579964741432}","{'qnt': [41], 'price': 0.5619377884647232}","{'qnt': [31.166321356121813], 'price': 1.57955...",NaN

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[47, 42, 36, 28, 8, 46]","[1, 18, 17, 44]","[43, 33, 19, 36, 13, 37, 47]","[50, 8, 35, 10, 47, 33, 36, 41]","[804, 690, 184, 123, 16, 476, 753, 202, 35, 245]","[331.0916727665595, 688.5290263312622, 254.919...","[300.17637560738075, 549.1022897103329, 744.87...","[3425.2337808245115, 2740.9420020361445, 3456....","[50, 45, 47, 9, 9]","[43, 41, 20, 14, 34, 4]","[34, 43, 36, 21, 2, 33]","[29, 45, 46, 8, 21, 33, 39, 11]","[89.04407290622211, 244.25048975461291, 688.60..."
price,0.108629,0.046652,0.259956,0.280969,0.022412,0.020864,0.789778,0.020596,0.309698,0.022649,0.490685,0.089474,0.016555

Semana 13:

Json:

,id,date,prod_0,prod_1,prod_2,prod_3,prod_6,prod_7,prod_8,prod_9,prod_10,prod_15,prod_5,prod_11,prod_4
0,labakhvcp1tkxiew0l9,Wed Jan 13 21:40:04 2027,"{'qnt': [8], 'price': 0.30969768364695693}","{'qnt': [22], 'price': 0.08947371222448448}","{'qnt': [15], 'price': 0.49068457416047356}","{'qnt': [41], 'price': 0.02264896722280222}","{'qnt': [50], 'price': 0.2599557374864109}","{'qnt': [5], 'price': 0.2809688942323616}","{'qnt': [356], 'price': 0.02241210938403012}","{'qnt': [46.80715005270498], 'price': 0.020864...","{'qnt': [486.1354155572275], 'price': 0.016555...","{'qnt': [3352.7457245455826], 'price': 0.02059...",NaN,NaN,NaN
1,labakhvc85vd4vnndbm,Wed Jan 13 18:56:23 2027,NaN,"{'qnt': [39], 'price': 0.08947371222448448}",NaN,"{'qnt': [23], 'price': 0.02264896722280222}",NaN,NaN,NaN,"{'qnt': [852.8552609527444], 'price': 0.020864...",NaN,"{'qnt': [2824.4164661872146], 'price': 0.02059...","{'qnt': [18], 'price': 0.04665240548979601}",NaN,NaN
2,labakhvcdm9tl8jsoyf,Thu Jan 14 02:05:50 2027,"{'qnt': [47], 'price': 0.30969768364695693}","{'qnt': [22], 'price': 0.08947371222448448}","{'qnt': [26], 'price': 0.49068457416047356}",NaN,"{'qnt': [25], 'price': 0.2599557374864109}","{'qnt': [22], 'price': 0.2809688942323616}",NaN,"{'qnt': [899.0693421511737], 'price': 0.020864...","{'qnt': [798.2389836064256], 'price': 0.016555...","{'qnt': [3058.101280348146], 'price': 0.020595...",NaN,"{'qnt': [877.7921778315726], 'price': 0.789778...",NaN
3,labakhvcdg54gcpgkd,Wed Jan 13 23:46:03 2027,NaN,"{'qnt': [28], 'price': 0.08947371222448448}","{'qnt': [3], 'price': 0.49068457416047356}","{'qnt': [25], 'price': 0.02264896722280222}","{'qnt': [47], 'price': 0.2599557374864109}",NaN,"{'qnt': [0], 'price': 0.02241210938403012}","{'qnt': [36.99400801139685], 'price': 0.020864...","{'qnt': [332.3206580199998], 'price': 0.016555...","{'qnt': [2844.1507600672976], 'price': 0.02059...","{'qnt': [40], 'price': 0.04665240548979601}","{'qnt': [806.3299794161226], 'price': 0.789778...",NaN
4,labakhvcf1ulytut23g,Thu Jan 14 02:30:18 2027,NaN,NaN,"{'qnt': [41], 'price': 0.49068457416047356}","{'qnt': [14], 'price': 0.02264896722280222}","{'qnt': [39], 'price': 0.2599557374864109}",NaN,"{'qnt': [776], 'price': 0.02241210938403012}","{'qnt': [558.6186177548428], 'price': 0.020864...","{'qnt': [803.495729604584], 'price': 0.0165551...","{'qnt': [3322.3378475820055], 'price': 0.02059...",NaN,NaN,NaN
5,labakhvcp7vdfz9u1do,Wed Jan 13 17:20:17 2027,"{'qnt': [6], 'price': 0.30969768364695693}",NaN,NaN,"{'qnt': [18], 'price': 0.02264896722280222}","{'qnt': [3], 'price': 0.2599557374864109}",NaN,"{'qnt': [703], 'price': 0.02241210938403012}",NaN,NaN,"{'qnt': [3353.2984589559874], 'price': 0.02059...",NaN,"{'qnt': [680.7733789443382], 'price': 0.789778...",NaN
6,labakhvce3bd14jf359,Thu Jan 14 03:12:29 2027,"{'qnt': [3], 'price': 0.30969768364695693}","{'qnt': [24], 'price': 0.08947371222448448}","{'qnt': [28], 'price': 0.49068457416047356}","{'qnt': [48], 'price': 0.02264896722280222}","{'qnt': [12], 'price': 0.2599557374864109}",NaN,NaN,"{'qnt': [38.630595132197044], 'price': 0.02086...",NaN,"{'qnt': [2779.120534790818], 'price': 0.020595...","{'qnt': [34], 'price': 0.04665240548979601}","{'qnt': [1082.0054601885658], 'price': 0.78977...",NaN
7,labakhvct4f3mp09jhd,Thu Jan 14 07:40:05 2027,"{'qnt': [31], 'price': 0.30969768364695693}","{'qnt': [21], 'price': 0.08947371222448448}",NaN,NaN,"{'qnt': [46], 'price': 0.2599557374864109}","{'qnt': [22], 'price': 0.2809688942323616}","{'qnt': [720], 'price': 0.02241210938403012}","{'qnt': [426.42136951463823], 'price': 0.02086...",NaN,"{'qnt': [3113.4779726220463], 'price': 0.02059...","{'qnt': [23], 'price': 0.04665240548979601}",NaN,"{'qnt': [22], 'price': 0.1086289982370716}"
8,labakhvcw5jdh5hrbo,Wed Jan 13 20:48:47 2027,"{'qnt': [13], 'price': 0.30969768364695693}",NaN,"{'qnt': [47], 'price': 0.49068457416047356}","{'qnt': [46], 'price': 0.02264896722280222}",NaN,"{'qnt': [39], 'price': 0.2809688942323616}","{'qnt': [37], 'price': 0.02241210938403012}","{'qnt': [539.0218628499408], 'price': 0.020864...","{'qnt': [850.6682296750703], 'price': 0.016555...","{'qnt': [3265.981314203555], 'price': 0.020595...","{'qnt': [21], 'price': 0.04665240548979601}",NaN,NaN
9,labakhvczsclggzszz,Wed Jan 13 19:46:18 2027,"{'qnt': [47], 'price': 0.30969768364695693}","{'qnt': [37], 'price': 0.08947371222448448}","{'qnt': [22], 'price': 0.49068457416047356}","{'qnt': [36], 'price': 0.02264896722280222}","{'qnt': [17], 'price': 0.2599557374864109}",NaN,NaN,"{'qnt': [899.4077473171134], 'price': 0.020864...","{'qnt': [704.6307516947215], 'price': 0.016555...","{'qnt': [3327.3985572545444], 'price': 0.02059...",NaN,"{'qnt': [755.8982524732046], 'price': 0.789778...","{'qnt': [39], 'price': 0.1086289982370716}"
10,labakhvchqi330rwwk6,Wed Jan 13 19:13:58 2027,"{'qnt': [6], 'price': 0.30969768364695693}",NaN,"{'qnt': [14], 'price': 0.49068457416047356}",NaN,"{'qnt': [10], 'price': 0.2599557374864109}","{'qnt': [19], 'price': 0.2809688942323616}","{'qnt': [17], 'price': 0.02241210938403012}","{'qnt': [518.3322278533913], 'price': 0.020864...","{'qnt': [581.8737850242627], 'price': 0.016555...","{'qnt': [3034.288444488474], 'price': 0.020595...",NaN,NaN,NaN
11,labakhvclc1lbnhqmv8,Thu Jan 14 06:34:26 2027,"{'qnt': [7], 'price': 0.30969768364695693}","{'qnt': [0], 'price': 0.08947371222448448}","{'qnt': [41], 'price': 0.49068457416047356}","{'qnt': [15], 'price': 0.02264896722280222}","{'qnt': [49], 'price': 0.2599557374864109}",NaN,"{'qnt': [498], 'price': 0.02241210938403012}","{'qnt': [870.92708335836], 'price': 0.02086425...",NaN,"{'qnt': [3401.718591076906], 'price': 0.020595...",NaN,NaN,NaN
12,labakhvcfq24fpye6pp,Wed Jan 13 20:42:46 2027,"{'qnt': [25], 'price': 0.30969768364695693}",NaN,NaN,"{'qnt': [2], 'price': 0.02264896722280222}","{'qnt': [49], 'price': 0.2599557374864109}",NaN,"{'qnt': [493], 'price': 0.02241210938403012}","{'qnt': [950.5720438220826], 'price': 0.020864...","{'qnt': [1030.3316184302018], 'price': 0.01655...","{'qnt': [2833.129833104642], 'price': 0.020595...","{'qnt': [30], 'price': 0.04665240548979601}",NaN,NaN
13,labakhvcho9c8vdf52,Wed Jan 13 20:35:35 2027,NaN,"{'qnt': [29], 'price': 0.08947371222448448}","{'qnt': [6], 'price': 0.49068457416047356}",NaN,"{'qnt': [6], 'price': 0.2599557374864109}",NaN,"{'qnt': [678], 'price': 0.02241210938403012}","{'qnt': [326.85906873531223], 'price': 0.02086...","{'qnt': [413.5637761752245], 'price': 0.016555...","{'qnt': [3189.0929529658733], 'price': 0.02059...","{'qnt': [0], 'price': 0.04665240548979601}","{'qnt': [687.5460975185686], 'price': 0.789778...",NaN
14,labakhvcpwamkthuxz8,Thu Jan 14 03:49:34 2027,NaN,NaN,"{'qnt': [32], 'price': 0.49068457416047356}",NaN,NaN,"{'qnt': [39], 'price': 0.2809688942323616}","{'qnt': [1038], 'price': 0.02241210938403012}",NaN,NaN,"{'qnt': [3050.6410970245324], 'price': 0.02059...",NaN,"{'qnt': [513.1514339360149], 'price': 0.789778...","{'qnt': [39], 'price': 0.1086289982370716}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[22, 39, 39]","[18, 40, 34, 23, 21, 30, 0]","[50, 25, 47, 39, 3, 12, 46, 17, 10, 49, 49, 6]","[5, 22, 22, 39, 19, 39]","[356, 0, 776, 703, 720, 37, 17, 498, 493, 678,...","[46.80715005270498, 852.8552609527444, 899.069...","[877.7921778315726, 806.3299794161226, 680.773...","[3352.7457245455826, 2824.4164661872146, 3058....","[8, 47, 6, 3, 31, 13, 47, 6, 7, 25]","[41, 23, 25, 14, 18, 48, 46, 36, 15, 2]","[15, 26, 3, 41, 28, 47, 22, 14, 41, 6, 32]","[22, 39, 22, 28, 24, 21, 37, 0, 29]","[486.1354155572275, 798.2389836064256, 332.320..."
price,0.054314,0.023326,0.129978,0.140484,0.011206,0.010432,0.394889,0.010298,0.154849,0.011324,0.245342,0.044737,0.008278

Semana 14:

Json:

,id,date,prod_3,prod_8,prod_10,prod_11,prod_15,prod_1,prod_2,prod_6,prod_0,prod_4,prod_7,prod_9
0,labakhxyybv09itiroc,Thu Jan 21 05:17:26 2027,"{'qnt': [10], 'price': 0.011324483611401153}","{'qnt': [645], 'price': 0.01120605469201506}","{'qnt': [271.7621699029063], 'price': 0.008277...","{'qnt': [712.0521608267154], 'price': 0.394889...","{'qnt': [2847.7500123663394], 'price': 0.01029...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labakhxyrxiffxuyhbp,Thu Jan 21 06:58:10 2027,"{'qnt': [49], 'price': 0.011324483611401153}",NaN,NaN,"{'qnt': [56.10672088013555], 'price': 0.394889...","{'qnt': [2767.7892032600275], 'price': 0.01029...","{'qnt': [27], 'price': 0.04473685611224508}","{'qnt': [11], 'price': 0.24534228708024686}","{'qnt': [39], 'price': 0.12997786874320547}",NaN,NaN,NaN,NaN
2,labakhxyb71srauazv,Thu Jan 21 02:58:40 2027,NaN,"{'qnt': [579], 'price': 0.01120605469201506}","{'qnt': [294.75779448426397], 'price': 0.00827...",NaN,"{'qnt': [2784.28220515929], 'price': 0.0102978...","{'qnt': [5], 'price': 0.04473685611224508}","{'qnt': [3], 'price': 0.24534228708024686}",NaN,"{'qnt': [44], 'price': 0.15484884183479397}","{'qnt': [6], 'price': 0.0543144991185358}","{'qnt': [20], 'price': 0.14048444711619462}","{'qnt': [37.652792825493954], 'price': 0.01043..."
3,labakhxyzusz5rdyxe,Thu Jan 21 06:18:39 2027,"{'qnt': [46], 'price': 0.011324483611401153}","{'qnt': [681], 'price': 0.01120605469201506}","{'qnt': [252.79138350985517], 'price': 0.00827...","{'qnt': [97.67116077596931], 'price': 0.394889...","{'qnt': [2920.0278144083554], 'price': 0.01029...","{'qnt': [3], 'price': 0.04473685611224508}","{'qnt': [35], 'price': 0.24534228708024686}","{'qnt': [34], 'price': 0.12997786874320547}",NaN,NaN,"{'qnt': [6], 'price': 0.14048444711619462}","{'qnt': [47.952050541015225], 'price': 0.01043..."
4,labakhxyjpqi2cwcvvs,Thu Jan 21 00:59:01 2027,"{'qnt': [16], 'price': 0.011324483611401153}","{'qnt': [395], 'price': 0.01120605469201506}",NaN,NaN,"{'qnt': [3343.985840288975], 'price': 0.010297...","{'qnt': [14], 'price': 0.04473685611224508}","{'qnt': [5], 'price': 0.24534228708024686}",NaN,NaN,"{'qnt': [40], 'price': 0.0543144991185358}",NaN,NaN
5,labakhxyrcyl7uybz7i,Thu Jan 21 07:53:47 2027,"{'qnt': [6], 'price': 0.011324483611401153}",NaN,"{'qnt': [180.4233858684094], 'price': 0.008277...","{'qnt': [448.2285950999493], 'price': 0.394889...","{'qnt': [2754.4759130407465], 'price': 0.01029...",NaN,NaN,"{'qnt': [6], 'price': 0.12997786874320547}","{'qnt': [43], 'price': 0.15484884183479397}","{'qnt': [2], 'price': 0.0543144991185358}","{'qnt': [37], 'price': 0.14048444711619462}","{'qnt': [708.9786156203002], 'price': 0.010432..."
6,labakhxyv43aissqdzh,Thu Jan 21 07:53:09 2027,NaN,"{'qnt': [377], 'price': 0.01120605469201506}",NaN,"{'qnt': [487.49480508128204], 'price': 0.39488...","{'qnt': [2991.6134185589444], 'price': 0.01029...",NaN,"{'qnt': [12], 'price': 0.24534228708024686}","{'qnt': [46], 'price': 0.12997786874320547}","{'qnt': [2], 'price': 0.15484884183479397}","{'qnt': [41], 'price': 0.0543144991185358}",NaN,NaN

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[6, 40, 2, 41]",[0],"[39, 34, 6, 46]","[20, 6, 37]","[645, 579, 681, 395, 377]","[37.652792825493954, 47.952050541015225, 708.9...","[712.0521608267154, 56.10672088013555, 97.6711...","[2847.7500123663394, 2767.7892032600275, 2784....","[44, 43, 2]","[10, 49, 46, 16, 6]","[11, 3, 35, 5, 12]","[27, 5, 3, 14]","[271.7621699029063, 294.75779448426397, 252.79..."
price,0.027157,0.098396,0.064989,0.070242,0.005603,0.005216,0.197445,0.005149,0.077424,0.005662,0.122671,0.022368,0.004139

Semana 15:

Json:

,id,date,prod_0,prod_1,prod_2,prod_4,prod_7,prod_9,prod_8,prod_11,prod_15,prod_5,prod_3,prod_6,prod_10
0,labakhzii5us7u2dl5,Wed Jan 27 18:21:39 2027,"{'qnt': [2], 'price': 0.07742442091739699}","{'qnt': [28], 'price': 0.022368445208113482}","{'qnt': [32], 'price': 0.12267117055458389}","{'qnt': [24], 'price': 0.02715724955930912}","{'qnt': [39], 'price': 0.07024222355864783}","{'qnt': [47.732813833915046], 'price': 0.00521...","{'qnt': [95], 'price': 0.00560302734600753}","{'qnt': [279.11243076102176], 'price': 0.19744...","{'qnt': [2798.5653625507853], 'price': 0.00514...",NaN,NaN,NaN,NaN
1,labakhzixz4nok1nrz,Wed Jan 27 20:09:03 2027,NaN,"{'qnt': [2], 'price': 0.022368445208113482}","{'qnt': [7], 'price': 0.12267117055458389}","{'qnt': [11], 'price': 0.02715724955930912}",NaN,NaN,"{'qnt': [0], 'price': 0.00560302734600753}","{'qnt': [355.0730108175336], 'price': 0.197444...","{'qnt': [3263.2538731640116], 'price': 0.00514...","{'qnt': [33], 'price': 0.09839649716577656}",NaN,NaN,NaN
2,labakhzizezy4c7adwh,Wed Jan 27 22:55:59 2027,"{'qnt': [18], 'price': 0.07742442091739699}","{'qnt': [29], 'price': 0.022368445208113482}","{'qnt': [3], 'price': 0.12267117055458389}","{'qnt': [42], 'price': 0.02715724955930912}","{'qnt': [45], 'price': 0.07024222355864783}",NaN,"{'qnt': [65], 'price': 0.00560302734600753}","{'qnt': [0], 'price': 0.19744453784345425}","{'qnt': [2897.7718664727017], 'price': 0.00514...",NaN,"{'qnt': [47], 'price': 0.005662241805700714}",NaN,NaN
3,labakhzi9t29l6w8lt6,Thu Jan 28 02:39:57 2027,"{'qnt': [6], 'price': 0.07742442091739699}",NaN,NaN,NaN,NaN,"{'qnt': [417.8904742151154], 'price': 0.005216...","{'qnt': [14], 'price': 0.00560302734600753}",NaN,"{'qnt': [3444.7850907534003], 'price': 0.00514...",NaN,NaN,"{'qnt': [27], 'price': 0.06498893437160273}","{'qnt': [30.151655469162165], 'price': 0.00413..."
4,labakhziigrlqelnf7a,Wed Jan 27 16:42:46 2027,"{'qnt': [30], 'price': 0.07742442091739699}",NaN,NaN,"{'qnt': [0], 'price': 0.02715724955930912}",NaN,"{'qnt': [0], 'price': 0.005216064453125}","{'qnt': [84], 'price': 0.00560302734600753}",NaN,"{'qnt': [2814.7336394206504], 'price': 0.00514...","{'qnt': [32], 'price': 0.09839649716577656}",NaN,"{'qnt': [28], 'price': 0.06498893437160273}",NaN
5,labakhzi8i501w9xlfs,Thu Jan 28 07:19:13 2027,NaN,NaN,"{'qnt': [4], 'price': 0.12267117055458389}","{'qnt': [30], 'price': 0.02715724955930912}",NaN,NaN,NaN,"{'qnt': [126.55731543217667], 'price': 0.19744...","{'qnt': [3232.388799204733], 'price': 0.005148...",NaN,"{'qnt': [24], 'price': 0.005662241805700714}","{'qnt': [24], 'price': 0.06498893437160273}",NaN

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[24, 11, 42, 0, 30]","[33, 32]","[27, 28, 24]","[39, 45]","[95, 0, 65, 14, 84]","[47.732813833915046, 417.8904742151154, 0]","[279.11243076102176, 355.0730108175336, 0, 126...","[2798.5653625507853, 3263.2538731640116, 2897....","[2, 18, 6, 30]","[47, 24]","[32, 7, 3, 4]","[28, 2, 29]",[30.151655469162165]
price,0.013579,0.147595,0.032494,0.035121,0.002802,0.002608,0.098722,0.002574,0.038712,0.002831,0.061336,0.011184,0.002069

Semana 16:

Json:

,id,date,prod_2,prod_4,prod_5,prod_8,prod_9,prod_10,prod_11,prod_15,prod_1,prod_6,prod_0,prod_3,prod_7
0,labaki1ahvz3hhrxkh8,Wed Feb 3 16:46:23 2027,"{'qnt': [3], 'price': 0.06133571121283391}","{'qnt': [31], 'price': 0.013578624779717496}","{'qnt': [34], 'price': 0.14759474574866482}","{'qnt': [40], 'price': 0.002801513673003765}","{'qnt': [49.06303468664943], 'price': 0.002608...","{'qnt': [391.0927169793222], 'price': 0.002069...","{'qnt': [255.89361161327147], 'price': 0.09872...","{'qnt': [2746.777087166748], 'price': 0.002574...",NaN,NaN,NaN,NaN,NaN
1,labaki1a3q3fco999oi,Thu Feb 4 05:05:29 2027,"{'qnt': [47], 'price': 0.06133571121283391}",NaN,"{'qnt': [13], 'price': 0.14759474574866482}","{'qnt': [47], 'price': 0.002801513673003765}","{'qnt': [44.75370810077892], 'price': 0.002608...","{'qnt': [777.5450037026438], 'price': 0.002069...","{'qnt': [273.3720518428212], 'price': 0.098722...","{'qnt': [3054.0926246811878], 'price': 0.00257...","{'qnt': [5], 'price': 0.011184222604561688}","{'qnt': [28], 'price': 0.032494467185801595}",NaN,NaN,NaN
2,labaki1ayn2flemkbp,Wed Feb 3 18:06:14 2027,NaN,"{'qnt': [3], 'price': 0.013578624779717496}","{'qnt': [41], 'price': 0.14759474574866482}",NaN,NaN,"{'qnt': [167.61452390999688], 'price': 0.00206...","{'qnt': [578.6001877555559], 'price': 0.098722...","{'qnt': [2701.475724996711], 'price': 0.002574...",NaN,NaN,"{'qnt': [36], 'price': 0.03871221344015179}",NaN,NaN
3,labaki1aulrivfnh11q,Thu Feb 4 05:32:28 2027,"{'qnt': [9], 'price': 0.06133571121283391}","{'qnt': [47], 'price': 0.013578624779717496}","{'qnt': [32], 'price': 0.14759474574866482}",NaN,"{'qnt': [427.4009149274899], 'price': 0.002608...",NaN,"{'qnt': [164.3209984190459], 'price': 0.098722...","{'qnt': [3329.365439162246], 'price': 0.002574...",NaN,NaN,NaN,NaN,NaN
4,labaki1a1d319bvvqnv,Wed Feb 3 20:51:00 2027,NaN,NaN,"{'qnt': [49], 'price': 0.14759474574866482}","{'qnt': [135], 'price': 0.002801513673003765}",NaN,"{'qnt': [556.9593903629885], 'price': 0.002069...",NaN,"{'qnt': [2634.716603223991], 'price': 0.002574...",NaN,NaN,"{'qnt': [38], 'price': 0.03871221344015179}","{'qnt': [4], 'price': 0.002831120902850357}","{'qnt': [15], 'price': 0.035121111779323914}"
5,labaki1a229be6extt2,Wed Feb 3 18:42:59 2027,NaN,NaN,NaN,NaN,"{'qnt': [15.115546113162303], 'price': 0.00260...",NaN,"{'qnt': [370.61663310017815], 'price': 0.09872...","{'qnt': [3064.7736918317105], 'price': 0.00257...","{'qnt': [40], 'price': 0.011184222604561688}","{'qnt': [21], 'price': 0.032494467185801595}",NaN,"{'qnt': [45], 'price': 0.002831120902850357}",NaN
6,labaki1ap8mpiducnib,Wed Feb 3 19:22:26 2027,"{'qnt': [31], 'price': 0.06133571121283391}","{'qnt': [23], 'price': 0.013578624779717496}","{'qnt': [4], 'price': 0.14759474574866482}","{'qnt': [3], 'price': 0.002801513673003765}","{'qnt': [663.0582700173296], 'price': 0.002608...",NaN,"{'qnt': [365.60417188122403], 'price': 0.09872...","{'qnt': [2840.4093962672937], 'price': 0.00257...",NaN,NaN,"{'qnt': [39], 'price': 0.03871221344015179}","{'qnt': [40], 'price': 0.002831120902850357}","{'qnt': [29], 'price': 0.035121111779323914}"
7,labaki1accl7c5sx0gb,Thu Feb 4 07:40:28 2027,"{'qnt': [24], 'price': 0.06133571121283391}","{'qnt': [38], 'price': 0.013578624779717496}",NaN,"{'qnt': [168], 'price': 0.002801513673003765}","{'qnt': [444.9696086218474], 'price': 0.002608...","{'qnt': [570.7814187165247], 'price': 0.002069...",NaN,"{'qnt': [2915.8057296888583], 'price': 0.00257...","{'qnt': [36], 'price': 0.011184222604561688}","{'qnt': [8], 'price': 0.032494467185801595}",NaN,NaN,NaN
8,labaki1a0m7fy98k6q0j,Thu Feb 4 00:56:27 2027,"{'qnt': [42], 'price': 0.06133571121283391}","{'qnt': [16], 'price': 0.013578624779717496}","{'qnt': [25], 'price': 0.14759474574866482}",NaN,"{'qnt': [15.059130762836649], 'price': 0.00260...",NaN,NaN,"{'qnt': [2714.6672430627495], 'price': 0.00257...","{'qnt': [5], 'price': 0.011184222604561688}",NaN,NaN,"{'qnt': [30], 'price': 0.002831120902850357}","{'qnt': [19], 'price': 0.035121111779323914}"
9,labaki1azdj37rnvj2c,Thu Feb 4 03:32:30 2027,NaN,"{'qnt': [24], 'price': 0.013578624779717496}",NaN,NaN,"{'qnt': [12.762293356836308], 'price': 0.00260...",NaN,"{'qnt': [59.20887283808563], 'price': 0.098722...","{'qnt': [2642.1280085883172], 'price': 0.00257...",NaN,"{'qnt': [33], 'price': 0.032494467185801595}","{'qnt': [30], 'price': 0.03871221344015179}","{'qnt': [28], 'price': 0.002831120902850357}",NaN
10,labaki1apihdiooclf,Wed Feb 3 16:44:34 2027,"{'qnt': [39], 'price': 0.06133571121283391}","{'qnt': [40], 'price': 0.013578624779717496}",NaN,"{'qnt': [377], 'price': 0.002801513673003765}",NaN,"{'qnt': [402.6213833455092], 'price': 0.002069...","{'qnt': [595.3458971613674], 'price': 0.098722...","{'qnt': [2892.6621926991197], 'price': 0.00257...","{'qnt': [30], 'price': 0.011184222604561688}",NaN,NaN,"{'qnt': [37], 'price': 0.002831120902850357}",NaN
11,labaki1adjgcjkuc8vd,Wed Feb 3 20:57:13 2027,NaN,NaN,"{'qnt': [11], 'price': 0.14759474574866482}",NaN,"{'qnt': [7.971397810812597], 'price': 0.002608...","{'qnt': [717.1560364963037], 'price': 0.002069...",NaN,"{'qnt': [3094.2361746215247], 'price': 0.00257...",NaN,NaN,NaN,"{'qnt': [20], 'price': 0.002831120902850357}",NaN
12,labaki1a0ns1zhclvadc,Thu Feb 4 05:59:39 2027,"{'qnt': [15], 'price': 0.06133571121283391}","{'qnt': [37], 'price': 0.013578624779717496}","{'qnt': [22], 'price': 0.14759474574866482}",NaN,"{'qnt': [36.46323339956893], 'price': 0.002608...","{'qnt': [333.84690705795094], 'price': 0.00206...","{'qnt': [378.09042196931443], 'price': 0.09872...","{'qnt': [3135.8620167570143], 'price': 0.00257...",NaN,NaN,NaN,"{'qnt': [6], 'price': 0.002831120902850357}",NaN
13,labaki1aqr2mhtgu1m,Thu Feb 4 07:18:23 2027,NaN,"{'qnt': [45], 'price': 0.013578624779717496}",NaN,"{'qnt': [611], 'price': 0.002801513673003765}","{'qnt': [11.637990732649872], 'price': 0.00260...","{'qnt': [488.58618431953994], 'price': 0.00206...",NaN,"{'qnt': [2839.3588562929153], 'price': 0.00257...",NaN,"{'qnt': [29], 'price': 0.032494467185801595}","{'qnt': [48], 'price': 0.03871221344015179}",NaN,NaN
14,labaki1a5pan89siw2g,Thu Feb 4 05:34:54 2027,NaN,NaN,NaN,NaN,NaN,"{'qnt': [177.0898488837917], 'price': 0.002069...","{'qnt': [800.4437675512943], 'price': 0.098722...","{'qnt': [3232.0378610286784], 'price': 0.00257...",NaN,NaN,"{'qnt': [12], 'price': 0.03871221344015179}","{'qnt': [28], 'price': 0.002831120902850357}",NaN
15,labaki1aia1nug3k0gk,Wed Feb 3 21:25:15 2027,NaN,NaN,NaN,"{'qnt': [91], 'price': 0.002801513673003765}","{'qnt': [691.635545418163], 'price': 0.0026080...","{'qnt': [292.6387048736619], 'price': 0.002069...",NaN,"{'qnt': [3230.734079506903], 'price': 0.002574...",NaN,NaN,"{'qnt': [17], 'price': 0.03871221344015179}",NaN,NaN
16,labaki1auxwu8syz0bh,Thu Feb 4 06:32:14 2027,"{'qnt': [10], 'price': 0.06133571121283391}",NaN,NaN,"{'qnt': [658], 'price': 0.002801513673003765}","{'qnt': [368.2048833028357], 'price': 0.002608...","{'qnt': [67.77904948009876], 'price': 0.002069...",NaN,"{'qnt': [3211.3904102041597], 'price': 0.00257...",NaN,"{'qnt': [34], 'price': 0.032494467185801595}",NaN,NaN,"{'qnt': [13], 'price': 0.035121111779323914}"
17,labaki1b0h4nys6rutl,Thu Feb 4 06:28:52 2027,"{'qnt': [10], 'price': 0.06133571121283391}",NaN,NaN,"{'qnt': [17], 'price': 0.002801513673003765}","{'qnt': [211.31241257591407], 'price': 0.00260...","{'qnt': [34.262625985455486], 'price': 0.00206...",NaN,"{'qnt': [3179.474851171183], 'price': 0.002574...",NaN,"{'qnt': [38], 'price': 0.032494467185801595}",NaN,"{'qnt': [33], 'price': 0.002831120902850357}",NaN
18,labaki1bt7bqwwj6c4n,Thu Feb 4 00:38:50 2027,NaN,"{'qnt': [50], 'price': 0.013578624779717496}",NaN,"{'qnt': [43], 'price': 0.002801513673003765}",NaN,"{'qnt': [36.03750837682606], 'price': 0.002069...","{'qnt': [555.4675736655889], 'price': 0.098722...","{'qnt': [2694.7719153697067], 'price': 0.00257...",NaN,"{'qnt': [30], 'price': 0.032494467185801595}","{'qnt': [31], 'price': 0.03871221344015179}","{'qnt': [40], 'price': 0.002831120902850357}",NaN
19,labaki1b2ql04v4v1jw,Wed Feb 3 16:21:16 2027,NaN,NaN,"{'qnt': [44], 'price': 0.14759474574866482}","{'qnt': [36], 'price': 0.002801513673003765}","{'qnt': [24.97642517513904], 'price': 0.002608...",NaN,"{'qnt': [631.4890361899796], 'price': 0.098722...","{'qnt': [3205.892274104399], 'price': 0.002574...","{'qnt': [0], 'price': 0.011184222604561688}","{'qnt': [19], 'price': 0.032494467185801595}",NaN,"{'qnt': [42], 'price': 0.002831120902850357}","{'qnt': [27], 'price': 0.035121111779323914}"
20,labaki1bfkqyvdykiub,Thu Feb 4 05:38:21 2027,NaN,"{'qnt': [13], 'price': 0.013578624779717496}","{'qnt': [6], 'price': 0.14759474574866482}","{'qnt': [45], 'price': 0.002801513673003765}","{'qnt': [742.8854345614681], 'price': 0.002608...",NaN,"{'qnt': [227.63038838549662], 'price': 0.09872...","{'qnt': [3084.5981151169117], 'price': 0.00257...","{'qnt': [42], 'price': 0.011184222604561688}",NaN,"{'qnt': [31], 'price': 0.03871221344015179}",NaN,"{'qnt': [49], 'price': 0.035121111779323914}"
21,labaki1b4q8r33aph7t,Thu Feb 4 04:13:25 2027,"{'qnt': [33], 'price': 0.06133571121283391}",NaN,NaN,NaN,NaN,"{'qnt': [635.3163579173075], 'price': 0.002069...","{'qnt': [247.87605235616172], 'price': 0.09872...","{'qnt': [3113.2591822898466], 'price': 0.00257...",NaN,"{'qnt': [31], 'price': 0.032494467185801595}","{'qnt': [39], 'price': 0.03871221344015179}",NaN,"{'qnt': [31], 'price': 0.035121111779323914}"
22,labaki1b8t7p3ikp05w,Wed Feb 3 17:47:18 2027,NaN,"{'qnt': [48], 'price': 0.013578624779717496}",NaN,NaN,"{'qnt': [39.17018229760576], 'price': 0.002608...","{'qnt': [498.468602789926], 'price': 0.0020693...",NaN,"{'qnt': [3060.296404385457], 'price': 0.002574...","{'qnt': [14], 'price': 0.011184222604561688}",NaN,NaN,NaN,"{'qnt': [18], 'price': 0.035121111779323914}"
23,labaki1bpo0xbvdcbxk,Wed Feb 3 18:30:05 2027,NaN,NaN,"{'qnt': [48], 'price': 0.14759474574866482}","{'qnt': [755], 'price': 0.002801513673003765}","{'qnt': [382.8510769383251], 'price': 0.002608...",NaN,NaN,"{'qnt': [2921.5075084104164], 'price': 0.00257...","{'qnt': [21], 'price': 0.011184222604561688}",NaN,NaN,NaN,"{'qnt': [38], 'price': 0.035121111779323914}"
24,labaki1bzf6rk5jh74f,Wed Feb 3 17:13:00 2027,"{'qnt': [34], 'price': 0.06133571121283391}",NaN,"{'qnt': [33], 'price': 0.14759474574866482}","{'qnt': [7], 'price': 0.002801513673003765}","{'qnt': [41.248160396063824], 'price': 0.00260...","{'qnt': [779.6801616965981], 'price': 0.002069...","{'qnt': [15.581916914905731], 'price': 0.09872...","{'qnt': [3287.0132867933266], 'price': 0.00257...","{'qnt': [42], 'price': 0.011184222604561688}",NaN,NaN,"{'qnt': [13], 'price': 0.002831120902850357}","{'qnt': [34], 'price': 0.035121111779323914}"
25,labaki1bbaqc2jv83mq,Thu Feb 4 02:51:37 2027,"{'qnt': [46], 'price': 0.06133571121283391}","{'qnt': [31], 'price': 0.013578624779717496}",NaN,"{'qnt': [711], 'price': 0.002801513673003765}","{'qnt': [565.7155005073175], 'price': 0.002608...","{'qnt': [184.8422693255188], 'price': 0.002069...","{'qnt': [113.33400029175709], 'price': 0.09872...","{'qnt': [2959.3105507523314], 'price': 0.00257...",NaN,"{'qnt': [28], 'price': 0.032494467185801595}","{'qnt': [42], 'price': 0.03871221344015179}","{'qnt': [30], 'price': 0.002831120902850357}",NaN
26,labaki1breo5g6p2dbs,Wed Feb 3 20:10:43 2027,"{'qnt': [3], 'price': 0.06133571121283391}",NaN,"{'qnt': [36], 'price': 0.14759474574866482}","{'qnt': [63], 'price': 0.002801513673003765}","{'qnt': [684.8457118325771], 'price': 0.002608...","{'qnt': [768.2284701715975], 'price': 0.002069...","{'qnt': [631.7867469552093], 'price': 0.098722...","{'qnt': [3141.645164405395], 'price': 0.002574...",NaN,NaN,"{'qnt': [20], 'price': 0.03871221344015179}",NaN,"{'qnt': [48], 'price': 0.035121111779323914}"
27,labaki1buwqmyzqfcyr,Wed Feb 3 16:56:44 2027,"{'qnt': [25], 'price': 0.06133571121283391}",NaN,"{'qnt': [43], 'price': 0.14759474574866482}","{'qnt': [1], 'price': 0.002801513673003765}","{'qnt': [20.52278580958787], 'price': 0.002608...","{'qnt': [227.5016361836406], 'price': 0.002069...","{'qnt': [417.4626542138285], 'price': 0.098722...","{'qnt': [2888.890205122917], 'price': 0.002574...",NaN,"{'qnt': [2], 'price': 0.032494467185801595}","{'qnt': [39], 'price': 0.03871221344015179}",NaN,"{'qnt': [41], 'price': 0.035121111779323914}"
28,labaki1b9hmd9zuoc9f,Thu Feb 4 06:13:23 2027,"{'qnt': [9], 'price': 0.06133571121283391}","{'qnt': [12], 'price': 0.013578624779717496}","{'qnt': [50], 'price': 0.14759474574866482}","{'qnt': [470], 'price': 0.002801513673003765}","{'qnt': [302.1999093488695], 'price': 0.002608...",NaN,"{'qnt': [628.5189135928083], 'price': 0.098722...","{'qnt': [3357.3138424711756], 'price': 0.00257...","{'qnt': [45], 'price': 0.011184222604561688}",NaN,NaN,NaN,NaN
29,labaki1bhjg0ew8421k,Thu Feb 4 07:41:50 2027,"{'qnt': [29], 'price': 0.06133571121283391}","{'qnt': [20], 'price': 0.013578624779717496}",NaN,"{'qnt': [29], 'price': 0.002801513673003765}","{'qnt': [585.4580320763852], 'price': 0.002608...",NaN,"{'qnt': [588.3617821639923], 'price': 0.098722...","{'qnt': [3310.11518979238], 'price': 0.0025744...","{'qnt': [16], 'price': 0.011184222604561688}","{'qnt': [9], 'price': 0.032494467185801595}","{'qnt': [9], 'price': 0.03871221344015179}",NaN,"{'qnt': [0], 'price': 0.035121111779323914}"
30,labaki1bqye2nt86w0c,Thu Feb 4 08:25:28 2027,NaN,"{'qnt': [26], 'price': 0.013578624779717496}",NaN,"{'qnt': [10], 'price': 0.002801513673003765}","{'qnt': [247.95921061017472], 'price': 0.00260...",NaN,"{'qnt': [355.64753099261736], 'price': 0.09872...","{'qnt': [3050.183811953076], 'price': 0.002574...",NaN,NaN,NaN,NaN,"{'qnt': [3], 'price': 0.035121111779323914}"
31,labaki1bz08sa2c92ig,Thu Feb 4 01:40:36 2027,"{'qnt': [3], 'price': 0.06133571121283391}","{'qnt': [42], 'price': 0.013578624779717496}",NaN,"{'qnt': [23], 'price': 0.002801513673003765}","{'qnt': [245.76670799402413], 'price': 0.00260...","{'qnt': [303.8446791191139], 'price': 0.002069...","{'qnt': [471.71455379230815], 'price': 0.09872...","{'qnt': [2866.8886628026585], 'price': 0.00257...","{'qnt': [44], 'price': 0.011184222604561688}",NaN,"{'qnt': [43], 'price': 0.03871221344015179}","{'qnt': [4], 'price': 0.002831120902850357}","{'qnt': [18], 'price': 0.035121111779323914}"
32,labaki1bd07io83tex,Thu Feb 4 00:37:27 2027,NaN,NaN,NaN,NaN,"{'qnt': [116.99565931359695], 'price': 0.00260...",NaN,"{'qnt': [360.50848794426247], 'price': 0.09872...","{'qnt': [2984.393394017048], 'price': 0.002574...",NaN,"{'qnt': [48], 'price': 0.032494467185801595}",NaN,NaN,"{'qnt': [30], 'price': 0.035121111779323914}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[31, 3, 47, 23, 38, 16, 24, 40, 37, 45, 50, 13...","[34, 13, 41, 32, 49, 4, 25, 11, 22, 44, 6, 48,...","[28, 21, 8, 33, 29, 34, 38, 30, 19, 31, 28, 2,...","[15, 29, 19, 13, 27, 49, 31, 18, 38, 34, 48, 4...","[40, 47, 135, 3, 168, 377, 611, 91, 658, 17, 4...","[49.06303468664943, 44.75370810077892, 427.400...","[255.89361161327147, 273.3720518428212, 578.60...","[2746.777087166748, 3054.0926246811878, 2701.4...","[36, 38, 39, 30, 48, 12, 17, 31, 31, 39, 42, 2...","[4, 45, 40, 30, 28, 37, 20, 6, 28, 33, 40, 42,...","[3, 47, 9, 31, 24, 42, 39, 15, 10, 10, 33, 34,...","[5, 40, 36, 5, 30, 0, 42, 14, 21, 42, 45, 16, 44]","[391.0927169793222, 777.5450037026438, 167.614..."
price,0.006789,0.073797,0.016247,0.017561,0.001401,0.001304,0.049361,0.001287,0.019356,0.001416,0.030668,0.005592,0.001035

Semana 17:

Json:

,id,date,prod_1,prod_2,prod_5,prod_11,prod_15,prod_0,prod_4,prod_6,prod_7,prod_3,prod_9,prod_10,prod_8
0,labaki6687tzwcsrbcp,Wed Feb 10 21:22:51 2027,"{'qnt': [34], 'price': 0.005592111302280895}","{'qnt': [12], 'price': 0.03066785560643707}","{'qnt': [33], 'price': 0.07379737287433241}","{'qnt': [704.1410720424806], 'price': 0.049361...","{'qnt': [2565.8941684873944], 'price': 0.00128...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labaki66ou43bxeznzb,Thu Feb 11 02:14:59 2027,"{'qnt': [17], 'price': 0.005592111302280895}","{'qnt': [16], 'price': 0.03066785560643707}",NaN,"{'qnt': [387.2843590483555], 'price': 0.049361...","{'qnt': [3260.777841476747], 'price': 0.001287...","{'qnt': [12], 'price': 0.019356106720075896}","{'qnt': [6], 'price': 0.006789312389858748}","{'qnt': [18], 'price': 0.01624723359290111}","{'qnt': [11], 'price': 0.017560555889662207}",NaN,NaN,NaN,NaN
2,labaki663zal1p2tx9u,Thu Feb 11 01:50:18 2027,NaN,"{'qnt': [6], 'price': 0.03066785560643707}",NaN,"{'qnt': [750.8640685085066], 'price': 0.049361...","{'qnt': [2828.1798735303764], 'price': 0.00128...",NaN,"{'qnt': [29], 'price': 0.006789312389858748}",NaN,NaN,"{'qnt': [29], 'price': 0.001415560451425185}","{'qnt': [659.3278120135266], 'price': 0.001304...","{'qnt': [637.7056038774369], 'price': 0.001034...",NaN
3,labaki66hlovogxomvm,Wed Feb 10 21:11:44 2027,"{'qnt': [39], 'price': 0.005592111302280895}",NaN,"{'qnt': [35], 'price': 0.07379737287433241}",NaN,"{'qnt': [2754.558403991192], 'price': 0.001287...",NaN,NaN,NaN,NaN,NaN,"{'qnt': [46.529502108187074], 'price': 0.00130...","{'qnt': [954.5391911726745], 'price': 0.001034...",NaN
4,labaki668i4bsd1zyyd,Wed Feb 10 18:43:14 2027,"{'qnt': [21], 'price': 0.005592111302280895}","{'qnt': [49], 'price': 0.03066785560643707}",NaN,"{'qnt': [420.8140987112197], 'price': 0.049361...","{'qnt': [2609.225344451248], 'price': 0.001287...","{'qnt': [18], 'price': 0.019356106720075896}","{'qnt': [8], 'price': 0.006789312389858748}","{'qnt': [21], 'price': 0.01624723359290111}",NaN,"{'qnt': [31], 'price': 0.001415560451425185}",NaN,NaN,"{'qnt': [10], 'price': 0.0014007568365018825}"
5,labaki66tv292tilq7i,Wed Feb 10 16:37:18 2027,NaN,NaN,NaN,"{'qnt': [931.0122360186392], 'price': 0.049361...","{'qnt': [2507.264713860134], 'price': 0.001287...","{'qnt': [8], 'price': 0.019356106720075896}","{'qnt': [22], 'price': 0.006789312389858748}",NaN,NaN,NaN,"{'qnt': [927.78691175015], 'price': 0.00130401...",NaN,"{'qnt': [727], 'price': 0.0014007568365018825}"
6,labaki66oylyaegssd,Thu Feb 11 00:18:30 2027,"{'qnt': [14], 'price': 0.005592111302280895}",NaN,NaN,NaN,"{'qnt': [2694.639689319202], 'price': 0.001287...","{'qnt': [28], 'price': 0.019356106720075896}",NaN,"{'qnt': [17], 'price': 0.01624723359290111}","{'qnt': [46], 'price': 0.017560555889662207}","{'qnt': [37], 'price': 0.001415560451425185}","{'qnt': [685.0903470689165], 'price': 0.001304...",NaN,"{'qnt': [425], 'price': 0.0014007568365018825}"
7,labaki66thjbohbgfnp,Wed Feb 10 22:56:30 2027,NaN,NaN,NaN,"{'qnt': [434.98415270576663], 'price': 0.04936...","{'qnt': [2887.0418785478946], 'price': 0.00128...","{'qnt': [21], 'price': 0.019356106720075896}","{'qnt': [5], 'price': 0.006789312389858748}","{'qnt': [21], 'price': 0.01624723359290111}","{'qnt': [49], 'price': 0.017560555889662207}",NaN,"{'qnt': [8.051018316698444], 'price': 0.001304...",NaN,"{'qnt': [37], 'price': 0.0014007568365018825}"
8,labaki660hzszmdwmt1b,Wed Feb 10 17:31:13 2027,"{'qnt': [8], 'price': 0.005592111302280895}","{'qnt': [47], 'price': 0.03066785560643707}",NaN,"{'qnt': [1091.1554330692175], 'price': 0.04936...","{'qnt': [2643.9963062559987], 'price': 0.00128...","{'qnt': [28], 'price': 0.019356106720075896}","{'qnt': [7], 'price': 0.006789312389858748}",NaN,NaN,NaN,"{'qnt': [1033.8723704781444], 'price': 0.00130...","{'qnt': [628.1660281113573], 'price': 0.001034...",NaN
9,labaki66jwxn9daj0n,Thu Feb 11 01:19:32 2027,"{'qnt': [34], 'price': 0.005592111302280895}","{'qnt': [1], 'price': 0.03066785560643707}","{'qnt': [16], 'price': 0.07379737287433241}",NaN,"{'qnt': [2660.2253596949895], 'price': 0.00128...",NaN,NaN,NaN,NaN,"{'qnt': [5], 'price': 0.001415560451425185}","{'qnt': [35.648765445936604], 'price': 0.00130...",NaN,"{'qnt': [908], 'price': 0.0014007568365018825}"
10,labaki666t2deptw803,Wed Feb 10 20:31:37 2027,"{'qnt': [8], 'price': 0.005592111302280895}",NaN,NaN,NaN,"{'qnt': [2770.821965224217], 'price': 0.001287...","{'qnt': [12], 'price': 0.019356106720075896}",NaN,"{'qnt': [31], 'price': 0.01624723359290111}",NaN,NaN,"{'qnt': [983.9742385448752], 'price': 0.001304...",NaN,"{'qnt': [17], 'price': 0.0014007568365018825}"
11,labaki661fwiuv2ijo3,Wed Feb 10 22:45:13 2027,"{'qnt': [25], 'price': 0.005592111302280895}",NaN,NaN,"{'qnt': [1045.675494777874], 'price': 0.049361...","{'qnt': [3122.94108228361], 'price': 0.0012872...",NaN,NaN,"{'qnt': [42], 'price': 0.01624723359290111}","{'qnt': [4], 'price': 0.017560555889662207}",NaN,NaN,"{'qnt': [864.2532882049729], 'price': 0.001034...",NaN
12,labaki66ob91u3cs5t,Thu Feb 11 04:44:14 2027,NaN,"{'qnt': [44], 'price': 0.03066785560643707}","{'qnt': [34], 'price': 0.07379737287433241}","{'qnt': [596.2694716012305], 'price': 0.049361...","{'qnt': [2771.5295278122135], 'price': 0.00128...","{'qnt': [47], 'price': 0.019356106720075896}","{'qnt': [44], 'price': 0.006789312389858748}","{'qnt': [20], 'price': 0.01624723359290111}",NaN,"{'qnt': [1], 'price': 0.001415560451425185}","{'qnt': [20.093993654920894], 'price': 0.00130...",NaN,NaN
13,labaki666frcajpyn1i,Wed Feb 10 22:25:30 2027,NaN,"{'qnt': [19], 'price': 0.03066785560643707}",NaN,"{'qnt': [604.4785069045581], 'price': 0.049361...","{'qnt': [3017.9372290816204], 'price': 0.00128...","{'qnt': [36], 'price': 0.019356106720075896}","{'qnt': [40], 'price': 0.006789312389858748}","{'qnt': [20], 'price': 0.01624723359290111}",NaN,"{'qnt': [26], 'price': 0.001415560451425185}","{'qnt': [1044.1547147672927], 'price': 0.00130...",NaN,NaN
14,labaki666nb81lv03ah,Wed Feb 10 16:49:49 2027,NaN,"{'qnt': [28], 'price': 0.03066785560643707}","{'qnt': [11], 'price': 0.07379737287433241}","{'qnt': [1003.4377828915127], 'price': 0.04936...","{'qnt': [2930.3392331015148], 'price': 0.00128...","{'qnt': [20], 'price': 0.019356106720075896}",NaN,NaN,NaN,NaN,"{'qnt': [849.7548392167286], 'price': 0.001304...","{'qnt': [558.4319556222388], 'price': 0.001034...","{'qnt': [986], 'price': 0.0014007568365018825}"
15,labaki66pdrlqr5674,Wed Feb 10 16:30:41 2027,"{'qnt': [44], 'price': 0.005592111302280895}",NaN,NaN,NaN,"{'qnt': [3186.5985127465583], 'price': 0.00128...","{'qnt': [4], 'price': 0.019356106720075896}","{'qnt': [43], 'price': 0.006789312389858748}","{'qnt': [27], 'price': 0.01624723359290111}","{'qnt': [31], 'price': 0.017560555889662207}",NaN,"{'qnt': [683.7624503886107], 'price': 0.001304...","{'qnt': [315.2826897498924], 'price': 0.001034...","{'qnt': [16], 'price': 0.0014007568365018825}"
16,labaki66we1mlmdg87,Thu Feb 11 05:30:47 2027,NaN,NaN,NaN,NaN,"{'qnt': [2935.583557322622], 'price': 0.001287...","{'qnt': [23], 'price': 0.019356106720075896}","{'qnt': [16], 'price': 0.006789312389858748}",NaN,"{'qnt': [8], 'price': 0.017560555889662207}","{'qnt': [7], 'price': 0.001415560451425185}","{'qnt': [2.8374535319750316], 'price': 0.00130...","{'qnt': [655.2399788062643], 'price': 0.001034...","{'qnt': [736], 'price': 0.0014007568365018825}"
17,labaki66w9st6wyyy9,Thu Feb 11 05:44:58 2027,NaN,"{'qnt': [4], 'price': 0.03066785560643707}","{'qnt': [7], 'price': 0.07379737287433241}",NaN,"{'qnt': [2789.337795365586], 'price': 0.001287...","{'qnt': [30], 'price': 0.019356106720075896}",NaN,"{'qnt': [18], 'price': 0.01624723359290111}","{'qnt': [20], 'price': 0.017560555889662207}","{'qnt': [10], 'price': 0.001415560451425185}","{'qnt': [484.02086650898906], 'price': 0.00130...",NaN,"{'qnt': [950], 'price': 0.0014007568365018825}"
18,labaki666paamkwj26n,Wed Feb 10 23:51:03 2027,NaN,"{'qnt': [27], 'price': 0.03066785560643707}","{'qnt': [37], 'price': 0.07379737287433241}",NaN,"{'qnt': [3049.1645505553806], 'price': 0.00128...",NaN,NaN,NaN,"{'qnt': [17], 'price': 0.017560555889662207}","{'qnt': [4], 'price': 0.001415560451425185}","{'qnt': [337.7148457770285], 'price': 0.001304...","{'qnt': [857.8254637993805], 'price': 0.001034...","{'qnt': [675], 'price': 0.0014007568365018825}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[6, 29, 8, 22, 5, 7, 44, 40, 43, 16]","[33, 35, 16, 34, 11, 7, 37]","[18, 21, 17, 21, 31, 42, 20, 20, 27, 18]","[11, 46, 49, 4, 31, 8, 20, 17]","[10, 727, 425, 37, 908, 17, 986, 16, 736, 950,...","[659.3278120135266, 46.529502108187074, 927.78...","[704.1410720424806, 387.2843590483555, 750.864...","[2565.8941684873944, 3260.777841476747, 2828.1...","[12, 18, 8, 28, 21, 28, 12, 47, 36, 20, 4, 23,...","[29, 31, 37, 5, 1, 26, 7, 10, 4]","[12, 16, 6, 49, 47, 1, 44, 19, 28, 4, 27]","[34, 17, 39, 21, 14, 8, 34, 8, 25, 44]","[637.7056038774369, 954.5391911726745, 628.166..."
price,0.003395,0.036899,0.008124,0.00878,0.0007,0.000652,0.024681,0.000644,0.009678,0.000708,0.015334,0.002796,0.000517

Semana 18:

Json:

,id,date,prod_3,prod_5,prod_7,prod_9,prod_10,prod_15,prod_0,prod_1,prod_2,prod_6,prod_8,prod_11,prod_4
0,labaki90s8rmtjp6vlf,Wed Feb 17 20:22:58 2027,"{'qnt': [9], 'price': 0.0007077802273553204}","{'qnt': [10], 'price': 0.03689868643716841}","{'qnt': [48], 'price': 0.00878027794483469}","{'qnt': [468.16700773965704], 'price': 0.00065...","{'qnt': [764.0456218913178], 'price': 0.000517...","{'qnt': [2559.7219767714655], 'price': 0.00064...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labaki90nq9ohm0bmqb,Thu Feb 18 06:24:50 2027,NaN,"{'qnt': [40], 'price': 0.03689868643716841}",NaN,"{'qnt': [22.38195817250078], 'price': 0.000652...","{'qnt': [412.7734137558533], 'price': 0.000517...","{'qnt': [2484.119481596], 'price': 0.000643615...","{'qnt': [50], 'price': 0.009678053360056388}","{'qnt': [48], 'price': 0.0027960556511406995}","{'qnt': [41], 'price': 0.015333927803227228}","{'qnt': [9], 'price': 0.008123616796452944}","{'qnt': [71], 'price': 0.0007003784182509412}","{'qnt': [744.3655002560832], 'price': 0.024680...",NaN
2,labaki90uba5sfxib8,Thu Feb 18 03:25:19 2027,"{'qnt': [8], 'price': 0.0007077802273553204}",NaN,"{'qnt': [12], 'price': 0.00878027794483469}",NaN,"{'qnt': [65.00085793170068], 'price': 0.000517...","{'qnt': [2830.970918754826], 'price': 0.000643...","{'qnt': [38], 'price': 0.009678053360056388}",NaN,"{'qnt': [14], 'price': 0.015333927803227228}","{'qnt': [49], 'price': 0.008123616796452944}",NaN,"{'qnt': [330.7492028482093], 'price': 0.024680...",NaN
3,labaki90u08ulpzckds,Wed Feb 17 22:25:36 2027,"{'qnt': [32], 'price': 0.0007077802273553204}","{'qnt': [35], 'price': 0.03689868643716841}","{'qnt': [31], 'price': 0.00878027794483469}","{'qnt': [87.12826845540988], 'price': 0.000652...","{'qnt': [387.9262680495976], 'price': 0.000517...","{'qnt': [2551.2422985751937], 'price': 0.00064...",NaN,NaN,NaN,NaN,"{'qnt': [43], 'price': 0.0007003784182509412}",NaN,"{'qnt': [1], 'price': 0.0033946561949365294}"
4,labaki90ypv76d3k9ws,Thu Feb 18 08:05:59 2027,"{'qnt': [45], 'price': 0.0007077802273553204}","{'qnt': [27], 'price': 0.03689868643716841}",NaN,"{'qnt': [731.3034776721321], 'price': 0.000652...","{'qnt': [217.29919517131296], 'price': 0.00051...","{'qnt': [3117.126848531275], 'price': 0.000643...",NaN,"{'qnt': [27], 'price': 0.0027960556511406995}",NaN,"{'qnt': [22], 'price': 0.008123616796452944}","{'qnt': [23], 'price': 0.0007003784182509412}","{'qnt': [0], 'price': 0.024680567230431782}","{'qnt': [43], 'price': 0.0033946561949365294}"
5,labaki90dtak5c1a8fa,Wed Feb 17 21:31:47 2027,"{'qnt': [20], 'price': 0.0007077802273553204}",NaN,"{'qnt': [28], 'price': 0.00878027794483469}",NaN,NaN,"{'qnt': [2493.1431804327112], 'price': 0.00064...","{'qnt': [17], 'price': 0.009678053360056388}",NaN,NaN,NaN,"{'qnt': [47], 'price': 0.0007003784182509412}",NaN,"{'qnt': [18], 'price': 0.0033946561949365294}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[1, 43, 18]","[10, 40, 35, 27]","[9, 49, 22]","[48, 12, 31, 28]","[71, 43, 23, 47]","[468.16700773965704, 22.38195817250078, 87.128...","[744.3655002560832, 330.7492028482093, 0]","[2559.7219767714655, 2484.119481596, 2830.9709...","[50, 38, 17]","[9, 8, 32, 45, 20]","[41, 14]","[48, 27]","[764.0456218913178, 412.7734137558533, 65.0008..."
price,0.001697,0.018449,0.004062,0.00439,0.00035,0.000326,0.01234,0.000322,0.004839,0.000354,0.007667,0.001398,0.000259

Semana 19:

Json:

,id,date,prod_0,prod_1,prod_3,prod_4,prod_9,prod_10,prod_11,prod_15,prod_2,prod_5,prod_6,prod_7,prod_8
0,labakiahmzzrpp40up,Thu Feb 25 04:06:29 2027,"{'qnt': [47], 'price': 0.004839026680028194}","{'qnt': [3], 'price': 0.0013980278255703498}","{'qnt': [36], 'price': 0.00035389011367792107}","{'qnt': [39], 'price': 0.001697328097488874}","{'qnt': [254.6599586510988], 'price': 0.000326...","{'qnt': [324.37822220055716], 'price': 0.00025...","{'qnt': [0], 'price': 0.012340283615215891}","{'qnt': [2847.5021585060567], 'price': 0.00032...",NaN,NaN,NaN,NaN,NaN
1,labakiaht471glekqt,Wed Feb 24 20:34:07 2027,"{'qnt': [18], 'price': 0.004839026680028194}",NaN,"{'qnt': [21], 'price': 0.00035389011367792107}",NaN,"{'qnt': [114.88145786936946], 'price': 0.00032...",NaN,NaN,"{'qnt': [2650.195208535911], 'price': 0.000321...","{'qnt': [8], 'price': 0.007666963901613626}","{'qnt': [31], 'price': 0.018449343218584224}","{'qnt': [13], 'price': 0.004061808398226491}","{'qnt': [22], 'price': 0.004390138972417345}","{'qnt': [0], 'price': 0.0003501892091254706}"
2,labakiahy7r0l6xswff,Wed Feb 24 20:37:45 2027,NaN,NaN,"{'qnt': [46], 'price': 0.00035389011367792107}","{'qnt': [14], 'price': 0.001697328097488874}","{'qnt': [218.86742032015138], 'price': 0.00032...","{'qnt': [489.88783925727193], 'price': 0.00025...","{'qnt': [315.04859102045737], 'price': 0.01234...","{'qnt': [2869.9536717563556], 'price': 0.00032...","{'qnt': [32], 'price': 0.007666963901613626}","{'qnt': [10], 'price': 0.018449343218584224}","{'qnt': [31], 'price': 0.004061808398226491}",NaN,"{'qnt': [15], 'price': 0.0003501892091254706}"
3,labakiahvek57nzalyc,Wed Feb 24 16:28:50 2027,"{'qnt': [3], 'price': 0.004839026680028194}","{'qnt': [11], 'price': 0.0013980278255703498}",NaN,NaN,"{'qnt': [208.5209342624275], 'price': 0.000326...","{'qnt': [0], 'price': 0.00025867462158203126}",NaN,"{'qnt': [2866.4415963333377], 'price': 0.00032...",NaN,"{'qnt': [49], 'price': 0.018449343218584224}","{'qnt': [17], 'price': 0.004061808398226491}","{'qnt': [18], 'price': 0.004390138972417345}","{'qnt': [218], 'price': 0.0003501892091254706}"
4,labakiahcawftzdp6b,Thu Feb 25 01:57:37 2027,"{'qnt': [47], 'price': 0.004839026680028194}","{'qnt': [21], 'price': 0.0013980278255703498}",NaN,"{'qnt': [5], 'price': 0.001697328097488874}","{'qnt': [0], 'price': 0.0003260040283203125}",NaN,"{'qnt': [389.00173245197965], 'price': 0.01234...","{'qnt': [2716.601847543178], 'price': 0.000321...","{'qnt': [19], 'price': 0.007666963901613626}","{'qnt': [18], 'price': 0.018449343218584224}","{'qnt': [30], 'price': 0.004061808398226491}","{'qnt': [12], 'price': 0.004390138972417345}","{'qnt': [97], 'price': 0.0003501892091254706}"
5,labakiahaqgk6ujzgrh,Wed Feb 24 23:58:20 2027,NaN,"{'qnt': [46], 'price': 0.0013980278255703498}",NaN,NaN,"{'qnt': [37.08904012702897], 'price': 0.000326...",NaN,"{'qnt': [134.87738381013708], 'price': 0.01234...","{'qnt': [2456.152127424272], 'price': 0.000321...","{'qnt': [22], 'price': 0.007666963901613626}","{'qnt': [35], 'price': 0.018449343218584224}",NaN,NaN,"{'qnt': [176], 'price': 0.0003501892091254706}"
6,labakiahxw2a14bjopa,Thu Feb 25 05:03:37 2027,"{'qnt': [46], 'price': 0.004839026680028194}",NaN,NaN,"{'qnt': [28], 'price': 0.001697328097488874}","{'qnt': [402.91539281818916], 'price': 0.00032...","{'qnt': [0], 'price': 0.00025867462158203126}",NaN,"{'qnt': [2481.7780950979027], 'price': 0.00032...",NaN,NaN,"{'qnt': [38], 'price': 0.004061808398226491}",NaN,NaN
7,labakiah2wbi4ltr9ce,Thu Feb 25 03:50:02 2027,NaN,NaN,NaN,NaN,"{'qnt': [175.75987314083108], 'price': 0.00032...","{'qnt': [0], 'price': 0.00025867462158203126}",NaN,"{'qnt': [2657.273588961944], 'price': 0.000321...",NaN,"{'qnt': [25], 'price': 0.018449343218584224}","{'qnt': [9], 'price': 0.004061808398226491}",NaN,"{'qnt': [239], 'price': 0.0003501892091254706}"
8,labakiah1dyee3y3u0o,Thu Feb 25 06:21:20 2027,"{'qnt': [40], 'price': 0.004839026680028194}","{'qnt': [3], 'price': 0.0013980278255703498}",NaN,"{'qnt': [12], 'price': 0.001697328097488874}",NaN,"{'qnt': [26.074661804346647], 'price': 0.00025...","{'qnt': [0], 'price': 0.012340283615215891}","{'qnt': [2854.713428573008], 'price': 0.000321...","{'qnt': [22], 'price': 0.007666963901613626}",NaN,NaN,"{'qnt': [42], 'price': 0.004390138972417345}",NaN
9,labakiahz9ceq9h7v4q,Thu Feb 25 07:58:07 2027,"{'qnt': [27], 'price': 0.004839026680028194}","{'qnt': [36], 'price': 0.0013980278255703498}",NaN,NaN,"{'qnt': [404.37533169455725], 'price': 0.00032...",NaN,"{'qnt': [0], 'price': 0.012340283615215891}","{'qnt': [2312.934506813265], 'price': 0.000321...",NaN,NaN,"{'qnt': [36], 'price': 0.004061808398226491}","{'qnt': [33], 'price': 0.004390138972417345}","{'qnt': [80], 'price': 0.0003501892091254706}"
10,labakiahro24coptt7f,Wed Feb 24 22:23:39 2027,NaN,"{'qnt': [13], 'price': 0.0013980278255703498}",NaN,NaN,NaN,NaN,"{'qnt': [168.12472025680484], 'price': 0.01234...","{'qnt': [2484.7187486230205], 'price': 0.00032...",NaN,NaN,"{'qnt': [16], 'price': 0.004061808398226491}",NaN,NaN
11,labakiahjttdkj8ugrh,Thu Feb 25 05:56:29 2027,"{'qnt': [26], 'price': 0.004839026680028194}",NaN,NaN,NaN,"{'qnt': [38.6299762740823], 'price': 0.0003260...",NaN,"{'qnt': [445.30188710089703], 'price': 0.01234...","{'qnt': [2976.2011266876934], 'price': 0.00032...",NaN,"{'qnt': [44], 'price': 0.018449343218584224}","{'qnt': [21], 'price': 0.004061808398226491}",NaN,"{'qnt': [1], 'price': 0.0003501892091254706}"
12,labakiahy4pl4ahw5zo,Wed Feb 24 18:35:39 2027,NaN,"{'qnt': [4], 'price': 0.0013980278255703498}",NaN,"{'qnt': [38], 'price': 0.001697328097488874}",NaN,"{'qnt': [186.9520306630036], 'price': 0.000258...",NaN,"{'qnt': [2646.041058887336], 'price': 0.000321...",NaN,"{'qnt': [45], 'price': 0.018449343218584224}",NaN,NaN,NaN
13,labakiahboskb4wyoy,Thu Feb 25 00:32:45 2027,NaN,"{'qnt': [0], 'price': 0.0013980278255703498}",NaN,"{'qnt': [10], 'price': 0.001697328097488874}","{'qnt': [414.5591699032549], 'price': 0.000326...",NaN,"{'qnt': [0], 'price': 0.012340283615215891}","{'qnt': [2395.8381625296506], 'price': 0.00032...","{'qnt': [43], 'price': 0.007666963901613626}","{'qnt': [8], 'price': 0.018449343218584224}","{'qnt': [15], 'price': 0.004061808398226491}","{'qnt': [19], 'price': 0.004390138972417345}","{'qnt': [28], 'price': 0.0003501892091254706}"
14,labakiahy9uu8b3erbe,Wed Feb 24 16:22:40 2027,"{'qnt': [19], 'price': 0.004839026680028194}",NaN,NaN,NaN,"{'qnt': [30.475593646951825], 'price': 0.00032...","{'qnt': [0], 'price': 0.00025867462158203126}","{'qnt': [0], 'price': 0.012340283615215891}","{'qnt': [2255.195694588798], 'price': 0.000321...","{'qnt': [5], 'price': 0.007666963901613626}",NaN,NaN,NaN,"{'qnt': [153], 'price': 0.0003501892091254706}"
15,labakiah4cikdm9al04,Wed Feb 24 17:26:23 2027,NaN,NaN,"{'qnt': [1], 'price': 0.00035389011367792107}","{'qnt': [31], 'price': 0.001697328097488874}",NaN,NaN,"{'qnt': [0], 'price': 0.012340283615215891}","{'qnt': [2939.3410204733054], 'price': 0.00032...","{'qnt': [45], 'price': 0.007666963901613626}","{'qnt': [10], 'price': 0.018449343218584224}","{'qnt': [1], 'price': 0.004061808398226491}",NaN,"{'qnt': [6], 'price': 0.0003501892091254706}"
16,labakiahglfq17009vo,Wed Feb 24 17:06:15 2027,"{'qnt': [23], 'price': 0.004839026680028194}",NaN,NaN,NaN,"{'qnt': [379.07769234231387], 'price': 0.00032...",NaN,NaN,"{'qnt': [2691.097774432074], 'price': 0.000321...",NaN,"{'qnt': [12], 'price': 0.018449343218584224}",NaN,NaN,"{'qnt': [7], 'price': 0.0003501892091254706}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[39, 14, 5, 28, 12, 38, 10, 31]","[31, 10, 49, 18, 35, 25, 44, 45, 8, 10, 12]","[13, 31, 17, 30, 38, 9, 36, 16, 21, 15, 1]","[22, 18, 12, 42, 33, 19]","[0, 15, 218, 97, 176, 239, 80, 1, 28, 153, 6, 7]","[254.6599586510988, 114.88145786936946, 218.86...","[0, 315.04859102045737, 389.00173245197965, 13...","[2847.5021585060567, 2650.195208535911, 2869.9...","[47, 18, 3, 47, 46, 40, 27, 26, 19, 23]","[36, 21, 46, 1]","[8, 32, 19, 22, 22, 43, 5, 45]","[3, 11, 21, 46, 3, 36, 13, 4, 0]","[324.37822220055716, 489.88783925727193, 0, 0,..."
price,0.000849,0.009225,0.002031,0.002195,0.000175,0.000163,0.00617,0.000161,0.00242,0.000177,0.003833,0.000699,0.000129

Semana 20:

Json:

,id,date,prod_0,prod_1,prod_3,prod_4,prod_5,prod_6,prod_8,prod_9,prod_10,prod_15,prod_2,prod_11,prod_7
0,labakid31057zcoi3thm,Wed Mar 3 20:13:48 2027,"{'qnt': [48], 'price': 0.002419513340014097}","{'qnt': [48], 'price': 0.0006990139235990368}","{'qnt': [31], 'price': 0.00017694505683896249}","{'qnt': [31], 'price': 0.0008486640487459551}","{'qnt': [28], 'price': 0.009224671609292202}","{'qnt': [47], 'price': 0.0020309041991389064}","{'qnt': [81], 'price': 0.0001750946045627353}","{'qnt': [369.63596091070974], 'price': 0.00016...","{'qnt': [344.2275752120069], 'price': 0.000129...","{'qnt': [2315.45355526463], 'price': 0.0001609...",NaN,NaN,NaN
1,labakid3rsh95kqcoqq,Wed Mar 3 16:21:27 2027,NaN,NaN,NaN,"{'qnt': [26], 'price': 0.0008486640487459551}",NaN,"{'qnt': [33], 'price': 0.0020309041991389064}","{'qnt': [168], 'price': 0.0001750946045627353}","{'qnt': [13.98287392116071], 'price': 0.000163...",NaN,"{'qnt': [2837.8805885966653], 'price': 0.00016...","{'qnt': [30], 'price': 0.0038334819508071163}","{'qnt': [773.5337958147732], 'price': 0.006170...",NaN
2,labakid3gcgndo0f4eg,Thu Mar 4 00:04:54 2027,"{'qnt': [28], 'price': 0.002419513340014097}","{'qnt': [25], 'price': 0.0006990139235990368}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [306.27283077989074], 'price': 0.00016...","{'qnt': [677.0765647146001], 'price': 0.000129...","{'qnt': [2316.189504418865], 'price': 0.000160...",NaN,NaN,"{'qnt': [41], 'price': 0.0021950694862088883}"
3,labakid3lz1fkldlo6,Thu Mar 4 07:11:47 2027,NaN,NaN,"{'qnt': [6], 'price': 0.00017694505683896249}",NaN,"{'qnt': [37], 'price': 0.009224671609292202}",NaN,"{'qnt': [442], 'price': 0.0001750946045627353}","{'qnt': [332.7422973122228], 'price': 0.000163...",NaN,"{'qnt': [2382.5329211735743], 'price': 0.00016...","{'qnt': [48], 'price': 0.0038334819508071163}",NaN,"{'qnt': [13], 'price': 0.0021950694862088883}"
4,labakid3tlvts8qghd,Wed Mar 3 17:04:12 2027,"{'qnt': [23], 'price': 0.002419513340014097}",NaN,NaN,NaN,NaN,"{'qnt': [4], 'price': 0.0020309041991389064}","{'qnt': [691], 'price': 0.0001750946045627353}","{'qnt': [715.2867043060062], 'price': 0.000163...","{'qnt': [508.5033205894425], 'price': 0.000129...","{'qnt': [2628.4831134335054], 'price': 0.00016...",NaN,NaN,"{'qnt': [30], 'price': 0.0021950694862088883}"
5,labakid3jatncqof3d8,Wed Mar 3 21:58:57 2027,NaN,"{'qnt': [48], 'price': 0.0006990139235990368}",NaN,NaN,"{'qnt': [25], 'price': 0.009224671609292202}",NaN,NaN,"{'qnt': [530.7554684744781], 'price': 0.000163...","{'qnt': [351.9721151182323], 'price': 0.000129...","{'qnt': [2168.993725816138], 'price': 0.000160...","{'qnt': [7], 'price': 0.0038334819508071163}","{'qnt': [460.4662925490568], 'price': 0.006170...","{'qnt': [47], 'price': 0.0021950694862088883}"
6,labakid3lhetqcrry3f,Thu Mar 4 03:19:09 2027,NaN,NaN,NaN,NaN,"{'qnt': [11], 'price': 0.009224671609292202}",NaN,"{'qnt': [744], 'price': 0.0001750946045627353}","{'qnt': [173.68580430227178], 'price': 0.00016...","{'qnt': [718.3108052090573], 'price': 0.000129...","{'qnt': [2861.1972358068715], 'price': 0.00016...",NaN,"{'qnt': [224.22035051850654], 'price': 0.00617...","{'qnt': [30], 'price': 0.0021950694862088883}"
7,labakid3mdsnsasew8,Thu Mar 4 00:14:07 2027,NaN,NaN,"{'qnt': [10], 'price': 0.00017694505683896249}",NaN,"{'qnt': [22], 'price': 0.009224671609292202}","{'qnt': [18], 'price': 0.0020309041991389064}","{'qnt': [756], 'price': 0.0001750946045627353}","{'qnt': [196.4080658028437], 'price': 0.000163...","{'qnt': [553.9520963805578], 'price': 0.000129...","{'qnt': [2462.939926411961], 'price': 0.000160...",NaN,NaN,NaN
8,labakid3a91ascyvvrs,Thu Mar 4 04:37:23 2027,NaN,"{'qnt': [48], 'price': 0.0006990139235990368}","{'qnt': [9], 'price': 0.00017694505683896249}",NaN,NaN,NaN,"{'qnt': [775], 'price': 0.0001750946045627353}","{'qnt': [323.9273980606091], 'price': 0.000163...","{'qnt': [478.37065153778246], 'price': 0.00012...","{'qnt': [2542.371816717412], 'price': 0.000160...",NaN,NaN,NaN
9,labakid3e8qw5de6r5w,Wed Mar 3 20:47:23 2027,"{'qnt': [8], 'price': 0.002419513340014097}","{'qnt': [40], 'price': 0.0006990139235990368}","{'qnt': [1], 'price': 0.00017694505683896249}","{'qnt': [50], 'price': 0.0008486640487459551}","{'qnt': [46], 'price': 0.009224671609292202}",NaN,"{'qnt': [35], 'price': 0.0001750946045627353}","{'qnt': [37.818803098544194], 'price': 0.00016...","{'qnt': [117.4318608128205], 'price': 0.000129...","{'qnt': [2167.61822883967], 'price': 0.0001609...","{'qnt': [20], 'price': 0.0038334819508071163}","{'qnt': [147.7206078908562], 'price': 0.006170...","{'qnt': [12], 'price': 0.0021950694862088883}"
10,labakid3xoofr8pnov,Thu Mar 4 07:39:44 2027,"{'qnt': [21], 'price': 0.002419513340014097}","{'qnt': [29], 'price': 0.0006990139235990368}",NaN,NaN,"{'qnt': [22], 'price': 0.009224671609292202}","{'qnt': [32], 'price': 0.0020309041991389064}","{'qnt': [131], 'price': 0.0001750946045627353}",NaN,"{'qnt': [746.0323490557113], 'price': 0.000129...","{'qnt': [2170.9532996187927], 'price': 0.00016...",NaN,NaN,"{'qnt': [35], 'price': 0.0021950694862088883}"
11,labakid3sdt245t4h7,Thu Mar 4 08:10:26 2027,"{'qnt': [40], 'price': 0.002419513340014097}","{'qnt': [28], 'price': 0.0006990139235990368}",NaN,NaN,"{'qnt': [12], 'price': 0.009224671609292202}",NaN,NaN,NaN,"{'qnt': [613.2532560363618], 'price': 0.000129...","{'qnt': [2591.0587019442423], 'price': 0.00016...","{'qnt': [36], 'price': 0.0038334819508071163}",NaN,NaN
12,labakid3b7d7lfftsu,Thu Mar 4 01:03:02 2027,"{'qnt': [30], 'price': 0.002419513340014097}",NaN,NaN,"{'qnt': [42], 'price': 0.0008486640487459551}","{'qnt': [45], 'price': 0.009224671609292202}",NaN,"{'qnt': [535], 'price': 0.0001750946045627353}","{'qnt': [9.821727919387857], 'price': 0.000163...",NaN,"{'qnt': [2839.28836521162], 'price': 0.0001609...","{'qnt': [27], 'price': 0.0038334819508071163}","{'qnt': [381.0456900772207], 'price': 0.006170...",NaN
13,labakid30jqxv5g2tcnb,Thu Mar 4 00:06:23 2027,NaN,NaN,"{'qnt': [10], 'price': 0.00017694505683896249}",NaN,"{'qnt': [7], 'price': 0.009224671609292202}","{'qnt': [15], 'price': 0.0020309041991389064}","{'qnt': [15], 'price': 0.0001750946045627353}","{'qnt': [773.5097753777236], 'price': 0.000163...",NaN,"{'qnt': [2356.5669640894243], 'price': 0.00016...",NaN,"{'qnt': [711.1883991401357], 'price': 0.006170...","{'qnt': [44], 'price': 0.0021950694862088883}"
14,labakid3xyxv6e04ya9,Thu Mar 4 01:06:12 2027,"{'qnt': [37], 'price': 0.002419513340014097}","{'qnt': [4], 'price': 0.0006990139235990368}",NaN,NaN,"{'qnt': [33], 'price': 0.009224671609292202}","{'qnt': [40], 'price': 0.0020309041991389064}","{'qnt': [13], 'price': 0.0001750946045627353}","{'qnt': [388.6720686519658], 'price': 0.000163...",NaN,"{'qnt': [2757.3386287255607], 'price': 0.00016...","{'qnt': [1], 'price': 0.0038334819508071163}","{'qnt': [786.7340735997777], 'price': 0.006170...","{'qnt': [20], 'price': 0.0021950694862088883}"
15,labakid3j92d0dar7tc,Thu Mar 4 03:57:11 2027,NaN,"{'qnt': [16], 'price': 0.0006990139235990368}",NaN,"{'qnt': [17], 'price': 0.0008486640487459551}","{'qnt': [20], 'price': 0.009224671609292202}","{'qnt': [39], 'price': 0.0020309041991389064}","{'qnt': [136], 'price': 0.0001750946045627353}","{'qnt': [236.61000904306349], 'price': 0.00016...",NaN,"{'qnt': [2608.671455724791], 'price': 0.000160...","{'qnt': [17], 'price': 0.0038334819508071163}",NaN,"{'qnt': [23], 'price': 0.0021950694862088883}"
16,labakid3y5h0cy2m7zb,Thu Mar 4 06:41:43 2027,"{'qnt': [31], 'price': 0.002419513340014097}","{'qnt': [7], 'price': 0.0006990139235990368}",NaN,"{'qnt': [42], 'price': 0.0008486640487459551}","{'qnt': [15], 'price': 0.009224671609292202}",NaN,"{'qnt': [443], 'price': 0.0001750946045627353}","{'qnt': [730.6153521774193], 'price': 0.000163...","{'qnt': [458.70459935919155], 'price': 0.00012...","{'qnt': [2198.9203375190427], 'price': 0.00016...",NaN,"{'qnt': [642.69097304363], 'price': 0.00617014...","{'qnt': [6], 'price': 0.0021950694862088883}"
17,labakid3kv1xf3cvcco,Thu Mar 4 00:48:45 2027,NaN,"{'qnt': [28], 'price': 0.0006990139235990368}","{'qnt': [16], 'price': 0.00017694505683896249}","{'qnt': [41], 'price': 0.0008486640487459551}","{'qnt': [29], 'price': 0.009224671609292202}","{'qnt': [35], 'price': 0.0020309041991389064}","{'qnt': [22], 'price': 0.0001750946045627353}",NaN,NaN,"{'qnt': [2822.268642924817], 'price': 0.000160...","{'qnt': [34], 'price': 0.0038334819508071163}","{'qnt': [299.62545053182447], 'price': 0.00617...","{'qnt': [37], 'price': 0.0021950694862088883}"
18,labakid3owfmucj66r,Wed Mar 3 22:48:10 2027,"{'qnt': [33], 'price': 0.002419513340014097}","{'qnt': [22], 'price': 0.0006990139235990368}","{'qnt': [42], 'price': 0.00017694505683896249}","{'qnt': [33], 'price': 0.0008486640487459551}","{'qnt': [0], 'price': 0.009224671609292202}",NaN,"{'qnt': [30], 'price': 0.0001750946045627353}",NaN,NaN,"{'qnt': [2904.5075705449162], 'price': 0.00016...","{'qnt': [37], 'price': 0.0038334819508071163}","{'qnt': [430.451530071841], 'price': 0.0061701...",NaN
19,labakid3idxd2lux3q8,Thu Mar 4 04:10:16 2027,"{'qnt': [32], 'price': 0.002419513340014097}",NaN,"{'qnt': [38], 'price': 0.00017694505683896249}","{'qnt': [10], 'price': 0.0008486640487459551}","{'qnt': [30], 'price': 0.009224671609292202}",NaN,NaN,"{'qnt': [467.29995287232657], 'price': 0.00016...","{'qnt': [414.54180361767686], 'price': 0.00012...","{'qnt': [2725.3648438872624], 'price': 0.00016...","{'qnt': [47], 'price': 0.0038334819508071163}","{'qnt': [204.2964450843528], 'price': 0.006170...","{'qnt': [1], 'price': 0.0021950694862088883}"
20,labakid3ltwa0spfnr,Thu Mar 4 01:25:06 2027,"{'qnt': [49], 'price': 0.002419513340014097}",NaN,"{'qnt': [12], 'price': 0.00017694505683896249}",NaN,"{'qnt': [18], 'price': 0.009224671609292202}","{'qnt': [2], 'price': 0.0020309041991389064}","{'qnt': [137], 'price': 0.0001750946045627353}",NaN,NaN,"{'qnt': [2749.2084048960696], 'price': 0.00016...","{'qnt': [43], 'price': 0.0038334819508071163}",NaN,NaN
21,labakid33apx2upntl,Thu Mar 4 07:02:35 2027,NaN,NaN,"{'qnt': [44], 'price': 0.00017694505683896249}","{'qnt': [17], 'price': 0.0008486640487459551}",NaN,NaN,"{'qnt': [86], 'price': 0.0001750946045627353}","{'qnt': [433.7276300423416], 'price': 0.000163...","{'qnt': [163.61045524584154], 'price': 0.00012...","{'qnt': [2818.448965913368], 'price': 0.000160...","{'qnt': [46], 'price': 0.0038334819508071163}","{'qnt': [134.55624827541445], 'price': 0.00617...",NaN
22,labakid3g2lq1nuxkvk,Wed Mar 3 20:32:13 2027,"{'qnt': [39], 'price': 0.002419513340014097}","{'qnt': [8], 'price': 0.0006990139235990368}","{'qnt': [37], 'price': 0.00017694505683896249}",NaN,"{'qnt': [44], 'price': 0.009224671609292202}",NaN,"{'qnt': [46], 'price': 0.0001750946045627353}",NaN,NaN,"{'qnt': [2377.4243109740205], 'price': 0.00016...","{'qnt': [1], 'price': 0.0038334819508071163}",NaN,"{'qnt': [14], 'price': 0.0021950694862088883}"
23,labakid3bezuhtio9g,Thu Mar 4 07:44:01 2027,"{'qnt': [36], 'price': 0.002419513340014097}",NaN,NaN,"{'qnt': [11], 'price': 0.0008486640487459551}",NaN,"{'qnt': [14], 'price': 0.0020309041991389064}","{'qnt': [654], 'price': 0.0001750946045627353}","{'qnt': [153.60892045830326], 'price': 0.00016...",NaN,"{'qnt': [2173.6908205654117], 'price': 0.00016...",NaN,"{'qnt': [84.28453032613515], 'price': 0.006170...",NaN

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[31, 26, 50, 42, 17, 42, 41, 33, 10, 17, 11]","[28, 37, 25, 11, 22, 46, 22, 12, 45, 7, 33, 20...","[47, 33, 4, 18, 32, 15, 40, 39, 35, 2, 14]","[41, 13, 30, 47, 30, 12, 35, 44, 20, 23, 6, 37...","[81, 168, 442, 691, 744, 756, 775, 35, 131, 53...","[369.63596091070974, 13.98287392116071, 306.27...","[773.5337958147732, 460.4662925490568, 224.220...","[2315.45355526463, 2837.8805885966653, 2316.18...","[48, 28, 23, 8, 21, 40, 30, 37, 31, 33, 32, 49...","[31, 6, 10, 9, 1, 10, 16, 42, 38, 12, 44, 37]","[30, 48, 7, 20, 36, 27, 1, 17, 34, 37, 47, 43,...","[48, 25, 48, 48, 40, 29, 28, 4, 16, 7, 28, 22, 8]","[344.2275752120069, 677.0765647146001, 508.503..."
price,0.000424,0.004612,0.001015,0.001098,0.000088,0.000082,0.003085,0.00008,0.00121,0.000088,0.001917,0.00035,0.000065

Semana 21:

Json:

,id,date,prod_1,prod_3,prod_4,prod_5,prod_6,prod_9,prod_15,prod_0,prod_2,prod_8,prod_10,prod_11,prod_7
0,labakigm2pj9pm2fg6x,Thu Mar 11 08:00:43 2027,"{'qnt': [5], 'price': 0.00034950696179951945}","{'qnt': [50], 'price': 8.847252841992883e-05}","{'qnt': [20], 'price': 0.0004243320243729777}","{'qnt': [18], 'price': 0.004612335804646394}","{'qnt': [47], 'price': 0.0010154520995694792}","{'qnt': [481.49805888946605], 'price': 8.15010...","{'qnt': [2252.094187516207], 'price': 8.045196...",NaN,NaN,NaN,NaN,NaN,NaN
1,labakigmzkllqc3tz4b,Wed Mar 10 22:34:56 2027,"{'qnt': [2], 'price': 0.00034950696179951945}","{'qnt': [44], 'price': 8.847252841992883e-05}",NaN,"{'qnt': [43], 'price': 0.004612335804646394}","{'qnt': [2], 'price': 0.0010154520995694792}","{'qnt': [680.0753192517773], 'price': 8.150100...","{'qnt': [2072.7216206100925], 'price': 8.04519...","{'qnt': [34], 'price': 0.0012097566700070485}","{'qnt': [48], 'price': 0.0019167409754035595}","{'qnt': [1057], 'price': 8.754730228136766e-05}","{'qnt': [1045.496336481987], 'price': 6.466865...","{'qnt': [365.6924709393455], 'price': 0.003085...",NaN
2,labakigm7uddbmb2vbo,Wed Mar 10 20:07:18 2027,NaN,"{'qnt': [24], 'price': 8.847252841992883e-05}",NaN,"{'qnt': [37], 'price': 0.004612335804646394}","{'qnt': [2], 'price': 0.0010154520995694792}",NaN,"{'qnt': [2043.1559356766904], 'price': 8.04519...","{'qnt': [40], 'price': 0.0012097566700070485}",NaN,"{'qnt': [385], 'price': 8.754730228136766e-05}","{'qnt': [832.8108872507473], 'price': 6.466865...",NaN,"{'qnt': [5], 'price': 0.001097534743104478}"
3,labakigmqrhsceon4u,Wed Mar 10 18:26:20 2027,NaN,NaN,"{'qnt': [21], 'price': 0.0004243320243729777}","{'qnt': [2], 'price': 0.004612335804646394}",NaN,NaN,"{'qnt': [2033.522978040452], 'price': 8.045196...",NaN,NaN,"{'qnt': [1], 'price': 8.754730228136766e-05}","{'qnt': [768.500917012828], 'price': 6.4668655...",NaN,"{'qnt': [13], 'price': 0.001097534743104478}"
4,labakigmnnv3hrnexrj,Thu Mar 11 01:27:33 2027,NaN,"{'qnt': [15], 'price': 8.847252841992883e-05}","{'qnt': [34], 'price': 0.0004243320243729777}","{'qnt': [41], 'price': 0.004612335804646394}","{'qnt': [13], 'price': 0.0010154520995694792}",NaN,"{'qnt': [2346.0179411416907], 'price': 8.04519...",NaN,"{'qnt': [37], 'price': 0.0019167409754035595}","{'qnt': [21], 'price': 8.754730228136766e-05}","{'qnt': [586.1242190961832], 'price': 6.466865...","{'qnt': [931.3501278612747], 'price': 0.003085...",NaN
5,labakigmox63k6cukwn,Thu Mar 11 08:50:27 2027,"{'qnt': [37], 'price': 0.00034950696179951945}",NaN,"{'qnt': [38], 'price': 0.0004243320243729777}",NaN,NaN,"{'qnt': [47.6165912770046], 'price': 8.1501007...","{'qnt': [2538.147851259878], 'price': 8.045196...",NaN,"{'qnt': [44], 'price': 0.0019167409754035595}","{'qnt': [832], 'price': 8.754730228136766e-05}","{'qnt': [855.560018384607], 'price': 6.4668655...",NaN,"{'qnt': [13], 'price': 0.001097534743104478}"
6,labakigm4bfkw4lwkbk,Wed Mar 10 22:16:40 2027,"{'qnt': [4], 'price': 0.00034950696179951945}","{'qnt': [17], 'price': 8.847252841992883e-05}",NaN,NaN,NaN,"{'qnt': [656.51495589754], 'price': 8.15010070...","{'qnt': [2262.8034079494514], 'price': 8.04519...",NaN,"{'qnt': [21], 'price': 0.0019167409754035595}",NaN,"{'qnt': [877.1502555070946], 'price': 6.466865...",NaN,"{'qnt': [47], 'price': 0.001097534743104478}"
7,labakigmg6k9uuuh348,Wed Mar 10 16:33:04 2027,NaN,"{'qnt': [11], 'price': 8.847252841992883e-05}",NaN,"{'qnt': [37], 'price': 0.004612335804646394}","{'qnt': [29], 'price': 0.0010154520995694792}","{'qnt': [377.2586522373764], 'price': 8.150100...","{'qnt': [2067.1387147489863], 'price': 8.04519...",NaN,NaN,"{'qnt': [22], 'price': 8.754730228136766e-05}",NaN,NaN,"{'qnt': [26], 'price': 0.001097534743104478}"
8,labakigmubbxlpfr7k,Wed Mar 10 21:21:12 2027,NaN,"{'qnt': [13], 'price': 8.847252841992883e-05}",NaN,NaN,NaN,"{'qnt': [12.994738105622561], 'price': 8.15010...","{'qnt': [2213.8128153672897], 'price': 8.04519...",NaN,NaN,"{'qnt': [840], 'price': 8.754730228136766e-05}",NaN,NaN,NaN
9,labakigm8yptvsrjbrd,Thu Mar 11 08:27:35 2027,"{'qnt': [3], 'price': 0.00034950696179951945}","{'qnt': [18], 'price': 8.847252841992883e-05}","{'qnt': [15], 'price': 0.0004243320243729777}","{'qnt': [20], 'price': 0.004612335804646394}","{'qnt': [40], 'price': 0.0010154520995694792}","{'qnt': [905.801406425619], 'price': 8.1501007...","{'qnt': [2013.1237616265466], 'price': 8.04519...",NaN,NaN,"{'qnt': [28], 'price': 8.754730228136766e-05}",NaN,"{'qnt': [756.8074986541645], 'price': 0.003085...",NaN
10,labakigm6mzemkokma,Wed Mar 10 22:17:28 2027,NaN,"{'qnt': [19], 'price': 8.847252841992883e-05}",NaN,"{'qnt': [37], 'price': 0.004612335804646394}",NaN,"{'qnt': [767.8455451651827], 'price': 8.150100...","{'qnt': [2248.2964551067025], 'price': 8.04519...",NaN,"{'qnt': [42], 'price': 0.0019167409754035595}","{'qnt': [28], 'price': 8.754730228136766e-05}",NaN,"{'qnt': [731.5940111203149], 'price': 0.003085...",NaN
11,labakigm4szhczshesj,Wed Mar 10 16:50:22 2027,NaN,"{'qnt': [10], 'price': 8.847252841992883e-05}",NaN,NaN,NaN,NaN,"{'qnt': [2601.5922891028536], 'price': 8.04519...",NaN,NaN,NaN,"{'qnt': [597.3312157066673], 'price': 6.466865...",NaN,NaN
12,labakigmmtx15pxnt6f,Wed Mar 10 19:24:48 2027,"{'qnt': [1], 'price': 0.00034950696179951945}","{'qnt': [3], 'price': 8.847252841992883e-05}","{'qnt': [39], 'price': 0.0004243320243729777}",NaN,NaN,NaN,"{'qnt': [2573.064328926107], 'price': 8.045196...","{'qnt': [26], 'price': 0.0012097566700070485}",NaN,"{'qnt': [423], 'price': 8.754730228136766e-05}","{'qnt': [347.39404815269495], 'price': 6.46686...",NaN,"{'qnt': [45], 'price': 0.001097534743104478}"
13,labakigmwgcxzt6fye,Thu Mar 11 03:08:47 2027,"{'qnt': [27], 'price': 0.00034950696179951945}",NaN,"{'qnt': [6], 'price': 0.0004243320243729777}","{'qnt': [13], 'price': 0.004612335804646394}",NaN,"{'qnt': [43.06709054782634], 'price': 8.150100...","{'qnt': [2721.4054365199468], 'price': 8.04519...","{'qnt': [35], 'price': 0.0012097566700070485}",NaN,"{'qnt': [0], 'price': 8.754730228136766e-05}","{'qnt': [951.9619785362506], 'price': 6.466865...","{'qnt': [353.37362403223324], 'price': 0.00308...",NaN
14,labakigmy97gbio9v0i,Wed Mar 10 20:01:22 2027,NaN,"{'qnt': [16], 'price': 8.847252841992883e-05}","{'qnt': [29], 'price': 0.0004243320243729777}","{'qnt': [47], 'price': 0.004612335804646394}","{'qnt': [48], 'price': 0.0010154520995694792}",NaN,"{'qnt': [2414.8776091392724], 'price': 8.04519...",NaN,"{'qnt': [1], 'price': 0.0019167409754035595}","{'qnt': [39], 'price': 8.754730228136766e-05}",NaN,NaN,NaN
15,labakigm7ud05xjfjn5,Wed Mar 10 20:49:33 2027,NaN,"{'qnt': [32], 'price': 8.847252841992883e-05}","{'qnt': [46], 'price': 0.0004243320243729777}",NaN,"{'qnt': [21], 'price': 0.0010154520995694792}","{'qnt': [5.670860309176451], 'price': 8.150100...","{'qnt': [2598.467447965073], 'price': 8.045196...",NaN,"{'qnt': [44], 'price': 0.0019167409754035595}","{'qnt': [20], 'price': 8.754730228136766e-05}",NaN,"{'qnt': [837.9321278962765], 'price': 0.003085...","{'qnt': [47], 'price': 0.001097534743104478}"
16,labakigmq2ftd6anje,Thu Mar 11 03:46:36 2027,NaN,NaN,"{'qnt': [34], 'price': 0.0004243320243729777}",NaN,NaN,NaN,"{'qnt': [2306.0727011323443], 'price': 8.04519...","{'qnt': [42], 'price': 0.0012097566700070485}","{'qnt': [45], 'price': 0.0019167409754035595}",NaN,NaN,NaN,NaN
17,labakigmht2khlzcap,Thu Mar 11 07:54:40 2027,"{'qnt': [30], 'price': 0.00034950696179951945}","{'qnt': [0], 'price': 8.847252841992883e-05}",NaN,"{'qnt': [26], 'price': 0.004612335804646394}",NaN,"{'qnt': [596.480222624607], 'price': 8.1501007...","{'qnt': [2550.7805339066085], 'price': 8.04519...",NaN,"{'qnt': [25], 'price': 0.0019167409754035595}","{'qnt': [718], 'price': 8.754730228136766e-05}",NaN,NaN,"{'qnt': [14], 'price': 0.001097534743104478}"
18,labakigmvgsgyjxpu7,Wed Mar 10 21:07:10 2027,NaN,NaN,"{'qnt': [39], 'price': 0.0004243320243729777}",NaN,"{'qnt': [18], 'price': 0.0010154520995694792}","{'qnt': [43.59187406553768], 'price': 8.150100...","{'qnt': [2156.484127319845], 'price': 8.045196...",NaN,NaN,"{'qnt': [15], 'price': 8.754730228136766e-05}",NaN,"{'qnt': [695.1208015278794], 'price': 0.003085...","{'qnt': [36], 'price': 0.001097534743104478}"
19,labakigmpghvjlo7pqf,Wed Mar 10 16:28:15 2027,NaN,NaN,NaN,"{'qnt': [13], 'price': 0.004612335804646394}",NaN,"{'qnt': [689.4632027759807], 'price': 8.150100...","{'qnt': [2385.111992720045], 'price': 8.045196...",NaN,"{'qnt': [47], 'price': 0.0019167409754035595}","{'qnt': [18], 'price': 8.754730228136766e-05}",NaN,NaN,"{'qnt': [44], 'price': 0.001097534743104478}"
20,labakigmda6z9qy706,Thu Mar 11 00:04:42 2027,NaN,"{'qnt': [14], 'price': 8.847252841992883e-05}","{'qnt': [6], 'price': 0.0004243320243729777}",NaN,"{'qnt': [28], 'price': 0.0010154520995694792}","{'qnt': [832.3745147078228], 'price': 8.150100...","{'qnt': [2064.6188008875083], 'price': 8.04519...","{'qnt': [9], 'price': 0.0012097566700070485}",NaN,"{'qnt': [1061], 'price': 8.754730228136766e-05}","{'qnt': [772.1124617355185], 'price': 6.466865...","{'qnt': [790.150657837858], 'price': 0.0030850...","{'qnt': [50], 'price': 0.001097534743104478}"
21,labakigmzl6d5dabrc9,Thu Mar 11 07:16:04 2027,"{'qnt': [22], 'price': 0.00034950696179951945}","{'qnt': [41], 'price': 8.847252841992883e-05}",NaN,"{'qnt': [28], 'price': 0.004612335804646394}",NaN,"{'qnt': [412.9488081212317], 'price': 8.150100...","{'qnt': [2622.210180126851], 'price': 8.045196...","{'qnt': [35], 'price': 0.0012097566700070485}","{'qnt': [39], 'price': 0.0019167409754035595}","{'qnt': [9], 'price': 8.754730228136766e-05}",NaN,NaN,"{'qnt': [21], 'price': 0.001097534743104478}"
22,labakigmow68gznswps,Wed Mar 10 16:46:08 2027,"{'qnt': [38], 'price': 0.00034950696179951945}","{'qnt': [15], 'price': 8.847252841992883e-05}","{'qnt': [17], 'price': 0.0004243320243729777}","{'qnt': [25], 'price': 0.004612335804646394}","{'qnt': [44], 'price': 0.0010154520995694792}","{'qnt': [12.85278164556065], 'price': 8.150100...","{'qnt': [2502.3930563380263], 'price': 8.04519...","{'qnt': [39], 'price': 0.0012097566700070485}",NaN,NaN,NaN,"{'qnt': [675.8006871378398], 'price': 0.003085...","{'qnt': [17], 'price': 0.001097534743104478}"
23,labakigmyweewwqfmhm,Wed Mar 10 20:40:49 2027,NaN,"{'qnt': [25], 'price': 8.847252841992883e-05}","{'qnt': [24], 'price': 0.0004243320243729777}","{'qnt': [7], 'price': 0.004612335804646394}","{'qnt': [11], 'price': 0.0010154520995694792}","{'qnt': [633.7073356769151], 'price': 8.150100...","{'qnt': [2656.4095276796784], 'price': 8.04519...","{'qnt': [23], 'price': 0.0012097566700070485}",NaN,"{'qnt': [532], 'price': 8.754730228136766e-05}",NaN,NaN,"{'qnt': [35], 'price': 0.001097534743104478}"
24,labakigm9o6p1w5tq6d,Thu Mar 11 06:30:49 2027,"{'qnt': [49], 'price': 0.00034950696179951945}","{'qnt': [36], 'price': 8.847252841992883e-05}","{'qnt': [1], 'price': 0.0004243320243729777}","{'qnt': [21], 'price': 0.004612335804646394}",NaN,NaN,"{'qnt': [2042.744193618348], 'price': 8.045196...",NaN,"{'qnt': [39], 'price': 0.0019167409754035595}","{'qnt': [343], 'price': 8.754730228136766e-05}","{'qnt': [707.4947447521606], 'price': 6.466865...",NaN,"{'qnt': [31], 'price': 0.001097534743104478}"
25,labakigmxprzpn3c25c,Thu Mar 11 00:47:42 2027,"{'qnt': [15], 'price': 0.00034950696179951945}",NaN,NaN,NaN,NaN,"{'qnt': [850.3975832546165], 'price': 8.150100...","{'qnt': [2160.0221265120545], 'price': 8.04519...",NaN,NaN,NaN,"{'qnt': [542.8753454166495], 'price': 6.466865...","{'qnt': [493.7486552137595], 'price': 0.003085...","{'qnt': [36], 'price': 0.001097534743104478}"
26,labakigmluk0p5ow0lc,Thu Mar 11 05:04:27 2027,"{'qnt': [31], 'price': 0.00034950696179951945}",NaN,NaN,"{'qnt': [13], 'price': 0.004612335804646394}",NaN,"{'qnt': [887.9413182566445], 'price': 8.150100...","{'qnt': [2782.5491159965177], 'price': 8.04519...",NaN,NaN,"{'qnt': [1], 'price': 8.754730228136766e-05}","{'qnt': [407.2911027670152], 'price': 6.466865...",NaN,"{'qnt': [2], 'price': 0.001097534743104478}"
27,labakigmpgnd367ca8s,Wed Mar 10 19:09:39 2027,NaN,NaN,"{'qnt': [5], 'price': 0.0004243320243729777}","{'qnt': [11], 'price': 0.004612335804646394}",NaN,"{'qnt': [789.5193767557163], 'price': 8.150100...","{'qnt': [2559.8118538718827], 'price': 8.04519...",NaN,NaN,"{'qnt': [686], 'price': 8.754730228136766e-05}","{'qnt': [712.9577924339726], 'price': 6.466865...",NaN,"{'qnt': [37], 'price': 0.001097534743104478}"
28,labakigmfvm6y74amo4,Thu Mar 11 02:58:47 2027,NaN,NaN,"{'qnt': [17], 'price': 0.0004243320243729777}","{'qnt': [11], 'price': 0.004612335804646394}",NaN,"{'qnt': [453.09008203647767], 'price': 8.15010...","{'qnt': [2709.3372639021904], 'price': 8.04519...","{'qnt': [45], 'price': 0.0012097566700070485}","{'qnt': [1], 'price': 0.0019167409754035595}","{'qnt': [12], 'price': 8.754730228136766e-05}",NaN,"{'qnt': [554.8511320987109], 'price': 0.003085...",NaN
29,labakigmvyggzugn8l,Thu Mar 11 07:08:23 2027,"{'qnt': [6], 'price': 0.00034950696179951945}",NaN,NaN,"{'qnt': [2], 'price': 0.004612335804646394}",NaN,"{'qnt': [319.28412119144593], 'price': 8.15010...","{'qnt': [2374.335778488891], 'price': 8.045196...","{'qnt': [15], 'price': 0.0012097566700070485}","{'qnt': [3], 'price': 0.0019167409754035595}","{'qnt': [553], 'price': 8.754730228136766e-05}",NaN,NaN,"{'qnt': [33], 'price': 0.001097534743104478}"
30,labakigmw0ufi02y5q,Thu Mar 11 05:57:33 2027,NaN,NaN,"{'qnt': [15], 'price': 0.0004243320243729777}","{'qnt': [28], 'price': 0.004612335804646394}","{'qnt': [10], 'price': 0.0010154520995694792}","{'qnt': [601.9841106933709], 'price': 8.150100...","{'qnt': [2560.1960818409593], 'price': 8.04519...","{'qnt': [5], 'price': 0.0012097566700070485}","{'qnt': [13], 'price': 0.0019167409754035595}","{'qnt': [808], 'price': 8.754730228136766e-05}","{'qnt': [858.9564879243268], 'price': 6.466865...",NaN,"{'qnt': [5], 'price': 0.001097534743104478}"
31,labakigmksq0a5u9wl,Wed Mar 10 23:32:17 2027,NaN,"{'qnt': [35], 'price': 8.847252841992883e-05}",NaN,"{'qnt': [2], 'price': 0.004612335804646394}",NaN,"{'qnt': [35.28027584251271], 'price': 8.150100...","{'qnt': [2618.8327191305043], 'price': 8.04519...","{'qnt': [10], 'price': 0.0012097566700070485}",NaN,"{'qnt': [1023], 'price': 8.754730228136766e-05}","{'qnt': [409.8137928079337], 'price': 6.466865...",NaN,"{'qnt': [13], 'price': 0.001097534743104478}"
32,labakigmxxcj0k111j8,Thu Mar 11 02:02:10 2027,"{'qnt': [6], 'price': 0.00034950696179951945}","{'qnt': [19], 'price': 8.847252841992883e-05}","{'qnt': [45], 'price': 0.0004243320243729777}",NaN,NaN,NaN,"{'qnt': [2657.466478715448], 'price': 8.045196...",NaN,"{'qnt': [40], 'price': 0.0019167409754035595}","{'qnt': [580], 'price': 8.754730228136766e-05}","{'qnt': [711.619620748796], 'price': 6.4668655...","{'qnt': [896.0523935899598], 'price': 0.003085...",NaN
33,labakigmoge7i61qwha,Thu Mar 11 06:11:32 2027,NaN,"{'qnt': [17], 'price': 8.847252841992883e-05}",NaN,NaN,NaN,"{'qnt': [1061.4701618928698], 'price': 8.15010...","{'qnt': [2723.1589854967797], 'price': 8.04519...",NaN,NaN,"{'qnt': [310], 'price': 8.754730228136766e-05}",NaN,NaN,"{'qnt': [41], 'price': 0.001097534743104478}"
34,labakigm7mxf0dhcgjh,Wed Mar 10 22:59:27 2027,"{'qnt': [47], 'price': 0.00034950696179951945}",NaN,"{'qnt': [9], 'price': 0.0004243320243729777}","{'qnt': [6], 'price': 0.004612335804646394}","{'qnt': [30], 'price': 0.0010154520995694792}","{'qnt': [982.8330887627995], 'price': 8.150100...","{'qnt': [2697.3017760294124], 'price': 8.04519...",NaN,NaN,"{'qnt': [422], 'price': 8.754730228136766e-05}","{'qnt': [611.6973406197842], 'price': 6.466865...","{'qnt': [483.6230439804878], 'price': 0.003085...","{'qnt': [2], 'price': 0.001097534743104478}"
35,labakigmgahj9den2be,Thu Mar 11 06:59:55 2027,NaN,"{'qnt': [22], 'price': 8.847252841992883e-05}","{'qnt': [40], 'price': 0.0004243320243729777}",NaN,NaN,"{'qnt': [47.18952819006128], 'price': 8.150100...","{'qnt': [2796.7669444968355], 'price': 8.04519...","{'qnt': [8], 'price': 0.0012097566700070485}",NaN,"{'qnt': [48], 'price': 8.754730228136766e-05}","{'qnt': [317.06883047212034], 'price': 6.46686...","{'qnt': [607.8495884237658], 'price': 0.003085...","{'qnt': [20], 'price': 0.001097534743104478}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[20, 21, 34, 38, 15, 39, 6, 29, 46, 34, 39, 6,...","[18, 43, 37, 2, 41, 37, 20, 37, 13, 47, 26, 13...","[47, 2, 2, 13, 29, 40, 48, 21, 18, 28, 44, 11,...","[5, 13, 13, 47, 26, 45, 47, 14, 36, 44, 50, 21...","[1057, 385, 1, 21, 832, 22, 840, 28, 28, 423, ...","[481.49805888946605, 680.0753192517773, 47.616...","[365.6924709393455, 931.3501278612747, 756.807...","[2252.094187516207, 2072.7216206100925, 2043.1...","[34, 40, 26, 35, 42, 9, 35, 39, 23, 45, 15, 5,...","[50, 44, 24, 15, 17, 11, 13, 18, 19, 10, 3, 16...","[48, 37, 44, 21, 42, 1, 44, 45, 25, 47, 39, 39...","[5, 2, 37, 4, 3, 1, 27, 30, 22, 38, 49, 15, 31...","[1045.496336481987, 832.8108872507473, 768.500..."
price,0.000212,0.002306,0.000508,0.000549,0.000044,0.000041,0.001543,0.00004,0.000605,0.000044,0.000958,0.000175,0.000032

Semana 22:

Json:

,id,date,prod_3,prod_4,prod_5,prod_6,prod_9,prod_11,prod_15,prod_1,prod_2,prod_7,prod_8,prod_10,prod_0
0,labakimgp2mm43zyyy,Thu Mar 18 00:05:48 2027,"{'qnt': [26], 'price': 4.4236264210129464e-05}","{'qnt': [18], 'price': 0.0002121660121865304}","{'qnt': [20], 'price': 0.002306167902336783}","{'qnt': [2], 'price': 0.0005077260497847797}","{'qnt': [587.4284965985793], 'price': 4.075050...","{'qnt': [683.513305837729], 'price': 0.0015425...","{'qnt': [2194.7227397185225], 'price': 4.02259...",NaN,NaN,NaN,NaN,NaN,NaN
1,labakimg1i3ruxrwzez,Wed Mar 17 22:11:08 2027,"{'qnt': [23], 'price': 4.4236264210129464e-05}","{'qnt': [8], 'price': 0.0002121660121865304}","{'qnt': [44], 'price': 0.002306167902336783}",NaN,NaN,"{'qnt': [92.09598893339286], 'price': 0.001542...","{'qnt': [1976.2863384152222], 'price': 4.02259...","{'qnt': [12], 'price': 0.00017475348090374091}","{'qnt': [14], 'price': 0.0009583704877017797}","{'qnt': [21], 'price': 0.0005487673715522427}","{'qnt': [17], 'price': 4.377365114068383e-05}",NaN,NaN
2,labakimgfmga3kwdbmt,Thu Mar 18 07:26:24 2027,NaN,NaN,NaN,NaN,NaN,"{'qnt': [371.2979098044689], 'price': 0.001542...","{'qnt': [2658.3376291686036], 'price': 4.02259...",NaN,NaN,NaN,"{'qnt': [3], 'price': 4.377365114068383e-05}","{'qnt': [73.48743798694592], 'price': 3.233432...",NaN
3,labakimgoazu1ck7ly,Wed Mar 17 17:42:05 2027,"{'qnt': [37], 'price': 4.4236264210129464e-05}",NaN,"{'qnt': [11], 'price': 0.002306167902336783}",NaN,"{'qnt': [254.1761155225521], 'price': 4.075050...","{'qnt': [30.657285276759282], 'price': 0.00154...","{'qnt': [2010.7437356290452], 'price': 4.02259...","{'qnt': [16], 'price': 0.00017475348090374091}",NaN,NaN,"{'qnt': [396], 'price': 4.377365114068383e-05}","{'qnt': [219.21340983672783], 'price': 3.23343...","{'qnt': [49], 'price': 0.0006048783350035298}"
4,labakimgtadyeez41r,Wed Mar 17 21:54:13 2027,"{'qnt': [31], 'price': 4.4236264210129464e-05}",NaN,NaN,NaN,NaN,"{'qnt': [617.5123971953873], 'price': 0.001542...","{'qnt': [2577.768230201108], 'price': 4.022598...","{'qnt': [33], 'price': 0.00017475348090374091}",NaN,NaN,"{'qnt': [41], 'price': 4.377365114068383e-05}","{'qnt': [10.338835472082028], 'price': 3.23343...",NaN
5,labakimghmgipdmz07v,Wed Mar 17 22:29:13 2027,"{'qnt': [4], 'price': 4.4236264210129464e-05}",NaN,NaN,NaN,NaN,"{'qnt': [714.1112062806425], 'price': 0.001542...","{'qnt': [2315.0479030926385], 'price': 4.02259...",NaN,NaN,"{'qnt': [33], 'price': 0.0005487673715522427}","{'qnt': [2], 'price': 4.377365114068383e-05}",NaN,"{'qnt': [18], 'price': 0.0006048783350035298}"
6,labakimgwfeksvgd7eh,Wed Mar 17 20:40:25 2027,NaN,"{'qnt': [17], 'price': 0.0002121660121865304}","{'qnt': [35], 'price': 0.002306167902336783}","{'qnt': [11], 'price': 0.0005077260497847797}",NaN,"{'qnt': [686.9395398757963], 'price': 0.001542...","{'qnt': [2131.7687154248733], 'price': 4.02259...",NaN,"{'qnt': [39], 'price': 0.0009583704877017797}",NaN,"{'qnt': [130], 'price': 4.377365114068383e-05}",NaN,NaN
7,labakimhadcdsrhcrg,Thu Mar 18 05:26:06 2027,NaN,NaN,"{'qnt': [16], 'price': 0.002306167902336783}","{'qnt': [31], 'price': 0.0005077260497847797}","{'qnt': [10.65354024285351], 'price': 4.075050...",NaN,"{'qnt': [2010.962331401216], 'price': 4.022598...","{'qnt': [50], 'price': 0.00017475348090374091}","{'qnt': [6], 'price': 0.0009583704877017797}",NaN,"{'qnt': [9], 'price': 4.377365114068383e-05}",NaN,"{'qnt': [32], 'price': 0.0006048783350035298}"
8,labakimh2iq7707vb66,Thu Mar 18 02:51:37 2027,"{'qnt': [34], 'price': 4.4236264210129464e-05}","{'qnt': [25], 'price': 0.0002121660121865304}","{'qnt': [24], 'price': 0.002306167902336783}",NaN,NaN,"{'qnt': [382.9782508819543], 'price': 0.001542...","{'qnt': [2506.446811233519], 'price': 4.022598...",NaN,NaN,NaN,"{'qnt': [659], 'price': 4.377365114068383e-05}","{'qnt': [92.24743820299413], 'price': 3.233432...","{'qnt': [41], 'price': 0.0006048783350035298}"
9,labakimhxa4x9kjbiid,Wed Mar 17 21:34:31 2027,NaN,NaN,"{'qnt': [42], 'price': 0.002306167902336783}","{'qnt': [1], 'price': 0.0005077260497847797}","{'qnt': [322.3722856730153], 'price': 4.075050...",NaN,"{'qnt': [2350.823571607657], 'price': 4.022598...",NaN,"{'qnt': [20], 'price': 0.0009583704877017797}","{'qnt': [47], 'price': 0.0005487673715522427}","{'qnt': [284], 'price': 4.377365114068383e-05}",NaN,NaN
10,labakimh9mujnj1rcrn,Wed Mar 17 20:22:04 2027,NaN,NaN,"{'qnt': [40], 'price': 0.002306167902336783}","{'qnt': [42], 'price': 0.0005077260497847797}","{'qnt': [596.023974899691], 'price': 4.0750503...","{'qnt': [708.0774415838284], 'price': 0.001542...","{'qnt': [2196.2050733071646], 'price': 4.02259...","{'qnt': [10], 'price': 0.00017475348090374091}",NaN,NaN,NaN,"{'qnt': [662.9064921734685], 'price': 3.233432...","{'qnt': [46], 'price': 0.0006048783350035298}"
11,labakimhralhzdxua0p,Thu Mar 18 02:14:44 2027,NaN,"{'qnt': [21], 'price': 0.0002121660121865304}",NaN,"{'qnt': [11], 'price': 0.0005077260497847797}",NaN,"{'qnt': [58.23249248951591], 'price': 0.001542...","{'qnt': [2648.0360425922254], 'price': 4.02259...","{'qnt': [13], 'price': 0.00017475348090374091}","{'qnt': [22], 'price': 0.0009583704877017797}",NaN,"{'qnt': [10], 'price': 4.377365114068383e-05}","{'qnt': [677.9498492274147], 'price': 3.233432...","{'qnt': [46], 'price': 0.0006048783350035298}"
12,labakimh4fr500ryayv,Thu Mar 18 03:54:44 2027,"{'qnt': [13], 'price': 4.4236264210129464e-05}",NaN,"{'qnt': [36], 'price': 0.002306167902336783}","{'qnt': [4], 'price': 0.0005077260497847797}","{'qnt': [187.13563808715256], 'price': 4.07505...",NaN,"{'qnt': [2123.4642951913806], 'price': 4.02259...",NaN,"{'qnt': [40], 'price': 0.0009583704877017797}","{'qnt': [44], 'price': 0.0005487673715522427}","{'qnt': [41], 'price': 4.377365114068383e-05}",NaN,NaN
13,labakimhvx86lpdyboe,Wed Mar 17 23:51:32 2027,NaN,"{'qnt': [20], 'price': 0.0002121660121865304}","{'qnt': [41], 'price': 0.002306167902336783}",NaN,"{'qnt': [481.04620332360315], 'price': 4.07505...","{'qnt': [398.7568566360689], 'price': 0.001542...","{'qnt': [2389.2326859705145], 'price': 4.02259...",NaN,NaN,NaN,"{'qnt': [98], 'price': 4.377365114068383e-05}",NaN,"{'qnt': [40], 'price': 0.0006048783350035298}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[18, 8, 17, 25, 21, 20]","[20, 44, 11, 35, 16, 24, 42, 40, 36, 41]","[2, 11, 31, 1, 42, 11, 4]","[21, 33, 47, 44]","[17, 3, 396, 41, 2, 130, 9, 659, 284, 10, 41, 98]","[587.4284965985793, 254.1761155225521, 10.6535...","[683.513305837729, 92.09598893339286, 371.2979...","[2194.7227397185225, 1976.2863384152222, 2658....","[49, 18, 32, 41, 46, 46, 40]","[26, 23, 37, 31, 4, 34, 13]","[14, 39, 6, 20, 22, 40]","[12, 16, 33, 50, 10, 13]","[73.48743798694592, 219.21340983672783, 10.338..."
price,0.000106,0.001153,0.000254,0.000274,0.000022,0.00002,0.000771,0.00002,0.000302,0.000022,0.000479,0.000087,0.000016

Semana 23:

Json:

,id,date,prod_0,prod_2,prod_3,prod_5,prod_8,prod_9,prod_10,prod_15,prod_4,prod_11,prod_1,prod_7,prod_6
0,labakioq9q93ct9igf,Thu Mar 25 03:18:07 2027,"{'qnt': [48], 'price': 0.0003024391675017649}","{'qnt': [35], 'price': 0.00047918524385103076}","{'qnt': [23], 'price': 2.2118132105068106e-05}","{'qnt': [32], 'price': 0.0011530839511683915}","{'qnt': [0], 'price': 2.1886825570341914e-05}","{'qnt': [0], 'price': 2.037525177001953e-05}","{'qnt': [0], 'price': 1.6167163848876954e-05}","{'qnt': [2061.452166211052], 'price': 2.011299...",NaN,NaN,NaN,NaN,NaN
1,labakioqyloybh7jnwf,Thu Mar 25 01:02:42 2027,NaN,"{'qnt': [5], 'price': 0.00047918524385103076}",NaN,NaN,"{'qnt': [38], 'price': 2.1886825570341914e-05}","{'qnt': [29.901272611210405], 'price': 2.03752...","{'qnt': [36.35373945920446], 'price': 1.616716...","{'qnt': [2045.2403348202154], 'price': 2.01129...","{'qnt': [32], 'price': 0.00010608300612760513}","{'qnt': [0], 'price': 0.0007712677259509932}",NaN,NaN,NaN
2,labakioqcijdb2cn6oj,Thu Mar 25 07:29:36 2027,NaN,NaN,"{'qnt': [4], 'price': 2.2118132105068106e-05}",NaN,"{'qnt': [115], 'price': 2.1886825570341914e-05}",NaN,"{'qnt': [475.21624347252526], 'price': 1.61671...","{'qnt': [2102.0641117293144], 'price': 2.01129...","{'qnt': [34], 'price': 0.00010608300612760513}",NaN,"{'qnt': [29], 'price': 8.737674045198935e-05}",NaN,NaN
3,labakioqn76fmiieswk,Wed Mar 24 21:59:34 2027,"{'qnt': [43], 'price': 0.0003024391675017649}","{'qnt': [10], 'price': 0.00047918524385103076}","{'qnt': [27], 'price': 2.2118132105068106e-05}","{'qnt': [30], 'price': 0.0011530839511683915}","{'qnt': [153], 'price': 2.1886825570341914e-05}",NaN,"{'qnt': [0], 'price': 1.6167163848876954e-05}","{'qnt': [2331.873149549204], 'price': 2.011299...",NaN,NaN,NaN,"{'qnt': [49], 'price': 0.00027438368577612133}",NaN
4,labakioqx31ubklc3ls,Wed Mar 24 17:23:29 2027,"{'qnt': [7], 'price': 0.0003024391675017649}","{'qnt': [33], 'price': 0.00047918524385103076}",NaN,"{'qnt': [12], 'price': 0.0011530839511683915}","{'qnt': [150], 'price': 2.1886825570341914e-05}",NaN,NaN,"{'qnt': [2220.343829877706], 'price': 2.011299...",NaN,NaN,"{'qnt': [28], 'price': 8.737674045198935e-05}","{'qnt': [47], 'price': 0.00027438368577612133}","{'qnt': [36], 'price': 0.0002538630341238331}"
5,labakioqdvmiojdd2ed,Thu Mar 25 01:53:23 2027,"{'qnt': [39], 'price': 0.0003024391675017649}","{'qnt': [2], 'price': 0.00047918524385103076}","{'qnt': [5], 'price': 2.2118132105068106e-05}",NaN,"{'qnt': [0], 'price': 2.1886825570341914e-05}",NaN,"{'qnt': [89.9196712383528], 'price': 1.6167163...","{'qnt': [2112.815829033213], 'price': 2.011299...",NaN,"{'qnt': [163.48001819810656], 'price': 0.00077...","{'qnt': [20], 'price': 8.737674045198935e-05}",NaN,NaN
6,labakioqbt0g324r1gs,Thu Mar 25 06:54:36 2027,NaN,NaN,NaN,"{'qnt': [47], 'price': 0.0011530839511683915}",NaN,"{'qnt': [370.8124986777665], 'price': 2.037525...",NaN,"{'qnt': [2028.9026089399904], 'price': 2.01129...","{'qnt': [14], 'price': 0.00010608300612760513}","{'qnt': [15.149116491809991], 'price': 0.00077...",NaN,NaN,"{'qnt': [25], 'price': 0.0002538630341238331}"
7,labakioqtqzi4jaxzbq,Thu Mar 25 02:40:24 2027,NaN,NaN,"{'qnt': [14], 'price': 2.2118132105068106e-05}",NaN,"{'qnt': [0], 'price': 2.1886825570341914e-05}","{'qnt': [5.356460748278935], 'price': 2.037525...",NaN,"{'qnt': [2121.021518326208], 'price': 2.011299...","{'qnt': [12], 'price': 0.00010608300612760513}","{'qnt': [40.178087434644], 'price': 0.00077126...",NaN,NaN,"{'qnt': [15], 'price': 0.0002538630341238331}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[32, 34, 14, 12]","[32, 30, 12, 47]","[36, 25, 15]","[49, 47]","[0, 38, 115, 153, 150, 0, 0]","[0, 29.901272611210405, 370.8124986777665, 5.3...","[0, 163.48001819810656, 15.149116491809991, 40...","[2061.452166211052, 2045.2403348202154, 2102.0...","[48, 43, 7, 39]","[23, 4, 27, 5, 14]","[35, 5, 10, 33, 2]","[29, 28, 20]","[0, 36.35373945920446, 475.21624347252526, 0, ..."
price,0.000053,0.000577,0.000127,0.000137,0.000011,0.00001,0.000386,0.00001,0.000151,0.000011,0.00024,0.000044,0.000008

Semana 24:

Json:

,id,date,prod_4,prod_6,prod_9,prod_8,prod_15,prod_0,prod_1,prod_2,prod_11,prod_7,prod_10,prod_3,prod_5
0,labakiqa6ifvdt78wr5,Wed Mar 31 23:24:52 2027,"{'qnt': [19], 'price': 5.304150306383263e-05}","{'qnt': [6], 'price': 0.0001269315170619199}","{'qnt': [114.62895345127356], 'price': 1.01876...","{'qnt': [482], 'price': 1.0943412785170957e-05}","{'qnt': [2359.503733623845], 'price': 1.005649...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,labakiqafk184flfxlb,Thu Apr 1 08:09:18 2027,NaN,NaN,"{'qnt': [464.8031273523941], 'price': 1.018762...","{'qnt': [509], 'price': 1.0943412785170957e-05}","{'qnt': [2317.645468270847], 'price': 1.005649...","{'qnt': [31], 'price': 0.00015121958375088245}","{'qnt': [34], 'price': 4.368837022599542e-05}","{'qnt': [7], 'price': 0.00023959262228445927}","{'qnt': [104.76041271454565], 'price': 0.00038...",NaN,NaN,NaN,NaN
2,labakiqa7hnhbtq02hd,Wed Mar 31 19:19:08 2027,NaN,NaN,"{'qnt': [724.5809977171391], 'price': 1.018762...","{'qnt': [31], 'price': 1.0943412785170957e-05}","{'qnt': [2004.8275727840974], 'price': 1.00564...",NaN,"{'qnt': [17], 'price': 4.368837022599542e-05}",NaN,NaN,"{'qnt': [16], 'price': 0.00013719184288806067}","{'qnt': [389.42751939774], 'price': 8.08358192...",NaN,NaN
3,labakiqa7gf389v1wgc,Wed Mar 31 23:37:46 2027,NaN,"{'qnt': [1], 'price': 0.0001269315170619199}","{'qnt': [541.1778949480708], 'price': 1.018762...",NaN,"{'qnt': [2493.5179407894184], 'price': 1.00564...",NaN,NaN,NaN,"{'qnt': [707.9923894615264], 'price': 0.000385...","{'qnt': [8], 'price': 0.00013719184288806067}","{'qnt': [110.82974271703912], 'price': 8.08358...","{'qnt': [27], 'price': 1.1059066439874732e-05}",NaN
4,labakiqao7axrgwkdx,Thu Apr 1 03:10:00 2027,NaN,NaN,"{'qnt': [83.40479142904297], 'price': 1.018762...","{'qnt': [355], 'price': 1.0943412785170957e-05}","{'qnt': [2187.603808825252], 'price': 1.005649...","{'qnt': [40], 'price': 0.00015121958375088245}","{'qnt': [2], 'price': 4.368837022599542e-05}","{'qnt': [1], 'price': 0.00023959262228445927}",NaN,"{'qnt': [31], 'price': 0.00013719184288806067}","{'qnt': [231.55078563378024], 'price': 8.08358...","{'qnt': [5], 'price': 1.1059066439874732e-05}","{'qnt': [22], 'price': 0.0005765419755841958}"
5,labakiqao7rfcwn9gqt,Thu Apr 1 00:46:28 2027,"{'qnt': [29], 'price': 5.304150306383263e-05}","{'qnt': [34], 'price': 0.0001269315170619199}","{'qnt': [35.92980197664567], 'price': 1.018762...",NaN,"{'qnt': [2043.8468063821722], 'price': 1.00564...",NaN,"{'qnt': [38], 'price': 4.368837022599542e-05}","{'qnt': [23], 'price': 0.00023959262228445927}",NaN,NaN,"{'qnt': [527.7718352088065], 'price': 8.083581...","{'qnt': [17], 'price': 1.1059066439874732e-05}","{'qnt': [23], 'price': 0.0005765419755841958}"
6,labakiqagu2wtxujhfv,Wed Mar 31 21:08:17 2027,NaN,NaN,"{'qnt': [8.584582315491451], 'price': 1.018762...","{'qnt': [374], 'price': 1.0943412785170957e-05}","{'qnt': [1924.120684597068], 'price': 1.005649...","{'qnt': [3], 'price': 0.00015121958375088245}","{'qnt': [22], 'price': 4.368837022599542e-05}","{'qnt': [6], 'price': 0.00023959262228445927}",NaN,NaN,"{'qnt': [280.19556322725947], 'price': 8.08358...","{'qnt': [50], 'price': 1.1059066439874732e-05}",NaN
7,labakiqa9d9wurp9uxk,Thu Apr 1 06:04:56 2027,NaN,NaN,NaN,"{'qnt': [5], 'price': 1.0943412785170957e-05}","{'qnt': [2103.1142760324287], 'price': 1.00564...","{'qnt': [7], 'price': 0.00015121958375088245}",NaN,"{'qnt': [6], 'price': 0.00023959262228445927}",NaN,NaN,NaN,NaN,"{'qnt': [10], 'price': 0.0005765419755841958}"
8,labakiqa9ex1dwe2zqf,Thu Apr 1 02:47:43 2027,"{'qnt': [29], 'price': 5.304150306383263e-05}",NaN,"{'qnt': [220.16893471921787], 'price': 1.01876...","{'qnt': [15], 'price': 1.0943412785170957e-05}","{'qnt': [1806.768349534966], 'price': 1.005649...","{'qnt': [10], 'price': 0.00015121958375088245}","{'qnt': [11], 'price': 4.368837022599542e-05}",NaN,"{'qnt': [175.4155391030215], 'price': 0.000385...","{'qnt': [6], 'price': 0.00013719184288806067}","{'qnt': [110.31334235702309], 'price': 8.08358...",NaN,NaN
9,labakiqajotj6y6abtf,Thu Apr 1 05:47:11 2027,NaN,NaN,"{'qnt': [621.5419868909123], 'price': 1.018762...","{'qnt': [353], 'price': 1.0943412785170957e-05}","{'qnt': [2358.109675838782], 'price': 1.005649...",NaN,NaN,NaN,"{'qnt': [246.0938287665773], 'price': 0.000385...",NaN,NaN,NaN,"{'qnt': [46], 'price': 0.0005765419755841958}"
10,labakiqa0pueo7tcpn6,Thu Apr 1 07:46:14 2027,NaN,"{'qnt': [5], 'price': 0.0001269315170619199}","{'qnt': [385.9402505957295], 'price': 1.018762...","{'qnt': [24], 'price': 1.0943412785170957e-05}","{'qnt': [2241.334207120396], 'price': 1.005649...",NaN,"{'qnt': [4], 'price': 4.368837022599542e-05}",NaN,NaN,"{'qnt': [11], 'price': 0.00013719184288806067}",NaN,NaN,NaN
11,labakiqalm5zxgdh3s,Thu Apr 1 03:47:16 2027,NaN,"{'qnt': [20], 'price': 0.0001269315170619199}",NaN,"{'qnt': [381], 'price': 1.0943412785170957e-05}","{'qnt': [1854.9849493718411], 'price': 1.00564...",NaN,NaN,"{'qnt': [12], 'price': 0.00023959262228445927}","{'qnt': [611.9438199009304], 'price': 0.000385...","{'qnt': [19], 'price': 0.00013719184288806067}","{'qnt': [279.7885594278667], 'price': 8.083581...","{'qnt': [37], 'price': 1.1059066439874732e-05}","{'qnt': [14], 'price': 0.0005765419755841958}"
12,labakiqa2nr5ykc7af4,Wed Mar 31 18:43:50 2027,NaN,"{'qnt': [41], 'price': 0.0001269315170619199}","{'qnt': [369.1992239540344], 'price': 1.018762...","{'qnt': [126], 'price': 1.0943412785170957e-05}","{'qnt': [2526.167387685286], 'price': 1.005649...",NaN,"{'qnt': [31], 'price': 4.368837022599542e-05}","{'qnt': [44], 'price': 0.00023959262228445927}",NaN,NaN,NaN,"{'qnt': [23], 'price': 1.1059066439874732e-05}",NaN
13,labakiqa42l8k5u85cd,Thu Apr 1 08:32:45 2027,NaN,NaN,"{'qnt': [43.17358874115467], 'price': 1.018762...","{'qnt': [464], 'price': 1.0943412785170957e-05}","{'qnt': [2124.478014038923], 'price': 1.005649...",NaN,"{'qnt': [11], 'price': 4.368837022599542e-05}",NaN,"{'qnt': [362.77146227717014], 'price': 0.00038...",NaN,"{'qnt': [215.697175051239], 'price': 8.0835819...",NaN,"{'qnt': [23], 'price': 0.0005765419755841958}"
14,labakiqa1n07sbvye0w,Wed Mar 31 22:31:47 2027,"{'qnt': [33], 'price': 5.304150306383263e-05}",NaN,"{'qnt': [43.52720473856988], 'price': 1.018762...","{'qnt': [32], 'price': 1.0943412785170957e-05}","{'qnt': [1841.6667681474291], 'price': 1.00564...","{'qnt': [46], 'price': 0.00015121958375088245}",NaN,"{'qnt': [8], 'price': 0.00023959262228445927}","{'qnt': [790.9222416808353], 'price': 0.000385...","{'qnt': [16], 'price': 0.00013719184288806067}",NaN,"{'qnt': [9], 'price': 1.1059066439874732e-05}","{'qnt': [6], 'price': 0.0005765419755841958}"
15,labakiqa3erfz3bosm,Thu Apr 1 04:01:06 2027,"{'qnt': [28], 'price': 5.304150306383263e-05}","{'qnt': [14], 'price': 0.0001269315170619199}","{'qnt': [168.16622347813015], 'price': 1.01876...","{'qnt': [634], 'price': 1.0943412785170957e-05}","{'qnt': [1869.670390343761], 'price': 1.005649...",NaN,NaN,"{'qnt': [40], 'price': 0.00023959262228445927}","{'qnt': [744.6140693678733], 'price': 0.000385...","{'qnt': [8], 'price': 0.00013719184288806067}","{'qnt': [345.8064919280341], 'price': 8.083581...",NaN,"{'qnt': [47], 'price': 0.0005765419755841958}"
16,labakiqahjf9jmfh5ku,Thu Apr 1 01:16:38 2027,NaN,NaN,"{'qnt': [171.0962663529897], 'price': 1.018762...","{'qnt': [130], 'price': 1.0943412785170957e-05}","{'qnt': [2065.6126509900087], 'price': 1.00564...",NaN,NaN,"{'qnt': [47], 'price': 0.00023959262228445927}","{'qnt': [496.3714187605755], 'price': 0.000385...",NaN,NaN,"{'qnt': [9], 'price': 1.1059066439874732e-05}",NaN
17,labakiqagy88l18xiz4,Thu Apr 1 05:17:05 2027,"{'qnt': [22], 'price': 5.304150306383263e-05}",NaN,"{'qnt': [583.7509082566035], 'price': 1.018762...","{'qnt': [12], 'price': 1.0943412785170957e-05}","{'qnt': [1972.1312100920964], 'price': 1.00564...",NaN,"{'qnt': [36], 'price': 4.368837022599542e-05}","{'qnt': [36], 'price': 0.00023959262228445927}",NaN,"{'qnt': [24], 'price': 0.00013719184288806067}",NaN,"{'qnt': [23], 'price': 1.1059066439874732e-05}",NaN
18,labakiqawjohr53753f,Wed Mar 31 16:34:04 2027,"{'qnt': [39], 'price': 5.304150306383263e-05}","{'qnt': [6], 'price': 0.0001269315170619199}","{'qnt': [294.48973981493816], 'price': 1.01876...","{'qnt': [95], 'price': 1.0943412785170957e-05}","{'qnt': [2405.1348719151156], 'price': 1.00564...","{'qnt': [6], 'price': 0.00015121958375088245}",NaN,NaN,"{'qnt': [730.0032567787661], 'price': 0.000385...",NaN,"{'qnt': [405.80391586707617], 'price': 8.08358...","{'qnt': [12], 'price': 1.1059066439874732e-05}","{'qnt': [21], 'price': 0.0005765419755841958}"
19,labakiqaj7cozm1dg2n,Thu Apr 1 08:11:23 2027,NaN,"{'qnt': [37], 'price': 0.0001269315170619199}","{'qnt': [820.9598147491381], 'price': 1.018762...","{'qnt': [440], 'price': 1.0943412785170957e-05}","{'qnt': [2336.3161568478135], 'price': 1.00564...","{'qnt': [32], 'price': 0.00015121958375088245}",NaN,NaN,NaN,NaN,NaN,"{'qnt': [2], 'price': 1.1059066439874732e-05}","{'qnt': [48], 'price': 0.0005765419755841958}"
20,labakiqambz1kse818d,Wed Mar 31 16:54:38 2027,"{'qnt': [8], 'price': 5.304150306383263e-05}","{'qnt': [26], 'price': 0.0001269315170619199}","{'qnt': [84.50236184669046], 'price': 1.018762...","{'qnt': [375], 'price': 1.0943412785170957e-05}","{'qnt': [2143.5138137255735], 'price': 1.00564...",NaN,"{'qnt': [21], 'price': 4.368837022599542e-05}",NaN,NaN,NaN,"{'qnt': [751.3738254723272], 'price': 8.083581...","{'qnt': [19], 'price': 1.1059066439874732e-05}","{'qnt': [48], 'price': 0.0005765419755841958}"

product_database:

,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_11,prod_15,prod_0,prod_3,prod_2,prod_1,prod_10
qnt,"[19, 29, 29, 33, 28, 22, 39, 8]","[22, 23, 10, 46, 14, 23, 6, 47, 21, 48, 48]","[6, 1, 34, 5, 20, 41, 14, 6, 37, 26]","[16, 8, 31, 6, 11, 19, 16, 8, 24]","[482, 509, 31, 355, 374, 5, 15, 353, 24, 381, ...","[114.62895345127356, 464.8031273523941, 724.58...","[104.76041271454565, 707.9923894615264, 175.41...","[2359.503733623845, 2317.645468270847, 2004.82...","[31, 40, 3, 7, 10, 46, 6, 32]","[27, 5, 17, 50, 37, 23, 9, 9, 23, 12, 2, 19]","[7, 1, 23, 6, 6, 12, 44, 8, 40, 47, 36]","[34, 17, 2, 38, 22, 11, 4, 31, 11, 36, 21]","[389.42751939774, 110.82974271703912, 231.5507..."
price,0.000027,0.000288,0.000063,0.000069,0.000005,0.000005,0.000193,0.000005,0.000076,0.000006,0.00012,0.000022,0.000004