## Library

In [3]:
import requests
import random
import pandas as pd
import time
import math
from copy import deepcopy
from statistics import mean

## Notebook

#### Requisição

In [4]:
def request() -> list:   
    res = requests.get('http://localhost:3000/api/ep1')
    return res.json()

#### Tratamento de Dados

In [5]:
def data_treatment(json:list):
    for i in range(len(json)):
        for key in json[i]:
            if ('prod' in key):
                if (type(json[i][key])!=dict):
                    qnt = json[i][key]
                    if (type(qnt)==str):
                        qnt = float(qnt)                  
                    if (qnt<0):
                        qnt = 0
                    if (key in [product for product in json[i] if ('prod' in product and (int(product[5]) < 9 and len(product) < 7))]):
                        json[i][key] = {'qnt':[round(qnt)], 'price':None}
                    else:
                        json[i][key] = {'qnt':[qnt], 'price':None}
        try:
            json[i]['date'] = time.ctime(json[i]['date'])
        except:
            continue
    return json

#### Gerar valores aleatórios

In [6]:
def generate_random_price(n_min=1.0, n_max=100.0) -> float:
    return round(random.uniform(n_min, n_max), 2)

#### Precificação

##### Função logistica -> A mesma postada no doc pelo professor

In [7]:
def logistic_function(v: float) -> float:
    return 0.5 + (1 / (1 + math.e ** -v))

##### Função para calcular a variação -> A mesma postada no doc pelo professor

In [8]:
def calc_qnt_variation(last_week: list, current_week: list) -> float:
    return mean(current_week) - mean(last_week) / mean(last_week) if (mean(last_week) != 0) else 0

##### Função que calcula o preço que será utilizado na semana seguinte

In [9]:
def calc_new_price(product_db: dict, sales_week: dict) -> dict:
    for product in product_db:
        if (product_db[product]['qnt'] != None):
            if (product not in sales_week.keys()):
                sales_week[product] = [0]
            product_db[product]['next_week_price'] = logistic_function(calc_qnt_variation(product_db[product]['qnt'], sales_week[product])) * product_db[product]['price']
        product_db[product]['qnt'] = sales_week[product]               
    return product_db

##### Função que atualiza o banco de dados (onde consta a quantidade de vendas da última semana e o preço dos produtos) e aplica o preço nos produtos do JSON

In [10]:
def product_pricing(json: list, product_db: dict) -> tuple:
    sales_week = {}

    for transaction in json:
        for key in transaction:
            if ('prod' in key):
                if (key not in product_db.keys()):
                    transaction[key]['price'] = generate_random_price()
                    sales_week[key] = deepcopy(transaction[key]['qnt'])
                    product_db[key] = deepcopy(transaction[key])
                    product_db[key]['qnt'] = None
                    product_db[key]['next_week_price'] = product_db[key]['price']              
                else:
                    transaction[key]['price'] = deepcopy(product_db[key]['next_week_price'])
                    product_db[key]['price'] = product_db[key]['next_week_price']
                    if (key not in sales_week.keys()):
                        sales_week[key] = deepcopy(transaction[key]['qnt'])
                    else:
                        sales_week[key] += deepcopy(transaction[key]['qnt'])

    product_db = calc_new_price(product_db, sales_week)

    return json, product_db

##### Função que formata o DataFrame

In [108]:
def df_to_all_df(json, all_df):
    for transacao in json:
        json_to_df = deepcopy(transacao)
        date = json_to_df['date']
        id = json_to_df['id']
        del json_to_df['date']
        del json_to_df['id']
        df = pd.DataFrame(json_to_df).T
        df['id'] = id
        df['date'] = date
        df = pd.concat([all_df, df])
        #df=df.set_index(['date','id'])
   
    return df

In [112]:
def format_all_df(all_df:pd.DataFrame):
    all_df=all_df.reset_index().rename(columns={'index':'product'}).set_index('id').reset_index()
    all_df['qnt'] = [float(item[0]) for item in all_df['qnt']]
    return all_df

#### Main

In [113]:
product_database = {}
weeks = 3
all_df = pd.DataFrame([])

for week in range(weeks):
    json = data_treatment(request())
    json, product_database = product_pricing(json, product_database)

    all_df = df_to_all_df(json=json, all_df=all_df)
        
all_df=format_all_df(all_df=all_df)

In [114]:
all_df.head()

                    id product   qnt  price                      date
0  labufzh7a3z4rcwem1t  prod_0   2.0  66.88  Thu Sep 21 05:05:27 2023
1  labufzh7a3z4rcwem1t  prod_1  24.0  56.75  Thu Sep 21 05:05:27 2023
2  labufzh7a3z4rcwem1t  prod_2  37.0   19.3  Thu Sep 21 05:05:27 2023
3  labufzh7a3z4rcwem1t  prod_7  23.0  94.49  Thu Sep 21 05:05:27 2023
4  labufzh7a3z4rcwem1t  prod_8  11.0  25.19  Thu Sep 21 05:05:27 2023

In [115]:
all_df.tail()

,id,product,qnt,price,date
15,labufzokfc5mwu900r9,prod_3,2.000000,83.16,Thu Oct 5 03:28:46 2023
16,labufzokfc5mwu900r9,prod_8,714.000000,37.785,Thu Oct 5 03:28:46 2023
17,labufzokfc5mwu900r9,prod_10,490.014334,35.1,Thu Oct 5 03:28:46 2023
18,labufzokfc5mwu900r9,prod_11,608.545473,51.03,Thu Oct 5 03:28:46 2023
19,labufzokfc5mwu900r9,prod_15,1649.064685,26.175,Thu Oct 5 03:28:46 2023